[2020-01-31 12:41] muhamadazmy opened #501 "provisiond: is too chatty if running for long time it pushes all other logs out of ringbuffer"
This is a minor issue since the logs are pushed to grafana (using promtail) but makes checking logs on dev machine a bit harder.

![image](https://user-images.githubusercontent.com/10920323/73540147-ceb3c780-4437-11ea-94cc-43027ca86706.png)

[2020-02-03 08:16] #494 closed, assigned to zgorizzo69, LeeSmet

[2020-02-03 08:37] zaibon commented on #486
fixed in https://github.com/threefoldtech/zos/pull/503

[2020-02-03 08:37] #486 closed, assigned to maxux

[2020-02-03 09:26] zgorizzo69 opened #504 "creating several networks on same nodes fails"
After sucessfully deploying a network with these commands

[code]
I tried to deploy another network with another IP range with these commands
[code]

If we take a look at the provision we get an error

![image](https://user-images.githubusercontent.com/16853695/73641002-9696c980-466f-11ea-879f-391070e332d6.png)

[2020-02-03 09:35] zaibon commented on #504
I see you are using the same port for both network. This is not something that you can do. Port are a spare resources that needs to be shared between networks.
You can let `tfuser` choose a free port automatically by **not** specifying the `--port` flag during the generation steps.

[2020-02-03 09:58] zgorizzo69 commented on #504
I'll try that right away

[2020-02-03 10:10] zgorizzo69 commented on #504
working great without port
[code]

[2020-02-03 10:10] #504 closed, assigned to nobody

[2020-02-03 14:53] zgorizzo69 opened #507 "kubernetes VM don't connect to network with multiple Nodes"
# Step to reproduce:
## create a network

[code]

## provision a master VM
[code]

## verify to we can indeed ping and ssh into it
[code]

## deploy another kubernetes vm
[code]

impossible to ping or ssh into and master only see one node when kubetcl get nodes although tfuser live says it is ok

[code]

# Expected behaviour
We should be able to ssh into the second VM and master node should see wo

[2020-02-03 15:08] zaibon commented on #507
So multiple mistakes here.
During the generation of your network, you give the same subnet to all of your nodes. This is not possible. Each node must be assigned a different /24 subnet that is part of the global /16 of the network.

So you should have something like the following. Look specially at the value of the `cidr` flag and the `subnet` flag.
[code]

Then following this. When you create the

[2020-02-03 15:09] zaibon opened #508 "Update network documentation"

[2020-02-03 15:33] LeeSmet opened #509 "kubernetes decomission fails if network is already decomissioned"
The net resource is opened to delete the tap device, which fails since the net resource is no longer there

[2020-02-03 16:38] zgorizzo69 commented on #507
allright I have now deployed this conf based on your comment

[code]

and this VM

[code]
I can ping 173.38.1.1 but I can't ssh into
and I have this error shwon with tfuser live

[code]

[2020-02-03 16:44] zaibon commented on #507
You cannot use ` 173.38.1.1` for the VM IP. The first IP (`x.x.x.1`) of a subnet is always used by the network resource itself. So you need to start at `x.x.x.2`

[2020-02-03 16:46] #507 closed, assigned to nobody

[2020-02-03 17:05] #509 closed, assigned to LeeSmet

[2020-02-04 08:23] muhamadazmy opened #511 "logs: container logs processing with promtail"
This will make it easier to debug 0-db, and user container logs (minio and other workloads)

[2020-02-04 08:31] zaibon commented on #511
This is a duplicate of https://github.com/threefoldtech/zos/issues/43

[2020-02-04 08:31] #511 closed, assigned to nobody

[2020-02-04 12:06] zaibon opened #512 "provisiond fails to mark reservation as delete on testnet"
Our logs shows quite some error for node running on testnet:
[code]

[2020-02-05 08:53] #512 closed, assigned to nobody

[2020-02-10 13:11] delandtj commented on #337
http://git.annexia.org/?p=virt-what.git;a=summary

For what I see, that thing does it all. I wonder if it wouldn't be better to have it in an flist, so that it can't be tampered with, and be called once during boot...

I'll assign it to Maxime (not XuX)

[2020-02-10 13:48] zaibon commented on #337
We can ship it onto the node from an flist, this is totally fine and we have everything needed in place.

[2020-02-12 09:11] delandtj opened #519 "Make debugfs whole again"
just a reminder that this needs to be done too, mostly it'll be for development, but we could envision to have that as a workload issued by a farmer (or us) with an ssh tunnel for when something is really in dire straights.

[2020-02-12 14:50] delandtj opened #522 "Sometimes during boot , Internet selects the wrong interface"
leading to this

![photo_2020-02-12_15-48-37](https://user-images.githubusercontent.com/5995555/74345983-2e529100-4daf-11ea-950c-c4d7960b719a.jpg)

from the mac address of zos, we can deduce it used the wrong interface

[2020-02-13 08:54] zaibon opened #523 "zui is crashed on all the nodes from devnet"

[2020-02-13 10:12] #337 closed, assigned to delandtj, maximevanhees

[2020-02-13 10:39] zaibon opened #524 "Report how many primitives are deployed on the node to BCDB"
At the moment, the node only report the total amount of resource units it has to BCDB.
While this information is useful for the farmer and the minting, it is not really useful for users.

User needs to know how much capacity if actually still available on the node to be able to choose on which one to reserve capacity.

So I would like the node to report the number of primitives provisioned on the

[2020-02-13 12:08] #523 closed, assigned to muhamadazmy

[2020-02-13 15:18] muhamadazmy commented on #524
@zaibon Something is not clear about who is going to calculate the actual consumption. From what I understand, we only need to send the "counters" for the capacity, not the unit consumption, correct?

I also would like to add the `provisiond` provides a zbus steam (same one we use from zui) that return the counters, can we just use this from capacityd to send the value with the heartbeat (or in a

[2020-02-13 15:23] zaibon commented on #524
No I would like we are able to report both. The values of the counters, but also how much of resources units all of these consume.

This is fine for me.

Indeed that will be some work to be done there too, good catch

[2020-02-17 08:43] zaibon opened #532 "update log aggregation infrastructure"
Some new version of grafana and loki are out. We should update our logging infrastructure to latest version.

[2020-02-17 09:21] delandtj opened #533 "the `internet` network bootstrap program has issues"
when a node boots and lives with multiple NICs on DHCP-enabled subnets,  (after `internet`) , networkd adds the other NICs to  zos.

![image](https://user-images.githubusercontent.com/5995555/74457526-a5a82380-4e88-11ea-8ee8-fb1dda52f775.png)

manually removing helps, but it's euhm... cumbersome

[2020-02-17 09:45] zaibon commented on #533
Could you identify exactly where does networkd attaches more interface to the `zos` bridge ?

[2020-02-17 11:38] zgorizzo69 opened #1134 "Kubernetes phase2"
- [x] Deploy in a breeze kubernetes with VM and network provisioning
- [ ] Deploy Kubernetes in HA mode
  - [ ] investigate HA Proxy
  - [ ] investigate ETCD cluster
  - [ ] Update provisioning to launch with Dqlite
  - [ ] Update provisioning script to setup fixed IP (ha proxy or others ..)
  - [ ] Update startup script to include HA mode
  - [ ] Setup Inlet and metalLB to be able to have a publi

[2020-02-17 11:45] zgorizzo69 opened #535 "Kubernetes HA - investigate HA Proxy"
Investigate HA proxy to see if it fits for our HA deployment of kubernetes
- Describe setup
- Document inner working
- POC

linked to https://github.com/threefoldtech/home/issues/547

[2020-02-17 14:44] #533 closed, assigned to delandtj

[2020-02-17 16:08] zaibon opened #537 "improve logic of internet service to make sure we grab the proper ip for zos bridge"
Internet service is the first service that is started on the node, its role is to scan all network interfaces and try to detect which one receives an IP address that provide internet access to the node.

The current logic is the following:
- list all physical interfaces of the node
- filter out interfaces that doesn't have a cable plugged in it
- attach the interface to the zos bridge
- start a DH

[2020-02-19 09:52] #537 closed, assigned to delandtj

[2020-02-19 12:25] maxux commented on #519
Done via: https://github.com/threefoldtech/0-initramfs/issues/36 as far as I know ?

[2020-02-19 17:04] zaibon commented on #522
fixed by https://github.com/threefoldtech/zos/pull/538

[2020-02-19 17:04] #522 closed, assigned to zaibon

[2020-02-19 17:04] #532 closed, assigned to muhamadazmy

[2020-02-19 17:09] delandtj opened #541 "logger: disk quota exceeded -> no system"
after a day of playing on a node to get networking working, we arrived to a hosed system because:

[code]

I guess I need to

[code]
to get the node to be able to boot at all

[2020-02-21 07:56] zaibon commented on #541
https://github.com/threefoldtech/zos/blob/master/etc/zinit/logger.yaml this file configure the redirection of the zinit logs into this file.

I think the reason we did that was for promtail to be able to read these logs from a file.
Now of course this is going to be a problem cause we never clean up this file. I'm not sure what is the solution here.

`zinit` logs was made to be able to read from m

[2020-02-21 07:58] zaibon commented on #469
fixed in https://github.com/threefoldtech/zos/pull/483

[2020-02-21 07:58] #469 closed, assigned to nobody

[2020-02-21 17:01] zgorizzo69 commented on #535
on branch **k3s-ha** folder `/docs/kubernetes/ressources/ha/docker`
There is a makefile to try the HA setup with HAProxy and keepalive for the FIX registration IP around masters.

The distributed database is ensure by DQlite. There is a bug if you try to kill master1 dqlite does'nt seems to be able to elect a new leader [check this](https://github.com/rancher/k3s/issues/1391). other than that it w

[2020-02-21 17:26] zgorizzo69 commented on #535
we have to first start master 1 with HAProxy listening on 8443 and keep alive assigning it a virtual IP.
Only then we should start the master 2 and 3 with the parameter --server https://{VIRTUAL_IP}:8443
Otherwise there will be no LB if we bind then all to master1 IP

[2020-02-24 14:57] muhamadazmy commented on #541
The solution is that we need to avoid logging to the disk by implementing a promtail plugin that reads logs directly from ring-buffer, without the need to go through disk storage.

After all, that's the only reason we log to this file in the first place.

[2020-02-24 16:32] zaibon commented on #541
It seems promtail support to send data to it using pipe: https://github.com/cyriltovena/loki/blob/eb76b55c0ec9b30da149aa7aaa841951c745676c/docs/clients/promtail/troubleshooting.md#pipe-data-to-promtail

I've been trying to make it work but without success.
I tried starting promtail with
[code]

But promtail fail to detect we're using pipe so it doesn't read the data from stdin. This function https

[2020-02-26 11:00] zaibon commented on #541
https://github.com/threefoldtech/zos/pull/548

[2020-02-26 11:00] #541 closed, assigned to nobody

[2020-02-26 12:16] hteibler opened #549 "tfuser live , no output"
I've provisioned a Kubernetes Cluster on devnet, everything works as expected, except that

`
hteibler@u19:~/3fold$ ./tfuser live --seed user.seed --end 3000
`
`
hteibler@u19:~/3fold$
`
has no output, no error, just nothing...

[2020-02-26 13:35] zaibon opened #550 "no corresponding devices on the system"
Some of the node from testnet seems to fail to start storaged because of this error:
[code]

[2020-02-26 13:39] zaibon commented on #549
I just did a quick test and tfuser does show the Kubernetes reservations just fine:
[code]
I also double checked the code and it seems to be ok too
https://github.com/threefoldtech/zos/blob/ee4ff0088a71b8d9ff2e32cb8d0fa09c3a95ea99/tools/tfuser/cmds_live.go#L97-L108

@hteibler maybe try to make sure build `tfuser` from the latest code ?

[2020-02-26 13:42] hteibler commented on #549
I found the problem,
default end=500 ( which is not a good choice)
and IDs are greater 3000 now
and if you specify only --start, end is still 500

[2020-02-26 13:54] zaibon commented on #549
yeah this is implemented like that cause tfuser itself cannot know what is the latest reservation number.
So in most cases you need to specify the `--end` flag.

[2020-02-26 14:02] #549 closed, assigned to nobody

[2020-02-27 07:56] zaibon commented on #550
I've done some more investigation and it seems what happens is the data returned by the command
`lsblk --json --output-all --bytes --exclude 1,2,11 --path` is wrong for some disk.

[code]
This is the output for one disk. It shows no filesystem or label.

But when I check the existence of a filesystem with the btrfs command:
[code]
There is clearly a filesystem present on the disk.

[2020-02-27 09:06] zaibon commented on #508
[code]

[2020-02-27 09:17] delandtj opened #551 "Still errors for udev for btrfs (probably 0-initramfs)"
udevd[1012]: failed to execute '//lib/udev/${exec_prefix}/bin/udevadm' '${exec_prefix}/bin/udevadm trigger -s block -p ID_BTRFS_READY=0': No such file or directory

Could be related to https://github.com/threefoldtech/zos/issues/550

[2020-02-27 09:22] delandtj opened #621 "ssh move default port to 34022"
nodes with IPv6 will be accessible over ssh.
although it's all key besed, we should better move the port to something else than 22 to avoid being probed

[2020-02-27 09:24] zaibon opened #1111 "zos remote debugging capabilities"

[2020-02-27 09:59] maxux commented on #621
SSH won't be included at all on the release images, so no need to fix AFAIK :)

[2020-02-27 10:45] delandtj opened #552 "zui: take in account 2 interfaces for ndmz"
![image](https://user-images.githubusercontent.com/5995555/75437428-75678700-5956-11ea-99e6-086231c2b9ba.png)
ndmz has now 2 distinct interfaces for IPv4 and IPv6, where each shows it's own IP
zui only shows the first (npub4) so the ip of npub6 is missing

[2020-02-27 12:26] #524 closed, assigned to maximevanhees

[2020-03-02 08:40] zaibon opened #554 "provisiond: provision engine can be blocked by a bad formatted reservation"
The code that poll for new reservation handle error by just logging the error and restart the loop:
https://github.com/threefoldtech/zos/blob/328df4540f655658acebe9a0d1451f5c046c9f3d/pkg/provision/source.go#L65-L69

The problem is for some reason a reservation that cannot be deserialized is sent from BCDB, then we endup in a loop that will always be blocked on this reservation forever.

I think we

[2020-03-02 13:18] maximevanhees commented on #472
What actions should we need to take when this happens?
- Should we try to repair the cache disk?
- Should we create a new cache disk? But, then the Node ID is lost
- What would happen if we try to create a new cache disk, but there is no space available on the node?

[2020-03-02 14:16] zaibon opened #556 "used wireguard port are not properly reported on testnet"
[code]
This is an output of all the wireguard port marked as used for all the nodes from testnet.
While when I check the amount of network resource deployed on some nodes there should be more wireguard port marked as used.

This also make new provision of network fails cause user doesn't know which port is used or not. Which make there reservation failed with
[code]

[2020-03-02 14:26] zaibon commented on #556
I think one of the problem is here:
https://github.com/threefoldtech/zos/blob/328df4540f655658acebe9a0d1451f5c046c9f3d/pkg/network/networker.go#L445-L453

If something goes wrong when we try to delete the network resource, the port is already been marked as free while it might be not.

[2020-03-02 21:07] andhartl opened #557 "HRU and SRU displayed in the wrong way"
have my little box on the grid with version 2.0. should show SRU 250 and the rest in HRU. right now all is displayed as HRU. Please check what is causing this. thx

![image](https://user-images.githubusercontent.com/18591016/75717747-08dfe580-5cd2-11ea-9bf3-f9406c5fc704.png)

[2020-03-03 08:12] zaibon opened #723 "research parameters are not part of the URL"
When doing a research for nodes, none of the parameters are part of the URL, which make it impossible for someone to "share" a research with someone else.

It would be nice you can do you research and when you are happy with what you found, to be able to share this exact same research with someone else.

[2020-03-03 09:11] andhartl commented on #557
sorry, wrong screenshot. her eis the right one:
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/18591016/75760245-42970780-5d37-11ea-899e-2ccb83e32966.png">

[2020-03-03 09:13] andhartl commented on #557
but the same happens for the gec nodes in Austria:
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/18591016/75760465-9a357300-5d37-11ea-99fb-8a679ecab101.png">

[2020-03-03 09:13] andhartl commented on #557
is this only a explorer issue?

[2020-03-04 09:17] maximevanhees commented on #472
Reproduced the bug by corrupting the current cache (added random bytes to the cache device). Storaged will try to make new cache, and keeps looping because:
- There is no space left on any SSD
- There is no HDD available

So basically there is no place at all where the cache disk can be mounted. The scenario above is pretty exotic (i think) but should we bother to find a solution to it? If so, how

[2020-03-04 13:29] muhamadazmy commented on #472
@zaibon We need your input for this. I actually can't see a clean path out of this issue. The only solution i can think of is:
- Try to clear space, but storaged can't decide if a volume can be deleted or not, that's provisiond job, but it can't start because storaged can't start.
- The other "half" solution is create a tmpfs cache in memory, but while this will allow daemons to start, there is no

[2020-03-04 13:43] zaibon commented on #551
fixed by https://github.com/threefoldtech/0-initramfs/pull/39

[2020-03-04 13:43] #551 closed, assigned to maxux

[2020-03-04 13:43] zaibon commented on #550
fixed by https://github.com/threefoldtech/0-initramfs/pull/39

[2020-03-04 13:43] #550 closed, assigned to nobody

[2020-03-04 13:47] zaibon commented on #472
Yep this is a dead end, we cannot know what to get rid of or not.

The second proposal seems the way to go. We at some point discussed this kind of flow where we would send some notification to the farm to says something is wrong.
This indeed requires to be able to pause provisiond so we `freeze` the machine.
We can see where we end with this kind of solution

[2020-03-04 17:12] #557 closed, assigned to maxux

[2020-03-05 12:20] muhamadazmy opened #560 "provisiond: leaking of persisted resources"
When a node reboot, provisiond makes sure it's local cache (local store) is cleared. This works well for volatile resources like containers, or networks. put for persisted resources, this will cause the resource to not ever get deprovisioned.
- u create a volume
- the machine deploys it
- machines shutsdown
- you mark volume as to-delete
- node starts again
- machine starts with fresh local store,

[2020-03-10 14:22] maximevanhees opened #566 "Report broken disks back to farmers"
This issue is made as a follow-up from the cache issue (Cache issue #565).

When the node is not able to mount /var/cache on an SSD or HDD present on the node, the /var/cache subvolume is mounted as a _tmpfs_ in memory. There needs to be a way to report back a broken SSD and/or HDD to the farmer (who owns the node).

Grafana has a built-in feature to make an alert (which can send an email) based u

[2020-03-10 14:52] maximevanhees commented on #566
Update: as we use a custom Grafana plug-in for the logs, we can't add alerts. I'll see if it's possible to do it with Loki.

[2020-03-11 06:22] zaibon commented on #554
I've found another node affected by the problem.
Some logs showing the issue:
[code]

[2020-03-11 11:31] #554 closed, assigned to zaibon

[2020-03-11 12:04] zaibon commented on #556
The way we keep track of the reserved port on the node is still not correct.
At the moment we just keep a list of used port in memory, but this is lost during an restart of networkd.
We need to make this persistent between restart of networkd

[2020-03-13 09:07] DylanVerstraete commented on #484
Cannot reproduce

[2020-03-16 08:51] zaibon opened #575 "failed to create network resource for network: invalid argument"
Extracted from the nodes logs. To be investigated

[code]

[2020-03-16 09:12] zaibon opened #576 "networkd: impossible to set public config after the node has booted."
[code]

[2020-03-16 10:46] #501 closed, assigned to DylanVerstraete

[2020-03-16 12:31] #519 closed, assigned to nobody

[2020-03-16 14:21] DylanVerstraete opened #577 "Realtime notifications to Telegram"
We need a client that reads logs from the Loki datasource and pushes the relevant error logs to a Telegram group. This should also include filtering where we can tell the bot which logs are important to us and which one we want to ignore.

Related to:
https://github.com/threefoldtech/zos/issues/566

[2020-03-16 14:23] DylanVerstraete commented on #566
We should create a generic error model that can be inserted into BCDB. Where as the threebot can fetch these logs and lets the farmer know about them.

[2020-03-17 06:54] #560 closed, assigned to DylanVerstraete

[2020-03-17 13:38] maximevanhees opened #580 "unclear error when using wrong farmer id"
As I didn't know that I couldn't use a random farmer ID anymore, I've had some troubles starting my Qemu vm.

This is the current error message:
`[+] identityd: 2020-03-17T13:29:56Z info start registration of the node version="not booted from flist"
[+] identityd: 2020-03-17T13:29:56Z error  error="wrong response status code received: 500 Internal Server Error"
[+] identityd: 2020-03-17T13:29:56Z

[2020-03-17 20:18] maxux opened #581 "provisiond: lstat /var/cache/modules/provisiond/reservations"
When booting a VM, provisiond is stuck on:
[code]

Workaround: `mkdir /var/cache/modules/provisiond/reservations` fixes the issue
This occures on master, even with f41cfc241 reverted

[2020-03-17 21:22] zaibon commented on #484
duplicate of #556

[2020-03-17 21:22] #484 closed, assigned to DylanVerstraete

[2020-03-17 21:22] #490 closed, assigned to nobody

[2020-03-17 21:52] maxux opened #582 "provisiond: enable debug by default when node is running in dev"
When node is running in dev mode, debug logs should be enabled by default for all daemon. Right now, only `provisiond` is reducing verbosity by default.

[2020-03-18 08:10] zaibon opened #583 "networkd: address watcher push addresses update way to often"
https://github.com/threefoldtech/zos/blob/master/cmds/networkd/addr_watcher.go

We should improve this so we do not DOS BCDB with useless requests

[2020-03-18 09:23] BolaNasr opened #585 "k8s cluster: cannot deploy 2 VM on the same node using the same network"
Reservation_id : 1276350
![image](https://user-images.githubusercontent.com/10259267/76944664-17511280-690a-11ea-859c-bd5d3cd176c7.png)
we need to know how they choose interface name in zos ?

because this problem depend on this
![photo_2020-03-18_11-22-32](https://user-images.githubusercontent.com/10259267/76945140-cee62480-690a-11ea-979d-4de968b35f60.jpg)

[2020-03-18 12:10] DylanVerstraete commented on #583
@zaibon Right now the `initialInterval` is 500ms. So when an error is returned it starts retrying after 500ms and increases with a multiplier of 1.5 each time. Should we increase this `initialInterval` to let's say 2 seconds?

[2020-03-18 12:16] zaibon commented on #583
The problem is not in the backofff retry. The problem is the netlink lib sends a lot of updates though the channel:
https://github.com/threefoldtech/zos/blob/c47cd8bb1dc08e7f164cb937fb116a8d38de4e06/cmds/networkd/addr_watcher.go#L76-L86

And we do not have any way to control this. Anytime the kernel gets an event it just forward it to us.
Some kind or rate limiting id what we need here I believe.

[2020-03-18 12:22] DylanVerstraete commented on #583
The only thing I see in the logs of my qemu is somethings like this:

[code]

So the first time it receives an updated it marks the address as `false` and then it does something else and receives again an update and marks it as `true`. But it is the same address.

[2020-03-18 21:37] #556 closed, assigned to zaibon

[2020-03-19 09:31] LeeSmet opened #591 "Report mac addresses of interfaces to bcdb"

[2020-03-19 12:19] DylanVerstraete commented on #580
Server returning this error should be return a 400 response and message instead of 500 internal server error.

[2020-03-19 14:08] zaibon opened #592 "panic in provisiond"
[-] provisiond: panic: runtime error: invalid memory address or nil pointer dereference
[-] provisiond: [signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x806467]
[-] provisiond:
[-] provisiond: goroutine 21 [running]:
[-] provisiond: github.com/threefoldtech/zos/pkg/provision.ErrTemporary.Error(...)
[-] provisiond: 	/home/runner/work/zos/zos/pkg/provision/provision.go:71
[-] provisio

[2020-03-19 14:24] zaibon commented on #592
fixed by: https://github.com/threefoldtech/zos/commit/31d2e3eace8366f4e8e0e4915ba69db8dcd0a78b

[2020-03-19 14:24] #592 closed, assigned to nobody

[2020-03-19 15:10] DylanVerstraete commented on #583
@zaibon is there any node that has this behaviour? I cannot reproduce locally.

[2020-03-19 17:20] zaibon commented on #583
@DylanVerstraete I cannot reproduce on my development VM either. But you find node having this behavior on the [logs](http://10.4.0.250:3000/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22Loki%22,%7B%22expr%22:%22%7Bmodule%3D%5C%22networkd%5C%22%7D%20%7C%3D%20%5C%22send%20network%20interfaces%5C%22%22%7D,%7B%22mode%22:%22Logs%22%7D,%7B%22ui%22:%5Btrue,true,true,%22none%22%5D%7D%5D)

[2020-03-20 08:49] delandtj opened #596 "we should really remove these non-errors"
People go bananas over them

![image](https://user-images.githubusercontent.com/5995555/77148539-092cfe80-6a90-11ea-98f8-259db9334b68.png)

[2020-03-20 12:26] DylanVerstraete commented on #583
When looking at the logs in Loki and searching for these node that have this behaviour all of them seem to be running on version `0.2.2-rc4`.

[2020-03-20 12:45] DylanVerstraete commented on #583
@zaibon I think something fishy is happening on the GECaustria nodes (these seem to behave this way). The netlink package only detects address changes if they in fact change on the watched interfaces. Maybe we can check in one these nodes whats happening there?

[2020-03-20 15:01] zaibon commented on #583
Yeah we had some weird behavior with those nodes.

I'm actually not sure this is the case, I've seen update coming in even when the address received in the update is already present on the system. It seems that when SLAAC refresh an ip address, an update is triggered.

We could indeed.

[2020-03-20 15:27] zaibon commented on #580
What was farmer id you used when you got the error?

[2020-03-20 15:32] zaibon opened #599 "allow to enable/disable debug logging at runtime"

[2020-03-20 15:32] zaibon commented on #582
closed in favor of: https://github.com/threefoldtech/zos/issues/599

[2020-03-20 15:32] #582 closed, assigned to DylanVerstraete

[2020-03-20 15:43] DylanVerstraete commented on #580
Any farmer ID that is not in the database

[2020-03-20 15:55] zaibon opened #600 "Clean up duplicated types in the code base."

[2020-03-22 14:48] muhamadazmy commented on #600
I think this means that:
- gedis
- mock
- and tfuser

Should all use the same data structures.

Can we also while at it, create a unified client ?
@zaibon

[2020-03-22 15:05] zaibon commented on #600
Yes please ! Having a single client for the explorer (let's not forget to rename it to explorer) API is also needed to finish #602. Once we enable authentication on the API, having it implemented in a single place in the client will makes everything so much easier

[2020-03-23 07:06] zaibon commented on #472
fixed in #565

[2020-03-23 07:06] #472 closed, assigned to maximevanhees

[2020-03-23 07:16] #596 closed, assigned to muhamadazmy

[2020-03-23 07:41] zaibon opened #604 "rename bcdb_mock to explorer"

[2020-03-23 07:42] zaibon opened #605 "explorer: implements escrow and payment flow management"
[code]

[2020-03-23 07:43] zaibon opened #606 "Documentation: gather common bugs farmer encounter and consolidated in an FAQ"
In the zos documentation we want:
- a table with all the hardware we have encounter and all the knows issue or full supported
- on the forum a thread were we quote the message from farmers problems and how they solved it.

[2020-03-23 07:43] zaibon opened #607 "documentation: document recommended ways to deal with raid controller"

[2020-03-23 07:55] zaibon opened #608 "capacityd failed to start if smartctl returns no result"
We had for which `smatctl --scan` returns nothing. This made capacity failed to start and block the all node from booting properly.
Seems the reason is this type of server (HP G7) exposes the disks as logical volume and this smarctl failed to read them.

[code]

[2020-03-23 08:13] zaibon opened #609 "build tffarmer and tffuser for linux, windows and macOS"

[2020-03-23 09:07] zaibon commented on #580
Explorer should returns a proper error message that the farmer ID is not found.
So the node can print the error logs and the farmer can then detect he messed up the farmer ID.

[2020-03-23 09:10] zaibon commented on #508
@andhartl @weynandkuijpers
Documentation is written, please do a review of the content https://github.com/threefoldtech/zos/blob/master/docs/network/Network-V2.md
and let us know if you have any remarks

[2020-03-23 09:13] #581 closed, assigned to DylanVerstraete

[2020-03-23 09:13] zaibon opened #611 "provisiond: is emtpy reservation cached file are found provisiond fails to start"

[2020-03-23 09:48] maxux commented on #1111
We need (and already have) a debug/production initramfs.

- Debug release is the one we know and use for now
- Release will drop:
  - init-debug which enable overlay feature
  - openssh server and keys
  - debugfs tool

Release image already drop some stuff but not everything.

To enable ssh or debug stuff on the node, tools should be started in a container which have access to the host.

[2020-03-23 18:41] fl0wm0ti0n opened #616 "ZerOs V2 wont boot with DELL and IBM Server"
i run into a big problem running „ZeroOs V2“ with Dell and IBM Servers.

# In case of the IBM Servers…
**Server & Hardware Infos:**
Product name: IBM System x3850 X5 / x3950 X5
Machine type and model:  7143B5G
Serial number:  06L7845

SAS-Controller: LSI MegaRAID/ServeRAID M1015 SAS/SATA Controller - SAS-MFI BIOS (V 4.30.00 (Build October 26, 2011))
Harddisks: 3x HGST Ultrastar 7K4000 (4 TB) (SAS)

[2020-03-24 07:38] #611 closed, assigned to DylanVerstraete

[2020-03-24 09:23] siddiquagig opened #617 "Storaged fails to start when no disks are detected"
Node gets stuck on log screen and does not boot further till main screen (Alt+f3)

![image](https://user-images.githubusercontent.com/25789724/77408829-bd50c100-6dd1-11ea-9814-43ba3bd9f25b.png)

Storaged fails to start when no disks are detected.

The Server has 2 HDDs but no SSDs in it.

Storaged fails :

![image](https://user-images.githubusercontent.com/25789724/77408626-719e1780-6dd1-11ea-827b

[2020-03-24 10:58] andhartl commented on #508
a few typos. text makes sense to me. would structure the yeah yeah section a bit better (headlines, bold, ...)

<img width="707" alt="image" src="https://user-images.githubusercontent.com/18591016/77418022-9b9e0c80-6dc6-11ea-9f17-18af4e913c3b.png">

[2020-03-24 14:06] #591 closed, assigned to DylanVerstraete

[2020-03-24 15:44] zaibon commented on #621
@maxux @delandtj
The right way to propagate this on the node is to move the ssh server into the zos repo. and change the port there somehow.
During the next release the service will be added into the upgrade flist and apply during upgrade.

I'll move this issue to zos

[2020-03-24 15:53] maxux commented on #621
Anyway, IMO we still should not ship ssh at all on production. Maybe with a really specific way including flist (obviously) for debugging in production when nothing else can be used. But we claim to have an OS without shell, ssh should not be included in prod.

This issue should at least be renamed, changing the port is useless.

[2020-03-24 15:59] zaibon commented on #621
At some point we will disable but for now during migration we need to keep it.
Having the zinit service define here also prepare for this cause the day we want to shut it down we just have to change the content of the service to a no-op, and hop ssh is gone :-)

[2020-03-24 16:24] #334 closed, assigned to muhamadazmy

[2020-03-25 09:25] robvanmieghem commented on #605
is there a spec on this? how will the escrow accounts technically work?
I thought we were not going to do escrow accounts in a first phase.

[2020-03-25 15:33] zaibon opened #624 "networkd: improve network validation to allow better error message"
Let's try to improve https://github.com/threefoldtech/zos/blob/6169ccb7fd0092f3045d1e0c82810181467f847b/pkg/network/networker.go#L142
So we can catch most common mistake made by users when defining networks and creating containers.

We should have proper error message for cases like:
- container creation with an ip that is not part of the network resource of the node
- conflicting network resource

[2020-03-26 06:46] grimpy opened #627 "User ipaddr is of type ipaddr"
https://github.com/threefoldtech/zos/blob/6169ccb7fd0092f3045d1e0c82810181467f847b/tools/bcdb_mock/models/schema/phonebook/tfgrid_phonebook_user_1.toml#L6

We need a way to reference to the user (3bot) with a hostname instead of ipaddr
So I would suggest to migrate ipaddr to host which is validated for valid hostname/domain

[2020-03-26 09:06] grimpy opened #628 "bcdb_mock: add additional filters for farms and reservation"
- [x] farms filter on name
- [x] reservation filter on customer_tid and next_action

[2020-03-26 09:11] zaibon commented on #43
fixed by #578

[2020-03-26 09:11] #43 closed, assigned to maxux

[2020-03-26 15:49] #580 closed, assigned to nobody

[2020-03-26 15:53] #600 closed, assigned to muhamadazmy

[2020-03-26 15:54] #608 closed, assigned to nobody

[2020-03-27 09:57] zaibon opened #630 "Stream container statistics to remote endpoints"
Much like the logs container logs streaming, we want to be able to report statistics about container to its owner.

Docker itself has a stats command that displays CPU, memory and IO: https://docs.docker.com/engine/reference/commandline/stats/

So we should be able to gather the same kind of data from containerd and or runc too.

[2020-03-27 13:46] LeeSmet opened #631 "Explorer should reject reservations for farms which do not have a valid address"
as all payments are done through stellar, a reservation which includes nodes on a farm which does not have a valid stellar address need to be rejected. otherwise we end up with funds on escrow addresses we can not payout.

Note: a valid stellar address here means that the address itself is a valid format, and the address has a trustline set up for the TFT asset (or we can not pay it either)

[2020-03-27 19:11] andhartl opened #632 "Zero OS does not barf if node is only connected via IPV4"
Farmers like GEC connect nodes on ipv4 addresses only. they are listed as node in the explorer but can not be connected to for capacity usage. can we implement a  mechanism which doe snot allow ipv4 only connection in combination listing? thx

[2020-03-29 10:47] #604 closed, assigned to muhamadazmy

[2020-03-29 11:16] #628 closed, assigned to grimpy

[2020-03-30 08:15] #508 closed, assigned to weynandkuijpers, andhartl

[2020-03-30 08:16] zaibon opened #638 "Network documentation rewriting"
All the information is now in the documentation, but it is not organized enough. We need to restructure the doc into a readable and easy searchable documents.

We can also update the documentation now that ipv4 only is supported:
- dhcp config for farmers
- ...

[2020-03-30 08:50] zaibon commented on #627
@grimpy @muhamadazmy

`host` is a type supported by the JSX schema ? Does host also support IP addresses ?
Cause I do want to support both.

[2020-03-30 09:06] AhmedHanafy725 opened #647 "k8s: no error in reservation result when deploying 2 member of the same cluster on the same node"
### Steps
1- Create network
[code]
2- Make sure that there is no error in this result
3- Create k8s cluster with one master and one worker on the same node.
[code]
### Expected Result
Error in the result when nothing is deployed.

### Actual Result
Everything is OK and no error.

[code]

[2020-03-30 09:06] AhmedHanafy725 opened #648 "Reservation cancel is not working"
### Steps
1- Create network
[code]
2- Make sure that there is no error in this result
3- Create k8s cluster with one master and one worker on the same node.
[code]
4- Cancel reservation.
[code]
### Expected Result
Can't ssh on k8s cluster

### Actual Result
Still can ssh on the cluster.

![ssh_k8s](https://user-images.githubusercontent.com/41957921/77892043-389ef080-7272-11ea-83ca-cf49c513f7cd.png

[2020-03-30 10:48] muhamadazmy commented on #631
Would it make more sense to not allow creating farms with invalid addresses, hence we don't have to check the addresses of farmer of the node with each request.

[2020-03-30 11:10] zaibon commented on #627
The type use for this field in jumpscale is actually a `string`, not `ipaddress`. I'll update to string in our code base too.

[2020-03-30 11:40] LeeSmet commented on #631
Well, the problem is we already have a lot of farms in production. And these currently have a TFT address set (no address). So the owners will need to update the address. but the nodes are already live

[2020-03-30 13:03] #627 closed, assigned to zaibon

[2020-03-30 13:29] zaibon opened #643 "Explorer: failed to process reservation state pipeline: invalid reservation object: json data does not match the reservation data"
Some reservation done on testnet return this error:
[code]

[2020-03-30 13:42] zaibon commented on #643
It seems this is because we were missing this field in the explorer type: https://github.com/threefoldtech/zos/blob/04916c6e7ce2fe6faecfcee445167c399c0b1f3f/tools/explorer/models/generated/workloads/workloads.go#L98

So in the database we do not have this value, while the `JSON` field of the reservation have the proper value. Which makes the comparison of the two fails.

[2020-03-30 15:00] #643 closed, assigned to nobody

[2020-03-30 15:46] LeeSmet opened #646 "tfuser provision requires seed flag to be set twice"
When trying to create a provision using tfuser, you now need to set the `--seed` flag both after `tfuser` and after `provision`, since the flag is declared on both, and is required on both. If the `seed` flag is set only once, it will fail with an error noting a required flag is missing.

[2020-03-30 16:52] zaibon commented on #648
@AhmedHanafy725 can you provide the reservation ID  where you reserve the k8s cluster please.

[2020-03-30 17:10] AhmedHanafy725 commented on #648
458409

[2020-03-31 09:04] AhmedHanafy725 commented on #647
## Also no error in result when deploying cluster on two different nodes and it doesn't work.
### Steps
1- Create network
[code]
2- Make sure that there is no error in this result.
[code]
3- Create k8s cluster with one master and one worker on two different nodes.
[code]
### Expected Result
Error in the result when nothing is deployed.

### Actual Result
Everything is OK and no error.

[code]

[2020-03-31 10:04] grimpy opened #649 "Testnet it's nodes return empty public_hex_key field"
With this field empty it's impossible to do any reservations.

[2020-03-31 10:14] grimpy commented on #649
Script to regenerate keys:

[code]

[2020-03-31 11:25] #649 closed, assigned to zaibon

[2020-03-31 12:05] DylanVerstraete opened #651 "Add multisig to escrow accounts"
Add multisig support to escrow account to recover funds if the database is wiped.

We also need some sort of tool to perform multisig actions and sign them

[2020-03-31 13:41] #605 closed, assigned to DylanVerstraete, LeeSmet

[2020-03-31 15:21] zaibon commented on #631
fixed in #623

[2020-03-31 15:21] #631 closed, assigned to muhamadazmy

[2020-03-31 15:22] zaibon opened #654 "explorer: farmer should be able to update their farm information"

[2020-04-01 11:39] zaibon opened #657 "explorer overwrites the created field of the nodes and always set it to 0"

[2020-04-02 06:53] #654 closed, assigned to zaibon

[2020-04-02 07:03] zaibon opened #660 "tfuser: rework how the identity "seed" is stored"
At the moment all the developer tooling `tfuser` and `tffarmer` rely on a file where the seed used to generate their key pair is stored. But the key pair is not enough to identity a user on the explorer anymore. the `threebot-id`, an integer, is also required. At the moment the commands that needs this `threebot-id` have just use flag for it. This is very cumbersome to use cause the user needs to

[2020-04-02 07:09] #657 closed, assigned to nobody

[2020-04-02 07:40] weynandkuijpers commented on #128
This is a growing concern amongst Farmers with the changed token economy.  In the previous token economy and simulator (google sheet) there was a line that included a "guestimate" of the network usage based on the number of CU and SU generated (and consumed in the end) of a farming node.  This represented an income line.

I the new simulator (jupyter notebook) this is no longer represented and the

[2020-04-02 08:21] zaibon commented on #646
This would be solved with #660

[2020-04-02 08:23] zaibon commented on #630
should fix https://github.com/threefoldtech/zos/issues/646 first

[2020-04-02 08:49] maxux commented on #607
The best thing IMO is just asking them to set disk to `JBOD` mode if supported by raid controller.

[2020-04-02 09:54] zaibon opened #663 "explorer: support multiple currency in the escrow"
At the moment the escrow can only deal with one currency at the time. This currency is defined in the command when starting the explorer.

This FR is about supporting multiple asset at the same time. This brings multiple question:
- How does a farmer define what currency he accepts ?
- Can a single reservation be paid with multiple currencies ?
- What currency should be set in the payment invitati

[2020-04-02 09:57] zaibon opened #664 "explorer: improve logs to be able to track escrow flow better"

[2020-04-02 12:29] zaibon opened #666 "explorer: avoid generating currency account on behalf of users"
At the moment, when a reservation is registered on the explorer. A "token account" is generated for each `user-farmer` pair. Then a payment invitation is generated which contain all the generated `user-farmer` and the amount to pay for each farmer.

This solution works great and make transaction tracking super easy in the explorer.
It has some flaws though:
- explorer have to store seed used to ge

[2020-04-02 12:47] zaibon opened #667 "allow farmer to mark some node as free to use"
In order to allow people to play with the capacity on mainnet without having to spend real money, a new stellar asset [FreeTFT](https://github.com/threefoldfoundation/tft-stellar/#freetft) [has been created](https://gist.github.com/robvanmieghem/324d7b33fb5961af0adb3225fa33d315#initial-grid-launch-only-with-stellar-tft).
The goal of this token is for any user to received a one time "gift" or a cer

[2020-04-02 12:48] zaibon opened #668 "review resource price definition and management"

[2020-04-02 14:38] zaibon commented on #128
Yes we want to track what goes in and out of the network resource interfaces.

Eventually yes, like any other resources.

For this we need to reflect. Is bandwidth would be a new primitive that you can reserve for a specified network ?  This is more tricky since a network is used by all the other primitives and thus not linked with a single reservation. If we go for a pre-paid model, this means we

[2020-04-02 14:38] #664 closed, assigned to DylanVerstraete

[2020-04-02 14:45] #606 closed, assigned to nobody

[2020-04-02 14:45] #607 closed, assigned to maxux, delandtj

[2020-04-02 14:52] LeeSmet commented on #666
This is not true, you can send funds to multiple receivers in the same transaction, just like you can now in tfchain. Regardless I don't see why this would be a problem, as we aim to have tooling around this anyway so the user does not need to do this manually.

While it is true that this is a liability, I think we can solve this with encryption of the keypair based on the private key of the seed

[2020-04-02 15:32] zaibon opened #669 "explorer: encrypt keypair of the generated accounts"
extact from #666

[2020-04-02 15:32] zaibon commented on #666
Good to know. This mean the assumption made first were wrong.

Reading the other remark you made it appears this proposal only actually bring one thing. The fact that a user can fund an account once and do reserve capacity for a while without the need to actually do new transactions. While this bring a little bit of UX improvement this can also be easily achieve with proper tooling around. And on

[2020-04-02 15:45] LeeSmet commented on #666
Ineed, this would be a marginal improvement in UX for the reservation, but also adds the overhead that the user needs to add his account to the reservation. Not a problem with proper tooling, but then again, that won't be a problem in the current flow either, especially given that we would use qr codes and such. Also we bring in the overhead of actually funding this account, which is harder to pro

[2020-04-02 16:52] zaibon commented on #648
I managed to reproduce. raise this to major, we need to find the root cause.

[2020-04-02 16:57] muhamadazmy commented on #648
![image](https://user-images.githubusercontent.com/10920323/78276717-b9304c00-7513-11ea-8464-6c5a26a8f22f.png)

I checked the reservation [here](https://explorer.testnet.grid.tf/explorer/reservations/458409) and it seems the reservation is created with wrong delete signing request

[2020-04-02 17:05] zaibon commented on #648
Indeed, and I had the same error when I reproduced the error. So it's a client error.
We could improve the reservation validation to avoid this kind of error though. But this issue can be closed.

follow up at https://github.com/threefoldtech/jumpscaleX_libs/issues/148

[2020-04-02 17:05] #648 closed, assigned to nobody

[2020-04-02 17:13] zaibon commented on #666
There always will be the need for a middle man in the payment process as far as I now to ensure the foundation fee and burning are executed (when new tokenonomics are in place) unless there are way to define such a thing on stellar?

[2020-04-02 18:38] ranatrk opened #672 "provisiond didn't pick up on a reservation"
When creating a network reservation `(resv_id = 458626)` with multiple(different) nodes , the node with `node_id = "2fi9ZZiBGW4G9pnrN656bMfW6x55RSoHDeMrd9pgSA8T"` didn't pick up on the reservation and no result was returned from the reservation for that node.

With the help of @muhamadazmy, and looking into grafana logs, provisiond didn't show any logs at all. Other logs only appeared:
![Screensho

[2020-04-03 08:21] zaibon commented on #666
After sleeping on it, this is what is comes down to.
The proposal is not good enough and we have highlighted too many security issues with it.
The current design is way more secure so we will stick with it.
This exercise did showed something though, UX wise we want to be able for the user to pay a reservation by doing one single action.

In a perfect world, wallets would allow to scan a QR code th

[2020-04-03 08:21] #666 closed, assigned to nobody

[2020-04-03 08:24] zaibon opened #674 "explorer: change the way addresses are generated for reservation payment."
Follow up from https://github.com/threefoldtech/zos/issues/666

So to solve this we need to take another approach. Instead of creating an address per user-farmer pair. There will be a single address per user. The explorer will then be responsible to split the total amount between farmers.
This solution keeps all the same security properties the current solution has and also allow better UX for the

[2020-04-03 09:05] zaibon opened #675 "storaged failed to start if lsblk returns no result"
this is the same kind of error as https://github.com/threefoldtech/zos/issues/608

This is the possible root cause of  #616 and #617

[2020-04-03 09:06] LeeSmet commented on #674
I have just 1 remark: The old/current design allows for different currencies to be used per farmer, meaning you could create a reservation with 3 farmers, which each accept a different currency, and as long as the user has these currencies, he can simply the different escrows in the right currency and the reservation will still pass. Now this will no longer be the case, as there will need to be 1

[2020-04-03 09:18] zaibon commented on #674
This is right. One single currency per reservation. Regarding FreeTFT refer to https://github.com/threefoldtech/zos/issues/667 for more details.

[2020-04-03 09:22] #583 closed, assigned to nobody

[2020-04-03 10:10] LeeSmet commented on #667
While I understand the idea, i.e. we want to give people a small sample of how he can use the grid, I wonder who will actually do this. Not only will a farmer not get paid for the capacity on the node, if anything is actually deployed, this will lead to an increased cost for the farmer (for example more cpu work therefore more electricity is used therefore a higher electricity bill).

Perhaps we c

[2020-04-03 10:15] zaibon commented on #667
I thought about the same first but then I realize there are 2 problems with this:
- on testnet is minting doesn't not happens. So they would not get money twice.
- We do push newer code on testnet. So stability there is not guarantee

[2020-04-03 12:55] zaibon opened #677 "explorer client doesn't let inspect the eventual HTTP error"

[2020-04-04 07:57] zaibon opened #679 "capacityd spams explorer when he fails to send total resources at boot"
![2020-04-04_2465x1198_scrot](https://user-images.githubusercontent.com/303164/78421687-e0913100-7659-11ea-9c8a-5b98a5a53ab2.png)
This is a snapshot of the network bandwidth of the testnet explorer when some node were trying to boot with a farm ID that did not exist.

What happens is a cascade of things:
- identity fails to register the node because the explorer return a 404 because the farm ID is

[2020-04-04 09:21] LeeSmet commented on #679
I assume the main bandwith usage comes from the dmi dumps here

[2020-04-04 10:40] zaibon opened #681 "failed to read smartctl information from disks"
![2020-04-04_2152x653_scrot](https://user-images.githubusercontent.com/303164/78424974-71bfd200-7671-11ea-99c7-5eaa5a7b2fc2.png)

[2020-04-04 13:51] zaibon opened #722 "implement pagination in explorer frontend"

[2020-04-05 13:14] ahsayde opened #682 "Can't reach a container using its ipv6"
link of the reservation:
http://explorer.testnet.grid.tf/explorer/reservations/458691

[2020-04-06 07:00] zaibon opened #683 "provisiond: doesn't sort the workloads type when receiving reservation"

[2020-04-06 07:51] #682 closed, assigned to nobody

[2020-04-06 07:51] #683 closed, assigned to nobody

[2020-04-06 08:41] #679 closed, assigned to zaibon

[2020-04-06 09:08] zaibon opened #684 "explorer: embed frontend into the binary"
The code for the frontend live threre: https://github.com/threefoldtech/tf_cockpit

The goal is to embed the built asset from `tf_cockpit` into the explorer itself so we can distribute the binary and have everything inside.

[2020-04-06 11:06] #674 closed, assigned to DylanVerstraete, LeeSmet

[2020-04-06 14:30] #660 closed, assigned to maxux

[2020-04-06 14:31] zaibon commented on #646
fixed in #673

[2020-04-06 14:31] #646 closed, assigned to maxux

[2020-04-06 15:58] LeeSmet commented on #669
Encryption wise, I'd do something like this:

from the seed of the wallet we passed when starting the explorer, we generate a key for symmetric encryption. I'd say something like `AES`, running in `GCM` mode. I'd have to refresh my memory about what we need to do with the nonce (do we need to store it or just generate something random).

Interface wise, the CreateAccount function should be changed

[2020-04-07 06:26] john-kheir opened #686 "User couldn't get his money back and the result of deployment in case of deployment failure"
## Branches
libs, threebot: **unstable_reservation_payments**
other repos: **unstable**
## Environment
Devnet

## Steps
1- Check wallet balance
[code]
2-  Try to deploy a container with fake network_id, everything should work fine and you should be able to submit your reservation request expecting reservation result to be [ ]
[code]
3- Pay the farmer , should succeed
[code]
4- Check tha wallet bal

[2020-04-07 06:51] zaibon commented on #686
Multiple things to take in account.
1. you reservation concern this node: [HT9yNvHRQs65dyRJeztAdEnXKweCX2bhgvD9i1WFPUNs](https://explorer.devnet.grid.tf/explorer/nodes/HT9yNvHRQs65dyRJeztAdEnXKweCX2bhgvD9i1WFPUNs)
this is actually my development VM, which is turned off. So after you paid your reservation, the node never provision it. This is why you do not get an empty results list. The workloads

[2020-04-07 08:51] zaibon opened #687 "explorer: invalid account address: horizon error: "Resource Missing""
[code]

[2020-04-07 10:20] LeeSmet opened #690 "explorer: restructure stellar code a bit to reduce horizon calls"
There are 3 places where we (sometimes) do redundant calls to the escrow:

- In the refund method, we get the source account, then the balance. If we invert this, we save a call if the balance is 0, as then we just exit.
- In the payout farmers method, we get the balance as a sanity check and to provide a nice error message. But in the flow this method is only called after a successful deployment,

[2020-04-07 11:06] #686 closed, assigned to zaibon

[2020-04-09 08:06] LeeSmet opened #692 "Escrow: reduce amount of xlm used to active account"
Currently new escrow accounts get activated by funding them with a static fee of 10 xlm. This amount can be reduced (need to calculate exactly how much we set), so we waste less xlm

At the same time, we already fund txes from escrow accounts using the base account. So we should investigate if we can recover these funds after the account is set up correctly

[2020-04-09 08:23] zaibon commented on #675
There is actually nothing we can do if no disk are detected by the kernel.
In such case storaged should also boot in `limited-cache` mode like it does here: https://github.com/threefoldtech/zos/blob/f05dc3e304167b5978d30f217a92832758d9a81b/pkg/storage/storage.go#L417-L428

So networkd can still start and provisiond is not started

[2020-04-09 08:32] zaibon commented on #667
We still need to implement the burning of FreeTFT

[2020-04-09 09:41] zaibon commented on #617
The problem was on the node itself, wrong bios configuration that prevent the linux kernel to see the disks.

[2020-04-09 09:41] #617 closed, assigned to nobody

[2020-04-09 15:03] Pishoy opened #693 "error 424 Client Error when reserve a network/Ubuntu by chatflow"
below is the theebot logs when trying to create a network from chatflow wizard
[code]

[2020-04-09 15:28] zaibon commented on #693
reason was the farm did not have the proper stellar TFT address configured. I did update the farm with the proper wallet address

[2020-04-09 15:28] #693 closed, assigned to zaibon

[2020-04-09 15:53] Pishoy opened #695 "404 Client Error when reserve a network"
when try to create a network by chatflow wizard
branch unstable
[code]
![image](https://user-images.githubusercontent.com/21987477/78914577-e5efe080-7a8a-11ea-8726-513fb3af739a.png)

[2020-04-09 18:34] fl0wm0ti0n commented on #616
**Update!**
With Version ZOS v0.2.3 (https://github.com/threefoldtech/zos/releases/tag/v0.2.3) all Servers are booting now.

IBM Servers are booting with Disks in it
DELL Server are only booting without Disks in it.

Details with DELL Servers:

Again:
With activated Disks in the Raid Controller, ZOS doesnt boot (hang after downloaded it).
With disabled Disks in the Raid Controller, ZOS does boot.

[2020-04-09 18:57] #695 closed, assigned to zaibon

[2020-04-10 11:31] #675 closed, assigned to maxux

[2020-04-10 15:17] #669 closed, assigned to LeeSmet

[2020-04-11 16:16] zaibon opened #700 "networkd: failed to remove file mapping between network ID and namespace"
[code]

[2020-04-11 20:43] zaibon opened #702 "provisiond: Kubernetes error during provisioning"
on testnet
[code]

[2020-04-12 07:31] zaibon opened #703 "provisiond: reserved resource does not count the SRU used by containers"
This makes it hard to do proper node selection cause the reported storage reserved for a node is not correct.

250 MiB of SSD is reserved when deploying a container, but SRU is in GiB and we use a interger to store it, so before we count this we need to change the type of the resource unit to float

[2020-04-12 07:32] zaibon opened #704 "provisiond: some nodes report very little reserved storage unit but have disk fully allocated"
proposed solution: #709

[2020-04-12 08:34] muhamadazmy commented on #704
I think this related to storaged, not provisiond

[2020-04-12 08:50] #684 closed, assigned to nobody

[2020-04-12 12:03] xmonader opened #706 "3bot name should always be lowercase"
3bot names will be forced on jumpscale side to be lowercase and it's better to align that with the explorer to force lowercase names in the registration

[2020-04-12 14:18] muhamadazmy opened #709 "provisiond: self cleanup"
In certain situation (machine reboot, etc...) node fails to gracefully clean up some persisted resources (this usually subvolumes, or a zdb namespace)

Currently we only store a cached version of active reservations, but this is not enough because a reservation does not reflect actual resources allocated on the node. Basically, there is no way the you can map from a reservation to actual allocated

[2020-04-13 10:07] #703 closed, assigned to zaibon

[2020-04-13 14:16] #706 closed, assigned to zaibon

[2020-04-13 16:04] siddiquagig opened #712 "v2 Node boots up but no Storage pools are shown (even no SSD shows up)"
We booted a node for a farmer : ```edersfarm``` on main explorer

Farmer-ID : 173618

His node booted up till the main screen but no storage pools were shown even though the node has both SSDs and HDDs present:

![image](https://user-images.githubusercontent.com/25789724/79135821-012b5a80-7dc1-11ea-9140-d62223cad2a9.png)

Though the node booted up :

![image](https://user-images.githubusercontent.

[2020-04-13 17:46] andhartl opened #713 "explorer.grid.tf: search function no longer working"
Can you please get the search function live again? thx
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/18591016/79144531-6bdb9680-7dbf-11ea-8522-a3a8d3519a1d.png">

[2020-04-13 18:27] andhartl opened #714 "explorer.grid.tf: change names in deployed line"
Change names to: Networks deployed, Volumes deployed, Containers deployed, 0-Db Namespace
<img width="1978" alt="image" src="https://user-images.githubusercontent.com/18591016/79148020-24580900-7dc5-11ea-9793-b5a46c9ff1cc.png">

[2020-04-14 09:58] #713 closed, assigned to nobody

[2020-04-14 09:58] #714 closed, assigned to nobody

[2020-04-14 09:59] #668 closed, assigned to zaibon

[2020-04-14 12:25] #651 closed, assigned to DylanVerstraete

[2020-04-14 12:32] zaibon commented on #677
fixed in https://github.com/threefoldtech/zos/commit/ad7238a47271bfdf93c953599a28fe7be8d1a9b5#

[2020-04-14 12:32] #677 closed, assigned to nobody

[2020-04-14 12:34] zaibon commented on #672
fixed in https://github.com/threefoldtech/zos/commit/99a8aa8841a6002b0853a8303b255e41f9b3fd13

[2020-04-14 12:34] #672 closed, assigned to nobody

[2020-04-14 14:54] zaibon opened #718 "provisiond: stuck on a 0-db namespace decommission"
[code]

[2020-04-15 07:57] AhmedHanafy725 opened #721 "k8s: cluster errored after the reservation"
### Environment
Testnet
### Error
- After 2 days of the reservation, I found that the cluster is deleted due to this error.
- This happens twice
#### First reservation
![image](https://user-images.githubusercontent.com/41957921/79310748-b7e02580-7efc-11ea-8dd7-e27beda3d210.png)
#### Second reservation
![image](https://user-images.githubusercontent.com/41957921/79310930-fb3a9400-7efc-11ea-98ab-adb0

[2020-04-15 08:13] zaibon commented on #721
You reservation has been deleted cause it reached its expiration time. What exactly did you expect to see instead ?
[code]

[2020-04-15 09:09] AhmedHanafy725 commented on #721
[code]
This for second reservation as I remember its date
`expiration_provisioning` date was the reservation date, and this reservation was for 1 year and I was working on yesterday, it was deleted by the end of 14-4-2020

[2020-04-15 09:28] DylanVerstraete commented on #692
Official docs: All Stellar accounts must maintain a minimum balance of lumens. The minimum balance is calculated using the base reserve, which is currently 0.5 XLM:

Minimum Balance = (2 + # of entries) * base reserve

[2020-04-15 09:29] DylanVerstraete commented on #692
So in our case we have 3 assets and a potential minimum of 3 signers

so this would result in a minimum balance of: (2 + 6) * 0.5 = 4

Also if more signers are given we should increase the minimum balance

[2020-04-15 10:30] #552 closed, assigned to zaibon

[2020-04-15 10:40] #630 closed, assigned to maxux

[2020-04-15 12:00] zaibon commented on #721
ha yeah ok indeed my bad I checked the wrong field.

[2020-04-15 13:05] #329 closed, assigned to muhamadazmy

[2020-04-15 13:22] maxux commented on #718
This seems to happen because `zdb` is blocking on `printf` call. This is because stdout buffer is full.

It seems that `containerd` or `shim` restarted and `stdout` and `stderr` fifo wasn't reattached (supposedly) by new process.

[code]

This unblocked processes and decommission succeed.

According to lsof, the `/usr/bin/containerd-shim-runc-v2` were renamed to `.old` then deleted, probably after

[2020-04-15 14:28] #663 closed, assigned to LeeSmet

[2020-04-15 14:28] #667 closed, assigned to DylanVerstraete

[2020-04-15 14:54] zaibon commented on #718
extra log has been added to track this error in the field: https://github.com/threefoldtech/zos/pull/726

[2020-04-15 16:32] zaibon opened #728 "error during upgrade: bad file descriptor"
[code]

[2020-04-15 16:38] zaibon opened #729 "logger: Quota exceeded"
node affected:
-  [BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXEKga3UPbs](https://explorer.devnet.grid.tf/explorer/node/BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXEKga3UPbs)
- [FTothsg9ZuJubAEzZByEgQQUmkWM637x93YH1QSJM242](https://explorer.devnet.grid.tf/explorer/node/BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXEKga3UPbs)
[code]

[2020-04-15 16:39] zaibon commented on #729
It seems for some reason flistd uses `/var/cache/modules/identityd` to stored its data instead of `/var/cache/modules/flistd`
[code]

[2020-04-15 22:21] maxux commented on #718
Let's hope #726 will give more information but I'm not confident. I think this issue is more in the way how containerd/shim works on reattaching streams, not sure it's related to how we handle logs.

If we don't get more information, we maybe should try back how we logged before (without redis) and see if we this solve issue. Otherwise it's something else.

It would be great to be able to reproduc

[2020-04-16 11:21] DylanVerstraete commented on #722
Not quite sure on what we try to achieve.

For now, fetching all the data seems reasonable since we don't have a big userbase. In the future if our usebase gets biggers we can implement caching of the node requests. The node informating does not get updated every minute I think so we can have a cache time of like 3-5 minutes or something.

If we don't implement caching following needs to happen:

[2020-04-16 11:39] zaibon commented on #722
First thing to solve is to make sure the explorer can load all the nodes from the explorer API. Which is not the case today: https://github.com/threefoldtech/zos/blob/77b9939bffb2de0fe09657f96194b9842d3e379c/tools/explorer/frontend/src/services/tfService.js#L39-L46

Now doing this brings other questions indeed. How to deal with a huge amount of nodes ?
At the moment all the computation of statisti

[2020-04-16 11:50] DylanVerstraete commented on #722
Personally, I have never seen an application loading pieces of data for a small period of time until everything is loaded. This will make the statistics out of sync at the start and then the frontend will be doing alot more re-renders then is needed.

Since the request for the nodes on production is only 31.0 KB it doesn't seem like it outweighs the effort here. If we would have like over 10k node

[2020-04-16 12:44] LeeSmet commented on #722
- Page rendering server side is a bad idea imo, don't think we get anything from that. On the contrary. If we do a query, we'll need to send it to the backend, the backend renders it, and sends it back. So we do a request for every query, thus increase the load on the server by a lot for no real benefit.

- Queries on node id/farm id could be handled by the backend. There are already filters for t

[2020-04-16 12:56] zaibon commented on #722
This is what I meant by loading all the nodes. Just load a first reasonable batch once then pull the rest in the background. That allow to have a responsive UI and still load everything.
Going further in this idea. It would be possible then refresh each nodes over time based on their last update time or something.

I do not like this. We want to make the load of the server light, no on the client.

[2020-04-17 08:15] #692 closed, assigned to DylanVerstraete

[2020-04-17 08:21] #722 closed, assigned to DylanVerstraete

[2020-04-17 09:14] zaibon commented on #718
Let's do that. try to analyse how things works when you stop contd and/or containerd. Should be straight forward when running the development VM.

[2020-04-17 09:51] #690 closed, assigned to DylanVerstraete

[2020-04-17 12:22] maxux commented on #718
I can reproduce the issue. I have an flist which contains a process generate text on stdout continuously. When provisioning the container, I can `tail -f` the log file under `/var/cache/modules/contd/logs` which are default file we log `stdout` and `stderr`.

As soon as I do `zinit stop contd` the log file is not appending anymore. Using `debugfs`, if I attach the still running process, after a wh

[2020-04-17 14:34] despiegk opened #737 "link https://threefold.io/grid.html broken"

[2020-04-18 09:17] zaibon commented on #737
Can you give more information about which link are you talking about please.

[2020-04-19 17:31] andhartl opened #741 "GPU Support"
Many potential farmers approached us asking for GPU support. Next to all classic coin miners who have spare GPU power recently HPE came up with the idea of a research grid for universities and high performance computing (hpc) institutes. In this research grid next to CU and SU in addition GPU support would be needed. Right now exchange of GPU resources amongst universities and hpc institutes is av

[2020-04-20 07:39] DylanVerstraete commented on #687
How to reproduce?

[2020-04-20 09:17] zaibon commented on #687
I think this happens when the farm has not wallet address set for the configured asset

[2020-04-20 09:22] LeeSmet commented on #687
This is from before the refactor for multiple assets then I guess? because that should invalidate this issue afaik

[2020-04-20 10:40] zaibon commented on #687
yes indeed.

[2020-04-20 14:48] #687 closed, assigned to nobody

[2020-04-20 16:09] zaibon commented on #687
@DylanVerstraete Closed because this cannot happen anymore with the latest code ?

[2020-04-21 15:46] ranatrk opened #744 "Escrow details returned from reservation register are empty"
When creating a new reservation and registering it through jumpscale, the escrow object returned doesn't include the details(farmer_ids and the amount to be payed). Only the asset and address are returned.
- explorer: **explorer.devnet.grid.tf**
- reservation_id :**73** (and previously 72 also)
- results: **OK**
- escrow results:
![Screenshot from 2020-04-21 17-45-00](https://user-images.githubuse

[2020-04-21 18:46] zaibon commented on #744
I think this can happen when the reservation ends up free of charge. This can happens when, like now, the reservation only contains a network workload. At the moment the networks are free. So there is payment details list is empty cause there is nothing to pay.

What should have happened is your reservation `next_action` value should automatically switch to `deploy` without blocking on the `pay` s

[2020-04-22 08:09] ranatrk commented on #744
Indeed that is the case, I tried with another reservation that was of a different type (container workload) and the details were returned. Thank you

[2020-04-22 08:20] #744 closed, assigned to nobody

[2020-04-22 09:26] ranatrk opened #745 "Reservation payment: next_action wasn't updated after PAY"
When creating a reservation with a payment, then paying(transfer) for the transaction with the stellar wallet client, the next_action of the reservation wasn't updated for a very long time until eventually the expiration provisioning was reached and so it was changed to DELETE.
- reservation id: 78
- escrow details:
![Screenshot from 2020-04-22 11-23-54](https://user-images.githubusercontent.com/1

[2020-04-22 09:32] zaibon commented on #745
This is because you did not inlcude the required message into your stellar transaction. The expected way to work is to use the zos SAL only. Now you are doing the transfert manually which leads to error.

Check the documentation at https://github.com/threefoldtech/jumpscaleX_libs/tree/development/JumpscaleLibs/sal/zosv2#payment-of-a-reservation

[2020-04-23 07:52] ranatrk commented on #745
Ok thank you. I tried using the message like the code in `payout_farmers(..)` and it was successful and went to DEPLOY. But when directly using the function  it didn't work because the asset was different from the asset in the escrow details. Should the function be using the asset in the registered_reservation provided instead?

[2020-04-23 12:40] xmonader opened #747 "bad file descriptor: zos container"
Using [simulator playground](http://play.grid.tf) to provision a jsx container and starting a simulator webapp sometimes when we create a new simulator

# what's expected
smooth usage of simulator webapp and being able to run/render notebooks

# what happens
 we get errors like

![image](https://user-images.githubusercontent.com/64129/80100138-cdde8d80-856f-11ea-970b-c434043d88e2.png)

![image](ht

[2020-04-23 18:05] #718 closed, assigned to maxux

[2020-04-24 09:23] zaibon commented on #745
Well it should it it can. But the function accepts a wallet. So you need to check that the wallet actual has the required currency and it has enough of it. Otherwise an error must be raised.

[2020-04-24 10:35] #729 closed, assigned to nobody

[2020-04-24 12:32] zaibon opened #751 "networkd: failed to set route... network is unreachable"
![2020-04-24_1395x862_scrot](https://user-images.githubusercontent.com/303164/80212718-4dd02a80-8638-11ea-9500-14129cb379c7.png)

It seems it can happen that the provisioning of a container fails with this error.
Reservation: https://explorer.testnet.grid.tf/explorer/reservations/459415

[2020-04-24 14:11] delandtj opened #752 "tfexplorer is eating away all system resources"
Refer to :
https://github.com/threefoldtech/tfexplorer/issues/17

[2020-04-25 07:45] zaibon opened #753 "bad file descriptor"
[code]

[2020-04-25 13:02] #752 closed, assigned to nobody

[2020-04-27 08:48] grimpy commented on #585
Happened again today see: http://explorer.testnet.grid.tf/explorer/reservations/459470

[2020-04-28 10:58] muhamadazmy opened #755 "research using websockets for zos workload poll"

[2020-04-29 08:43] #737 closed, assigned to nobody

[2020-04-29 14:09] LeeSmet commented on #585
This reservation tries to deploy 2 times 2 vms on a single node, which is not supported. The name of the tap device is fixed for a network, so indeed this causes a naming collision. This can be observed by checking the results of the workloads. The lower numbered workloads get deployed first, and succeed, the higher number onces fail because a vm and tap is already present on the node in that netw

[2020-04-29 21:59] zaibon opened #758 "failed to create container because of wrong route on the eth0 of the container"
Network reservation: https://explorer.testnet.grid.tf/explorer/reservations/459040
container reservation: https://explorer.testnet.grid.tf/explorer/reservations/459689

So the cidr of the network resource of the selected node is:
[code]

The network configuration of the container is
[code]

And the error I got:
`"failed to load network resource: failed to set route {Ifindex: 3 Dst: 0.0.0.0/0 Src:

[2020-04-29 22:27] zaibon commented on #758
I had a look in the cache where we store the network definition that are used for the container network join. And guess what I found:
[code]

So for some reason the network in cache was different from the one found in the explorer by the 3SDK.

[2020-04-30 06:34] zaibon commented on #758
So it turns out I have the some very old version of my network in cache on this node. From previous wipe even.

[2020-04-30 07:43] zaibon commented on #751
closed in favor of #758

[2020-04-30 07:43] #751 closed, assigned to nobody

[2020-04-30 07:43] #745 closed, assigned to nobody

[2020-04-30 07:44] zaibon commented on #728
maybe linked to https://github.com/threefoldtech/zos/issues/747

[2020-04-30 07:44] zaibon commented on #747
maybe linked to https://github.com/threefoldtech/zos/issues/728

[2020-04-30 07:48] zaibon commented on #632
This is becoming a more present issue now.
There seems to be a lot of nodes that are booted but don't have a proper network configuration:
http://10.4.0.250:3000/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22Loki%22,%7B%22expr%22:%22%7Blevel%3D%5C%22fatal%5C%22%7D%22%7D,%7B%22mode%22:%22Logs%22%7D,%7B%22ui%22:%5Btrue,true,true,%22none%22%5D%7D%5D

To solve this we can send a mail to the farmer

[2020-04-30 14:02] ranatrk commented on #745
Created a seperate [issue](https://github.com/threefoldtech/jumpscaleX_threebot/issues/642)  to handle that check in the chatflows , so far the response that the funds are not enough are just shown to the user

[2020-05-03 09:31] zaibon opened #759 "failed to create container with attached volume in a single reservation"
https://explorer.testnet.grid.tf/explorer/reservations/459798

[2020-05-03 18:25] grimpy opened #760 "Failed to created container"
![image](https://user-images.githubusercontent.com/143869/80922264-300f6d80-8d7c-11ea-9a03-6fe13b9d0249.png)
https://explorer.devnet.grid.tf/explorer/reservations/367

[2020-05-04 10:00] zaibon commented on #759
I think the problem lies in the fact that when creating a container and attaching a volume to it, we need to first check that the volume actually belong to the same user. We do not want random people mounting from other users into their container, that would be pretty bad.

To do this, during the container provision, we get the volume reservation from the reservation cache: https://github.com/thre

[2020-05-04 10:09] LeeSmet commented on #759
Well we actually only need the full volume ID on the node itself. At this point, we are in the provision engine, which has both the reservation ID and the workload ID. So the provision engine can then manually assemble the full ID for the volume, without requiring anything to be changed in the reservation field afaik?

[2020-05-04 10:14] zaibon commented on #759
This is right. I guess the code that convert the Explorer reservation type into the internal workloads type could fill the missing information since it has it.

Somewhere there: 	https://github.com/threefoldtech/zos/blob/9f29a631ed98594cc0101362f340b3d2bbfa8ccd/pkg/provision/primitives/converter.go#L44-L49

[2020-05-04 11:35] DylanVerstraete commented on #759
@zaibon @LeeSmet  I am looking in the code but I cannot see where I should get this reservationID..

[2020-05-04 13:29] zaibon commented on #759
I think there you have it: https://github.com/threefoldtech/zos/blob/9f29a631ed98594cc0101362f340b3d2bbfa8ccd/pkg/provision/primitives/converter.go#L211

[2020-05-04 14:57] #759 closed, assigned to DylanVerstraete

[2020-05-05 08:33] muhamadazmy commented on #632
@zaibon  Can we check this only by revising nodes `public_config` and then see if they have ipv6 or not?  Also `public_config = null` is still allowed/possible, no?

[2020-05-05 09:10] zaibon commented on #632
No this is not how it works. `public_config` is an optional configuration. Most of the node won't have this.  I don't think we have that information in the explorer at the moment.

CC @delandtj

[2020-05-05 09:47] waleedhammam opened #762 "Getting a failure while creating an ubuntu reservation"
Using testnet, and with TFT network, reservation: https://explorer.testnet.grid.tf/explorer/reservations/459915

![Screenshot from 2020-05-05 11-43-33](https://user-images.githubusercontent.com/10658229/81053883-15491000-8ec6-11ea-86c6-09ae974670e9.png)

[2020-05-05 10:10] zaibon commented on #762
[code]

[2020-05-05 10:18] zaibon commented on #762
@waleedhammam is this a new network from scratch ? or are you updating an existing network ?
Did you have a network with the same name maybe ?

[2020-05-05 10:21] zaibon commented on #632
instead I prefer we do the following. The node is still registered in the explorer. So the farmer can have some information about the network interfaces, capacity and he can earns its farming token.
But in addition to this, we need a way to show that the node network is not right.

An extra field in the node object ?
Maybe we could have some kind of health check for each daemon. And report this he

[2020-05-05 10:23] waleedhammam commented on #762
yes from scratch, created today this is the reservation https://explorer.testnet.grid.tf/explorer/reservations/459911

no didn't use this name before, this is all my networks
![Screenshot from 2020-05-05 12-22-20](https://user-images.githubusercontent.com/10658229/81056622-1df01500-8ecb-11ea-8850-af15fb6226c2.png)

but when I used an old one didn't give me that error

[2020-05-05 10:28] zaibon commented on #762
I'm confused now. You said it's a new network created in reservation [459911]( https://explorer.testnet.grid.tf/explorer/reservations/459911) but the first comment in the error talks about reservation [459915]( https://explorer.testnet.grid.tf/explorer/reservations/459915)

So 459911 is the creation of the network and 459915 you updated the network ?

[2020-05-05 10:29] waleedhammam commented on #762
yeah 459911 is the tft_network, and then when I tried to deploy ubuntu it got me the 459915

[2020-05-05 10:59] DylanVerstraete commented on #632
sounds like a good idea, this will force the farmer not as much as sending him an email about some missing configuration. But then again, will the farmer check the explorer and notice these health checks?

[2020-05-05 11:38] BolaNasr opened #763 "Getting a failure while creating an gitea reservation"
why gives me this error although  it should give me a random farm that has enough space.

explorer: Testnet

https://explorer.testnet.grid.tf/explorer/reservations/459935

![image](https://user-images.githubusercontent.com/10259267/81061629-f9993600-8ed4-11ea-80bb-402916bf32f7.png)

[2020-05-05 11:42] muhamadazmy commented on #632
@zaibon Don't we already report all interfaces of the node to the explorer ? Can't we check this and show a warning if no interface has a valid ipv6 ?
Implementing a health checks for the daemon is more generic and better idea but is way much work.

[2020-05-05 12:49] zaibon commented on #632
We do it seems we do not report the info for the `ndmz` network namespace and interface, which is where we can detect if the node is all good or not.
I guess the code reporting the interfaces needs to be adapted to also include it

[2020-05-06 07:00] zaibon opened #766 "counters are not protected against negative value"
it seems nothing prevent to call `Decrement` on a counter which value is 0. Since this is an unsigned int, this will give unexpected value.
https://github.com/threefoldtech/zos/blob/84a6855327d3b11f3d9cc8b0e7dae47afdf264b1/pkg/provision/primitives/counters.go#L23-L38

[2020-05-06 08:54] DylanVerstraete commented on #632
Whilst looking for reporting the `ndmz` network namespace I noticed that the macaddress for all the interfaces is not properly reported.
Also we seem to report the `ndmz` bridge:

[code]

[2020-05-06 08:56] zaibon commented on #632
We need do not care about the IP address of the ndmz bridge. We want the IP of the interface in the ndmz network namespace.

[2020-05-06 09:16] zaibon commented on #763
This is not an expected error. The node used in this reservation reported a total of 0 SRU. So the error message is consistent.

[2020-05-06 09:16] #763 closed, assigned to nobody

[2020-05-06 09:45] LeeSmet commented on #753
Could this by chance be related with the bad file descriptor I had when booting the tfchain nodes a couple of days ago?

[2020-05-06 16:08] zaibon commented on #760
Problem was due to a upgrade flist for zos that has the wrong binaries inside. This has been fixed. all nodes should get updated during next release

[2020-05-06 16:08] #760 closed, assigned to maxux

[2020-05-07 04:22] weynandk opened #769 "Please ignore - test issue"
Had comments from peopl not to have access to issues and ability to add issues.  this is a non-tf foundation of tech related account to test access to add issues.

[2020-05-07 07:35] zaibon commented on #769
Any one with a github account can create issue on any of our repository.

[2020-05-07 07:35] #769 closed, assigned to nobody

[2020-05-07 08:37] delandtj opened #770 "smartctl calls need to be fed the correct HBA to work"
on some (a lot) machines disks are hidden behind an HBA, that doesn't convey smartctl calls to the disks properly.
some (not all) hba's are specified in smartctl, bt then we need to call smartctl with the correct paramters.

This issue will be mostly research into smartctl and see how it behaves on nodes in the field

[2020-05-07 08:39] delandtj commented on #770
https://www.thomas-krenn.com/en/wiki/Smartmontools_with_MegaRAID_Controller

https://www.ixsystems.com/community/resources/links-to-useful-threads.108/

[2020-05-11 07:03] DylanVerstraete commented on #632
Once we have these IP's, how do we indicate if a node is healthy?

[2020-05-11 11:38] weynandkuijpers opened #773 "Can we support externally connected sensors in zos?"
HPE is considering using TF Tech technology to create services for smart cities.  This would require having the ability to interact with a USB device.  I think this is not in the standard version of zos, is it?

The simple answer is to only use a network-enabled sensor device but is this the only way this can be done?

[2020-05-11 11:48] joefoxton opened #1112 "Node down notification"
As a farmer, I want to receive an email notification that my node is down from the grid perspective, so I can fix the problem

We are implementing monitoring and alerting on our Green Edge grid. However, there may be conditions under which our hardware looks completely healthy, but the grid is marking the node as "Down". As such we'd like to be notified about such events via email.

I understand t

[2020-05-11 13:08] zaibon commented on #773
This requires more information.

Define interact? and What does this user "Devices" does ?

Ultimately I think this is not really a use case for 0-OS indeed. 0-OS just exposes raw capacity: Storage, Compute and Network.

You can run any software in some containers, but if you need to access hardware specific "devices" this requires customization in all the layers, from the 0-OS kernel up to the IT

[2020-05-12 07:08] hteibler opened #775 "network deployment failed: Container: couldn't load network with id"
Sorry your reservation 9331 has failed :
CONTAINER: COULDN'T LOAD NETWORK WITH ID (W7A4GRZKGFA4T): OPEN /VAR/RUN/CACHE/NETWORKD/NETWORKS/W7A4GRZKGFA4T: NO SUCH FILE OR DIRECTORY

![image](https://user-images.githubusercontent.com/24313736/81648997-eab00780-942f-11ea-9b2d-7a06e15ec87e.png)

but payment succeeded

![image](https://user-images.githubusercontent.com/24313736/81649063-061b1280-9430-11e

[2020-05-12 08:02] zaibon commented on #1112
This is a feature that a 3Bot could indeed provide.

Regarding Grafana and Prometheus, what kind of statistics would you want to gather in Prometheus ?

As of today the nodes already reports statistics regarding reserved capacity and provisioned workloads. Nothing prevent you from dumping those into a Prometheus today and put some nice graphs on top.

[2020-05-12 09:50] zaibon commented on #775
@hteibler This can happen indeed that for one reason or another a node fails to actually deploy a workload. If you check your wallet you will see that you have been refunded for the reservation and the reservation has been cancelled.

[2020-05-12 12:28] MathiasDeWeerdt commented on #775
I got the exact same issue.

![image](https://user-images.githubusercontent.com/7256303/81693532-5742fa80-9460-11ea-800e-0b38cc97da6b.png)

[2020-05-13 11:55] hteibler opened #807 "GE: When a deployment fails, then other already working deployment is not reachable anymore"
deployed network 9392 :  OK
deployed ubuntu 9393 : OK, ssh to shell OK
deployed k8s: 9410  failed
now ubuntu is not reachable anymore
wg network still working
deployed a new ubuntu 9416: ok ssh OK

[2020-05-14 05:06] weynandkuijpers opened #779 "setting cgroup config for procHooks process caused "failed to write 2097152 to memory.limit_in_bytes"
Updating the examples for the SDK and while deploying networks and lists I came across an error while trying to pay for his reservation

https://explorer.grid.tf/explorer/reservations/9429

Then network deployed for this is here:

https://explorer.grid.tf/explorer/reservations/9428

The actual error is at the end of the reservation:
[code]

[2020-05-14 09:39] zaibon commented on #779
I see in the reservation the amount of memory reserved is 2:
[code]
The units of the memory in this field is actually bytes. 2 is not a viable value. I'm suspecting this is the issue.

We need to validate this theory and if it is indeed the problem we should add some sanity check for these value in 0-OS and in tfexplorer.

[2020-05-14 16:00] zaibon opened #780 "force all zdb container to restart in order to enable shim-logs"
It seems we still have some nodes in the field that have container running without shim-logs. We should adapt contd to force it to restart all container still running without shim-logs to avoid having the container stuck

[2020-05-15 07:41] zaibon commented on #807
@grimpy what I suspect is happening here is.
The reservation that failed contained some modification of the network. But since it failed it got cancelled which cancelled the full network on the node.

[2020-05-15 08:01] zaibon opened #781 "review CPU resource allocation in containerd"
containerd has implemented CPU resource management, we should have a look and see if we need to use this instead of our custom implementation: https://github.com/containerd/containerd/pull/4083/files

[2020-05-15 10:40] hteibler opened #783 "k8s VM creation failed"
Sorry your reservation 9468 has failed :
KUBERNETES: ```FAILED TO INSTALL K3S: COULD NOT RUN VM: 2020-05-15T10:35:45.875244463 [ANONYMOUS-INSTANCE:ERROR:SRC/FIRECRACKER/SRC/MAIN.RS:66] FIRECRACKER PANICKED AT 'ERROR CREATING THE KVM OBJECT: ERROR(19)', SRC/LIBCORE/RESULT.RS:1188:5
2020-05-15T10:35:45.875401802 [anonymous-instance:ERROR:src/firecracker/src/main.rs:76] stack backtrace: 0: 1: 2: 3: 4

[2020-05-15 11:39] zaibon commented on #783
reservation : https://explorer.grid.tf/explorer/reservations/9468
associated logs: https://gist.github.com/zaibon/dd1ad0e33d9895d458a178e176dba7ad

[2020-05-15 12:29] zaibon commented on #783
So after investigation it turns out the error returned by the node hosting the master VM is due to the fact that node has disabled KVM in its bios. So there i no possibility of virtualization on that node.`
[code]
We're going to reach to the farmer to ask to fix this.

[2020-05-15 12:29] delandtj commented on #783
Guido has been notified

[2020-05-15 12:48] zaibon opened #784 "report hostname of the the node to the explorer"

[2020-05-15 12:59] gneumann333 commented on #783
Solution found:
(HPE)Intel Based Servers have to be set to the Correct "Workload Profile"
Which is either
"Virtualization - Power Efficient"
"Virtualisation - Max Performance"

In these Workload Profils Intel VT, IntelVT-d and SR-IOV is automatically enabled
In all other Profiles its automatically disabled.
**This is only the case with Intel based Servers, in AMD based Server Virtualization is on

[2020-05-15 13:27] zaibon commented on #702
Duplicate of https://github.com/threefoldtech/zos/issues/585

[2020-05-15 13:27] #702 closed, assigned to nobody

[2020-05-15 13:36] zaibon commented on #585
We should detect when trying to deploy 2 VM on the same network and same node and return a proper error message explaining the problem instead of the weird TAP error.

Documentation must also be updated to explain the limitations.

[2020-05-15 14:03] maxux commented on #1111
In order to reach system diagnostic files, we need to upload them somewhere or make them available, whatever the way.

We suggested to upload archive to the explorer (archive would be around 50-200K), but there is nothing yet supporting this.

[2020-05-18 07:30] #783 closed, assigned to nobody

[2020-05-18 09:43] LeeSmet opened #786 "Always send uptime when updating node info in the explorer"
Right now it sees uptime is not send unless the dedicated uptime function is used. This causes the explorer data to be out of sync when another piece of info is updated (like capacity or nics). Since the explorer does need to update its own `Updated` field from when the node was last seen for these requests, a node should always send its uptime on all requests which modify its data on the explorer

[2020-05-18 12:11] DylanVerstraete opened #787 "reservation environment variable don't override the startup toml ones"

[2020-05-18 13:00] gneumann333 opened #789 "GE: Node is Dazed and confused..."
We have a DL385 in Salzburg which shows an error message:
"Do you have a strange Power mode enabled?"

Node ID: BSusuRh6qFzheQFwNPe1S5FA5pdSZVJwVLhpNS6GN4XD
Shows Up on the Cockpit
I left it like this for investigation
<img width="1719" alt="Dazed and confused Node" src="https://user-images.githubusercontent.com/39131062/82215850-47239300-9918-11ea-958c-a1cb520fdf17.png">

What does that mean?

[2020-05-18 17:17] #787 closed, assigned to DylanVerstraete

[2020-05-19 00:21] maxux commented on #780
I hit something weird. Using `ctr`, we can actually query shim status. I made some test on différents node and responses are inconsistants.

[code]
[code]
[code]

It looks like container is started using shim-logs but it's not running.

On another node, the same command:
[code]
[code]
[code]

There the shim-logs seems to be up. I checked, on both case, zdb is the only container up.

[2020-05-19 07:29] zaibon opened #790 "networkd should be more gentle with its call to the explorer"
When networkd fails to create the ndmz, it raises a fatal error and thus stops: https://github.com/threefoldtech/zos/blob/1dd1d2612bd1c2ae3bfc8e2c3f08dc9ad0eb51d8/cmds/networkd/main.go#L92-L94

 But because of zinit it gets restarted directly. This creates a loop and a lot of load to the explorer cause network does some call to read the public interface configuration before creating the ndmz.
I th

[2020-05-19 08:09] grimpy commented on #807
https://explorer.grid.tf/explorer/reservations/9410

What seems to have failed is the reservation of adding the node to the network which indeed got canceled (cause it didn't finish on time I guess since only 5 results while 6 nodes are added)

[2020-05-19 10:28] zaibon commented on #632
@andhartl here are some screenshot of the new feature in the farm mangement app. Have a look and let us know what you think and if you believe we need anything else.

![2020-05-19_1582x394_scrot](https://user-images.githubusercontent.com/303164/82315705-fe2d1680-99cb-11ea-9e37-21bfa2de008b.png)
![2020-05-19_1607x414_scrot](https://user-images.githubusercontent.com/303164/82315709-fec5ad00-99cb-11e

[2020-05-19 10:29] #358 closed, assigned to nobody

[2020-05-19 19:38] #790 closed, assigned to zaibon

[2020-05-19 19:38] #632 closed, assigned to zaibon, DylanVerstraete

[2020-05-20 07:04] zaibon opened #793 "Allow user to define the type and size of the root fs cache for containers"
- [x] Update flister to support defining size and type of root fs subvolume
- [x] update explorer workloads container definition to have size and type
- [x] check if root fs is kept between reboot of the node if the workloads is not deleted -> ~~blocked on https://github.com/threefoldtech/0-fs/issues/26~~
- [x] update docs: https://github.com/threefoldfoundation/info_tfgridsdk/commit/6438954b6cb73

[2020-05-20 12:03] zaibon commented on #807
I do not see a way to solve this at the moment. Things should solved itself once payment gets decoupled from provisioning when https://github.com/threefoldtech/tfexplorer/pull/64 lands.

[2020-05-22 07:43] gneumann333 commented on #789
@zaibon
Do you guys want the investigate the issue or should i just restart it?

[2020-05-22 13:34] gneumann333 opened #798 "GE: Node Identification - Show Server Name in Cockpit"
In order to identify a Node in the Cockpit you currently need to find the Node-ID and then check which of you servers it is.

If the Server Name would be show in the cockpit (ILO command GET_SERVER_NAME)

That would make the Management much easier.

To consider
- Farmers may not want to share the Server name publicly and User dont need to know
  Can the Server Name only be shown to the Farmer in t

[2020-05-22 14:04] abdulgig opened #797 "Mounted Volume in a Container shows 100 % usage"
**Overview**

Link to reservation : [https://explorer.testnet.grid.tf/explorer/reservations/460837](https://explorer.testnet.grid.tf/explorer/reservations/460837)

We have a 2000 GB volume attached to the container. 11TB is the HDD on the node. The volume is writable, we can download files, no issues there ! See below,

[code]

**Problem**

The problem is that the client binary/software sees it as

[2020-05-25 08:03] #786 closed, assigned to DylanVerstraete

[2020-05-25 08:21] maxux opened #799 "zdb: find a way to notify nodes about zdb update and restart zdb instances"
When zdb is updated on the hub, we should know it in some way and notify provisiond and restart all running zdb to the last version automatically.

[2020-05-25 12:12] zaibon opened #800 "execute the update of network resource in a transaction"
At the moment when a network reservation comes into a node to update an existing network resource. If something wrong happens during the update of the network resource, the full network resource is pretty much dead. I wonder if we could not try to execute these change into a transaction that can be rolledback. So if for some reason the new network reservation is wrong, we rollback the transaction

[2020-05-26 07:53] #793 closed, assigned to zaibon

[2020-05-26 10:18] maxux opened #802 "provisiond: next is not incremented if workload id is unknown"
When some reservation on the explorer contains a workload with an unknown type by provisiond, it get stuck on that id and doesn't fetch (next is not incremented) new items from the explorer, provisiond is stuck.

[2020-05-26 12:17] grimpy opened #803 "Failed to deploy containers"
Jo, [26.05.20 14:15]
[Forwarded from Maged Motawea]
[ Photo ]
Hello Jo,
All ubuntu reservations on testnet are failing with this error
![image](https://user-images.githubusercontent.com/143869/82899659-a3f7fc80-9f5b-11ea-8395-f0be51db8917.png)

https://explorer.testnet.grid.tf/explorer/reservations/460905
https://explorer.testnet.grid.tf/explorer/reservations/460903

Jo, [26.05.20 14:15]
[Forwarde

[2020-05-26 12:22] grimpy commented on #803
Logs from one of the nodes:
[code]

[2020-05-27 10:45] maxux commented on #802
Not fixed. Issue is still present after pull request.

The error is generated by https://github.com/threefoldtech/zos/blob/master/pkg/provision/explorer/source.go#L39-L42

https://github.com/threefoldtech/tfexplorer/blob/master/client/workloads.go#L140-L141

[2020-05-27 12:10] #803 closed, assigned to nobody

[2020-05-27 12:41] DylanVerstraete commented on #775
@MathiasDeWeerdt do you still get this error? If so, which network are you testing against?

[2020-05-28 01:40] maxux commented on #780
After investigation, here are more information:
- Containers restarts automatically if the entrypoint is killed (this is the expected behavior).
- When a container starts, `shim-logs` is executed next to it
- When the entrypoint is killed, entrypoint is restarted but `shim-logs` seems **not** restarted (doesn't appears on `ps aux`)
- When querying `ctr`, logs seems consistants:
[code]
[ kill 1543

[2020-05-28 07:03] zaibon commented on #780
ok I see the problem. So we might need to copy the restart plugin and hack it to support setting the shim-log automatically too. See https://github.com/containerd/containerd/tree/master/runtime/restart/monitor

[2020-05-29 07:58] #784 closed, assigned to DylanVerstraete

[2020-05-31 00:58] mooleshacat opened #810 "IPV6 not working Debian 10"
Hi,

My host machine is Debian 10, I am using VirtualBox to run my 3bot with network on NAT.

I just got my IPV6 working on my router, and my host has been assigned IPV6 address.

I have everything installed and running but when it loads up it only shows an IPV4 address, no IPV6 address is there. I tried in 3box shell to enable but it says read only filesystem.

How to enable IPV6?

Thanks

[2020-05-31 02:11] maxux commented on #780
After some test pointed by @zaibon it seems that restart plugin doesn't restart binary shim. I tried using restart plugin internal feature (like WithLogPath) and yes, logs are forwarded to text using cio by restart plugin. An issue will be opened to containerd regarding this.

Multiple solutions IMO:
- Fix this on containerd restart module directly (will see issue)
- Fork the plugin and implement

[2020-05-31 07:03] zaibon commented on #780
To me 2 and 3 are the same and both are fine for me. The restart plugin already has access to everything so we can make any decisions we want.
We can't afford waiting for containerd to fix it upstream cause we need this for ourself asap. So let's go for the solution the easiest for us to implement right now.

[2020-05-31 07:06] zaibon commented on #810
You don't have to tweak anything manually. 0-OS does all the required configuration automatically.

What is your setup regarding DHCP and router advertisement for your VM? This is what 0-OS use to get its IP addresses.

You can have a look here https://github.com/threefoldtech/zos/tree/master/qemu they are some example setup to run 0-OS in a VM.

[2020-05-31 09:18] mooleshacat commented on #810
No, 0-OS does not do it automatically. If that were the case it would have detected the NAT and assigned ipv4 and ipv6 addresses.

Furthermore, you just referred me to a link of documentation which is not referred to in the install instructions.

Either way, I have tried both methods. Method 1) does not work (connection times out and cant even download 0-OS) and Method 2 has a connection to downlo

[2020-05-31 09:26] mooleshacat commented on #810
vm.sh does not even exist ... all I have is 3sdk and the 0-OS iso file to run in virtualbox... I have tried Virtualbox NAT, bridge to enp7s0, bridge to zos0, bridge to forzos, bridge to docker0 (for the hell of it) and none of them work... None of my solutions nor yours (method 1 & 2) work.

and the /etc/qemu directory does not exist on my Debian 10 install.

If this is the new internet I am very

[2020-05-31 13:27] zaibon commented on #810
ok let's restart from the beginning cause it seems you are mixing plenty of different topics here.
What exactly are you trying to achieve ? I might have wrongly understood what you are trying to achieve cause you posted this issue in the 0-OS repository. While reading a second time you first post, it seems you are just trying to run the 3bot container ?

So can you please exactly explain what is y

[2020-06-02 11:16] #802 closed, assigned to nobody

[2020-06-03 01:05] maxux commented on #780
With dirty implementation in #812, we have something working:

[code]
The `shim-logs` are running as pid `895` and `969`

[code]
[code]
[code]
One of the container process has been killed and restarted (`980` became `1054`)

[code]

New `shim-logs` process (pid `1042`) is alive. Previously, shim-logs would be lost. :)

Replacing `cio.LogURI` from our binary URI with `cio.NullIO` also doesn't respa

[2020-06-04 10:06] siddiquagig opened #814 "Disks Detected but not shown on explorer"
We have  a IPv4 Farmer who has 3 Disks ( 2TB SSDs and 1 5TB HDD )  inserted into the node , the main final screen shows all 3 nodes there , but on the explorer he only sees 1 SSD on the explorer.

Node ID : 3RgGWEi1Gfj83Qkoy9PEm4jcXc3RCrUNUpSS5b57eKKD
Node version : 0.3.3
Farm :  Ukrain_Farm (173633)

All 3 disk detected by the OS:

![image](https://user-images.githubusercontent.com/25789724/83743

[2020-06-04 10:42] MathiasDeWeerdt opened #815 "Attempting to start /bin/bash on coreX"
Flist link: https://hub.grid.tf/beta.3bot/jimber-ffc_frontend-production-v1.0.1.flist

I created a new flist and attempted to start up /bin/bash with the following command:
http://10.155.4.2:7681/api/process/start?arg[]=/bin/bash

![image](https://user-images.githubusercontent.com/7256303/83747355-ca571f80-a660-11ea-9642-b303d59c0c3e.png)

![image](https://user-images.githubusercontent.com/7256303

[2020-06-04 12:56] muhamadazmy opened #817 "zui: eating up a lot of CPU on dev net"
When I logged in to random nodes on devnet I found that the terminal is not very responsive while the ping time is very low. I checked the TOP command and found that zui was eating alone around 11% of cpu. Once i did `zinit stop zui` the machine responsivity became normal again

[2020-06-04 13:58] #766 closed, assigned to LeeSmet

[2020-06-05 07:45] muhamadazmy commented on #814
You have SRUs! no ?

[2020-06-05 12:58] siddiquagig commented on #814
Only 1 SSD is showing on explorer , whereas on ZeroOS main screen , the farmer can see all his 3 Disks ( 2 2TBs SSD and 1 5TB HDD)

[2020-06-05 13:53] zaibon commented on #814
@siddiquagig in v0.3.3 [a change](https://github.com/threefoldtech/zos/commit/df021440c6d44df56be00d834dc57d65bc194cf6) has been made into capacityd so it doesn't start before networkd is completely ready. From what I can see this node is in this situation where networkd just wait to get an ipv6. I think once this is fixed. capacity will continue booting and report the proper numbers.

[2020-06-06 08:43] zaibon opened #820 "Error during upgrade"
During the last upgrade (to v0.3.4) I was watching the error logs of identityd and I saw a lot of error like this:

[code]

[2020-06-07 07:35] siddiquagig commented on #814
@zaibon , also as mentioned this is for one of the IPv4 Farmers.

[2020-06-09 14:18] DylanVerstraete opened #821 "check reservation signature on the node itself"

[2020-06-09 14:31] muhamadazmy commented on #821
To verify the reservation on the node you need:
- the reservation
- the public key(s) of the signer(s)

You get both from the explorer. If we don't trust the explorer about the reservation (that it's valid) why should we trust the users public keys?

Unless we have another "trusted" source for the keys, this issue does not make any sense.

[2020-06-09 14:36] zaibon commented on #821
You see it like this because everything looks like it comes from the same place. But ultimately the node directory, the phonebook and the reservation are 3 different components. You indeed do trust the phonebook. But I would like the node themself check the reservation signature instead of blindly trusting the explorer.

[2020-06-09 14:47] muhamadazmy commented on #821
Also the node receives ONLY "workloads". it never receives the full reservations. Hence also not receiving the signature to verify. Sending the full reservation to all the nodes (that are mentioned in the reservation) is kinda costly.

[2020-06-09 14:52] DylanVerstraete commented on #821
We can perhaps add the customer signature to the workload as well?

[2020-06-09 15:05] zaibon commented on #821
Hum we need to review this then. Cause there is a signature field on the reservation struct:
https://github.com/threefoldtech/zos/blob/master/pkg/provision/reservation.go#L36
And we used to validate this back in the days: https://github.com/threefoldtech/zos/blob/master/pkg/provision/reservation.go#L101

We migh need to add some signature field though

[2020-06-09 15:07] DylanVerstraete commented on #821
Any reason we don't do that anymore?

Where do we add the signature field?

[2020-06-09 15:54] muhamadazmy commented on #821
This part is I think from the time of the mock before it grow up to be tfexplorer. the mock was only dealing with workloads, not full reservations.
If we have to do this, then the customer is probably need to sign each workload separately (in the data reservation) and may be a final signature for the full reservation. This is going to be a backward compatibility breaking change

[2020-06-09 16:07] zaibon commented on #821
Right... and I didn't get in account that we sign the reservation and not the workloads separately. This actually raises an issue we should try to solve. Cause the node should be able to validate that what they receives is legit.

[2020-06-10 09:03] DylanVerstraete commented on #781
This change in containterd is release in https://github.com/containerd/containerd/releases/tag/v1.4.0-beta.1. Not sure if we want to use a beta release yet. Maybe we should wait until its released officially.

[2020-06-10 09:18] DylanVerstraete opened #822 "networkd bug: network is not always reachable"
So I created a network on my own node `FwtKhznFUS93f3VGxdamygtTqdjGvUPoUWLdjAzx8DrR`. I created a container using this network. When I setup my Wireguard all goes well, but after some time (this seems to be random..) the network connection is very slow and sometimes stops.

When I am ssh'd into the machine and this bug occurs then my terminal freezes. The only way to continue is to kill the pane o

[2020-06-10 10:48] hteibler opened #823 "GE: network unstable"
Network: 9889
[wg-9889-10_100 -conf.txt](https://github.com/threefoldtech/home/files/4757930/wg-9889-10_100.-conf.txt)

k3s: 9891

something wrong inside the network
since a few days
for example just now
deployment ok
could reach master node but always interrupted

ping to  k3s: ( in Vienna2 node 6mVGwQ41R9f7VJpNoJ6QLs4V15dsfMNXfEmQYhVEwCz6 )

ping 10.100.28.2
PING 10.100.28.2 (10.100.28.2) 56(84)

[2020-06-10 10:54] zaibon commented on #753
duplicate of #728

[2020-06-10 10:54] #753 closed, assigned to nobody

[2020-06-10 10:59] hteibler commented on #823
and..
can't ping worker nodes from my pc
but worker nodes reachable from master node (10.100.28.2)

herby@u20-3sdk:~/wg$ ping 10.100.27.2
PING 10.100.27.2 (10.100.27.2) 56(84) bytes of data.
^[[A^C
--- 10.100.27.2 ping statistics ---
24 packets transmitted, 0 received, 100% packet loss, time 23547ms

herby@u20-3sdk:~/wg$ ping 10.100.21.2
PING 10.100.21.2 (10.100.21.2) 56(84) bytes of data.
^C
---

[2020-06-10 11:02] gneumann333 commented on #823
Screenshot of the Node for Info taken just now:
![image](https://user-images.githubusercontent.com/39131062/84260597-97a69e80-ab1a-11ea-8559-1065b0c97951.png)

[2020-06-10 13:15] zaibon commented on #798
Something like this will be available in the farm management dashboard : ![2020-06-10_1948x415_scrot](https://user-images.githubusercontent.com/303164/84271833-e3fada00-ab2c-11ea-8631-5cd0e2a7ec61.png)

https://github.com/threefoldtech/jumpscaleX_threebot/commit/e2f1119a1b083ba963af8a33689ebb0786a8f651

[2020-06-10 13:15] #798 closed, assigned to nobody

[2020-06-11 00:33] #815 closed, assigned to maxux

[2020-06-11 08:27] zaibon commented on #823
Most probababy similar to https://github.com/threefoldtech/zos/issues/822

[2020-06-11 20:16] gneumann333 commented on #823
We deployed a Zabbix instance in a Container in our Vienna 2 Farm
I run a 2 hour ping on the on it this is what it looks like
FYI Ping over 3000ms are considered Packet drop.
In 2 hour we have over 56% Packet drop

![image](https://user-images.githubusercontent.com/39131062/84434962-3cb39b00-ac31-11ea-8fb6-3408cbbd624a.png)

[2020-06-15 06:36] hteibler commented on #823
any update ?
this is critical !

[2020-06-15 08:19] zaibon opened #826 "Find a way to upgrade all 0DB running on the grid to a new version"
required for https://github.com/threefoldtech/home/issues/720

[2020-06-15 08:20] zaibon commented on #826
duplicate of https://github.com/threefoldtech/zos/issues/799

[2020-06-15 08:20] #826 closed, assigned to muhamadazmy

[2020-06-15 08:20] zaibon commented on #799
required for https://github.com/threefoldtech/home/issues/720

[2020-06-15 09:56] zaibon commented on #823
We have identified 3 things that could be cause of this.
The best guess at the moment is some weird configuration of some peers in the network reservation that could creates this. And we have indeed raises this issue to critical so it has highest priority.

[2020-06-15 11:49] maxux opened #827 "Centralize environment dependent settings into environment package"
The `environment` package is already there to set settings based on environment settings and custom variable.

However, we still have some random location on the code where this should be moved.

https://github.com/threefoldtech/zos/blob/master/cmds/identityd/main.go#L234-L245
This should be set on environment package.

https://github.com/threefoldtech/zos/blob/master/pkg/flist/flist.go#L27
I thin

[2020-06-15 14:00] zaibon commented on #822
After investigation the problem seems to come from a problem in the configuration of network of the freefarm farm. Specially this node `CBDY1Fu4CuxGpdU3zLL9QT5DGaRkxjpuJmzV6V5CBWg4` that was used as access point.

Things should be way better now. @DylanVerstraete can you confirm you are getting more stability now ?

[2020-06-15 14:09] DylanVerstraete commented on #822
The network does not seem to lag anymore, I will keep an eye on it the coming days.

[2020-06-15 14:26] hteibler commented on #823
deployed a network with only 4 nodes for a k8s cluster
but same problem,
no connection for minutes ( sometimes more than 30 min ! )

[2020-06-15 14:33] zaibon commented on #823
So we identified the problem. There was a problem in the configuration of the network of freefarm. You seems to be using `CBDY1Fu4CuxGpdU3zLL9QT5DGaRkxjpuJmzV6V5CBWg4` as access-node for your network. That's why you had some issue with the traffic going through this node and not with the traffic going p2p between the nodes.

[2020-06-15 15:01] hteibler commented on #823
but the problem still exists !

[2020-06-15 15:04] hteibler commented on #823
should I deploy a new network, or is it self healing...
[code]
always around 50% packet loss

[2020-06-15 18:32] zaibon commented on #823
@hteibler can you confirm this is solved, and if so close please :-). thanks

[2020-06-16 08:03] hteibler commented on #823
still packet loss
problem not solved !!!

[2020-06-16 08:27] zaibon commented on #823
So after further investigation, it turns out the same wireguard configuration us used by multiple people. This is the root cause of all your problem. You should create a new wireguard configuration  FOR EACH user you want to allow in the network.

So when creating a network reservation using the ZOSv2 SAL. use the `zos.network.add_access` method as many time as you need.

[2020-06-16 08:27] #823 closed, assigned to nobody

[2020-06-16 11:28] hteibler commented on #823
# not working
just created a new wg-config with:
[code]
the result is  nearly the same as the old one
only keys are different
## same IPs inside
# not working

[2020-06-17 12:45] gneumann333 commented on #789
Node was Updated/restarted and is operational.

[2020-06-17 12:45] #789 closed, assigned to nobody

[2020-06-17 13:06] delandtj commented on #822
can we close this ?

[2020-06-17 14:21] #24 closed

[2020-06-17 14:21] #25 closed

[2020-06-17 14:21] #40 closed

[2020-06-17 14:21] #52 closed

[2020-06-17 14:21] #55 closed

[2020-06-17 19:23] #822 closed, assigned to zaibon, delandtj, DylanVerstraete

[2020-06-18 08:22] hteibler opened #838 "IPV6 public configuration lost over time"
deployed network : 9988 OK
deployed k3s : 9989: OK
but some nodes are not reachable, even they are ok in kubectl
[code]
![image](https://user-images.githubusercontent.com/24313736/84996326-639c3080-b14d-11ea-9f96-f75c6a62087a.png)

[2020-06-19 07:56] zaibon opened #832 "HDD disks should only be used by 0-DB"
To make sure we get best performance how of HDD, only one 0-DB should be able to access it.

This means volume and container root filesystem can only be deployed on SSD.

Todo:
- [x] provisiond refuse to create a volume or a container root filesytem subvolume on HDD
- [x] explorer should return an error if a reservation with a volume on HDD is received
- [x] chat flow should not propose HDD for ro

[2020-06-19 08:30] #723 closed, assigned to nobody

[2020-06-19 08:58] zaibon commented on #781
Since https://github.com/threefoldtech/zos/commit/cf3c2a98c51ca53b566674c1cd8951d65d6151a7 we also use v1.4.0-beta.1

[2020-06-19 10:28] muhamadazmy commented on #832
I think this should be fixed at the `storage daemon` level. Currently the storaged does not differentiate  between an HDD and SDD, both are available for subvolume allocation. This of course complicate the calculation for the reserved volume size since we have to treat the subvolume for containers differently from the ones we allocate to ZDBs.

If we gonna make SSDs only available for workloads (c

[2020-06-19 12:03] zaibon commented on #832
I would prefer proposal 2. My reasoning is I prefer have more capable storage daemon and we just limit what it does, then changing all the code to remove the capabilities altogether. Let's plan for the future. Backward compatibility is the second reason, we need to let all the volume and root filesystem deployed today on SSD expires over time.

[2020-06-22 08:25] rkhamis commented on #832
added to jumpscale 10.7 for this:

[2020-06-22 10:02] BolaNasr commented on #832
Fixed Chatflows: (https://github.com/threefoldtech/jumpscaleX_threebot/commit/50cdfc7bd1ccd5661eb14de8ea514c1c9b32dcad)
- Volume/Container should always be SSD
- ZDB should always be HDD

[2020-06-22 11:57] hteibler opened #839 "GE: nodes not showing used/reserved capacity"
deployed minio with 15* 10TB on 5 nodes
but nodes don't show capacity  it in explorer

https://explorer.grid.tf/explorer/reservations/10032
https://explorer.grid.tf/explorer/reservations/10029
https://explorer.grid.tf/explorer/reservations/10028

HugtVL51BFNLbZbbxnWu2GEe8hV97YVPac19zy5wwNpT
9KAbX21NGbZYupBJ6EeeWx3ZTKDx7ADevr8qtmEa5WkC
9kcLeTuseybGHGWw2YXvdu4kk2jZzyZCaCHV9t6Axqqx
3h4TKp11bNWjb2Uemg

[2020-06-23 10:13] #839 closed, assigned to zaibon

[2020-06-23 14:59] #780 closed, assigned to maxux

[2020-06-23 15:02] zaibon commented on #799
https://github.com/threefoldtech/zos/pull/835

[2020-06-23 15:02] #799 closed, assigned to maxux, muhamadazmy

[2020-06-24 11:24] #832 closed, assigned to muhamadazmy

[2020-06-24 14:42] joefoxton opened #965 "GE: Feature Request: Allow selection of specific disks for a storage cluster"
We would like the ability to select specific disks to go into a min.io cluster. This will allow us to manage performance and over/under subscription.

So when reserving min.io, please allow us to:
- select specific disks;
- implies that each disk has an id under node id;
- implies that there's a disk object

[2020-06-25 10:12] maxux opened #845 "High CPU usage by shim-logs"
Some nodes seems to get `shim-logs` process eating 100% CPU. It seems `shim-logs` doesn't close itself when underlaying process dies or so. It's probably because `containerd` doesn't kill shim-logs on error.

[code]

The `EPOLLHUP` event is not catched.

[2020-06-25 10:12] maxux commented on #845
Fixed by https://github.com/threefoldtech/shim-logs/commit/d2dadea65f8169cb52f19c7f914ee0cc2945dee4

[2020-06-25 10:12] #845 closed, assigned to maxux

[2020-06-25 10:19] #827 closed, assigned to DylanVerstraete

[2020-06-25 11:27] zaibon opened #847 "container network not reachable while network resource is fine"
I have a reservation on devnet for which the 3 container deployed failed to ping: https://explorer.devnet.grid.tf/explorer/reservations/620

I can reach the network resource at 172.26.3.1 just fine, But the 3 containers at 172.26.3.{20-22} are not reachable.

[2020-06-25 11:52] delandtj opened #848 "verify subnet of nr before deploying container"
when deploying a container, we configure it's ip and default route statically, but don't verify  if the ip of the container is part of the subnet of the NR it is attached to.

[2020-06-25 15:34] joefoxton commented on #838
@rkhamis Just checking in here. What are our next steps to resolve?

[2020-06-26 07:40] #847 closed, assigned to nobody

[2020-06-26 12:23] hteibler opened #849 "GE: wrong node status"
JSX> dnode.node_id
'DUF2knurdMuX2eJVp9o7tXq4eNBy2fbxBoWhrMXWPEtF'

JSX> zos.nodes_finder.filter_is_up(dnode)
False

JSX> dnode.updated
1593161654
= GMT: Friday, 26. June 2020 08:54:14

at the same time in Explorer
![image](https://user-images.githubusercontent.com/24313736/85856557-83200280-b7b8-11ea-96dc-beb6d54a38cf.png)

[2020-06-26 13:15] MathiasDeWeerdt opened #850 "CoreX should only be listening to a private IP"
When having public_ipv6=True enabled it exposes coreX. I think this should only be private.

[2020-06-26 13:25] joefoxton commented on #838
Any ideas about what might cause this? Unfortunately we can't easily reproduce as the reservation is long gone.

[2020-06-29 08:22] zaibon commented on #848
https://github.com/threefoldtech/zos/commit/4afe5f6113f404c2465ff81c9b4f6197604c17a5

[2020-06-29 08:22] #848 closed, assigned to nobody

[2020-06-29 16:14] jimscarver opened #855 "what timezone are your 10am meetings in?"
the readme does not say.

[2020-06-30 07:01] #850 closed, assigned to zaibon

[2020-06-30 07:21] DylanVerstraete opened #856 "Shutdown disks after boot"
We want to shutdown disks after boot in order to save power.

[2020-06-30 07:51] siddiquagig opened #857 "Disks not being detected in ZeroOS"
We have a old IPv4 farmer who bought 2 new Gigabyte Motherboards and some new HDDs and SSDs.

Issue is the disks are being detected in the BIOS but not in ZeroOS , we have tried all options like RAID / AHCI but still the disks do not show up.

BIOS disks:
![image](https://user-images.githubusercontent.com/25789724/86098437-29c11780-bac7-11ea-9451-1a73b1b3388a.png)

Options in BIOS:
![image](https:

[2020-06-30 09:02] DylanVerstraete commented on #856
There is a cli utility called `hdparm` which can manage everything around physical disks. There is also a go implementation of it:
https://github.com/adelolmo/hd-idle

We have multiple problems though:
  - every disk behind HBA don't expose SCGI/SG commands.
  - SCSI disks can't be shutdown without putting custom logic around it to power them back on and mount them before use.

We kinda made a des

[2020-06-30 09:07] zaibon commented on #856
Why do mean exactly by this ? Disk can only be shutdown when there are not used. So there are no active reservation using it. As soon as one bytes of the disk is reserved, the disk cannot be shutdown anymore.
So the goal here is to try to keep the power consumption of big storage server with lot of disk to a minimum until all the disk are actually use, in which case the power consumed is not waste

[2020-06-30 10:24] zaibon commented on #855
Hi O/

We do not do public meeting anymore now that the project is no more in the research phase. But I've updated the readme with some info where you can come and have a chat with the maintainers: https://github.com/threefoldtech/zos/blob/master/README.md#community

Will be happy to see you there :-)

[2020-06-30 11:40] delandtj commented on #857
when there was __something__ on the disk, we default to not remove the data. Imagine booting your pc with a usb stick with 0-os on it. Oops, you now have a hosed system.
So to be able to use the disks, you need to empty them first .
For example : by booting an Archlinux iso, and issuing these commands :
[code]
do that for all `/dev/sdX` found with command `lsblk`

[2020-06-30 11:53] delandtj commented on #856
Design flaw:
All disks are pre-formated (that's OK), but effectively mounted. We shouldn't do that, as in proper SCSI terms, spinning down a disk with an INQUIRY command over SG, effectively makes it unavailable for the OS until it's spinned up again (That is not the case for SATA disks that have inherited IDE semantics for workstations, where these disks can get a timer to go to sleep when not ac

[2020-06-30 12:04] delandtj commented on #856
so https://github.com/adelolmo/hd-idle is just one part, the moment a disk is behind a HBA, things get a lot more hairy, where each kind has some tool (mostly binaries and closed-source) to configure VD, spin up/down disks (if at all), and these tools then need to be incorporated in zos(directly or through flists) so that we can handle the disks.
The more, these tools and the OS have different vie

[2020-06-30 13:13] zaibon commented on #856
I wouldn't call that a design flaw. The current code was simply not design to behave that way. And yes storaged needs to be adapted but isn't this the all point of this issue ? :-D

[2020-06-30 13:31] LeeSmet commented on #856
the current storage module is very minimal afaik. The reason disks are mounted at boot, is just because there is a line of code which mounts all volumes it find at boot. So its easy to change this behavior if needed. Given the idea that disks may or may not be down, which might be managed by some utiltiy, this might be a good opportunity to add some proper code design in the storage module in gene

[2020-06-30 16:17] delandtj commented on #838
myeah... I've been looking around in that net, and there are 2 things that were intermixed:
1) at first, I was dismissing this issue as a remnant from the fact that the user issued the same access config to multiple colleagues, and that we could close it.
2) on second (further inspection) it seemed that the aggregator node (the one with ipv4) didn't properly reconfigure the ipv6 part of the interf

[2020-07-01 06:47] zaibon commented on #838
Re-opening to track the bug found by @delandtj

[2020-07-01 14:06] DylanVerstraete commented on #856
We could rewrite the storage module to do following:

On startup:

- Only mount volumes which are activly in use by reservations (disable disk spinoff, since this will cause the hard drive harm in the long run)
- The volumes that contain no active reservations we can unmount and spinoff the disks.

If a reservation comes in and there is no space left on a mounted volume, we check if there are othe

[2020-07-01 14:16] zaibon commented on #856
That sounds reasonable. Keep also in mind that at boot capacity needs to have a complete view on all the disk to report the total capacity of the node. After this the unused disk can be shutdown.

We might also need to change the logic used to select disk. I think at the moment we filter all the disk with enough capacity, then sort it by free space in descending order, and pick the first one. This

[2020-07-03 13:05] MathiasDeWeerdt opened #860 "Creating a volume in 1 reservation and attaching it in another doesnt work"
I created 2 volumes in one reservation and paid for them, then I created a few containers and attached the storage to them in another reservation but that doesnt seem to work.

Note: If I do the volume creation and container creation in the same reservation, then it does work.

Volumes are registered in ID: 10194
Containers are registered in ID: 10195

Error:
![image](https://user-images.githubuse

[2020-07-06 07:15] zaibon commented on #860
I've looked at [10195](https://explorer.grid.tf/explorer/reservations/10195) and the way you attach the volume to the container is not correct.
[code]
The problems from from the `"volume_id": "-2"` which should be `10194-2` since you reference a volume that is already created.
When you use `-2` you say, mount the volume that is created in this same reservation with the workload ID 2.

If you use t

[2020-07-06 07:15] #860 closed, assigned to nobody

[2020-07-06 08:06] zaibon commented on #838
Can't reproduce the problem, And in v0.4 networkd will even stop messing with public config after boot so this bug is even less likely to appear.

[2020-07-06 08:06] #838 closed, assigned to delandtj

[2020-07-10 07:48] joefoxton opened #964 "GE: Question: How do we configure ZeroOS to use SSDs as memory swap space?"
When we originally purchased our hardware, ThreeFold advised us to include SSDs as swap space. We have reserved the SSDs for this purpose, but we are not sure that ZeroOS is using them as such. ie. we are not allocating SSDs to our S3 solutions. How can we configure ZeroOS to use the SSDs as swap space?

[2020-07-13 12:26] zaibon opened #861 "Provisiond should only keep one single instance of a network in cache"
Instead of just keeping all reservation ever made for a same network in cache, only the latest one should be kept.
When a new version come to the node, the it should replace the deprecated one from cache instead of just being stored next to it.

[2020-07-14 06:37] zaibon opened #862 "contd: allow to specify the hash of an flist next to the URL"

[2020-07-15 11:16] zaibon opened #864 "flistd should watch the 0-fs processes and cleanup after they stops"
At the moment, flistd just fires the 0-fs process in daemon mode and forgets about it.
This is a problem when a 0-fs crashes and leave the mountpoint dirty. flistd should watch the 0-fs processes and clean up behind it if needed.

[2020-07-27 06:11] mveplus commented on #857
Thanks, @delandtj for the tip!
I was playing with my HP microServer Gen8 with two 6TB HDD and one 120G SSD and 0-OS was running but not displaying the disks as available however during boot, they were detected in the 0-OS boot log. Disks had ZFS partitions coming from former FreeNAS setup. I did what you suggested using CloneZilla, and "hdparm" issuing "ATA secure erase" for each one, after that d

[2020-07-27 07:43] zaibon commented on #857
Cheers,

Indeed, 0-OS will "claim" the free disks and prepare them the way they need to be so they can be used by 0-OS.

[2020-07-27 09:45] zaibon opened #867 "firecracker build is broken"
https://github.com/threefoldtech/zos/runs/914002659?check_suite_focus=true#step:5:537

[2020-07-27 12:24] muhamadazmy commented on #864
This one is tricky due to the following reasons.
- We can't just leave the 0-fs processes attached (as children) to flistd, otherwise they will also die if flistd crashes or exits due to an update
- We can then instead keep a state somewhere on the system where flistd tries to use to make sure those "states" are actually running, in case the process associated with this state is gone, a clean up i

[2020-07-27 18:21] zaibon commented on #864
right, which was why we start it as a daemon in the first place.

This is interesting solution. Keeping a list of running 0-fs shouldn't be hard at all. 0-fs when started in daemon mode already writes its pid in a directory, so flistd could keep track of what flist is running under which pid. Watch a state change for any 0fs process and act accordingly.

This could be an idea, but that will not al

[2020-07-28 07:48] zaibon opened #868 "Allow container to have an ygg interface"
Same kind of feature then the public ipv6 for container, but instead of getting a public IP we assign an yggdrasil IP

[2020-07-28 07:56] muhamadazmy commented on #864
@zaibon restarting 0-fs on failure is never possible, because once the fuse process dies, the mount point is completely invalidated and all IO operation will return an error that the trasport endpoint is not connected. Restarting the process will not fix it, because that would be in a completely different mount namespace. Hence container is completely dead. The only way is to recreate the containe

[2020-07-28 11:58] zaibon commented on #864
But isn't it what is going to happen anyhow ? Because if the process in the container receives an IO error, it will crash. Then containerd will restart the container automatically with the exact same config. So if 0-fs is also restarted, the container will also be able to restart fine, no ?

[2020-07-28 12:03] muhamadazmy commented on #864
@zaibon Well, it's a good point but we can't be sure. does it only restart the failed task (process) or does it recreate all the namespaces from scratch? Also other questions
- We are not sure that the container entrypoint will crash if it receive an IO error. It's not like a sigfault, or a kill 9, that's an error that the process can completely choose to ignore.
- The scenario u suggest is a bit

[2020-07-29 11:33] zaibon opened #870 "weird error when creating a container with an entry point that doesn't exists in the flist"
workloads:
- https://explorer.testnet.grid.tf/api/v1/reservations/workloads/463016
- https://explorer.testnet.grid.tf/api/v1/reservations/workloads/463017

Logs from the node:
https://gist.github.com/zaibon/0a1e14f9b14c23cd736c97185b39f055

It seems the problem comes from the fact that the workloads description tried to start a container with an entrypoint that doesn't exist in the flist. Followin

[2020-07-29 12:21] muhamadazmy commented on #94
I don't think this is required anymore since we do a spin down for unused disks. I suggest we close this issue

[2020-07-29 19:12] m-motawea opened #871 "Network update failed on mainnet"
https://explorer.grid.tf/explorer/reservations/10589

the network contains 7 resources on different nodes but the result contains only 6 objects until the reservation expired.
the same problem happened with different reservations

[2020-07-30 08:03] zaibon commented on #861
we could do that indeed to avoid using cache storage for nothing, but it doesn't really hurt anymore since the introduction of the capacity pool there is no more expiration so there is no risk to decommission an old version of a network.

[2020-07-30 08:09] zaibon opened #874 "counter for network resource workload should only be increased when a new network is provisioned"
https://github.com/threefoldtech/zos/blob/912de085a44abbf3c7a7c84991f7e3fe9e29b21c/pkg/provision/engine.go#L185-L187
Right now any time a workload is provisioned, we always increase the counter. For most workload this is ok. But for the network resource type, it can actually be an update of an existing network and thus the counter should not be increased.

So what I think should be done to solve t

[2020-07-30 09:00] muhamadazmy opened #875 "flister: rework the hack that waits for the 0-fs mount."
Avoid waiting for the pid, and the "mount ready" string in logs. This code should be handled by 0-fs itself, in daemon mode the parent process should ONLY exist if the mount is successful, otherwise give an error.

https://github.com/threefoldtech/zos/pull/869#issuecomment-665615346

[2020-07-30 09:34] delandtj opened #876 "networkd: register dhcp client of ndmz in zinit"
While we get an IP address from the dhcp server for ndmz, once configured, the dhcp client isnt' started again.
After the Lease expiration, that IP is not registered in the DHCP pool any more, and that can create problems.
In se that is not a problem  for most DHCP servers as they verify with an arp request if a potential IP is already taken, but we don't know what dhcp servers are running in the

[2020-07-30 09:38] delandtj commented on #876
we could also register the (future) mac address of ndmz (that is: before ndmz is configured) into the explorer so that a farmer who is reluctant to have a dynamic pool as dhcp, can retrieve the mac address form the explorer and assign a static ip.

[2020-07-30 10:46] zaibon opened #877 "networkd panic"
[code]

[2020-08-04 08:41] PeterNashaat opened #887 "can't create a container on testnet"
- trying to create container on freefarm with tft or freetft is failling
 - tft error
<img width="1022" alt="Screen Shot 2020-08-03 at 3 58 30 PM" src="https://user-images.githubusercontent.com/13523434/89191669-8e2e3580-d5a3-11ea-9613-2c4dfe15ccca.png">

- freetft error is due to no resources available

[2020-08-04 09:24] DylanVerstraete opened #879 "Btrfs subvolumes are not cleaned up"
Since we want to add the disk shutdown feature we need to make sure there are no subvolumes on a disk before shutting it down. But right now we cannot do that because some subvolumes are never cleaned up.

For example if you reserve a zdb it creates a subvolumes on a disk, but when this reservation is expired or canceled this subvolumes is never deleted. Hence we can't shutdown the disk if it was

[2020-08-04 09:29] DylanVerstraete commented on #879
It has 77 subvolumes on 1 of the disks.
![Screenshot from 2020-08-04 11-28-07](https://user-images.githubusercontent.com/17138347/89277851-a5256400-d645-11ea-83f1-a65321a21d0d.png)
But in the explorer nothing is currently active.
![Screenshot from 2020-08-04 11-28-19](https://user-images.githubusercontent.com/17138347/89277864-a8205480-d645-11ea-8caa-55cca7354f39.png)

[2020-08-04 10:33] zaibon commented on #879
Regarding 0-DB, we could indeed also remove the subvolume used by the container but only when there are no more 0-db namespace reservation active on the node. Reason is 0-db container uses a single subvolume, but on this subvolume, multiple reservation lives. Other then this, I think we can safely implement that indeed.

Regarding the leftover subvolume, I think this is what is also addresses in t

[2020-08-05 04:24] scottyeager opened #880 "Farm Management doesn't show SRU reservations"
I have a few containers deployed on my own farm with SRU reservations, but 3Bot's Farm Management section does not show them:

![image](https://user-images.githubusercontent.com/17682591/89371588-a9c73800-d698-11ea-8c62-36844903eea2.png)

[2020-08-05 07:48] zaibon commented on #880
Can you give us the reservation ID that are supposed to consume SRU please ?

[2020-08-05 08:49] scottyeager commented on #880
Unfortunately, they have expired since I opened this. Let me try deploying some new ones and I'll report back if issue persists. Thanks.

[2020-08-05 09:09] scottyeager commented on #880
Hi @zaibon, I've deployed another Ubuntu container to my farm, with a nice big SRU allocation this time. Reservation ID: 10719. CPU/RAM is shown in the graphs as expected, but still showing 0 SRU reserved.

[2020-08-05 09:20] BolaNasr opened #881 "Change error message when deploying 2 k8s VM on the same node and same network"
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/464103

**Error message:**

```"message": "could not set up tap device: could not add tap device: Tuntap IOCTL TUNSETIFF failed [0], errno device or resource busy```

[2020-08-05 09:56] zaibon commented on #881
are you trying to deploy 2 k8s VM on the same node using the name network ?

[2020-08-05 10:12] #880 closed, assigned to nobody

[2020-08-05 10:31] BolaNasr commented on #881
I used chat-flow with normal scenario , it's by default create K8s cluster ( 1 master and 1 slave)
so it's create 2 k8s VM on the node it chosen by ZOS sal ( the same node)  with the same network.

[2020-08-05 10:57] PeterNashaat commented on #887
- getting this error now

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/464213

[code]

[2020-08-05 11:06] zaibon commented on #881
So this is indeed the problem, both are trying to deploy on the same node, which is not authorized:
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/464102
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/464103

An extra check needs to be done in the chatflow to avoid this. I will also try to return a more explicit error message from zos itself.

[2020-08-05 11:35] zaibon commented on #887
Can you write down the exact flow that lead you to this. Include eventual error or failure. Cause from what I understand the container was already half provisioned for you to get an error like this.

[2020-08-05 13:25] PeterNashaat commented on #887
- i was trying this [flist](https://hub.grid.tf/bishoy.3bot/threefolddev-taiga_all_in_one-latest.flist) with env variables, and got the error in this stage

<img width="975" alt="Screen Shot 2020-08-05 at 3 23 22 PM" src="https://user-images.githubusercontent.com/13523434/89417916-a59a2980-d72f-11ea-94d8-1e7e4798bd76.png">

[2020-08-06 06:39] zaibon commented on #877
fixed by https://github.com/threefoldtech/zos/commit/1342794609c6257af9484ad594825d8d53f59624

[2020-08-06 06:39] #877 closed, assigned to zaibon

[2020-08-07 06:18] zaibon commented on #807
The new reservation system is not on testnet, which should fix this issue.

[2020-08-07 11:03] zaibon commented on #871
I checked the node and I didn't see anything special there. So I'm not sure why the reservation was never processed by this node.

[2020-08-10 08:51] waleedhammam opened #885 "deployed containers can't resolve localhost on testnet and mainnet"
Added manually to /etc/hosts and still can't do it

[code]

also on mainnet
[code]

P.S: It works on devnet
flist: https://hub.grid.tf/bishoy.3bot/threefolddev-taiga_all_in_one-latest.flist
https://github.com/threefoldtech/tf-images/blob/master/taiga_all_in_one/start_taiga.sh

[2020-08-10 12:16] #867 closed, assigned to nobody

[2020-08-11 08:46] ranatrk commented on #887
I also got the same error `failed to load network resource: failed to create veth pair in namespace (1424-1): container veth name provided (eth0) already exists` when trying to deploy a container using this [flist](https://hub.grid.tf/bishoy.3bot/threefolddev-mastodon-latest.flist):

I created a pool, then a network, then was creating a container with mounted volume on "/" (which realised shouldn'

[2020-08-11 09:30] xmonader opened #888 "postscript or helm support for k8s solution"
Problem: We want to provide a solution based on k8s in the marketplace/admin dashboard [zeroCI](https://github.com/threefoldtech/zeroCI/blob/development/docs/installation.md). The installation steps are
1.  provision k8s
2. solution expose
3. ssh into the master
4. configure domain
5. k8s apply

Right now, steps 3 - 5 are not automated, first if using the marketplace we can use these wg config (th

[2020-08-11 09:41] zaibon commented on #888
Hum actually I'm not sure we want to go that direction. The k8s primitive how it is design at the moment is just to allow to deploy a k8s cluster. What you do with your cluster is 100% in the hand of the user. 0-OS doesn't have access inside the user workload and I think it should not.

From what I understand your issue is due to the fact that you are a service provide deploying workload on behalf

[2020-08-11 09:41] muhamadazmy commented on #888
Since k8s deployment is done over 2 stages
- Install
- Run

between the install and run we can actually mount the disk, and put the yaml files (that need to be add to the workload) then when the node starts, it runs the apply automatically

[2020-08-11 10:22] waleedhammam commented on #885
also on mainnet
[code]

[2020-08-11 11:12] zaibon commented on #885
You might want to check what your application is using to resolve hostnames.
I deployed an ubuntu container on testnet and I cannot reproduce your error.
At least using ping, I can resolve localhost just fine as long as the /etc/hosts file is properly configured.
[code]

0-OS by itself doesn't really mess with the hosts file of containers, so it's really up to the flist and the app to make sure ev

[2020-08-11 12:08] waleedhammam commented on #885
I've tried another flist it's the same, but they work ok on devnet

[2020-08-11 13:21] AhmedHanafy725 opened #889 "Can't create container on mainnet with FreeTFT"
I had tried to deploy more than network and ubuntu container on mainnet, and I couldn't ssh on the container or ping it.
e.g
https://explorer.grid.tf/explorer/reservations/10871
https://explorer.grid.tf/explorer/reservations/10872

[2020-08-11 13:41] zaibon commented on #889
Reason is the network was created with a wrong IP address as access point effectively preventing the second node to be part of the overlay network.
Fixed by https://github.com/threefoldtech/js-sdk/commit/3b1949b5529c42dc08b795511cd74493fc6f6940

[2020-08-11 14:12] #889 closed, assigned to nobody

[2020-08-11 15:53] siddiquagig opened #890 "EDD Probe error on server"
One of the farmers ( Recover-EFarm ) has their node stuck in the EDD probing error as shown below, he was being supported by someone from the team in setting up the 3SDK and then making a Farm through it.

He contacted us through the support chat , that his node is stuck on the below error:

![image](https://user-images.githubusercontent.com/25789724/89918854-9c1b3080-dc0b-11ea-8ceb-48387d670d02.p

[2020-08-11 16:00] delandtj commented on #890
machine check exception.
Most probably memory... see if reseating mem helps
on his IPMI he should see the MCE log somewhere

[2020-08-12 09:12] zaibon commented on #887
I found one problem in the mastodon chatflow. it was trying to deploy a container with 1byte of memory which cause the container to fail to install. It seems we have some bug in the way we handle error during container creation and another one that make the same reservation to be provisioned twice which lead to the error describe in the bug

[2020-08-12 11:10] ranatrk commented on #887
yes it was an issue caused when refactoring the chatflow. Thank you.

[2020-08-12 11:31] waleedhammam commented on #885
@zaibon  It's fixed after fixing permissions for /etc/hosts

[2020-08-12 11:34] #885 closed, assigned to nobody

[2020-08-13 08:09] zaibon opened #894 "Redo cable management in devnet lab to be able to monitor power consumption"

[2020-08-13 08:32] muhamadazmy opened #895 "volume: quota was not fully utilized. 10GB was the maximum written to a 20GB volume"
Node: `BSusuRh6qFzheQFwNPe1S5FA5pdSZVJwVLhpNS6GN4XD` (production)
Volume: https://explorer.grid.tf/explorer/reservations/10996

This volume is created with 20G limit, but it gives a `Quota Exceeded Error` while it's only 10GB full.

[2020-08-13 10:17] zaibon commented on #895
[code]
So I tried on node `2m3nHPSAMyZFSeg5HPozic2NGBMtrXrBkhtNcVmd5Ss6` and couldn't reproduce. So I don't think this is a bug in 0-OS itself. So I would more thing about something in btrfs itself.

[2020-08-13 10:38] joefoxton opened #928 "GE: Minio reservation failed with error "failed to ensure zdb containe running""
I tried to create a minio reservation in our Frankfurt farm. It failed with the following error message:

Sorry your reservation 11041 has failed :
ZDB: failed to ensure zdb containe running: failed to create container: OCI runtime create failed: container_linux.go:346: starting container process caused "process_linux.go:449: container init caused \"process_linux.go:415: setting cgroup config for

[2020-08-13 10:42] muhamadazmy commented on #895
@zaibon how big was this disk ?  did u try a 20G disk ?

[2020-08-13 10:49] zaibon commented on #895
actually there is already an issue in my previous test.
I wrote 2 time 10GiB but on the same file. So the total amount of data stored is still only 10GiB. Which means I shouldn't have had a quote exceeded error. Need to review how btrfs quota works cause it doesn't seems to only take in account actually stored data...

[2020-08-13 10:50] muhamadazmy commented on #895
Yeah i noticed, this is why i was asking what disk size you used.

[2020-08-13 11:35] #856 closed, assigned to DylanVerstraete

[2020-08-13 11:36] zaibon opened #896 "Investigate what happens with storaged is some disk cannot be shutdown be hdparm"
Following up https://github.com/threefoldtech/zos/pull/859 let's make sure storaged still behave on any type of disks.

[2020-08-13 11:44] #887 closed, assigned to zaibon

[2020-08-13 12:03] zaibon commented on #870
should be fixed by https://github.com/threefoldtech/zos/commit/d693d0656a8cc2bd7e72f10f1ef9d6082e43cec5
Closing now, we can re-open if this happens again.

[2020-08-13 12:03] #870 closed, assigned to nobody

[2020-08-17 14:00] DylanVerstraete commented on #881
@m-motawea can this be closed?

[2020-08-18 08:42] m-motawea commented on #881
I just added a check in the chatflow to choose different nodes for each vm in the same cluster.
it still won't help if the user tries to deploy another cluster in the same network.

[2020-08-18 11:25] muhamadazmy opened #898 "networkID: this method doesn't grantee a unique networkID"
https://github.com/threefoldtech/zos/blob/d693d0656a8cc2bd7e72f10f1ef9d6082e43cec5/pkg/provision/primitives/network.go#L64

The method computes the hash of 2 parts (name + user) then hash them. The problem is since both inputs are strings that 2 unique strings can still concatenated to build up a not-unique string

For example both (`test`, `user`) and (`testu`, `ser`) while unique pair will still

[2020-08-20 09:13] LeeSmet opened #900 "Allow farmer to choose whether to upgrade or not"
Right now all nodes automatically update, we need to add an option for a farmer to choose if he wants to upgrade

[2020-08-20 11:28] DylanVerstraete commented on #900
For now our idea was to add a field on the farmer struct that controls automatic upgrades for his nodes in his farm.
We might want to think about allowing manual upgrades and how we are going to handle that.

Also there are some more things to think about when a farmer decides not to upgrade his nodes. He will need to run his own explorer, migrate data, etc ..

[2020-08-21 00:54] scottyeager opened #902 "Network config for home routers with IPv6 but only IPv4 DMZ"
Submitting this for consideration at the request of @zaibon after chatting about limitations on my home router, both to document the range of router idiosyncrasies and also see if there's a way to make my node publicly accessible.

I have an Arris SBG10 cable modem and wireless router combo connected to Comcast in the US. IPv6 is supported by default, but there's no way to provide public access to

[2020-08-21 07:48] zaibon commented on #900
I think we need to have a more broad reflection about this. From the top of my head here are some question I think we need to answer:
- Does the choice apply on farm level or on node level ? Can a farmer choose to upgrade only some of it's node?
- What happens if a farmer decide no to upgrade and there are a breaking change with the explorer API ? Do we prevent the node from processing reservation

[2020-08-21 07:50] zaibon commented on #881
Before we close we need to change the error message returned by the node to make it more explicit and explain the problem to the user.

[2020-08-24 10:08] muhamadazmy commented on #895
I really think may be setting the limit on the exclusive space instead of the referenced space might actually fix the problem. I will try to do some tests locally and see how it goes

[2020-08-24 10:58] xmonader opened #904 "deploying a private solution"
We are planning to have a closed source solution/package to be deployed on the grid, but we don't want to expose the flist url, or even the content to be mounted in a generic container. what are our options?

I'm thinking maybe
- if we can somehow make flist url encrypted and maybe use secretenv to unlock it?
- the flist content itself to be encrypted?
- something else?

[2020-08-24 13:35] m-motawea opened #905 "Failed to deploy volume"
error message: `failed to create subvolume, logs might have more information`

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/467940

[2020-08-24 13:41] zaibon opened #906 "networkd: investigate firewall in container that have public IPs"
Quote from @delandtj :

We have to acknowledge the fact that we use containers as some sort of VM (with all unknown security issues) and putting it plainly on a public network, exposes all vulnerabilities of binaries and/or insecure scripts/services in that container.
Suddenly we will be responsible for that security, as even knowledgeable users won't be capable of setting it up securely, as they'

[2020-08-24 15:57] muhamadazmy commented on #895
- Trying to reproduce on
  - Loop device
  - Local disk
  - ZOS running in qemu

I couldn't reproduce the issue on either of the previous setups. So I am can't be sure that setting the exclusive flag will fix the issue. Also it makes it very wrong to just double the allocated space!

Can we have a node where this issue is produced, to try to set the limit on the exclusive space instead of the refe

[2020-08-24 16:10] m-motawea commented on #905
same error happened again on the same node
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/468217

[2020-08-25 10:19] m-motawea commented on #905
again on the same node
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/468544

[2020-08-25 10:33] muhamadazmy commented on #905
For some reason I don't see my comment here anymore. But as explained on the chat the physical disk on this machine is dead and need replacement. So machine is not usable atm.

[2020-08-25 10:59] #864 closed, assigned to muhamadazmy

[2020-08-25 12:21] zaibon commented on #900
After gather more information about what is actually expected around this, here is what is planned.

1st phase: We ask each farmer to sign an auto upgrade agreement. Once he has sign it, all it's farms have auto upgrade enabled. Nothing more then that.

2nd phase: We can reflect around how granular we want the upgrade to be and let the farmer be fully in control. For this we need to answer all the

[2020-08-25 12:21] zaibon commented on #900
3PRs open for this at the moment:
- https://github.com/threefoldtech/zos/pull/901
- https://github.com/threefoldtech/js-sdk/pull/616
- https://github.com/threefoldtech/tfexplorer/pull/150

[2020-08-26 07:21] #881 closed, assigned to DylanVerstraete

[2020-08-26 15:43] m-motawea opened #910 "Deploying volumes randomly fails with "not enough space left in pools of this type ssd""
the workload was registered but failed wih the mentioned error. the pool has "sus": 9336.877083333338 and the node should have enough sru for the volume
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/470017

[2020-08-27 06:50] zaibon commented on #910
Multiple things to take in account here.
1. At the moment having capacity in a pool doesn't mean this capacity it actually locked on the node. More detail from the [specification](https://github.com/threefoldtech/tfexplorer/blob/master/specs/modify_IT_contract_over_time.md):

2. The fact that the node report free storage and fail to allocate it seems it could be related to those issues:
- https://

[2020-08-27 08:11] zaibon commented on #874
![2020-08-27_482x153_scrot](https://user-images.githubusercontent.com/303164/91415004-a9602e00-e84d-11ea-8c12-667049727b71.png)

Devnet has been updated with this code, but after I refresh the explorer the number of network went up, not down so it seems we have an issue, I'll re-open

[2020-08-27 09:15] #876 closed, assigned to zaibon, delandtj, DylanVerstraete

[2020-08-27 10:42] #874 closed, assigned to DylanVerstraete

[2020-08-27 14:11] muhamadazmy commented on #895
- So I managed to reproduce the issue on node `2m3nHPSAMyZFSeg5HPozic2NGBMtrXrBkhtNcVmd5Ss6` but happened only when the subvol was created (and mounted) as part of a container reservation.

- Creating a subvolume manually and setting the same limit, when tested we managed to utilize the full allocated quota space.
- Deleting the container and trying again to allocate space on the volume (the one c

[2020-08-27 14:30] muhamadazmy commented on #895
This subvolume was created manually

![image](https://user-images.githubusercontent.com/10920323/91455568-84d27900-e882-11ea-833f-041fdcb737d5.png)

[2020-08-30 15:59] xmonader opened #913 "typo Uknown in the geoip code"
While checking in chatflows found
![image](https://user-images.githubusercontent.com/64129/91663654-8bfbc000-eaea-11ea-86ee-5343ba53e2d0.png)

which apparently coming from the geoip

![image](https://user-images.githubusercontent.com/64129/91663641-7be3e080-eaea-11ea-9a29-157da046289e.png)

should be unknown not uknown

[2020-08-30 16:23] #913 closed, assigned to nobody

[2020-08-31 11:02] tobiaschielens opened #915 "Process gets randomly killed"
### Description

Processes that take too many resources (build...) get killed randomly causing the build to fail

### Version information

* OS: e.g. Ubuntu 20.04, Windows 10
* project commit/version: 519c894c87b0feeb5ac05381df99ce0bd022d989
* Browser: chrome 84.0.4147.135
*
### Installation method

Via poetry

### Steps to reproduce

Deploy a list, run a process that builds something (yarn build

[2020-08-31 12:22] xmonader commented on #915
What kind of flist? do you use zinit or supervisord or something else?

[2020-08-31 12:30] abom commented on #915
Another question (maybe not related to the problem directly), why do we build in container after the flist is started? IMHO, the build should be included in the image/flist itself.

[2020-08-31 12:55] OmarElawady commented on #915
I had the same issue while building another solutions and it was caused by using more memory than what was allowed for the container. It was fixed by using a larger memory when deploying.

[2020-08-31 13:12] tobiaschielens commented on #915
@xmonader indeed a supervisord process for crystaldrive

@abom Indeed, but it is just a quick way of getting to the core of the issue ( processes being killed for using more memory than provided ) putting a big load on the flist will also work but building is quicker

@OmarElawady reserving more resources won't fix the issue as I didn't really need the recourses. In docker, resources can be limite

[2020-08-31 13:40] xmonader commented on #915
Okay will move it to zos repository as a feature request.

[2020-09-01 13:03] despiegk commented on #915
is per container, if a process uses more mem than container has, then it will get killed
this is normal behaviour.

[2020-09-01 13:04] delandtj commented on #915
not much 'random' about it... you request a certain amount of mem, exceeding it (trying to allocate more than requested) will have the process in that cgroup killed

[2020-09-01 13:08] delandtj commented on #915
we're using the same runc as docker has, I can't think of a situation where a process doesn't get killed if it tries to allocate more mem than reserved. that's how cgroups work.

[2020-09-01 13:10] muhamadazmy opened #916 "zdb: deploy zdb gives error 'address already in use'"
While deploying the workload https://explorer.testnet.grid.tf/api/v1/reservations/workloads/472974 it failed with

`failed to ensure zdb containe running: failed to prepare zdb network: address already in use`

`~ # ip netns|grep zdb

zdb-ns-201a81e7
zdb-ns-ee1fd86b
zdb-ns-119049e0
zdb-ns-652bde38
zdb-ns-1f1e6307
zdb-ns-5801d929
zdb-ns-fc7ff3d6
zdb-ns-c96a5865
zdb-ns-19520456
zdb-ns-7a7ea7d4
`

Qu

[2020-09-02 11:41] DylanVerstraete opened #918 "Provisiond hung"
Provisiond was hung on following node: 3BwDVNRigau8Zk6BQkJt5PLxrHQnJ5NTfNvAtuubC1eS

On grafana we found no logs of the past 24h for provisiond. After a restart it was working again.

[2020-09-04 06:53] DylanVerstraete opened #919 "Failed to retrieve owner of volume"
Saw this error on the explorer: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/474031

[2020-09-04 06:56] DylanVerstraete opened #920 "Failed to load network resource for containers"
Multiple occurences, for example: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/474036

[2020-09-04 07:20] muhamadazmy commented on #919
I checked the node, and it seems the cache subvolume was removed from the filesystem while mounted under /var/cache

Possible cause is the scheduled clean up didn't detect that this is a required subvolume and was force deleted. Will investigate code

[2020-09-04 07:26] muhamadazmy commented on #919
So it seems this cleanup code actually is not deployed on testnet, so it can't be it. So the only possible causes are:
- Someone has manually deleted the subvol
- Some freaky btrfs bug. But i don't see any errors in the kernel logs or anything regarding btrfs subvolumes.

We will try to fix the node manually.

[2020-09-04 07:31] muhamadazmy commented on #919
Manual fix is not possible, the `/var/cache` can't be mounted while it's broken. a full node restart is needed

[2020-09-04 07:36] muhamadazmy commented on #919
Unfortunately since `cache` volume is gone, the node will reboot with a new identity.

[2020-09-04 07:48] zaibon commented on #919
I did tested the cleanup code on one of the testnet node so it's probably this one. The cache subvolume was indeed deleted by the cleanup code.

[2020-09-04 07:51] muhamadazmy commented on #919
Ah okay then, this can be closed then. Thanks

[2020-09-04 07:51] #919 closed, assigned to muhamadazmy

[2020-09-04 07:55] DylanVerstraete commented on #920
Same node as https://github.com/threefoldtech/zos/issues/919

Node has been restarted, closing

[2020-09-04 07:55] #920 closed, assigned to nobody

[2020-09-04 12:43] muhamadazmy commented on #755
With the work done on substrade, I really think this one is obsolete now.

[2020-09-04 12:43] #755 closed, assigned to nobody

[2020-09-06 13:47] m-motawea commented on #916
more debugging info
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/474629
![image](https://user-images.githubusercontent.com/32568986/92327194-3a0de980-f058-11ea-8a0d-f2fe91f29b71.png)

[2020-09-07 10:43] zaibon opened #922 "provisiond: try to provision the same workload twice in 1 second"
[code]

[2020-09-07 13:43] zaibon commented on #918
Found a panic from provisiond, that could be related:
[code]

[2020-09-07 13:46] muhamadazmy commented on #918
So provisiond is probably stuck on a call to networkd that will never return. I will look into this

[2020-09-07 14:23] muhamadazmy commented on #918
That is the reservation that caused the problem http://explorer.testnet.grid.tf/api/v1/reservations/workloads/476043

- Checking the code this shouldn't happen unless the cached network resource object is corrupted. We will check the node in case we have any hardware issues.

[2020-09-07 16:35] #918 closed, assigned to muhamadazmy

[2020-09-07 16:36] #916 closed, assigned to muhamadazmy

[2020-09-08 14:57] zaibon commented on #895
Possible related bugs:
- https://bugzilla.kernel.org/show_bug.cgi?id=91031
- https://bugzilla.kernel.org/show_bug.cgi?id=103001
- https://bugzilla.kernel.org/show_bug.cgi?id=152071

[2020-09-08 19:39] m-motawea opened #927 "Containers can't resolve domain names"
suddenly deployed containers can't resolve any domain name.
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/477332
![image](https://user-images.githubusercontent.com/32568986/92520352-be5c9a00-f21b-11ea-8f79-525ed6a2609d.png)
![image](https://user-images.githubusercontent.com/32568986/92520357-c288b780-f21b-11ea-92bc-48f000202414.png)

[2020-09-09 06:47] zaibon commented on #927
~~zos is not modifying the DNS configuration of your container. Did you check how `/etc/resolv.conf` is configured?
I also didn't managed to reproduce this.~~

zos actually does bind mount /etc/resolv.conf inside containers, so it could be the network of the farm itself is the problem.

[2020-09-09 07:06] xmonader commented on #927
@zaibon in resolve.conf (wasn't touched)

[code]

[2020-09-10 10:17] zaibon commented on #927
Can you still reproduce the problem ?

[2020-09-10 11:43] DylanVerstraete opened #930 "Disk shutdown after decomission of last volume turns back on after some time"
So when we decomission a filesystem and it was the only one remaining on that disk we shutdown the disk. Turns out that after a few minutes this disk got turned on again. This is most likely btrfs doing some IO under the hood..

Proposed fix: run periodically check and see which disks are supossed to be OFF and they seem ON, turns these OFF again

[2020-09-10 12:13] xmonader commented on #927
Not since yesterday

[2020-09-10 13:36] zaibon commented on #927
ok so I'll put that on some networking glitch in the farm DC. I'll close for now feel free to re-open is that problems comes back.

[2020-09-14 08:09] zaibon opened #932 "Document how disk has to be prepared before booting 0-OS"

[2020-09-14 08:47] #930 closed, assigned to DylanVerstraete

[2020-09-14 08:54] zaibon commented on #709
State of devnet before we merge the #883

[2020-09-14 10:51] OmarElawady opened #933 "ZDB deployment fails with "failed to get network namespace""
While installing ZDB instances to deploy MinIO. All ZDBs seemed to be working fine except the ones deployed on the node "3dAnxcykEDgKVQdTRKmktggL2MZbm3CPSdS9Tdoy4HAF", it failed thrice with the same error and the whole thing worked after blocking deployment on this node.

Error message: "failed to find IP address on zdb0 interface: failed to get an IP for interface zdb0: failed to get network name

[2020-09-14 12:43] DylanVerstraete opened #936 "Add a flag to nuke a node and it's disks"
Currently we don't wipe / nuke any disks. There is a use case where this would be usefull.

[2020-09-14 12:49] muhamadazmy commented on #936
IMHO the flag should do the following:
- run custom script to wipe out all disks
- shut the node down.

[2020-09-14 15:12] zaibon opened #937 "can't list qgroups: quotas not enabled"
https://gist.github.com/zaibon/12bf8829617afdc434bb5494cd6607d4

[2020-09-14 15:33] #937 closed, assigned to zaibon

[2020-09-14 21:19] xmonader commented on #927
I've to reopen this, that networking error been happening almost daily around 6 pm   and 11:50 pm

summary of today's issues that happened

![image](https://user-images.githubusercontent.com/64129/93139369-e303b680-f6e0-11ea-9eea-16ed262a2549.png)
https://github.com/threefoldtech/tfgateway/issues/27

I created this flist ( https://hub.grid.tf/ahmedthabet.3bot/xmonader-ubudebug-latest ) to debug ub

[2020-09-15 07:04] DylanVerstraete commented on #932
Documented in:
https://github.com/threefoldfoundation/info_gridmanual/commit/b16ebb8fa87b1e382aeff1acf3bfa89dbc2a6fa5

Hosted on:
https://manual2.threefold.io/#/3node_prepare

[2020-09-15 07:04] #932 closed, assigned to DylanVerstraete

[2020-09-15 09:38] muhamadazmy commented on #933
So i checked the affected node and have found the following:
- When doing `ip netns` we can see that the namespace `zdb-ns-d424458c`
- When listing running zdb containers, we find 2 zdb containers running, one of them (container 'zdb7e770496-3138-4200-93a6-e4e8857fce16') is using the namespace `/var/run/netns/zdb-ns-d424458c`

So the namespace was deleted while being used by this container. we not

[2020-09-15 12:19] zaibon opened #941 "netoworkd: ygg interface in container should not receive IP from SLAAC"
The goal is to integrate Yggdrasil into 0-OS.
Use cases are:
- Use Yggdrasil as gobal routing network so IPv4 only nodes can still be part of the Grid
- 0-DB are always accessible over Yggdrasil (so ipv4 only nodes can still host 0-DB)
- User can ask to have an extra network interface in their container or k8s VM that has an Yggdrasil IP

Todo:
- [ ] Specification for networkd internal architectur

[2020-09-15 12:59] m-motawea opened #942 "Containers can't reach each other over yggdrasil"
I tried deploying multiple containers with yggdrasil enabled. they all received a global IPv6 address (range 2a02) and a yggdrasil ip (range 300). but none of the deployed containers could reach the other except when they are on the same node.

my workloads
481580
481587
481712
481716
481740

containers info:
container 1
[code]

container 2
[code]

container 3
[code]

container 4
[code]

container

[2020-09-15 13:11] waleedhammam opened #943 "Container logs forwarding error"
- Test reservation (minio): https://explorer.testnet.grid.tf/api/v1/reservations/workloads/481698
- Test reservation (threebot): https://explorer.testnet.grid.tf/api/v1/reservations/workloads/481589
- container logs configuration

![Screenshot from 2020-09-15 14-26-56](https://user-images.githubusercontent.com/10658229/93214655-bcd42a00-f765-11ea-9957-dfdcb1efebf7.png)

- Remote redis:

[code]
- S

[2020-09-15 13:15] muhamadazmy commented on #943
I check the following:
- The redis instance deployed was running in protected mode, hence it accepts connections but it doesn't allow any read/write operations. this probably what caused the SIGPIPE to be received.
- Fixing redis it seems will not allow minio to work again, hence i assume the shim crashed, and noway to restore it for that container
- Asked @waleedhammam to try a new container (wit

[2020-09-15 13:28] waleedhammam commented on #943
- It worked with deploying a redis instance using non-protected mode `redis-server --port 6378 --protected-mode no`

[2020-09-15 13:47] muhamadazmy commented on #943
We have 2 issues here:
- shim failure to forward the errors causes a SIGPIPE. IMHO if the shim fails for forwarding the logs it still should keep reading the pipe from the process to not cause this issue.

- We need now to find a way to allow using protected redis (with a password) without exposing the password on the public grid. Hence the redis url should be encrypted with the node public key, t

[2020-09-15 13:55] OmarElawady commented on #933
I unblocked the node and retried and everything works fine now (one ZDB was deployed on it). Also the script has run multiple times and it picks 13 nodes from freefarm and Mazr3a and this is the only node that failed with this error.

[2020-09-15 13:56] ashraffouda opened #944 "flist: invalid mount point while trying to deploy k8s"
I got this error while I was trying to deploy k8s
[code]
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/481837

[2020-09-15 14:01] muhamadazmy opened #945 "Encrypt `Log` section in container reservation"
Related to #943

Current the url to forward the logs to is not encrypted. This url can (should) have passwords or access keys so logs can be forwarded to protected redis installations.

[2020-09-15 14:39] muhamadazmy commented on #944
Confirmed! the only possible way this happens is that the 0-fs process has crashed.
I checked the logs and I got this
[code]
I am not sure if this is the global file number limit on all processes. or the number of files for this process. Anyway i checked the other working 0-fs processes and they have limits as follows

[code]

While this is still small limit for number of files, but it's probably

[2020-09-16 08:58] zaibon commented on #933
@OmarElawady so we can close this now ?

[2020-09-16 10:30] muhamadazmy commented on #944
Okay, so this is not coming from the "max open files" instead it's caused by the inotify system which has way smaller limit than the number of open files.

We use inotify in 0-fs to monitor the mount point for 'unmount' operations, once a mount point is mounted the fs can cleanly shutdown.

The default limit is `128` it means we have upper limit on number of 0-fs that can run on zos to 128 mounts.

[2020-09-16 10:36] zaibon commented on #944
Could it be a solution that does not involve inotify maybe ?

[2020-09-16 10:42] muhamadazmy commented on #944
The way we did it before is calling `mountpoint` command on the target repeatedly until it return 'false' then the fs knows it has been unmounted and exits cleanly. Inotify solution was an improvement because of realtime nature and the fact that we are not executing processes 'mounpoint' all the time.

The only other solution is to implement the 'mountpoint' command logic in go, but this still gon

[2020-09-16 11:45] OmarElawady commented on #933
Sure, I didn't face it again.

[2020-09-16 12:00] #875 closed, assigned to nobody

[2020-09-16 13:26] zaibon commented on #868
I'll reopen this one cause the solution I proposed doesn't work properly:
- https://github.com/threefoldtech/zos/issues/942
- https://github.com/threefoldtech/zos/issues/941

We need to review the architecture of the network to  properly support both yygdrasil use cases: 0-DB and container.

[2020-09-16 14:49] #933 closed, assigned to nobody

[2020-09-16 15:31] OmarElawady commented on #910
Had the same issue for two workloads on the node "A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7".

Workloads: [482883](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/482883) [482995](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/482995)

[2020-09-17 09:44] #944 closed, assigned to muhamadazmy

[2020-09-17 10:48] waleedhammam commented on #910
also today

![image](https://user-images.githubusercontent.com/10658229/93460758-05195680-f8e4-11ea-8ae4-e658b62b7fb8.png)

workload: 483423
node: `A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7`

[2020-09-17 14:07] RafyAmgadBenjamin commented on #910
![image](https://user-images.githubusercontent.com/46320202/93482297-d90bce80-f8ff-11ea-876a-8f75e71dede3.png)
workload : 483693
node : `A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7`

[2020-09-18 09:29] muhamadazmy commented on #861
What does that solve ? I mean the current "generic" reservation cache solution works fine for all types, why break this generic code on favor for a special case one?

[2020-09-20 11:52] xmonader commented on #758
same issue https://explorer.testnet.grid.tf/api/v1/reservations/workloads/484637

message: "failed to load network resource: failed to set route {Ifindex: 3 Dst: 0.0.0.0/0 Src: <nil> Gw: 10.100.8.1 Flags: [] Table: 0} on eth0: network is unreachable",

[2020-09-21 08:32] muhamadazmy commented on #945
The possible 2 solutions:
- Use the current defined attributes, and always decrypt them before we use the value it holds.
  - While this one will have the cleanest structure, it's not backward compatible.
- Add extra attributes (secret_stdout, secret_stderr) and use these instead. and fall back to planetext ones if these are not set.
  - You can not enforce users to use these fields.
  - The name

[2020-09-21 12:33] xmonader opened #950 "failed to create network resource for network 7wUMhkuNzw9aK"
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/485525

[code]

node A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7 is having lots of failures too

[2020-09-21 13:43] xmonader opened #952 "2.2 upgrade issues (follow up)"
Reservation: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/485591
Error: message": "error starting container: invalid entrypoint definition ''",
—-
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/485583
Error: "message": "error starting container: mkdir /run/containerd/io.containerd.runtime.v2.task/ns573/485583-1: file exists: unknown",
—-
Reservation: https://explo

[2020-09-21 18:53] xmonader commented on #950
another one
[code]
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/485714

node id: 72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib

[2020-09-21 19:33] xmonader opened #955 "improve the flow for nodes to accept a reservation to avoid dns errors or networking failures"
it happens quite often #927 and here https://github.com/threefoldtech/js-sdk/issues/1239 too we need to think of a way for nodes to only accept reservations if they have the right networking configurations , because once the deployment happens on a node we are out of options for choosing another node

[2020-09-21 22:16] xmonader commented on #927
again around midnight zeroCI got  reachable again after downtime of 6 hours
[code]
and these too i couldn't reach are suddenly reachable

ahmedthabet-threebot-myx.tfgw-testnet-01.ava.tf
ahmedthabet-threebot-aay.tfgw-testnet-01.ava.tf

[2020-09-22 05:42] zaibon opened #956 "flistd: fail to umount flist"
[code]

Seems it can happen the mountpoint is dead but the 0-fs process is still running.

[2020-09-22 05:46] zaibon opened #957 "contd: improve retry logic when container fails to start"
![2020-09-22_3494x695_scrot](https://user-images.githubusercontent.com/303164/93847610-af5bfa00-fca7-11ea-9217-127bbd64e36a.png)

[2020-09-22 05:48] zaibon opened #958 "decommissioning of reservation failed: failed to connect to 0-db: zdbd47bbb48-3070-4cdf-bd3f-fb8d3103980a: dial unix /var/run/zdb_zdbd47bbb48-3070-4cdf-bd3f-fb8d3103980a/zdb.sock: connect: resource temporarily unavailable"
![2020-09-22_3511x548_scrot](https://user-images.githubusercontent.com/303164/93847685-dfa39880-fca7-11ea-9662-62fe9ea8d85b.png)

[2020-09-22 07:32] muhamadazmy commented on #952
All this issue are caused by the same issue. 0-fs was not updated correctly on the nodes, while other daemons were depending on newer version of 0-fs.

The problem is this also caused update process to get stuck. Luckily we managed to push the correct 0-fs version to mainnet. But the update process is not complete yet. We need to create multiple minor release to do some clean up.

[2020-09-22 07:50] xmonader commented on #950
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/485841

node id 72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib

[2020-09-22 09:13] muhamadazmy commented on #950
After some investigation the problem seems to be that the network resources is trying to use a port that is already used on zos. For example, this reservation here https://explorer.testnet.grid.tf/api/v1/reservations/workloads/485525 is trying to use port `3356`.

![image](https://user-images.githubusercontent.com/10920323/93863831-52227180-fcc4-11ea-8978-78aac2fe7203.png)

But the thing is, this

[2020-09-22 10:09] maxux opened #960 "Wrong pool size in zui on fresh vm"
Booting a VM using latest code, with 2 disk of 50G leads to wrong pool size creation.

Reproduce:
Create vdisks:
[code]

Boot the VM:
[code]

Everything looks good (report on explorer, etc.)
But pool on zui show size of `1536 M`, whatever is the disk size (100, 200, 800G...)

![image](https://user-images.githubusercontent.com/4141584/93907504-b281d500-fcfd-11ea-8949-f14c9d5a5296.png)
[code]

Secon

[2020-09-22 10:47] #950 closed, assigned to muhamadazmy

[2020-09-22 10:54] zaibon commented on #957
So what seems to have happened is the the 0-fs process providing the files for the container crashed:
[code]

And thus the container also crashed, and since the workloads was not asked to be deleted, containerd just keep trying to restart the container, but fail because of the 0-fs process that is dead

[2020-09-22 11:16] zaibon commented on #957
We should probably improve the retry logic used by containerd. Instead of blindly trying to restart a container forever we should be smarter and if we detect the container just keep restarting immediately, we stop trying to restart and send an error in the workload result, so the user know he should decommission the workload

[2020-09-22 12:16] muhamadazmy opened #962 "pacakge manager for zos"
the package manager is not going to be used to install pacakges instead it will do the following:
- No dependency on 0-fs
- Track ownership of installed files
  - which packages installed which file to avoid conflicting packages
- Ensure dependencies of packages (dependencies are updated first)
- Be able to bring the node to a 'consistent' set of installed packages (state manifest)
- Validation of

[2020-09-22 12:53] muhamadazmy commented on #958
Resource temporarily unavailable means that the unix socket backlog is full and it can't accept more connections. or the process ran out of open file descriptors.

We need to review the code for potential leaks.

[2020-09-22 16:01] maxux commented on #960
Original message updated.

[2020-09-23 07:51] zaibon commented on #964
0-OS doesn't use [swap](https://en.wikipedia.org/wiki/Paging#Unix_and_Unix-like_systems) in the sense we usually talk about swap for linux system. Instead, 0-OS does reserve a portion of one of the disk (preferably an SSD if available) of the node to use it as a cache for all the files required to run the containers (flist).

So there is nothing to do or configure yourself, this disk selection is

[2020-09-23 07:51] #964 closed, assigned to nobody

[2020-09-23 08:03] zaibon commented on #807
as of Grid 2.2, this behavior is not yet present. If any workload failed to deploy properly it doesn't affect/cancel any other anymore.

[2020-09-23 08:03] #807 closed, assigned to nobody

[2020-09-23 08:08] zaibon opened #966 "zos: network instability"
It's been a couple of weeks we get some weird issue reported for 0-OS node that have some instability in the network.
We should investigate the root cause and address the problem. Here is a list of all the issues that might be related:

Container network doesn't work for outbound traffic:
- [x] https://github.com/threefoldtech/js-sdk/issues/1239
- [x] https://github.com/threefoldtech/zos/issues/92

[2020-09-23 08:37] zaibon commented on #861
Network resources are a bit of a special workload. It is the only one that you can update/modify at runtime.
So usually the same node will have multiple version of the same network resource. The problem with keeping all of them in cache is that if for any reason, any of the version of the network resource workload is cancelled, the full network on this node is going to be removed.

So by only keep

[2020-09-23 09:03] maxux opened #967 "provisiond: network not cleaned correctly if container provision fails"
It looks like when a container cannot be started for some reason (here, OCI issue, but that's not the issue), network is not cleaned up after the error:

[code]

The new `veth` interface is still present after error.

[2020-09-23 09:25] zaibon commented on #927
I've started a container on the same farm and started some ping and dns lookup in an infinite loop. Let's see if we can catch some glitch from the node itself.

[2020-09-23 09:47] xmonader commented on #966
also there was this workload

[code]

https://explorer.grid.tf/api/v1/reservations/workloads/11847

- workloads: 11846, 11848, 11847, 11849
and it was on vcc

[2020-09-23 12:28] OmarElawady opened #969 "cp doesn't work on a node in freefarm"
These workloads got deployed successfully but they were not doing what they were supposed to do. After sshing into the container the cp command fails with this error:

`cp: skipping file '/config/nginx.conf', as it was replaced while being copied`

`touch /config/nginx.conf` then copying works.

It happened only on the node A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7. It doesn't appear on other n

[2020-09-23 14:54] #945 closed, assigned to muhamadazmy

[2020-09-23 16:04] xmonader commented on #969
this one also seems related
12663
12665
12664
12666

node id : Ddstj2hPbGip8Ci26TUaEzY52DHZs3JphLFXy9UgWSRS

waleedhammam-peertube-byebola.tfgw-prod-06.gateway.tf

[2020-09-23 16:39] xmonader commented on #966
possible problem https://github.com/threefoldtech/tfgateway/issues/30

[2020-09-24 07:40] xmonader commented on #969
seems to be the same on 2m3nHPSAMyZFSeg5HPozic2NGBMtrXrBkhtNcVmd5Ss6
- wids: 486575, 486577, 486576, 486578
- ahmedthabet-peertube-pv.tfgw-testnet-01.ava.tf
- https://explorer.testnet.grid.tf/api/v1/reservations/workloads/486594

http://ahmedthabet-peertube-pv.tfgw-testnet-01.ava.tf

and also when tried mattermost
- wids: 486590, 486593, 486592, 486594
- node 6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJo

[2020-09-24 07:47] muhamadazmy commented on #969
Okay, it seems i can reproduce on my system! This looks like a regression bug of some sort, because this did not happen before

[2020-09-24 10:30] waleedhammam opened #972 "IPv4 only node should not add a default route for IPv6 in containers"
[code]
explorer: mainnet
nodeID: `ABcyQLdSQJhQ96cq5ExrsnXKSeS2trAhpizfpf742f3h`
wids `[12942
12944
12943
12945
]`

farm: vcc - Austria

[2020-09-24 10:35] xmonader commented on #966
vcc problem https://github.com/threefoldtech/zos/issues/972

[2020-09-24 11:04] muhamadazmy commented on #969
Should be fixed by: https://github.com/threefoldtech/zos/pull/971

[2020-09-24 11:12] zaibon commented on #966
This is unrelated to the issue from this story. But a bug nonetheless and will be addressed in another PR.

Regarding the issue for container that fail to reach outside IPs, We have discovered that for an unknown reason yet, some of the routing table from the node are messed up. the default route is gone. This means no IPV4 traffic can go out of the node anymore. So this could explain why containe

[2020-09-24 11:19] muhamadazmy opened #973 "cache: some nodes are complaining that quota limit has been reached"
- We need to do one (or all) the following:
 - Increase or remove cache limit all together
 - Periodic clean up of 0-fs cache removed stall files that hasn't been accessed in long time

[2020-09-25 10:06] #927 closed, assigned to delandtj

[2020-09-25 10:49] zaibon commented on #973
@muhamadazmy do you have the node ID of the affected node by any chance ?
Cause we do set the cache filesystem quota to 100GiB now: https://github.com/threefoldtech/zos/blob/2b7427b915cd6fc1b7c52ef92d3021f2213d730b/pkg/storage/storage.go#L29

we might have reached it on some node, but I doubt it.

[2020-09-25 11:05] muhamadazmy commented on #973
It seems that this node qouta was not updated, I had to manually remove the limit on the node cache.

![image](https://user-images.githubusercontent.com/10920323/94260011-ba28c000-ff2f-11ea-89f7-c906058925a8.png)

![image](https://user-images.githubusercontent.com/10920323/94260043-c3b22800-ff2f-11ea-9dc8-627fdee14966.png)

The node id was: `3dAnxcykEDgKVQdTRKmktggL2MZbm3CPSdS9Tdoy4HAF`

[2020-09-25 11:20] zaibon commented on #973
hum this is pretty weird. I check the code path and the line where should set the quota should always be reached when storaged starts...

[2020-09-25 11:44] zaibon commented on #973
I was wrong, I did find a code path that prevent the quota to be set on the cache filesystem. Opened https://github.com/threefoldtech/zos/pull/977 to fix it.

[2020-09-25 11:53] #973 closed, assigned to nobody

[2020-09-28 13:31] m-motawea opened #979 "Container with two network connection only sees one interface"
I created a container workload and added a second network connection to it but it sees only one nic in the deployed container

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/487754

[code]

[2020-09-28 13:37] delandtj commented on #979
?? a second network interface ??

[2020-09-28 13:45] m-motawea commented on #979
yes a second network interface. is that not supported?

[2020-09-28 13:51] zaibon commented on #979
At the moment 0-OS only read the first network config from the workload description. The reason you can define multiple was to allow support multiple private network in a container. But this was never tested enough to be enabled. If this is now a requirement for something we can re-add it into our sprint to spend some time on it.

[2020-09-28 13:59] xmonader commented on #979
@zaibon is there a way around it at this moment (I know Yggdrasil not happening right now too)?

 The current use case we create a 3bot container on a network `A`  owned by the 3bot deployer and @despiegk wants the ability to
1- create a network from that 3bot `mgmt`
2- connect the 3bot running on network `A` to network `mgmt`
3- allow solutions to deploy on that `mgmt` network

If there's a way a

[2020-09-28 14:01] #952 closed, assigned to zaibon

[2020-09-28 14:17] zaibon commented on #966
Fixes for all the linked issue are now live on mainnet. Closing the issue.

[2020-09-28 14:17] #966 closed, assigned to zaibon

[2020-09-28 14:55] zaibon commented on #979
There is no work around for such a scenario at the moment no.
And there is problem in this flow. There is no way for a container to connect to a new network after it has been created. So even if container could have 2 private networks today, the point 2 would still not be possible.

[2020-09-28 17:22] dmahmouali opened #980 "Failed to create read-write subvolume for 0-fs: Not enough space left in pools of this type ssd"
- when I try to deploy 3Bot on https://deploy3bot.grid.tf/ get this error.
- workload: https://explorer.grid.tf/api/v1/reservations/workloads/14077
- message: "failed to create read-write subvolume for 0-fs: Not enough space left in pools of this type ssd",
![image](https://user-images.githubusercontent.com/36021484/94465079-a4312e80-01bf-11eb-9ec3-7574fb52b3c0.png)

[2020-09-29 09:30] delandtj commented on #979
shouldn't we close that issue and work out an FR for that ?

[2020-09-29 10:13] OmarElawady commented on #969
Reproduced on mainnet:
![Screenshot from 2020-09-29 11-33-25](https://user-images.githubusercontent.com/13040543/94545645-1a2fa700-024d-11eb-906f-317c35743c21.png)
Node: Ddstj2hPbGip8Ci26TUaEzY52DHZs3JphLFXy9UgWSRS
wid: 14391

[2020-09-29 10:19] waleedhammam commented on #910
on mainnet, I got it with these reservations too

`"message": "failed to create read-write subvolume for 0-fs: Not enough space left in pools of this type ssd",`
`"message": "Not enough space left in pools of this type ssd",`

- https://explorer.grid.tf/api/v1/reservations/workloads/14576
- https://explorer.grid.tf/api/v1/reservations/workloads/14478
- https://explorer.grid.tf/api/v1/reservations/

[2020-09-29 10:38] muhamadazmy commented on #969
We did not release this fix on mainnet yet. Last release (with the fix) is a "pre-release" which means it only available on testnet

[2020-09-29 10:39] muhamadazmy commented on #969
Ops, my mistake, it seems we have released for mainnet. let me check if the update made it

[2020-09-29 10:43] muhamadazmy commented on #969
I checked the nodes, and idd this node does not have the latest 0-fs with the fix. Checking why

[2020-09-29 11:05] muhamadazmy commented on #969
Latest update: it seems we indeed release the fix for mainnet, but for some reason, it seems the version was not updated on the hub correctly for mainnet. hence all nodes on mainnet do not have the fix.

[2020-09-29 11:14] DylanVerstraete commented on #980
This issue could be related to https://github.com/threefoldtech/zos/issues/709

I checked the node, it has only 1 SSD which is almost full:

![Screenshot from 2020-09-29 13-12-24](https://user-images.githubusercontent.com/17138347/94551320-75fe2e00-0255-11eb-97ab-8988d6e5480a.png)

As you can see in the screenshot it tries to provision this workload but if fails because the total size on disk woul

[2020-09-29 14:32] zaibon commented on #969
I force push the latest version on mainnet. @OmarElawady can you validate that new container do not have this issue anymore ?

[2020-09-29 15:33] OmarElawady commented on #969
I tried it now and it works. workload 15121
![Screenshot from 2020-09-29 17-32-48](https://user-images.githubusercontent.com/13040543/94580121-d1daae00-0279-11eb-8b76-3b58ff27669f.png)

[2020-09-29 15:56] #969 closed, assigned to muhamadazmy

[2020-09-29 16:56] xmonader commented on #979
Don't think so, this one is for a feature to define multiple networks for containers which isn't working correctly, I'll create another issue for the scenario we're trying to achieve and suggested solutions

[2020-09-30 11:16] waleedhammam commented on #910
More nodes:

- https://explorer.grid.tf/api/v1/reservations/workloads/15461

[2020-09-30 11:32] LeeSmet commented on #910
related logs on the node:

[code]

one thing which is interesting is the reported `size` when creating a new subvolume, which is actually max int32 + 1, not sure if this is a coincidence or not. It also seems that we start the provision twice

[2020-09-30 12:30] zaibon commented on #967
Hum from the logs and the code flow, it seems the container is properly gone, so I'm really not sure what could still be holding a reference into the network namespace of the container that prevent it to be cleaned up.

[2020-09-30 15:29] zaibon commented on #922
More occurrence of the problem: https://github.com/threefoldtech/zos/issues/910#issuecomment-701332924

[2020-09-30 15:31] zaibon commented on #910
I guess it's coincidence, we use uint64 for all size of disks.

There is an open bug for this: #922

[2020-10-01 08:22] DylanVerstraete commented on #94
Closing in favor of the new design of storaged where storagepools are created forehand but not mounted when they are not needed.

[2020-10-01 08:22] #94 closed, assigned to nobody

[2020-10-01 08:34] DylanVerstraete commented on #647
@zaibon is this a duplicate of https://github.com/threefoldtech/zos/issues/881?

[2020-10-01 08:35] DylanVerstraete commented on #681
Is this on a VM?

[2020-10-01 08:36] DylanVerstraete commented on #700
How to reproduce?

[2020-10-01 08:38] DylanVerstraete commented on #712
@siddiquagig can you verify this is still an issue with the lastest image we provide on https://bootstrap.grid.tf/? Thanks

[2020-10-01 10:17] zaibon commented on #681
no, it's a bare metal server.

[2020-10-01 10:18] zaibon commented on #700
No idea yet. That was a log I saw one time while looking at them. I wasn't trying to do anything special.

[2020-10-01 12:21] maxux opened #983 "Ensure flist hash are correct before mounting it or assume they are present"
It seems that if an flist is present on the cache but is not correct, `identityd` doesn't check for consistency.

[code]

Hash is invalid (file is empty, for some reason):
[code]

There is two improvement we can made:
- [ ] `identityd` should check consistency and redownload file if it's invalid
- [ ] `flistd` should check file consistency before starting `g8ufs` just in order to provide a clear e

[2020-10-01 15:35] OmarElawady opened #985 "Can't install packages on ubuntu"
After deploying ubuntu 20.04 on node 2hgRioV9ZKe8Apnm84TZn8Bn5XczyPU2nkPmozUY4rYw and installing curl using apt:
[code]
I get this error:
[code]
On a new container on the same node I executed the following and it worked:
[code]
This issue happened also on these nodes (the ones I tried):
Hb6oVe2B5v9UBzDcDeQfZGn5bwFeM2R3rJh6U93AWfiN
54S1qFXxWgnjmvEFVvqUbR7dHhvCshLbQrp2UpmE7GhZ
9WhwSbM2xBNb9E3ws3PNJf

[2020-10-06 07:25] #972 closed, assigned to nobody

[2020-10-06 07:45] #956 closed, assigned to nobody

[2020-10-06 08:04] #879 closed, assigned to DylanVerstraete

[2020-10-06 09:37] zaibon commented on #709
Code is live on devnet. I'll keep this open until we have properly monitor

[2020-10-06 12:53] zaibon opened #988 "the storage reserved by zos itself for its cache is not taking in account in the resource reported to the explorer"
When the node report it's total and used capacity to the explorer, the capacity reserved by 0-OS itself for its cache is no taken in account. This lead to the node reporting more storage available then it can actually use which then leads to problem during capacity planning.
We should take the cache size in account when reporting total capacity to the explorer.

[2020-10-06 13:13] #983 closed, assigned to zaibon

[2020-10-07 06:20] zaibon commented on #709
@DylanVerstraete I've inspected the logs and I didn't seem to find any sign of the cleanup being triggered around midnight as it should. (http://10.4.0.250:3000/explore?orgId=1&left=%5B%22now-12h%22,%22now%22,%22Loki%22,%7B%22expr%22:%22%7Bmodule%3D%5C%22provisiond%5C%22%7D%20%7C%3D%5C%22start%20cleaning%20up%20resources%5C%22%22%7D,%7B%22mode%22:%22Logs%22%7D,%7B%22ui%22:%5Btrue,true,true,%22none

[2020-10-07 12:22] DylanVerstraete commented on #980
Currently testing out the PR on devnet. Once we get good results we will release on testnet

[2020-10-07 15:06] OmarElawady commented on #985
Same issue happened when installing nginx on BDhpLyV28Y6Njy54WnB2Rkn6eHdEUbMu3GwTTs65rGAG

[2020-10-09 07:39] muhamadazmy commented on #957
This has the following setbacks:
 - The restart option in containerd does not have the option to control how many times to restart, delay or even a hook to an external binary on container crash.
 - BUT the containerd provides an event system where clients can subscribe to. So we can still subscribe to events from containerd (not sure yet about the kind of events provided by this channel). there is

[2020-10-09 08:24] zaibon commented on #709
![2020-10-09_3514x807_scrot](https://user-images.githubusercontent.com/303164/95560388-8367a500-0a19-11eb-8782-e03642ab84b0.png)

@DylanVerstraete
Seems we have some weirdly name filesystem that are not handled properly by the cleanup.

[2020-10-12 13:04] zaibon opened #995 "make zos report the version of each daemon to the explorer"
By sending to the explorer the version of all the component, we can more easily identity issues. This information could also be used to decide if a node is healthy or not by comparing what version each daemon is running to the expected version it is supposed to run.

[2020-10-12 13:07] maxux commented on #995
Could be possible to keep somewhere information like date when it was updated ? (and maybe more information, don't know)

[2020-10-13 08:54] zaibon commented on #957
I was also looking into the event system to solve this. I think this is a nice way to solve it.
I did inspect what kind of even are emitted by container when stopping a container: https://gist.github.com/zaibon/7cdc6901677b562405bcc2ad57019442

I only have one concerned in your proposal. Provisiond must be notified when contd stops trying to run a container. If provisiond is not notified, then the

[2020-10-13 09:17] muhamadazmy commented on #957
Yeah, i already did the same check, and I have all the events i needed already. working on the code in contd already to process the events in the right way to decide when to kill the container.

Regarding provisiond it's either we have to expose a method on zbus from provisiond to handle this kind of notifications. it will mark the reservation on the explorer as failed, and also set the cache.

[2020-10-16 12:39] muhamadazmy commented on #704
I was checking the code regarding the reported capacity and:
- I can't seem to spot where exactly we report back 'realtime (or even eventual)'  capacity consumption back to the explorer. capacityd only report the capacity one time on registration.
- It also seems that provisiond does not really report this back as well when deploying new reservation
(I am wondering if i missed something)
- But if

[2020-10-18 11:17] waleedhammam opened #1001 "Unable to reach container/network after deploying"
explorer: mainnet
workload id: https://explorer.grid.tf/api/v1/reservations/workloads/22073 [22074, 22072, 22073, 22075]
network workload id: https://explorer.grid.tf/api/v1/reservations/workloads/22080 [22076, 22079, 22080]

wireguard status

[code]

ping status

[code]

[2020-10-20 08:01] #957 closed, assigned to muhamadazmy

[2020-10-21 06:50] zaibon opened #1002 "TLRE farm: networkd fails to find ipv6 in NDMZ"
Followup from https://forum.threefold.io/t/zos-freezes-with-dual-ipv6-connections/622

[2020-10-21 06:57] zaibon commented on #709
[code]
Found 2 more case we do not handle properly yet.

edit: Addressed in https://github.com/threefoldtech/zos/pull/1005

[2020-10-21 12:36] DylanVerstraete opened #1004 "adapt decomission code to force a decomission on a pool that is not mounted"
Saw this decomission loop on `FTothsg9ZuJubAEzZByEgQQUmkWM637x93YH1QSJM242` on devnet.

![Screenshot from 2020-10-21 14-33-58](https://user-images.githubusercontent.com/17138347/96720177-bf502200-13aa-11eb-8d11-d5c0900df30b.png)

Seems like it tries to decomission a zdb but the pool is not mounted, we should add a case for this.

[2020-10-21 13:54] DylanVerstraete commented on #1004
addressed in: https://github.com/threefoldtech/zos/pull/1003

[2020-10-22 06:12] #988 closed, assigned to DylanVerstraete

[2020-10-22 06:59] #709 closed, assigned to DylanVerstraete

[2020-10-22 07:00] zaibon commented on #910
handled in https://github.com/threefoldtech/zos/issues/709

[2020-10-22 07:11] zaibon opened #1006 "storaged: weird behavior when trying to mount cache"
found on node qzuTJJVd5boi6Uyoco1WWnSgzTb7q8uN79AjBT9x9N3
[code]

[2020-10-22 08:18] delandtj commented on #967
zinit or another process?

[2020-10-22 08:45] zaibon commented on #967
so you suspect the containerd-shim would somehow reattach to zinit process ? Sounds weird to me.

[2020-10-22 11:41] #1004 closed, assigned to DylanVerstraete

[2020-10-22 12:10] DylanVerstraete commented on #704
@zaibon what is the status of this? Did we fix this in https://github.com/threefoldtech/zos/issues/709?

[2020-10-22 13:27] zaibon commented on #704
yes indeed, I think all the work regarding #709 should have fix this issue too. I'll close it

[2020-10-22 13:27] #704 closed, assigned to nobody

[2020-10-22 14:05] DylanVerstraete commented on #438
What if we used [vault](https://github.com/hashicorp/vault)? We can make it possible that the farmer can run his own instance of Vault on the threebot! It would make recovering his own keys even possible.

Let's say a farmer has the capability to initiate a backup for a specific node. in the farmer threebot he can authorize this request to store the node's keys in the vault.

If a node's keypair i

[2020-10-23 07:15] DylanVerstraete commented on #922
@zaibon issue still relevant?

[2020-10-23 07:19] gneumann333 opened #1019 "GE: Node on SuperMicro Server cant syncronize Time and Date during Network initilzation"
Node reboots and download the .efi image from the Router.
ZeroOs Bootloader starts and then two Errors apear
![Supermicro Time and Date Error](https://user-images.githubusercontent.com/39131062/96967933-7f0ab400-1510-11eb-904a-702b509d9888.jpg)

There are Serveral HPE DL385 in the same Network(Vienna 1) booting without issue
NTP Server of the Router is set to 0.pfsense.pool.ntp.org like all our ot

[2020-10-23 07:23] zaibon commented on #922
yes, I've not seen any code going in to fix this.

[2020-10-23 07:45] DylanVerstraete commented on #922
Cannot reproduce though, also seems like #940 should have fixed it no?

[2020-10-23 07:52] zaibon commented on #922
I don't think so no. #940 only make it possible to re-send the same result for an already provisioned workload. Which maybe is enough but for sure doesn't change the fact that the same workload can be received in a very short period

[2020-10-24 14:26] AhmedHanafy725 opened #1008 "Failed to deploy network in time"
**Explorer:** testnet
**workload:** https://explorer.testnet.grid.tf/api/v1/reservations/workloads/493452

After 10 mins waiting, it failed to deploy, seems nodes doesn't accept network reservations.

[2020-10-26 05:53] m-motawea commented on #1008
doesn't respond to containers as well
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/493621

[2020-10-26 07:55] zaibon commented on #1008
@maxux seems provisiond is stuck on some connection to zdb. Please check the zdb on node `72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib`.

[2020-10-26 08:57] muhamadazmy commented on #922
I will just state some facts here that I am sure you are fully aware of, but just to try logically resolve this:
- The provision engine is completely sequential. basically means that it process single reservation at a time
- Results of a reservation is cached, so next time the same reservation is received, the result will be returned immediately
- If the same reservation is queued 2 (or more) time