[2020-10-26 09:00] zaibon commented on #922
The problem is not that the workload is provisionned twice, the code does not allow this. This bug is not dangerous at all for the normal flow. But it is showing the way we do polling is somehow flawed.

I've set low lever priority cause it really doesn't matter much.

[2020-10-26 10:29] DylanVerstraete opened #1009 "Panic when mounting pool"
Node: A34YUGenHKyhjDMAUKZe4cVDtJM2wQ4n4XRkfGUUEYdy

[code]

[2020-10-26 10:38] zaibon opened #1010 "ZDB decomission failed because device is not mounted"
[code]
Can be seen on node FLeByELHK22evRYqJokHsCMCF9wQpLtuyehUp1LgR5eM

[2020-10-26 15:18] DylanVerstraete opened #1011 "Failed to decomission container"
On devnet node: BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXEKga3UPbs

[code]

[2020-10-26 16:29] maxux commented on #1008
After investigation, there is a container which have a zombie process (`sync`) which cannot be killed. Container cannot be stopped and current code waits forever for container (in `contd`) to get stopped before handling others commands.

I have a hotfix which doesn't block `contd` forever by returning an error if process cannot be killed after some time, but this lead to a forever retry of decommi

[2020-10-26 16:39] DylanVerstraete opened #1013 "Flistd: failed to list current possible mounts"
Happens to more than 1 node on mainnet

[code]

[2020-10-27 10:17] DylanVerstraete opened #1016 "Flistd: could not unmount flist, context deadline exceeded"
Failed to decomission on node: `7Qa7fxRPtMc5R72cnNms4XWD9PJkeQJ6iD8iTU9T8p2o` and `54S1qFXxWgnjmvEFVvqUbR7dHhvCshLbQrp2UpmE7GhZ`

[code]

[2020-10-27 10:21] DylanVerstraete opened #1017 "Flist process stopped"
node: `A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7` on Freefarm testnet

[code]

[2020-10-27 10:21] DylanVerstraete commented on #1013
Related to nodes without disks. We should investigate wether it's actually possible to boot a node without disks. If so, we can try and prevent that because we need a disk to store the cache on.

[2020-10-27 10:55] zaibon commented on #1013
When storaged fails to find a disk usable for cache. It does starts in degrated mode.
We need storaged to always be able to somehow starts because it is a dependency of networkd and we need network to be able to report the disk failure to the farmer.

Now maybe what we should do is return an error for all the zbus method expose by storaged so we do not really allow anything to be created by storag

[2020-10-27 10:57] #1009 closed, assigned to nobody

[2020-10-27 10:59] muhamadazmy opened #1018 "upgrade: binaries on node are not in sync with released binaries on hub"
This can be seen randomly on multiple node where a 0-fs binary is of an older version, while the state files of binaries already points to latest

[2020-10-27 11:05] #1010 closed, assigned to nobody

[2020-10-27 11:12] muhamadazmy commented on #1013
as far as we remember we set a system wide flag once storaged is booted in degraded mode, where other daemons able to check. The point is some daemons (like the networking) will still be able to boot also in degraded mode.

Other daemons should also block and stay not accessible until the issue is fixed

[2020-10-27 15:09] DylanVerstraete commented on #1013
@muhamadazmy what do you suggest as a fix?

[2020-10-27 15:10] DylanVerstraete commented on #1006
Closing because of #1007

[2020-10-27 15:10] #1006 closed, assigned to DylanVerstraete

[2020-10-28 08:33] #1011 closed, assigned to nobody

[2020-10-28 08:34] #1016 closed, assigned to DylanVerstraete

[2020-10-28 12:00] zaibon opened #1023 "error failed to initialize virtual disk module error"
`  2020-10-28 12:02:11
[+] storaged: 2020-10-28T11:02:11Z error failed to initialize virtual disk module error="Not enough space left in pools of this type ssd" limited-cache=false`

466X86s2ctLmL2Q6R7SrJ4VBMyt9h9zJDCSZhHUSQ9py

[2020-10-28 12:02] zaibon opened #1024 "could not unmount flist error="stat /var/cache/modules/flistd/mountpoint/486386-1: no such file or directory""
on node 3dAnxcykEDgKVQdTRKmktggL2MZbm3CPSdS9Tdoy4HAF
6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ
2fi9ZZiBGW4G9pnrN656bMfW6x55RSoHDeMrd9pgSA8T

[2020-10-28 12:02] zaibon opened #1025 "error failed to inspect container for decomission error="container \"492237-1\" in namespace \"ns715\": not found" container=492237-1"
on node 3dAnxcykEDgKVQdTRKmktggL2MZbm3CPSdS9Tdoy4HAF
6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ

[2020-10-28 12:03] zaibon opened #1026 "020-10-28T10:59:26Z error error while updating reservation results error="error occurred while requesting reservation result for 458582-1: mongo: no documents in result status:404 Not Found"
on node 3dAnxcykEDgKVQdTRKmktggL2MZbm3CPSdS9Tdoy4HAF

[2020-10-28 12:21] zaibon opened #1027 "node report more storage reserved then total available"
6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ
2fi9ZZiBGW4G9pnrN656bMfW6x55RSoHDeMrd9pgSA8T
72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib

[2020-10-28 12:27] DylanVerstraete opened #1028 "Failed to provision, upgrade refused"
On node: `72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib`

[code]

[2020-10-28 13:48] muhamadazmy commented on #1013
We might have to introduce similar code like this:

https://github.com/threefoldtech/zos/blob/master/cmds/provisiond/main.go#L60

In all modules that depends on availability of storage, or are misbehaving if the cache does not exist

[2020-10-28 13:49] muhamadazmy commented on #1017
This is not handled in a way if that happen the container will get decomissioned, but we need to figure out the cause of this crash of the filesystem.

[2020-10-28 14:12] muhamadazmy commented on #1017
It seems the FS for this container was started on `2020-09-08`. so 2 releases ago.

The problem is we can't update 0-fs version while it's running, so fixes are only gonna apply for new reservations.
We need to figure out if the same issue is still persisted for newer reservations.

[2020-10-28 14:18] zaibon commented on #1027
I've been analyzing  72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib

Dump of all the HDD disk in this node (size are in GiB):
[code]

We see the zdb volume `zdbe382ba7c-794a-4f25-9505-f80b22749053` have a size of 5000GiB. This should not have been accepted since the disk itself has a smaller size then that.

I found the workload that created this : https://explorer.testnet.grid.tf/api/v1/reservation

[2020-10-28 14:28] zaibon commented on #1027
`6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ` has the same kind of too big zdb workload https://explorer.testnet.grid.tf/api/v1/reservations/workloads/473528

`6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ` has the same kind of too big zdb workload
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/473527

[2020-10-28 14:52] zaibon commented on #1027
storagred logs when I try to reserve a zdb that is bigger then the disk itself
[code]

[2020-10-28 15:05] zaibon commented on #1027
Found the root issue: https://github.com/threefoldtech/zos/blob/8c19f9e0478c5db384834266b4d2659369a7f7f4/pkg/storage/zdb.go#L142

When creating a new subvolume for 0DB, we do not use the proper size which lead to this bug in the planning

[2020-10-28 15:31] DylanVerstraete commented on #1024
Should be fixed in: https://github.com/threefoldtech/zos/commit/fb5911d0fb3cee40ac4a2f61f50c05f0d57acaa0

[2020-10-28 15:33] DylanVerstraete commented on #1028
I think this issue is fixed in `v0.4.5-rc3`, since this issue did not show up anymore after this release was added on testnet.

[2020-10-28 15:35] DylanVerstraete commented on #1023
This error can occur when storaged boots and the timeout of 1 minute to start everything is exceeded. I looked at this node, storaged booted correctly after.

The timeout can exceed 1 minute if the nodes has alot of disks that are turned off at the moment storaged boots. When this timeout exceeds 1 minute, storaged tries to boot again until successful.

[2020-10-28 15:36] DylanVerstraete commented on #1026
Fixed in: https://github.com/threefoldtech/zos/commit/8c19f9e0478c5db384834266b4d2659369a7f7f4

Verified on testnet

[2020-10-28 15:39] DylanVerstraete commented on #1025
Issue not seen anymore after the `v0.4.5-rc3` got released on testnet:

http://10.4.0.250:3000/explore?orgId=1&left=%5B%22now-6h%22,%22now%22,%22Loki%22,%7B%22expr%22:%22%7Bnode%3D%5C%226m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ%5C%22,%20level%3D%5C%22error%5C%22%7D%22%7D,%7B%22mode%22:%22Logs%22%7D,%7B%22ui%22:%5Btrue,true,true,%22none%22%5D%7D%5D

[2020-10-28 16:14] muhamadazmy commented on #1028
I don't get why this is an issue, this is a very old reservation here that is failing to migrate (not sure why) but this is not  really a problem, it's only this reservation that is affected.

http://explorer.testnet.grid.tf/api/v1/reservations/workloads/472731

Note: I can't find this reservation on the node cache, and I think it's safe to ignore.

[2020-10-28 16:14] #1028 closed, assigned to nobody

[2020-10-28 16:26] #1023 closed, assigned to DylanVerstraete

[2020-10-28 19:13] gneumann333 commented on #1019
FYI I checked both error codes on the ipxe web site, it seems the dont exist

[2020-10-29 07:08] zaibon commented on #1023
I'm not sure I understand the PR that is linked to this issue. How does checking if disk are down improves things ?

Shouldn't we also tweak the timeout ?

[2020-10-29 07:16] #1026 closed, assigned to DylanVerstraete

[2020-10-29 07:24] #1027 closed, assigned to zaibon

[2020-10-29 07:26] DylanVerstraete commented on #1023
I was mistaken, the error occurred on a node that had only 2 disks so it was not the disk shutdown causing this log error.

This function was called when storaged initializes, and returns an error if it tries to list the volumes of a pool that are not mounted.
https://github.com/threefoldtech/zos/blob/4bc3be0f7604f9f49126bb76de9f35792a08b65f/pkg/storage/storage.go#L458

[2020-10-29 07:42] zaibon opened #1032 "provisioning of k8s vm seems to be stuck"
Seen on nodes:
[code]

Logs from 93qJrfeBqYiuVC973n9kPX79uA4rZU6oHL9pdJGBegHL
[code]
After this, provisiond does't not finishes the provisioning and do not process any new reservation

[2020-10-29 08:17] DylanVerstraete opened #1033 "Failed to delete network namespace"
[code]

Full trace of 1 occurrence
[code]

[2020-10-29 08:32] DylanVerstraete opened #1034 "Failed to get next job"
node: `93qJrfeBqYiuVC973n9kPX79uA4rZU6oHL9pdJGBegHL`

Might be related to: https://github.com/threefoldtech/zos/issues/1032 !

[code]

[2020-10-29 09:00] muhamadazmy commented on #1034
some how redis is not behaving, we can try to restart it, but we need to know why it is like that

[2020-10-29 09:14] #1024 closed, assigned to DylanVerstraete

[2020-10-29 09:16] #1034 closed, assigned to nobody

[2020-10-29 09:27] zaibon opened #1035 "Test each workloads"
On devnet:
- [x] volumes
- [x] containers
- [x] 0-DB
- [x] K8S
- [x] Gateways

On testnet:
- [x] volumes
- [x] containers
- [x] 0-DB
- [x] K8S
- [x] Gateways

[2020-10-29 09:52] zaibon commented on #1025
verified, I cannot reproduce anymore on any of the 2 nodes mentionned

[2020-10-29 09:52] #1025 closed, assigned to zaibon

[2020-10-29 11:30] zaibon commented on #1032
After investigation I found out that on these nodes storaged did not start the vdisk module because of a bug that is already solved there: https://github.com/threefoldtech/zos/commit/b28c5b3639c4b9ddbed2bd5d8c4364458e77d41b

when patching storaged with the fix, provisiond just keep provisioning the K8S VM just fine.

So I'll just close this cause it will be solved once we release the new RC on tes

[2020-10-29 11:30] #1032 closed, assigned to zaibon

[2020-10-29 11:31] #1033 closed, assigned to muhamadazmy

[2020-10-29 12:19] DylanVerstraete commented on #1035
Tested everything except for domain delegation, no errors reported anywhere.

[2020-10-29 13:46] zaibon opened #1037 ""failed to create read-write subvolume for 0-fs: Not enough space left in pools of this type ssd","
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/494762

[2020-10-29 15:43] #1035 closed, assigned to DylanVerstraete

[2020-10-29 16:04] LeeSmet commented on #1037
So it seems storaged thinks the amount of reserved space on the SSD does not allow further reservations:

`debug usage of pool 18d7ef4e-cf2f-4877-bafc-a280a359fd7a max size=480103981056 new size=489894707200 reserved=489626271744`

Upon further investigation, it seems that there is 275GB of space reserved on the SSD, which roughly matches the 271 SRU the explorer reports. However, there is also an

[2020-10-29 16:53] LeeSmet commented on #1037
I forgot to account for the zdb namespaces. Given that there are indeed a few of those, I think its safe to assume that the reserved size reported by storaged is correct and that this is just a counter issue

[2020-10-30 10:33] DylanVerstraete commented on #1037
Seems like relying on the cache to report these values is not good. Instead we should contact the responsible deamons to report the values.

- Containerd can report MRU and CRU
- Storaged can report SRU and HRU

When provisiond boots, we contact these 2 deamons and get the values. For the remaining time that provisiond runs we can increment / decrement these stats in memory like we are doing now.

[2020-10-30 13:43] LeeSmet commented on #1037
Further investigation has revealed that there are quite a lot of subvolumes present which should not be here anymore (as the reservation has moved to state deleted). These reservations are properly removed from cache. Since the counters work on the cached reservations, and storaged works on actual data from disk, this explains why storaged seems to think the disk is fully reserved. It seems the cl

[2020-11-02 11:18] zaibon opened #1042 "Seems a K8S VM died"
Workload: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/494296
I cannot reach this k8s VM anymore. I did checked on the node if I could see the firecracker process of this node but it was not there.
I then checked the dmesg of the node and found this:
[code]
I cannot be sure this is indeed my missing VM, but firecracker has indeed been killed by the kernel for using too much memor

[2020-11-03 10:00] muhamadazmy opened #1043 "zui: smaller resolution (no framebuffer) + always run on node boot"
We get many complains that nodes when booted they only see some logs then the node is stuck. We don't immediately see an issue with the node because zui is not booted yet so we have no idea if it's stuck. the problem is:
- ZUI has dependency (in zinit config file) on other daemon that might fail to start, like storaged and networking
- ZUI **SHOULD NOT** have dependencies on those daemons , instea

[2020-11-04 09:42] zaibon commented on #1002
We identified the issue coming from the farm router and not 0-OS itself. Closing for now.

[2020-11-04 09:42] #1002 closed, assigned to nobody

[2020-11-04 13:13] maxux opened #1130 "Zero-OS on ARM architechture"
This gonna be the entrypoint on roadmap to get Zero-OS running on ARM devices.

- We will need to defines what we need to support, there are multiple target (armv6, armv7, armv8, ...)
- We need to get a working kernel (https://github.com/threefoldtech/0-initramfs)
- We need a working zinit process manager (https://github.com/threefoldtech/zinit)
- Then we need zos runtime binaries (https://github.

[2020-11-04 13:30] m-motawea commented on #1037
the problem still exists on testnet on this node `A7FmQZ72h7FzjkJMGXmzLDFyfyxzitDZYuernGG97nv7`

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/498382
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/498346

trying to find nodes by capacity returns
[code]

![image](https://user-images.githubusercontent.com/32568986/98117531-96538500-1eb2-11eb-819f-dd8644e268dc.png)

[2020-11-04 13:33] m-motawea commented on #1008
this node on testnet is not accepting workloads as well
3dAnxcykEDgKVQdTRKmktggL2MZbm3CPSdS9Tdoy4HAF

[2020-11-04 13:52] muhamadazmy commented on #1037
Will investigate and update here with the findings

[2020-11-04 14:30] muhamadazmy commented on #1037
Here are the findings so far:
- This machine have 2 disks (one HDD, and one SSD)
- The SSD disk is completely allocated, hence this is why this reservation fails on deployment (not the reservation is asking for SSD storage for the container rootfs)

- So the problem is still that the capacity reported is not actually the real consumed values on the disk. I think this is still duo to reliance on th

[2020-11-04 14:30] muhamadazmy commented on #1037
Meanwhile is it possible that you start using HRUs instead of SRUs ?

[2020-11-04 14:58] muhamadazmy commented on #1037
I found out that there is a lingering `vdisk` of 100GB on the SSD disk that does not have a corresponding reservation in the Cache. I think this should not exist already and cleanup process should take care of it

@DylanVerstraete ?

[2020-11-04 15:56] muhamadazmy opened #1044 "cleanup: make sure lingering vdisks are also freeded"
Currently the janitor code in provisiond that takes care of cleaning up lingering subvolumes does not check or validate lingering vdisks.

[2020-11-04 15:58] muhamadazmy commented on #1037
Linked to https://github.com/threefoldtech/zos/issues/1044

[2020-11-05 08:07] zaibon opened #1046 "Enable IPV6 in K8S VM"

[2020-11-05 08:22] zaibon opened #1047 "Add new size for k8s VM deployment"
Part of story https://github.com/threefoldtech/home/issues/923

[2020-11-06 09:06] zaibon commented on #1042
I had another occurrence of the issue: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/494305
I did not find a OOM error this time, but the firecracker process also does not exist on the node anymore.

[2020-11-06 11:33] muhamadazmy commented on #1037
I will keep it open until the fix is confirmed on testnet

[2020-11-09 08:57] #1047 closed, assigned to zaibon

[2020-11-09 17:06] DylanVerstraete commented on #781
Looks like we are practically doing the same already. We might need to look if we can use https://github.com/crosbymichael/containerd/blob/a3ca8a0dfc4f2e79487d2479fbb3ee41bc75227b/oci/spec_opts_linux.go#L124

[2020-11-10 08:08] DylanVerstraete commented on #1017
I can't find any other occurrences. Maybe this was an isolated event?

[2020-11-10 09:22] muhamadazmy commented on #1037
@m-motawea We have yet another fix on test-net. The fix is to make sure to have a better clean up process, to avoid leaking resources. could you give it another try on testnet.

[2020-11-10 11:01] maxux commented on #1043
Here is a modified version of `zui` which fit in `80x24`

![image](https://user-images.githubusercontent.com/4141584/98665727-570eb380-234c-11eb-97b0-cc5f1342cf1f.png)

This is an example and is not ready, but this an example of what we could provide.

[2020-11-10 11:31] muhamadazmy opened #1051 "vdc: specification of zos internal plumbing once IP is reserved"
The specification should describe the following:
- The internal wiring of the public IP for the traffic to reach a k8s node. Please check proposal [here](https://github.com/threefoldtech/home/issues/925#issuecomment-724640495)
- IPv6 support for VMs

[2020-11-10 11:50] zaibon commented on #1043
is there a way the storage pool content would scroll ? cause on a normal node we would have way more pools then just 2.

[2020-11-10 11:52] maxux commented on #1043
Well, should we display all pools ? As soon as node is registered, you should see theses information remotely. We could maybe show aggregated value (like how many pools there are, and total used/free).

[2020-11-10 11:57] DylanVerstraete commented on #1043
I aggree showing the total storage used / free is a better solution. Some nodes have +20 storage pools, this would be a huge list even if it's scrollable

[2020-11-10 12:01] muhamadazmy commented on #1043
Make it grouped into only 2 lines one for HDD, and one for SSD

[2020-11-10 12:02] #960 closed, assigned to DylanVerstraete

[2020-11-10 12:04] DylanVerstraete commented on #1043
Something like this?
[code]

[2020-11-10 12:21] zaibon commented on #1043
All the information is available online when the node behave properly ^^
The point of this view is to give some insight to the farmer to see help debug and a quick glance on the status of the node.
So yes, if we have a section storage pool we should them all or we don't show that section at all. It is useless to have only 2 pools and will make it just confusing.

[2020-11-10 12:30] maxux commented on #1043
We can maybe have different pane (or to make it easier, different tty) with
one dedicated to storage pool ? So we have full size available for pools.

On Tue, 10 Nov 2020 at 13:21 Christophe de Carvalho <
notifications@github.com> wrote:

[2020-11-10 15:03] DylanVerstraete commented on #1043
@muhamadazmy and I aggreed to leave out the capacity pools for now.

It looks like this now:
![Screenshot from 2020-11-10 15-50-24](https://user-images.githubusercontent.com/17138347/98691290-2d668400-236e-11eb-831f-0e8e93e1102d.png)

(with filled in values for cpu and mem usage)

Next step is testing this on my physical node

[2020-11-12 10:30] xmonader commented on #1037
happened again today
![image](https://user-images.githubusercontent.com/64129/98928749-d3d39600-24e2-11eb-9c57-989adf7c14f1.png)

[code]

[2020-11-12 11:41] zaibon commented on #1042
So I think there are 2 things to take in account here.
1. We should probably configure the OOM to be nicer with the firecracker processes.
2. We should start do capacity planning for the memory of the node. Today we always accept any workload without checking if there are still enough free memory for it. Which in would trigger the OOM more often.

[2020-11-12 11:45] zaibon commented on #781
indeed, so doesn't seems to be a point of Changing what we have today.

[2020-11-12 11:45] #781 closed, assigned to nobody

[2020-11-12 13:05] m-motawea opened #1055 "kubernetes workloads failing on testnet"
error:
[code]

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/502530
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/502538
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/502552
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/502568

[2020-11-12 13:46] m-motawea commented on #1055
seems the problem is caused by `\n` in the ssh key. when removed, deployment is ok

[2020-11-12 16:17] muhamadazmy commented on #1037
Fixed in RC7 which is now on testnet. Please validate the fix is working for you

[2020-11-12 16:18] muhamadazmy opened #1057 "PublicIP: investigate how to configure the IP inside the k3s node"
- VirtIO-FS might be a good option to import static config to the vm
- Other hackish methods
  - Modify the vm disk after installation and before the 2nd boot to inject static config

[2020-11-15 10:48] waleedhammam commented on #1001
also for an ubuntu container

network resource: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/504036

workloads: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/504039

[2020-11-15 11:08] m-motawea opened #1059 "failed to reserve filesystem for vm: not enough space available for this disk size"
related to https://github.com/threefoldtech/zos/issues/1037
workloads that failed

[code]

nodes should be reporting enough storage

![image](https://user-images.githubusercontent.com/32568986/99183156-89e8eb00-2742-11eb-98b4-94ddfb2299d9.png)

![image](https://user-images.githubusercontent.com/32568986/99183186-a8e77d00-2742-11eb-835b-409780167aaf.png)

![image](https://user-images.githubusercont

[2020-11-15 11:12] xmonader commented on #1059
also related from zos chat https://explorer.testnet.grid.tf/api/v1/reservations/workloads/504343

[2020-11-16 09:02] muhamadazmy commented on #1059
Yes, as stated that is a known limitation that so far a zos node can only utilize one disk for vdisks allocation. A fix was planned but it seems that it needs to be done now.

Will be working on that today

[2020-11-16 11:40] muhamadazmy commented on #1059
Okay after some debugging it seems there are 2 possible causes:
- there is still discrepancy between what is reported, and what the node actually reserved, due to some calculation bug (already fixed on development branch, not available on testnet yet)
- that vdisks allocation can not utilize all disks on a node (work on progress)

[2020-11-16 16:45] #1059 closed, assigned to muhamadazmy

[2020-11-17 11:42] muhamadazmy commented on #1051
Update workflow
- We move to CH and away from firecracker
- We modify the k8s image to have our custom script to configure IPs from our custom kernel cmdline arguments
- We boot the machine with the right ip configuration
- setup nft rules for the ip fitlering

[2020-11-17 11:44] muhamadazmy opened #1061 "cloud-hypervisor binary flist"

[2020-11-17 11:45] muhamadazmy opened #1062 "move to cloud-hypervisor away from firecracker"

[2020-11-18 12:01] #1017 closed, assigned to nobody

[2020-11-18 12:02] DylanVerstraete commented on #1017
Closing because I cannot reproduce nor find any other occurrences.

[2020-11-18 14:13] muhamadazmy opened #1065 "provision engine abstraction"
Currently the provision engine is used in both zos provisiond and tfgateway. It has been already abstracted in someway to allow this. it's still hard to completely separate the logic of how things should be done on zos against tfgateway. this list include
- janitor (clean up code)
- status reporting
- other ?

[2020-11-20 13:50] muhamadazmy opened #1067 "some containers are stuck and can't be terminated"
It has been detected multiple times with some container images (for example tiga) that they can't be deprovisioned because the container entrypoint can not be stopped. it does not even die with a SIGKILL.

A hard reboot for the node was necessary to free up resources.

[2020-11-21 18:02] xmonader commented on #1042
seems I've the same problem

http://explorer.testnet.grid.tf/api/v1/reservations/workloads/507585
http://explorer.testnet.grid.tf/api/v1/reservations/workloads/507586
http://explorer.testnet.grid.tf/api/v1/reservations/workloads/507587

edit: I added access "again" and now could reach the cluster and ssh into it

[2020-11-22 08:26] dmahmouali commented on #1042
Also, I can't ssh but can run `kubectl` comments from my local machine

wids:
- [506853](http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506853)
- [506854](http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506854)
- [506855](http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506855)
---
After added access to the network, I can reach the cluster and ssh.

[2020-11-22 09:07] zaibon commented on #1042
@xmonader @dmahmouali if you can reach the VM again after fixing your network. This is not the same issue. Please open a another one.

[2020-11-22 09:10] xmonader opened #1068 "Can't reach k8s VM"
I deployed k8s cluster on a network, then added access to that network and started wireguard and could reach the cluster without problems.

then suddenly wasn't able to reach the cluster

[code]

## wids
http://explorer.testnet.grid.tf/api/v1/reservations/workloads/507585
http://explorer.testnet.grid.tf/api/v1/reservations/workloads/507586
http://explorer.testnet.grid.tf/api/v1/reservations/worklo

[2020-11-22 09:57] waleedhammam commented on #1068
for me can't reach the cluster, there's no handshake in the network. last access was last thrusday

wids

- 507217
- 507218
- 507219

[code]

[2020-11-22 09:58] ashraffouda commented on #1068
I got the same issue
here is my workloads info
[code]

[code]

[2020-11-22 10:00] AhmedHanafy725 commented on #1068
happens with me too
### wids
[495770](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/495770)
[495771](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/495771)
[495772](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/495772)

[2020-11-22 11:39] m-motawea opened #1069 "k8s VM is not deleted after workload failure and after decommission on devnet"
trying public ips on devnet on node `2anfZwrzskXiUHPLTqH1veJAia8G6rW2eFLy5YFMa1MP`,
I created a VM https://explorer.devnet.grid.tf/api/v1/reservations/workloads/2083 and it failed with error `failed to start k3s VM in 5 minutes` then shortly after that tried to deploy a new VM https://explorer.devnet.grid.tf/api/v1/reservations/workloads/2084 on the same node it failed with error `kubernetes VM wi

[2020-11-22 11:50] m-motawea opened #1070 "network resource deleted from node on testnet"
trying to deploy k8s VM on testnet https://explorer.testnet.grid.tf/api/v1/reservations/workloads/508445 but failed with error `could not set up tap device: couldn't load network with id (EhZyYLYpwd8Yp): open /var/run/cache/networkd/networks/EhZyYLYpwd8Yp: no such file or directory`

the network is deployed there and it shouldn't be cancelled. in fact this node is the access node for the network

[2020-11-22 14:42] dmahmouali opened #1071 "Can't ssh to all of the k8s cluster VMs"
## wids
- [http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506853](http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506853)
- [http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506854](http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506854)
- [http://explorer.testnet.grid.tf/api/v1/reservations/workloads/506855](http://explorer.testnet.grid.tf/a

[2020-11-22 15:55] ranatrk opened #1072 "Network Deployment fails with no explorer errors"
Deploying a network on node `2imakaznKfYx3vA4CDcTKxWbw9GcW3eXX8wQfr61X1Lz ` fails with no explorer side errors
 workload ID: 508598
[code]

[2020-11-23 09:24] abom commented on #1068
The same here, worked again after adding access, WIDs:

[505177](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/505177)
[505178](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/505178)
[505179](https://explorer.testnet.grid.tf/api/v1/reservations/workloads/505179)

[2020-11-23 09:56] zaibon commented on #1068
Do you guys do any action on your network at some point when you lost connection ?
Like adding new workloads which would trigger a modification of the network ?

I'm suspecting the way chat flows does try, retry, cleanup just delete network resources while it should not. Basically, if you delete any existing network resource, the network for this node is gone.

[2020-11-23 11:04] abom commented on #1068
Last thing I did on dashboard was deploying the cluster, did nothing after that.

[2020-11-23 11:18] zaibon commented on #1068
but the deployment of the cluster does this dry run where it could delete network resources I guess ?

[2020-11-23 11:28] m-motawea commented on #1068
dry run uses a different network create temporary before it actually updates the network. we don't delete any network workload except the dry run network

[2020-11-23 11:31] m-motawea commented on #1070
these are the latest network resources with their next action

[code]

[2020-11-23 11:33] RafyAmgadBenjamin commented on #1071
can't get the pods or services
![image](https://user-images.githubusercontent.com/46320202/99957459-694b1180-2d90-11eb-97da-bde9d399c04e.png)
- we can ping the network
![image](https://user-images.githubusercontent.com/46320202/99957498-79fb8780-2d90-11eb-8f06-5ea87bc1cdf6.png)
- we can ssh the worker nodes

here is my workloads info
[code]

[code]

[2020-11-23 11:45] zaibon commented on #1070
The latest are not the one who matters. If you have deleted ANY network resource after the latest has been deployed, you effectively deleted the network on the node.

[2020-11-23 11:49] muhamadazmy commented on #1068
@m-motawea & @xmonader do you guys still need this dry-run hack? why do we have this in the first place ?

[2020-11-23 11:52] zaibon commented on #1071
@RafyAmgadBenjamin we need to the content of `k8s_config.yaml` too please

[2020-11-23 12:04] RafyAmgadBenjamin commented on #1071
```k8s_config.yaml```
[code]

[2020-11-23 12:11] ashraffouda commented on #1071
it seems it is because we reached the resources limit for the master node vm
I successfully ssh to the master node after a while and deleted the current deployments and it is working now

[2020-11-23 12:12] zaibon commented on #1071
so should we close this ?

[2020-11-23 12:16] ashraffouda commented on #1071
for the  @RafyAmgadBenjamin part yes. for the original issue @dmahmouali  can confirm if this is the case with him or not?

[2020-11-23 13:16] muhamadazmy commented on #1070
[code]

This claim is still under invistigation

[2020-11-23 14:31] majjihari opened #1076 "kubernetes vm with same network already exist"
### Description

kubernetes vm with same network already exist

### Version information

Ubuntu 18.04

### Installation method

js-sdk-development (default)

### Steps to reproduce

While creating the k8s cluster on new network. I think the issue is created because of existing old workloads with state ERROR and nextAction set to DELETE. The expected behavior of these workloads is State=DELETED.

J

[2020-11-23 15:24] muhamadazmy commented on #1070
So that was indeed the case, but that was actually the explorer issue it return ALWAYS the last workload ID in the database, so the node thinks it already reached the end of the reservations to process.

Will create a PR for the fix and link it here

[2020-11-23 15:49] m-motawea commented on #1076
seems nodes are not deleting these workloads

[2020-11-23 16:34] muhamadazmy commented on #1070
Fixed here: https://github.com/threefoldtech/tfexplorer/pull/219

[2020-11-23 17:28] #1070 closed, assigned to muhamadazmy

[2020-11-23 19:52] zaibon commented on #1076
I'm reopening, This is not normal that these workloads are not deleted.

[2020-11-24 07:33] muhamadazmy commented on #1072
What is `Network nodes dry run` ?

[2020-11-24 07:38] muhamadazmy commented on #1071
@dmahmouali can u please confirm if this is still an issue?

[2020-11-24 07:49] muhamadazmy commented on #1068
I suspect (with no solid evidence) that this is related to the issue we had on the access node on testnet that it didn't redeploy all the reservations after the reboot. And adding an access basically created a new reservation that got deployed with the correct network resource setup.

[2020-11-24 08:42] muhamadazmy commented on #1068
btw: during some debugging on the node (to fix the lost network resources issues) some network resources has been destroyed permanently (next action set to "deleted") on the explorer due to a bug in networkd that is now fixed. it means some networks has been affected on testnet. so please if u still have an issue with your network make sure that all reservations in this network are in the correct

[2020-11-24 09:01] dmahmouali commented on #1071
@muhamadazmy @zaibon @ashraffouda  After added access to the network, I can ssh now.
And after applying some deployments and reach the limit again I can ping and ssh.

[2020-11-24 11:21] muhamadazmy opened #1078 "k8s: monitor running k8s machines"
On machine crash we need to do the following:
- try to restart the machine multiple few times
- If the machine keeps crashing, the machine is deprovisioned and status reported to explorer

[2020-11-24 11:23] muhamadazmy opened #1079 "provisiond: memory capacity planning"
Current we don't do any capacity planning for workloads. We need to make sure the machine has enough memory to support the deployed workload type.

Proposal:
- Provision daemon checks workloads that requires memory resources
- Check coutners against available memory
- If resource memory is more than available free memory, then refuse the provision and return the reason

[2020-11-24 11:24] muhamadazmy opened #1080 "k8s: protect firecracker process against oom"

[2020-11-24 13:26] ranatrk commented on #1072
it tries to deploy a network resource on a node to make sure the node is accepting reservations and working ok

[2020-11-24 13:30] zaibon commented on #1072
So it seems the dry run did his job perfectly here. The node didn't processed the reservation and you got an exception, right ?

[2020-11-24 13:45] ranatrk commented on #1072
yes, the first error occurred because timeout(its supposd to be 3 minutes) but in reality it took couple of seconds before this error

[2020-11-24 17:02] #1078 closed, assigned to muhamadazmy

[2020-11-24 19:56] xmonader commented on #1051
@muhamadazmy can you please update this to the latest state

[2020-11-25 08:42] zaibon commented on #1071
That's what I thought. I do not see how a "limit" would impact anything, specially the ssh server running on the VM.
The problem seems more related to https://github.com/threefoldtech/zos/issues/1068#issuecomment-732719738

[2020-11-25 08:58] zaibon commented on #1069
I think this specific case should be handled better now: https://github.com/threefoldtech/zos/commit/6ac1bdad030918f8e041ce454903df3c592bd68e
@LeeSmet right ?

Once this branch is merged this kind of error should not happen anymore.

[2020-11-25 09:07] LeeSmet commented on #1069
Indeed, at least some early testing shows that such cases should now be caught properly

[2020-11-25 09:09] muhamadazmy commented on #1080
Fixed by https://github.com/threefoldtech/zos/pull/1081

[2020-11-25 09:10] #1080 closed, assigned to muhamadazmy

[2020-11-25 12:04] muhamadazmy commented on #1069
It's fixed by the public ip branch

[2020-11-25 22:06] zaibon opened #1086 "K8S VM becomes suddenly read-only"
I've notice one of my VM has some struggle. After checking dmesg I found:

VM dmesg: https://gist.github.com/zaibon/4bc9ce87a45f1954b16ae7576da14755

VM logs (machine.log): https://gist.github.com/zaibon/85b8178e08cb7e1870807ed552dea7a5

Workload:https://explorer.grid.tf/api/v1/reservations/workloads/81140

[2020-11-25 22:13] LeeSmet commented on #1086
Is this a vm on devnet or testnet?

[2020-11-25 22:15] zaibon commented on #1086
I edite the comment with the link to the workload. It's mainnet...

[2020-11-26 10:37] xmonader opened #1087 "failed to touch file: /var/cache/modules/vmd/firecracker/510608-1/root"
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/510608

[code]

@muhamadazmy added more info for debugging in case it happened again https://github.com/threefoldtech/zos/commit/3fbbc8eef6eeae503c85542aa006f82d69f34afa

[2020-11-26 10:42] muhamadazmy opened #1088 "vmd: the no-keep-alive flag need to be persisted in case vmd restarts"
The flash should be stored on the machine root, so in case vmd restarts the monitoring still behave as expected

[2020-11-26 13:31] #609 closed, assigned to zaibon

[2020-11-27 07:57] muhamadazmy commented on #1076
The cleaner (janitor) in provision engine should also make sure to check vm reservations that are not in the "deployed" state on the explorer and deprovision those as well.

[2020-11-27 09:57] muhamadazmy commented on #1086
The logs from machin.log seems like the host is running out of disk space. it seems firecracker does not propagate this properly.

[2020-11-27 16:11] #1046 closed, assigned to nobody

[2020-11-27 16:11] #1057 closed, assigned to LeeSmet

[2020-11-30 08:27] #1079 closed, assigned to muhamadazmy, DylanVerstraete

[2020-11-30 08:28] #1051 closed, assigned to delandtj

[2020-11-30 10:25] ranatrk commented on #1037
Got the same error again trying to deploy on testnet for node `6m9gFPTYLRiCH7FD8yU5VWwXZdfegKUvXZgrJoS1EJfQ`:

`Workload 512026 failed to deploy due to error failed to allocate storage: failed to create sub-volume: Not enough space left in pools of this type ssd. For more details: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/512026`

![image](https://user-images.githubusercontent

[2020-11-30 10:30] AhmedHanafy725 commented on #1037
Got the same error too on testnet on node `72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib`
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/512035

[2020-11-30 12:04] muhamadazmy commented on #1037
So it seems there are some vdisks that do not get cleaned up
![image](https://user-images.githubusercontent.com/10920323/100608317-db81a000-3314-11eb-8523-04cc9ace84a4.png)

[code]

while the reservation are set to `deleted` but they are skipped by the cleaner. so we  need to find why.

[2020-11-30 13:40] muhamadazmy commented on #1037
It's fixed on the faulty node but need an RC for this fix to be available on all testnet nodes . One is planned soon

[2020-11-30 13:43] muhamadazmy commented on #1037
Reopen until verified on testnet

[2020-11-30 14:46] m-motawea opened #1091 "kubernetes workers do not join the cluster on devnet"
whenever I deploy a kubernetes cluster on devnet, the workers do not join the cluster.
workloads:
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/2448
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/2455

[2020-11-30 17:44] LeeSmet commented on #1091
Should be fixed in #1092

[2020-12-01 07:44] muhamadazmy commented on #1091
We have a potential fix on devnet now, could you please try again.

[2020-12-01 08:01] xmonader commented on #1037
@muhamadazmy i just tried to create a volume on testnet and it failed with  `Not enough space left in pools of this type ssd` http://explorer.testnet.grid.tf/api/v1/reservations/workloads/512959

[2020-12-01 08:27] DylanVerstraete commented on #1091
Still does not work, worker does not join cluster

[2020-12-01 09:41] DylanVerstraete commented on #1068
Try adding access to your existing network again through the threebot. This fixed it for me.

[2020-12-01 10:20] #1091 closed, assigned to muhamadazmy

[2020-12-01 10:46] DylanVerstraete commented on #1091
Verified that it works

[2020-12-01 14:10] DylanVerstraete commented on #1076
Waiting until new provisiond code is merged so we can tackle this easier

[2020-12-01 14:17] DylanVerstraete commented on #1043
closed in https://github.com/threefoldtech/zos/pull/1052/files

[2020-12-01 14:17] #1043 closed, assigned to DylanVerstraete

[2020-12-01 14:20] #1042 closed, assigned to muhamadazmy

[2020-12-01 14:21] muhamadazmy commented on #1018
Fixed by the new identityd https://github.com/threefoldtech/zos/pull/1053

[2020-12-01 14:21] #1018 closed, assigned to muhamadazmy

[2020-12-01 16:04] muhamadazmy commented on #1055
This was fixed in the sdk the explorer nor the node are not allowed to modify user input

[2020-12-01 16:04] #1055 closed, assigned to nobody

[2020-12-01 18:03] muhamadazmy opened #1097 "ip: make sure that same public ip reservation is not used by multiple cluster"
scenario:
- user reserve an IP
- user use this IP with k8s cluster X
- user use this IP with k8s cluster Y

[2020-12-01 18:08] muhamadazmy opened #1137 "ip: handle the situation when an IP reservation is canceled but an associated k8s reservation is not"
- User creates an IP reservation
- User creates a k8s reservation that uses this reserved IP
- User cancels his IP reservation

End results
the IP is till active on the node.

[2020-12-01 18:11] OmarElawady opened #1099 "Two different clusters are exposed on the same public ip"
We deployed a kubernetes cluster. Then we executed these commands. It looks like there're two different clusters with the same ip.

Kubernetes reservations id (on devnet):
- Public ip: 3431
- master: 3432
- slave: 3439

Old kubernetes deployment (decommissioned the public ip workload but the others are still provisioned):
- Public ip: 3309
- master: 3310
- first slave: 3311 (was deleted by itself)

[2020-12-01 18:31] LeeSmet commented on #1137
Since a tap for a public iface is derived from the network name (only 1 public tap per network per node), we can do the following:

- Change the ip reservation to include a reference to the network id
- When a network is deployed, a rule is inserted in the host nftables, which blocks all trafic on the public tap for that network (iifname, this will work even if the iface is not there yet)
- When a

[2020-12-01 18:41] LeeSmet commented on #1099
Since 2 VM's are active on the same segment with the same IP, both will respond to ARP requests, so I'm assuming what we are seeing here is the result of accidental ARP poisoning.

[2020-12-02 08:12] despiegk opened #1131 "implement monitoring v2.4"
specs see
https://github.com/threefoldtech/home/blob/master/specs/monitoring/zos_monitoring.md

[2020-12-02 10:55] LeeSmet commented on #1137
After a discussion with @delandtj , this will be split in 2 parts:
- Disconnect the public iface if the ip reservation expires. For this, the naming used for the public tap will change
- Proper firewalling rules, which will be handled in a different issue

[2020-12-02 11:27] muhamadazmy opened #1101 "metrics: zos metrics for system and user containers"
metrics will be available for prometheus, the node will still do a push (no polling) of the metrics to a configured prometheus endpoint

https://app.mindmup.com/map/_v2/90ceb3f0346c11ebb8fbcddb6bd8c75c

pdf download of the mindmup:
[zosmonitoring.pdf](https://github.com/threefoldtech/zos/files/5642973/zosmonitoring.pdf)

the requires metrics are:
-  metrics
 - cpu
 - memory
 - disks
  - io
  - siz

[2020-12-02 15:01] LeeSmet opened #1102 "Proper host filtering and firewalling for vms with public IP's"
follow up of #1098
CC @delandtj for what actually needs to happen

[2020-12-03 15:57] DylanVerstraete commented on #1101
Proposal:

Cook up a new deamon that opens a connection on zbus to other deamons. Periodically fetch all metrics from the different deamons: provisiond for reservations, storaged for disks / usage, etc .. When these metrics are computed, push them to prometheus. I think sending data every 10-15 minutes is sufficient.

This way we can create dashboard for farmers on grafana, they can for example ag

[2020-12-03 16:21] muhamadazmy commented on #1101
I am sure we already can leverage on this https://github.com/prometheus/node_exporter or something similar this already does all the monitoring for you and is prometheus compatible.

[2020-12-03 18:56] waleedhammam commented on #1069
happened again in:
`"message": "failed to install k3s: failed to install vm in 5 minutes"`

 https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4229

[2020-12-03 19:00] waleedhammam opened #1108 "K8S pods don't reach DNS / Internet"
WIDS:
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/3953
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/3960

public ip: 185.69.167.122

[code]

[code]
Tried also with ubuntu pod on this cluster and the same error

kubectl apply -f ubuntu.yaml

ubuntu.yaml file:
[code]

[2020-12-03 19:02] waleedhammam commented on #1069
also with: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4496
again: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4508

[2020-12-04 08:10] muhamadazmy commented on #1069
I checked the dev nodes and there are NO vms with those IDs running. So at least they get cleaned up cleanly. We still looking into the reason why sometimes they fail atm.

[2020-12-04 09:27] xmonader opened #1109 "failed to install k3s: failed to install vm in 5 minutes"
moving this issue from #1069

"message": "failed to install k3s: failed to install vm in 5 minutes"

## workloads
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4229
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4496
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4508

[2020-12-04 14:08] LeeSmet commented on #1102
Flow to implement:

[code]

[2020-12-04 14:11] LeeSmet commented on #1109
Should be fixed by threefoldtech/k3os@3253d6565e499ccaac159e81921138f6b8e6ea7f

New flist with this image has already been uploaded and now in use on devnet

[2020-12-06 00:06] archit3kt opened #1113 "Since 0.4.7-rc8 no DHCPv6 on virtualized Zos"
Hi, I'm actually trying to test 3F on testnet (I post on the forum as NatureCrypto)

I've got 4 VM with Zos inside (KVM virtualization with 1 NIC linux bridging), they booted and got IPv6 OK from my ISP router. It does not work anymore since 0.4.7-rc8, they only get IPv4. Other test VM (debian or manjaro) got their IPv6 IP without problem, IPv6 connectivity on the net is OK.

It seems you made a l

[2020-12-06 00:07] LeeSmet commented on #1108
After a lot of debugging on a cluster with similar setup, we came to the following conclusion:
- We seemed to be missing the br_netfilter kernel module. This has been added to the kernel in the image. New vms will have it
- The flannel interface uses the public IP from the node over the private network. This means the receiving nodes response is routed to the public internet and never arrives.

Th

[2020-12-07 11:34] delandtj commented on #1113
we did a lot of changes on the L2 level, that shouldn't be a problem.
Either way, we don't run an dhcpv6 client, only do SLAAC and accept RA's from a router. no dhcpv6

[2020-12-07 11:34] muhamadazmy commented on #1113
We will make a new release RC9 during the day that has more fixes to the zos network. This might have a fix for the issue you are having.

[2020-12-07 11:43] muhamadazmy commented on #1112
Related to #1101

[2020-12-07 11:51] muhamadazmy commented on #1113
Okay, rc9 is ready could you let me know if you still have this problem. Thanks

[2020-12-07 18:27] archit3kt commented on #1113
Hi,

that's good to know you're not using DHCPv6, I turned it off !

Sadly, the new build did not resolve my issue. I still don't take an IPv6
address with rc9.

Is there a way to test an old build rc7 o rc6 to be sure the issue isn't on
my side ? Pretty sure it's not because other VMs get their v6 IP, but
well...

Thank you for your help

Le lun. 7 déc. 2020 à 12:51, Muhamad Azmy <notifications@g

[2020-12-08 08:37] delandtj commented on #1108
bridge 2 nodes over a public ip ?
that will never be necessary as they are already interconnected through the WG interface
if you say that the WG interface is a vxlan... then yeah, but that encapsulation is necessary. What will be neede here is that we get a little smarter in terms of MTU to get performance out of it, but as both protocols (WG and vxlan) run over UDP, it's not urgent yet.

[2020-12-08 08:51] LeeSmet commented on #1108
It won't be necessary if all your nodes run on the grid. But I'd imagine there are niche sidecases where you want to connect an (existing) remote node to your cluster, and it might not always be possible to first include it in the private network. Regardless, it's not that important

[2020-12-08 09:53] #1008 closed, assigned to maxux

[2020-12-08 12:30] muhamadazmy opened #1117 "metrics: assets information"
From the mindmap here:
https://app.mindmup.com/map/_v2/90ceb3f0346c11ebb8fbcddb6bd8c75c

we need to collect the entire assets of the node in a structured tree:
 example:
[code]

[2020-12-08 12:54] DylanVerstraete commented on #967
Last occurrence was a while ago. Closing because we cannot reproduce.

![Screenshot from 2020-12-08 13-36-15](https://user-images.githubusercontent.com/17138347/101486191-8f5ddd80-395c-11eb-8b3e-88cde0378f4c.png)

[2020-12-08 12:54] #967 closed, assigned to DylanVerstraete

[2020-12-08 17:17] #1110 closed, assigned to maxux

[2020-12-09 14:39] m-motawea opened #1118 "failed to apply provision: not enough free resources to support this memory size"
I'm getting this error when deploying containers on nodes that should have enough memory to deploy. (I thought we can overprovision cpu and memory).

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/515672
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/515702
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/515704
https://explorer.testnet.grid.tf/api/v1/

[2020-12-10 10:08] waleedhammam commented on #1118
also at this one: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/516390

[2020-12-14 08:38] DylanVerstraete opened #1121 "Failed to read smartctl information from disks error="exit status 2""
[code]

on node: `2E9DRBNHaMXh2zswQsbxLppZi17r9w2qQfsSwsKEL7so`

[2020-12-14 09:51] xmonader opened #1123 "identityd: failed to load seed file with 1.1.0 version"
While configuring a new gateway, I was passing an identity seed file with version 1.1.0
[code]
Looks like zos only supports 1.0.0 and there's no codepath to check/validate 1.1.0

![image](https://user-images.githubusercontent.com/64129/102066550-a12efd00-3e02-11eb-9fce-6bee49616884.png)

[2020-12-14 12:07] #1123 closed, assigned to xmonader

[2020-12-14 15:10] #915 closed, assigned to nobody

[2020-12-14 16:09] #1044 closed, assigned to muhamadazmy

[2020-12-14 16:11] #1001 closed, assigned to nobody

[2020-12-14 16:13] muhamadazmy commented on #980
This will be fixed on next release 0.4.7

[2020-12-14 16:19] #905 closed, assigned to nobody

[2020-12-14 16:21] #817 closed, assigned to nobody

[2020-12-15 15:15] #1102 closed, assigned to LeeSmet

[2020-12-17 16:17] dmahmouali opened #1128 "Can't reach the cluster with public ip"
After deploying VDC on devnet, I can't ping public IP

- wid: [https://explorer.devnet.grid.tf/api/v1/reservations/workloads/9424](https://explorer.devnet.grid.tf/api/v1/reservations/workloads/9424)
- [https://explorer.devnet.grid.tf/api/v1/reservations/workloads/9425](https://explorer.devnet.grid.tf/api/v1/reservations/workloads/9425)
- public IP: `185.69.167.125`
- from master
[code]

[2020-12-18 08:05] #1088 closed, assigned to muhamadazmy

[2020-12-18 10:43] gneumann333 commented on #1019
It seems that also the Apollo are effected.
On my initial post of this problem there was no valide/useful reponse
We need a solution for this!

![Apollo Time sync failed](https://user-images.githubusercontent.com/39131062/102605755-0f86fe80-4126-11eb-8b10-c2f8361ad9d8.JPG)

[2020-12-18 10:45] gneumann333 commented on #1019
@zaibon what can we do to fix this?

[2020-12-18 11:16] muhamadazmy commented on #1128
The ip reservation [9424](https://explorer.devnet.grid.tf/api/v1/reservations/workloads/9424)  results is empty, the IP was not provisioned correctly, hence the VM should not have been created with this reservation. it seem that the node did not process this IP reservation. On that case the reservation must be released, and re-creaed.

I wil check out why the node did not process this reservation

[2020-12-18 11:32] muhamadazmy commented on #1128
Okay, so this reservation was before implementing the firewalling feature in ZOS. hence the only way to fix the situation now is to decomission all workloads related this IP and try again.

[2020-12-18 12:13] LeeSmet commented on #1128
The only thing the firewalling does is add restrictions in the public interface, though icmp packets (for ipv4) are not dropped. Regardless, __everything__ was allowed before that patch was merged, meaning the issue seems to be the vm is no longer responding on the public interface.

Also note that we don't have access inside of the VM.

For similar issues in the future, please create a fresh vm w

[2020-12-18 13:26] muhamadazmy opened #1129 "boot: node need to proof it's part of a farm"
Currently anyone can boot a node with any farm id. Once the node is booted the node will appear as part of this farm on the explorer. We need to come up with a mechanism to proof that the node is indeed part of that farm and that the owner of the farm booted it.

## Points to consider
- This proof should not affect current nodes. so if a node is already registered it should still appear as part of

[2020-12-20 11:48] ashraffouda commented on #1128
I got the same issue right after I deployed the cluster  today
[code]
 the kubernetes master workload https://explorer.devnet.grid.tf/api/v1/reservations/workloads/10669
 the ip workload https://explorer.devnet.grid.tf/api/v1/reservations/workloads/10668
 I can reach it through private ip `10.200.2.2`

[2020-12-21 08:53] DylanVerstraete commented on #1128
I can ping the public IP, can you try to ssh to it?

[2020-12-21 08:58] m-motawea commented on #1118
still getting the error on testnet when the node have enough resources
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/522463

![image](https://user-images.githubusercontent.com/32568986/102758491-7b15d980-437b-11eb-9b6b-b624442512b4.png)

[2020-12-21 10:45] ashraffouda commented on #1128
![Screenshot from 2020-12-21 12-43-36](https://user-images.githubusercontent.com/1689456/102768680-36de0580-438a-11eb-8ce1-808464ee1b58.png)

maybe the ip got reused by some else?

[2020-12-21 10:51] DylanVerstraete commented on #1128
Looks like nobody is using the IP right now..

[2020-12-21 10:54] DylanVerstraete commented on #1128
Also IP is not pingable anymore. Please retry and see if you can reproduce.

[2020-12-21 11:06] LeeSmet commented on #1128
Ok so on a vm with pub IP we just commisioned on devnet we can ping the vm once it is commissioned:
[code]

The fact that you can't ping that IP right now is expected as it was not marked as deployed at the time. After looking at the reservation ids and checking logs, it seems the IP has been decommissioned and recommissioned at least after your initial deployment, as a result of an empty pool. Th

[2020-12-21 11:12] muhamadazmy commented on #1118
Yes, it seem the reserved 2G that are reserved to the system were not reported to the explorer correctly. It's already fixed but the fix was not deployed to testnet. I am working on a RC now to roll this fix to testnet.

[2020-12-21 12:07] muhamadazmy commented on #1128
Can we close this issue?

[2020-12-21 16:04] #1071 closed, assigned to muhamadazmy

[2020-12-21 16:05] #1068 closed, assigned to muhamadazmy

[2020-12-21 16:20] #1099 closed, assigned to muhamadazmy

[2020-12-21 16:22] m-motawea opened #1133 "workload is not picked by the node on devnet"
workloads are failing to deploy in 5 minutes
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/11306
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/11307

[code]

[2020-12-21 16:23] #1069 closed, assigned to muhamadazmy, LeeSmet

[2020-12-21 16:24] #1108 closed, assigned to DylanVerstraete, LeeSmet

[2020-12-21 16:24] m-motawea commented on #1133
seems back to normal now

[2020-12-21 16:24] #1133 closed, assigned to nobody

[2020-12-22 15:22] #1121 closed, assigned to DylanVerstraete

[2020-12-23 07:56] #1097 closed, assigned to DylanVerstraete

[2020-12-23 10:38] muhamadazmy opened #1135 "provision: a new provision engine with libp2p"
The agent does the follows:
- Node joins libp2p with ID that is derived from node private key
- Node accept requests from the farmer agent
  - Node knows about farm ID from the boot params
- Node stores reservation files locally (per customer)
- Node process reservations (same way we do now)

[2020-12-23 14:44] muhamadazmy opened #1136 "metrics: define a list of the metrics we need plus how to calculate as percent (1-100) value"
Specs:
https://app.mindmup.com/map/_v2/90ceb3f0346c11ebb8fbcddb6bd8c75c

Current metrics list:
https://github.com/threefoldtech/zos/blob/feat/node_metrics/docs/metrics/specs/redis.md#current-list-of-metrics

[2020-12-23 17:34] #1087 closed, assigned to muhamadazmy

[2020-12-24 15:34] waleedhammam commented on #1118
It's still happening on testnet on the node `72CP8QPhMSpF7MbSvNR1TYZFbTnbRiuyvq5xwcoRNAib`
wid: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/524098

![Screenshot from 2020-12-24 17-33-38](https://user-images.githubusercontent.com/10658229/103096906-2e95fc80-460e-11eb-80dc-1811f10ee6b7.png)

[2020-12-24 17:25] #1137 closed, assigned to LeeSmet

[2020-12-29 10:55] micheal-devops opened #1139 "Deployment Failed on node"
- I have tried to deploy a new VDC on  https://vdc.testnet.grid.tf/vdc
- this is logs
[code]
node id is 466X86s2ctLmL2Q6R7SrJ4VBMyt9h9zJDCSZhHUSQ9py
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/525298

[2020-12-29 11:48] #943 closed, assigned to nobody

[2020-12-29 11:48] #980 closed, assigned to DylanVerstraete

[2020-12-29 11:52] #855 closed, assigned to nobody

[2020-12-30 21:24] LeeSmet opened #1140 "Node thinks ips are not provisioned after a reboot"
After rebooting a testnet node with a lot of haning IPs (state 4 (to delete)), the provision engine seemed to think the ips were not provisioned (which is actually correct as there are no firewall rules in place after reboot, though we should verify that we properly detect the reservations regardless, e.g. after provision reboot). The result is that the actual ip reservation is marked as state 6,

[2020-12-30 21:32] LeeSmet commented on #1140
Through arcane magic, the problem seems to have solved itself. In hindsight, I might have forgotten to refresh the farm page

[2020-12-30 21:32] #1140 closed, assigned to nobody

[2020-12-31 09:42] waleedhammam opened #1141 "Failed to deploy network on node on mainnet"
Node: `74DKSsLfnkUX6Qy9FQPQSrNZvAvBt8L76EFJcucQ2GDZ`

`Workload 83144 failed to deploy in time`

workload: https://explorer.grid.tf/api/v1/reservations/workloads/83144

[2021-01-04 09:47] sasha-astiadi commented on #1131
to be done on 2.5

[2021-01-05 08:23] abom commented on #1128
I cannot reach the cluster with public IP too

* IP worload: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/16541
* K8s worload: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/16542
* Public IP: 185.69.167.134

[code]

[2021-01-05 09:46] LeeSmet commented on #1128
So, from what I can tell, the vm was created around `Sun Jan  3 09:47:36 PM CET 2021`. Given that the issue is only reported now, I assume connectivity was initially fine. The public and private tap interface are present and in the expected state on the host. The machine log (k3os login splash screen thingy) does show that the IP's have been configured correctly. When running a tcpdump on the publ

[2021-01-05 14:33] LeeSmet commented on #1128
seems the vm was not handling arp replies on the pub iface anymore, meaning it didnt know how to reach the deft gw. It is currently unknown if this is due to a bug in the hypervisor or in the kernel of the guest.

A reboot (restart of the hypervisor) fixed the issue. For now

[2021-01-06 10:15] sasha-astiadi commented on #1128
lee: we need to wait until it happens again to continue investigating,
I Put this issue as blocked, milestone later, and remove from project grid 2.4

[2021-01-06 20:04] gneumann333 commented on #1019
Problem is resolved.
After creating a new Boot Image on https://bootstrap.grid.tf/
The nodes booted fine

[2021-01-06 20:04] #1019 closed, assigned to nobody

[2021-01-06 21:09] xmonader commented on #1128
another incident while I was able to use the cluster without problems using the public ip it suddenly became unreachable

[code]

in the explorer  https://explorer.devnet.grid.tf/api/v1/farms
[code]
- the kubernetes reservation https://explorer.devnet.grid.tf/api/v1/reservations/workloads/17021

- vdc kubernetes section
[code]

![image](https://user-images.githubusercontent.com/64129/103819853-e9d

[2021-01-06 21:11] xmonader commented on #1128
@sasha-astiadi  this issue is quite serious. Should stay in 2.4 as it's happening already couple of times now. Hopefully this one gives you a chance to debug @LeeSmet

[2021-01-06 21:18] LeeSmet commented on #1128
@xmonader for this one, the ip becoming unreachable is correct as the pool expired. This results in the network for the public IP being cleaned up. The main issue with this one is that the other workloads such as the kubernetes vm are not properly cleaned up. I'll investigate the reason why that happens when I can, but otherwise it seems that in this case the outcome is as expected

[2021-01-06 21:51] xmonader commented on #1128
Hmmm  https://explorer.devnet.grid.tf/api/v1/reservations/pools/2733 seems the pool has cus, sus
![image](https://user-images.githubusercontent.com/64129/103822996-d8976f00-5079-11eb-9bab-6a5a8b4f5565.png)
[code]

also now it seems someone took the ip in another reservation

[code]

[2021-01-06 22:32] LeeSmet commented on #1128
mm when I looked when I wrote my previous comment, I _thought_ I saw 0 values for cus, sus and ipv4us. Regardless, even in the state in your comment there are 0 ipv4us, so it is correct that the access to the public IP was removed. If the pool still had some cus and sus left, then the behavior we are noticing is as expected: ipv4 is empty and thus public network access is removed, but the vm is st

[2021-01-06 23:02] xmonader commented on #1128
I'm actually not sure, we have code the extends the pools after the successful deployment (but that's triggered when the cus, sus, ip4us aren't enough for 2 weeks)

I deployed a fresh VDC just to make sure of the pool resources (because the one in the prev comment was also a fresh one) and it started with `1208294` ipv4us which is enough for 13.9 days

[2021-01-08 09:41] andhartl opened #1142 "nodes come online at boot and go offline right afterwards"
farmer shave problems with their nodes staying online.
<img width="426" alt="image" src="https://user-images.githubusercontent.com/18591016/104000009-ef36e680-519d-11eb-91bc-19dd6ef41b23.png">

[2021-01-08 09:43] andhartl commented on #1142
Weynand tested with his node and has the same issue. node does not get IP

[2021-01-08 14:27] LeeSmet commented on #1142
Issue is reproducible on  a local vm. It seems the veth pair used to connect br-pub and the zos bridge is not set up. Manually doing this unblocks networkd

[2021-01-08 15:11] #1142 closed, assigned to LeeSmet

[2021-01-08 15:16] muhamadazmy opened #1144 "make zos single binary for arm"
The idea is instead of having multiple binaries for each daemon, we can get a single binary for multiple subcommands, so we can have smaller storage and memory footprint.

[2021-01-10 09:28] MohamedEssamAdawy opened #1145 "Failed to deploy network"
I try to deploy VDC on devnet and failed due to this error

![image_2021-01-10_10-41-43](https://user-images.githubusercontent.com/11272864/104119260-e4638980-5336-11eb-9a84-1024a3f909bf.png)

[2021-01-10 10:09] waleedhammam commented on #1145
No nodes with IPv4 available on devnet

[2021-01-10 14:07] waleedhammam opened #1146 "Workload failed to deploy in time on node on mainnet"
Reservation ID: https://explorer.grid.tf/api/v1/reservations/workloads/83696
node: `FhfuPwcPhjZNg7cp6H9uZc142eS2fHDWXzxdAz6XNCxT`

[2021-01-11 08:36] muhamadazmy commented on #1145
@MElborolossy and @waleedhammam wrong repo ? I think this should be moved to js-sdk

[2021-01-11 08:53] waleedhammam commented on #1145
@muhamadazmy after the data center migration there's no access nodes with ipv4 on devnet so we can't create ipv4 networks, there was one before but didn't come up, also the created networks before gone down

[2021-01-11 09:52] muhamadazmy commented on #1146
I can't find problem in the logs, and unfortunately this is a hidden node, so we can't get access to it to check the state on the machine. This is a "can't investigate" issue.

[2021-01-12 18:48] waleedhammam opened #1147 "getting Bad file descriptor error on deploying 3bot on mainnet"
Redis logs
[code]

Workload
https://explorer.grid.tf/api/v1/reservations/workloads/83913

[2021-01-13 08:19] muhamadazmy commented on #1147
Does this same flist works on other nodes ? does it work on testnet ?
This error "seems" to be a 0-fs issue, can be caused by a corrupt cache or bad disk. Unfortunately the node is hidden so I can really check what is going on.

I also can't see any alarming issues from the node logs.

[2021-01-13 08:21] waleedhammam commented on #1147
@muhamadazmy yeah only got this on that node

[2021-01-13 09:24] AhmedHanafy725 opened #1148 "workloads' next action are delete and they are still active on the pool"
**pool:** https://explorer.devnet.grid.tf/api/v1/reservations/pools/2726
**workloads:**
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/17004
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/16995
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/16982
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/16981
https://explorer.devnet.grid.tf/api/v1/r

[2021-01-13 11:52] mhost39 opened #1149 "can't access ubuntu after deployed"
in branch: development

i deployed a network with
![image](https://user-images.githubusercontent.com/31102305/104457648-ffdac880-55b2-11eb-8828-1e644a131b32.png)

and i can ping 185.69.167.190

after that i deployed ubuntu with
![image](https://user-images.githubusercontent.com/31102305/104457858-3d3f5600-55b3-11eb-8c0d-6b0640a294df.png)

when i try to access this ubuntu get not reachable
![image]

[2021-01-13 11:52] mhost39 commented on #1149
https://github.com/threefoldtech/tf_operations/issues/88

[2021-01-13 13:17] xmonader commented on #1149
can ping 172.18.0.1 but can't ping 172.18.2.2

[2021-01-13 14:00] muhamadazmy commented on #1148
A 'next_action' of Delete does not mean the workload is actually deleted. It's an instruction to the node to delete this workload, but as long as it's not actually deleted they still gonna be part of the pool.

I will take a look why this is not actually become deleted.

[2021-01-13 14:01] LeeSmet commented on #1149
So after debugging I've come to the following conclusion:

The access node is actually fine, but it can't get a handshake with the other nodes. On closer inspection, these other nodes seem to have an ipv6 address used in the wireguard config.

The wg process on these other nodes listens on the host namespace. tcp dumping br-pub shows that every now and then a udp packet comes in from the access po

[2021-01-13 14:07] muhamadazmy commented on #1148
It seem that all **stuck** reservation are on node `qzuTJJVd5boi6Uyoco1WWnSgzTb7q8uN79AjBT9x9N3`which seems to be down.

As long as the node is not processing the `to-delete` reservations this should be part of the pool. A better approach is of course if the node is down for long time that reservations on this node should be "paused". but that can be for the future.

[2021-01-13 15:10] LeeSmet commented on #1149
On closer isnpection, a similar problem arises on single nic nodes. (see `8zPYak76CXcoZxRoJBjdU69kVjo7XYU1SFE2NEK4UMqn`). Both the zos bridge and br-pub have an ipv6 address in the same segment and conflicting duplicate routes for the segment. We can disable ipv6 on zos (so then we'd disable ipv6 on the master of br-pub), but I'm not sure if that is the proper solution here

EDIT: after another lo

[2021-01-14 05:40] xmonader opened #1150 "failed to download kube config due to error [Errno None] Unable to connect to port 22 on 185.69.167.162"
![image](https://user-images.githubusercontent.com/64129/104549560-cef2a600-563b-11eb-9cf3-bd344428e745.png)

happend on testnet and I assume related to https://github.com/threefoldtech/zos/issues/1149

[2021-01-14 08:39] muhamadazmy commented on #1135
Does the node also run behind the tfagent multiplexer ? or connects directly to libp2p ? I would assume for zero-config node to start and join the grid the later solution is better

@LeeSmet @despiegk

[2021-01-14 14:55] #1037 closed, assigned to LeeSmet

[2021-01-14 14:57] #894 closed, assigned to delandtj

[2021-01-14 14:58] #861 closed, assigned to nobody

[2021-01-14 15:05] muhamadazmy commented on #1145
We have access node with ipv4 now, hence I will close the issue

[2021-01-14 15:05] #1145 closed, assigned to nobody

[2021-01-14 15:05] #1147 closed, assigned to nobody

[2021-01-14 15:12] muhamadazmy commented on #1139
testnet has been reset, please reopen (or create a new issue) if this happen again

[2021-01-14 15:12] #1139 closed, assigned to nobody

[2021-01-14 15:16] muhamadazmy commented on #1141
The logs i have here says this reservation has already been decomissioned

![image](https://user-images.githubusercontent.com/10920323/104609680-f5d8c880-568b-11eb-868b-39ae8e42b4e5.png)

[2021-01-14 15:16] #1141 closed, assigned to nobody

[2021-01-14 15:17] muhamadazmy commented on #1072
Issue is not relevant anymore. Please open a new one if this still an issue

[2021-01-14 15:17] #1072 closed, assigned to nobody

[2021-01-14 15:26] LeeSmet commented on #1150
As far as I see that IP is currently not reserved. I'll need at least a reservation ID to be able to find more info.

This is actually unrelated to 1149

[2021-01-14 16:02] muhamadazmy commented on #1148
Okay, the node was down. starting the node fixed the issue with the "active" reservations

[2021-01-14 16:02] #1148 closed, assigned to delandtj, muhamadazmy

[2021-01-14 16:45] xmonader commented on #1150
Sorry @LeeSmet got distracted with something else when creating the issue

This is the ip workload
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/303
and these are all the workloads of the user
https://explorer.testnet.grid.tf/api/v1/reservations/workloads?customer_tid=94

[2021-01-15 15:01] LeeSmet commented on #1150
Checking the node logs around the time of the problem shows that the host itself had some networking issues. These problems where not found on other nodes, suggesting it was specific for this node:

[code]

Furthermore, the networking is set up for a single nic node on this node, whereas it has 2 physical interfaces. Rebooting the node does not help to solve this problem. Effectively, the second N

[2021-01-17 11:12] mhost39 commented on #1118
It still happening on testnet on the node Hx4B6B8s8yQ5ABLStma1kZ33kCuprSxzU8tY4totKbWH
wid: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/678
![image](https://user-images.githubusercontent.com/31102305/104838700-53a42500-58c5-11eb-98db-1e21b115712c.png)

[2021-01-17 12:40] AhmedHanafy725 commented on #1150
it is happening again
**workload:** https://explorer.testnet.grid.tf/api/v1/reservations/workloads/886

![image](https://user-images.githubusercontent.com/41957921/104843019-3bd29e00-58d1-11eb-9760-cc4335ff1f43.png)

![image](https://user-images.githubusercontent.com/41957921/104843096-91a74600-58d1-11eb-8164-41a19331f939.png)

![image](https://user-images.githubusercontent.com/41957921/104843179-

[2021-01-17 12:51] m-motawea commented on #1150
same for ip https://explorer.testnet.grid.tf/api/v1/reservations/workloads/960
it is not reachable

[2021-01-18 09:00] MohamedEssamAdawy opened #1152 "invalid configured disk empty path"
I have deployed Kubernetes on devnet and was working until Thursday
Master workload: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/18030
Worker workload: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/18036

Yesterday It returns this error message: `invalid configured disk empty path '18030-1'` for the master node

[2021-01-18 11:15] LeeSmet commented on #1150
@AhmedHanafy725 or @m-motawea can any of you please deploy an instance like this, and not delete it, so I have something to debug/test against?

[2021-01-18 12:09] LeeSmet commented on #1150
As it turns out, there was a misconfigured switch, which broke public setups for testnet nodes. This issue has in the meantime been resolved

[2021-01-19 09:35] DylanVerstraete commented on #1118
I just tried this myself:

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/1385

Seems to be working just fine.

![Screenshot from 2021-01-19 10-34-39](https://user-images.githubusercontent.com/17138347/105015561-f681ae00-5a41-11eb-8237-cce6e7dafeca.png)

@mhost39 can you please retry? :)

[2021-01-19 13:20] muhamadazmy commented on #1152
here is what we think has happened:
- every day a janitor runs on the node to clean up some resources
- this janitor find the vdisks on the node then checks the explorer if there is an active and valid reservation with same id.
- if the explorer returns 404, or returns a reservation that has expired, then the janitor will take care to free the assigned resources.
- the current explorer code unfort

[2021-01-19 13:20] #1152 closed, assigned to muhamadazmy

[2021-01-19 13:30] ramezsaeed commented on #1149
verified

[2021-01-19 13:30] #1149 closed, assigned to LeeSmet

[2021-01-19 13:59] hossnys commented on #1150
just have this error again on testnet

![Screenshot from 2021-01-19 15-51-23](https://user-images.githubusercontent.com/26298009/105044087-fea41280-5a6e-11eb-83e8-b05795cadf92.png)

logs
[code]

[2021-01-19 14:36] waleedhammam commented on #1150
workload: ip: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/1693
cluster master: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/1695
ip: 185.69.167.179
ping
![Screenshot from 2021-01-19 16-36-00](https://user-images.githubusercontent.com/10658229/105048615-6f016280-5a74-11eb-8bc4-b1c198cdcee6.png)

Pool will at: GMT: Wednesday, January 20, 2021 4:37:27 PM

[2021-01-19 15:55] LeeSmet commented on #1150
Ok, so I'm able to recreate the issue using a network namespace + veth pair on the node, which emulates the way the network would behave with the vm. Running this same setup on other nodes does work. On this node, the network setup for some reason does not use both NIC's as it should.

Running a tcpdump shows that no packets are coming into the host.

It seems that the upstream switch is configure

[2021-01-19 16:07] LeeSmet commented on #1150
The switch indeed is configured to to only allow vlan 401 on the primary NIC and 301 on the secondary NIC. Incomming public traffic is tagged as vlan 301. Since the network on the node incorectly uses only a single NIC, this explains why its not reachable here

[2021-01-20 10:03] Pishoy opened #1157 "freefarm node is down while using 3bot deployer"
while trying 3bot deployer https://deploy3bot.grid.tf/threebot_deployer/#/

I got this error

![image](https://user-images.githubusercontent.com/21987477/105159209-7cbbf400-5b17-11eb-86d4-2cb80653df87.png)

[2021-01-20 11:27] dmahmouali commented on #1150
just have this error on testnet
![image](https://user-images.githubusercontent.com/36021484/105168752-3a001900-5b23-11eb-8604-798c995ef248.png)

#### logs:
[code]

[2021-01-20 13:17] sasha-astiadi commented on #1146
removed from 2.4 backlog

[2021-01-20 13:50] Pishoy commented on #1157
works now

[2021-01-20 13:50] #1157 closed, assigned to nobody

[2021-01-20 14:02] sasha-astiadi commented on #1128
remove from 2.4 until it reoccurs again

[2021-01-20 14:19] LeeSmet commented on #1150
We removed the faulty node from testnet for now.

[2021-01-21 08:33] muhamadazmy commented on #1144
While this should be easy to implement, but the update process gets problematic:
- Current update process does not support symlinks, so a symlink in the zos flist will get skipped over.
- The first thing the  update process does when there is a new release, is that it copies the updated binary from the new flist and then restart itself, this to make sure we are running the latest update code. (so

[2021-01-21 09:21] muhamadazmy commented on #1118
A new fix has been deployed on both devnet and testnet, that fixes some discrepancy in memory calculations. Hence the issue is in verification

[2021-01-21 10:59] hossnys commented on #1150
just got the same error now on testnet :

active_workload_ids=[2288, 2289, 2290, 2304, 2293, 2294, 2291, 2292, 2303, 2295, 2298, 2296, 2299, 2302, 2301, 2309, 2311, 2310, 2308]

https://explorer.testnet.grid.tf/api/v1/reservations/workloads/2303
node : DJoL9ZV53K5YQurmxor2BLWTPf3WA9dT3RsFWeDeAx1z

logs:
[code]

[2021-01-21 11:19] LeeSmet commented on #1150
@hossnys please add relevant reservation ids please

[2021-01-21 11:34] LeeSmet commented on #1150
so this node the deployment is on suffers from the same issue as the previously removed node (dual nic node, which runs in single nic setup)

[2021-01-21 13:44] LeeSmet commented on #1150
Offending node has also been powered down for now, networkd will need to be adapted to give more time for SLAAC to finish

[2021-01-21 14:00] m-motawea commented on #1150
does this mean we can validate the node before deployment if all physical ifaces are assigned an IPv6 address?
![image](https://user-images.githubusercontent.com/32568986/105360851-ba954700-5c01-11eb-8a8b-ad38d8005935.png)

[2021-01-21 14:04] LeeSmet commented on #1150
@m-motawea sadly no, IPv6 needs to be disabled on the physical interfaces. The problem is that network setup makes certain assumptions about the way the nodes route traffic, which are currently not upheld by these nodes

[2021-01-21 14:08] LeeSmet opened #1159 "Networkd: wait for SLAAC to finish on physical nics before deciding br-pub connectivity"
As a quick hack we can have a static timeout of a few seconds or even minutes (it only runs once anyway after networkd starts) to wait for SLAAC

The proper solution would be to somehow detect when the physical interfaces are done with SLAAC, if this is at all possible.

[2021-01-21 14:08] LeeSmet commented on #1150
tracking issue for decent fix: https://github.com/threefoldtech/zos/issues/1159

[2021-01-21 14:51] hossnys opened #1160 "VDC: silver size is not enough to deploy solution from marketplace, worker is <not ready>"
- just deployed a silver size vdc name : qatest1  on testnet

**workloads** :
![image](https://user-images.githubusercontent.com/26298009/105366009-87ee4d00-5c07-11eb-9a0a-66358e42c5e2.png)

when listing nodes i got that the worker is not ready :
[code]

[2021-01-21 15:03] hossnys commented on #1160
then i tired to add another node to the vdc , medium size with price 24 tokens which is more expensive than the vdc price 15 token, as there is no small node size anymore , then i was able to deploy cryptpad there .

the new node workload_id : 2387
![Screenshot from 2021-01-21 17-00-36](https://user-images.githubusercontent.com/26298009/105368512-4ca14d80-5c0a-11eb-933b-1d3dad1dff73.png)

cryptpad

[2021-01-21 15:07] xmonader commented on #1160
this is ok, people should scale up their cluster in order to support certain kinds of solutions

[2021-01-21 15:13] waleedhammam commented on #1160
re-opend in favor of
`k3os-5262   NotReady   <none>   75m   v1.19.4+k3s1`

[2021-01-21 15:17] hossnys commented on #1160
this vdc  was deployed on testnet

[2021-01-21 15:26] waleedhammam commented on #1160
can't ping/ssh the worker node

![Screenshot from 2021-01-21 17-25-16](https://user-images.githubusercontent.com/10658229/105371929-c6870600-5c0d-11eb-8982-87851c2ab810.png)

can ping
[code]

[2021-01-21 15:52] waleedhammam commented on #1160
node was killed

[2021-01-21 15:52] #1160 closed, assigned to nobody

[2021-01-21 16:02] waleedhammam opened #1161 "Kubernetes solution backup & restore"
According to https://rancher.com/docs/k3s/latest/en/backup-restore/

[code]

we should be able to make backup/restore by default in `v1.19.1+k3s1` but `/server` directory not found on the cluster

[code]

[2021-01-22 11:05] #1144 closed, assigned to muhamadazmy

[2021-01-22 15:27] LeeSmet commented on #1150
2 nodes that we downed have been rebooted after #1162 landed. Network setup now looks good on those. Will power cycle all testnet nodes tonight so we are sure all of them have proper network setup

[2021-01-24 16:38] archit3kt commented on #1113
Still same problem today with the latest zos version.

Would it be possible to test the 0.4.7-rc7 to verify my theory ? Or could you verify that you encounter the bug on a standard KVM libvirt VM ?

[2021-01-25 13:34] muhamadazmy commented on #1135
Moving to a different design ...

[2021-01-25 13:34] #1135 closed, assigned to muhamadazmy

[2021-01-25 13:45] muhamadazmy opened #1165 "ZOS Grid 3.0"
This is for tfgrid-3.0
A draft and a general view of the operation on the tfgrid-3.0 will be is described in this WIP [document here](https://docs.google.com/document/d/152bjX_HmFJpwZCBtF-mxmDO8kZURsXO9IPxN5UeqolQ/edit?usp=sharing)

So far this is the list of changes that need to be implmeneted
- [x] Yggdrasil support in containers [#1168]
- [x] New provision engine API that accepts connections an

[2021-01-25 13:56] m-motawea opened #1166 "access nodes with unreachable ip on testnet"
there is a problem with the access node. I can't reach its public ip `185.69.166.59` and I'm getting the same with ip  `62.150.68.29` for node EBKTQA1A4gXVjvcJf5GE94DfA7DDE4rEGyKkfam8V1Wk : ogfarm
workload: 3105

@weynandkuijpers please add your relevant network workload ids

_Originally posted by @m-motawea in https://github.com/threefoldtech/js-sdk/issues/2317#issuecomment-766829194_

[2021-01-25 14:08] delandtj commented on #1166
that is a node in kuwait... Can't ping the public ip, can you tell me hos it's set-up ?
Either way, 185.69.166.59 would not be reachable there at all, as that is an IP from the network in Lochristi

[2021-01-26 08:06] muhamadazmy opened #1167 "review draft requirements document"
Please find [here](https://docs.google.com/document/d/152bjX_HmFJpwZCBtF-mxmDO8kZURsXO9IPxN5UeqolQ/edit?usp=sharing) the draft requirements/specs document describes the operation of grid 3

[2021-01-26 08:11] muhamadazmy commented on #868
Duplicate

[2021-01-26 08:11] #868 closed, assigned to nobody

[2021-01-26 08:12] muhamadazmy opened #1168 "ZOS: optional Yggdrasil IP inside zos containers"

[2021-01-26 08:27] muhamadazmy opened #1169 "ZOS: provision daemon refactor for Grid 3.0"
# General
- [x] Define the types for wire protocol (json/rest). the types must be defined separately and used by both the server and the client to avoid dependency mess we have in version 2
- [x] Define API endpoints for provision daemon

# Basic operation
- [x] Reservation storage (local)
- [x] Deployment of reservations
- [x] Tracking of capacity consumption
- [x] Billing cycle reports to farmer

[2021-01-26 12:01] muhamadazmy commented on #1161
Why this can't be created before running the backup? what should be under /server ?

[2021-01-27 15:44] m-motawea commented on #1161
started local k3s cluster with single node
[code]

and created a pod & a namespace to check backup but nothing was backed up

[2021-01-27 16:49] muhamadazmy commented on #1161
Are you sure this directory exists on a rancher image by default, or need to be created somehow ? Note that we just use rancher image with just some custom scripts to setup networking, but with no changes to underlying image structure.

[2021-01-28 08:37] LeeSmet commented on #1168
In order to support yggdrasil in containers/vms, the following will be needed:

- If a container needs an yggdrasil IP, we need to create a second veth pair, attached in `br-pub` on one end, and in the container netns with the other end. This will essentially be a second NIC in the container. We then get a random ipv6 IP from networkd, and set it on this second interface, while also adding routing

[2021-01-28 11:47] muhamadazmy opened #1170 "networkd: abstraction and cleanup"

[2021-01-29 11:12] LeeSmet commented on #1168
As an alternative implementation which solves the firewall problem, we could create a new `br-ygg` in the host and connect all yggdrasil interfaces from containers and vms to this bridge. Then, we simply firwall the bridge to only allow the `200::/7` yggdrasil subnet. This bridge then is connected to the ndmz with a veth/macvlan, which essentially takes the local yggdrasil ip (instead of `npub6` a

[2021-02-01 08:49] muhamadazmy opened #1172 "storaged: node fails to use ssd for cache"
Some nodes fails to use SSD disks for cache and fallback to use HDD instead:

for example, the testnet node `APxTCEYX2YjF9dgDGwRrGsi6gNmQ1a1rzgXaHrAAdbST`

[2021-02-01 08:55] muhamadazmy commented on #1172
Seems that the node can not mount the disk

[code]

[2021-02-01 13:39] muhamadazmy commented on #1172
The node couldn't allocate the ssd because it wasn't cleaner properly.

Procedure to fix this issue:
- make sure ssd is wiped
- `sync`
- restart `stroaged` (pkill storaged is enough)
- pool is created on the ssd
- create a subvol `zos-cache` on the ssd disk
- stop provisiond `zinit stop provisiond`
- stop storaged `zinit stop storaged`
- cp files from /var/cache (old disk) to new ssd `zos-cache` s

[2021-02-01 13:39] #1172 closed, assigned to delandtj, muhamadazmy

[2021-02-02 10:48] LeeSmet commented on #1168
after some discussion, we will go for the approach with the host bridge

[2021-02-03 09:44] LeeSmet opened #1173 "Add bonding support for public traffic"
The connection on br-pub should support bonding (in a multi NIC env). Config can be set through kernel cmd line params. In a first stage only support bonding on public traffic, though later we might support it for the mgmt as well.

[2021-02-03 09:47] LeeSmet opened #1174 "Support vlans tagging of traffic"
Right now all traffic is just send out of the nics. We need the ability to optionally add vlan tags. There are 2 types of traffic: mgmt, and public traffic. We can simply modify br-pub and zos bridges to be vlan aware, and tag the incoming traffic from those. (care should be taken when br-pub is attached to zos)

[2021-02-03 09:50] LeeSmet opened #1175 "Disable ip6 on br-pub"
its not needed to have any kind of ip on br-pub since there is already the zos bridge with an IP for host traffic

[2021-02-03 09:55] LeeSmet opened #1176 "Disable ip on zos bridge"
Right now the zos bridge has an ipv4 (and ipv6) address. This is used for traffic from the host itself. After #1176 lands, zos will be the only bridge working like this. Disabling ip on zos as well would mean we have a single way of how bridges work (as a regular switch). For host traffic, we can create a macvlan (or veth pair if required) attached to the zos bridge on one end an on the host with

[2021-02-03 10:14] muhamadazmy commented on #1176
Can we make sure those changes are implemented on the new clean up branch instead of master?

[2021-02-04 05:29] #309 closed, assigned to maxux, weynandkuijpers

[2021-02-04 05:33] #779 closed, assigned to nobody

[2021-02-04 05:34] #773 closed, assigned to nobody

[2021-02-04 11:37] m-motawea commented on #1161
currently using velero to backup & restore the resources but below are some points to discuss:
- backup all deployments or the marketplace solutions only (requires a selector on each)
- should we backup the volumes or not? (NOTE: hostPath volumes are not supported but local volumes can be restored)
- for the backup storage should  the user get an external S3 or we should deploy one for them. (NOTE

[2021-02-05 13:17] muhamadazmy commented on #1176
Concerns:
- zos bridge is setup during boot by the `internet` service, not by `networkd`. so changes will apply only for new booted nodes
- if we also want to migrate current running nodes, networkd then have to check the current zos bridge setup, and create the new veth pair, and then connect them and rerun dhcp on the new pair. (hence a short host downtime)
- the new veth pair will have a new ma

[2021-02-05 13:25] #1175 closed, assigned to muhamadazmy

[2021-02-05 13:26] delandtj commented on #1176
you can use the same mac address as zos, __if__ ipv6 is properly disabled __and__ the ipv4 addr is properly moved

[2021-02-07 11:32] AhmedSa-mir opened #1183 "Failed to reserve public ip"
2021-02-07 11:18:22.279 | ERROR    | jumpscale.sals.vdc.deployer:_log:715 - VDC: fa940a364b6d4d48936e1d419540503f NAME: kok: OWNER: asamir failed to reserve public ip 185.69.167.136/24
on node BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXEKga3UPbs
due to error (DeploymentFailed(...), 'Workload 26728 failed to deploy in time')

https://explorer.devnet.grid.tf/api/v1/nodes/BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXE

[2021-02-07 11:57] AhmedHanafy725 opened #1184 "failed to ensure zdb container running"
**explorer:** devnet

while trying to deploy zdb on node `3NAkUYqm5iPRmNAnmLfjwdreqDssvsebj4uPUt9BxFPm`

[code]

**workloads:**
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26712
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26711

also, typo in the error message: `failed to ensure zdb containe running` => `failed to ensure zdb container running`

[2021-02-07 12:24] AhmedHanafy725 commented on #1183
I got the same error on different nodes
workloads:
node: `2anfZwrzskXiUHPLTqH1veJAia8G6rW2eFLy5YFMa1MP`
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26723
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26727
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26729
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26731
https://explorer.devnet.

[2021-02-07 15:20] RafyAmgadBenjamin commented on #1183
I got the same error on different nodes
Node:`2anfZwrzskXiUHPLTqH1veJAia8G6rW2eFLy5YFMa1MP`
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26800

[2021-02-08 09:52] muhamadazmy commented on #1183
Did this change recently? because we expect `ip` not `ipaddress` !

![image](https://user-images.githubusercontent.com/10920323/107203357-01f24480-6a04-11eb-97c0-5ac4d14012e2.png)

**EDIT**: invalid comment, the input is correct!

[2021-02-08 11:55] muhamadazmy commented on #1183
Reopen for verification

[2021-02-08 13:03] AhmedSa-mir commented on #1183
Working on node `2anfZwrzskXiUHPLTqH1veJAia8G6rW2eFLy5YFMa1MP`
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26911

[2021-02-08 13:23] AhmedHanafy725 commented on #1183
works on `BBmMHCw392RLiByVEUT2ac6y6qJpbW9xj8TRdgk5rMGN`
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/26939

[2021-02-09 11:58] waleedhammam opened #1186 "ZOS: Setup zstor and 0-db-fs in k3os image"
In order to use https://github.com/threefoldtech/js-sdk/issues/2262 some binaries and dependencies are needed for that

Binaries required:

- hiredis
- libfuse3
- zstor
- zdb-fs
- zdb
- etcd

[2021-02-09 12:13] xmonader commented on #1186
zstor has static binary available, i guess the problem would be for the rest only @maxux ?

[2021-02-09 12:17] maxux commented on #1186
If you have `libhiredis` and `libfuse`, just compile zdbfs against them (use `make release`).
Or I need to provide a static binary with fuse and hiredis shipped and you don't need them.
But I won't provide a compiled binary with shared libraries needed, this will lead to issue with `hiredis` 0.13, 0.14 and 1.0.0

[2021-02-09 13:34] maxux commented on #1186
Don't forget `etcd` if you want `zstor` to works (without external etcd setup)

[2021-02-10 10:41] weynandkuijpers opened #1187 "Zero-OS does not boot on TitanV2 node"
Created a bootloader om a USB stick. Production version on https://bootstrap.grid.tf.
Set BOIS to default settings.
Boot the device from the USB stick
Boot process stops and stays as in the picture.
![image](https://user-images.githubusercontent.com/13766992/107498919-c85d3d00-6bad-11eb-87ca-f87dbe3090a9.png)

[2021-02-11 09:33] #1167 closed, assigned to delandtj, despiegk

[2021-02-11 09:33] #1176 closed, assigned to muhamadazmy

[2021-02-15 10:59] #1166 closed, assigned to nobody

[2021-02-15 11:00] #1159 closed, assigned to delandtj, LeeSmet

[2021-02-15 14:06] muhamadazmy opened #1189 "ZOS - vm: add a virtual machine primitives with a list of predefined images"
Create a VirtualMachine primitives that has a support of a predefined list of images.

[2021-02-16 13:59] xmonader opened #1190 "ZOS: Kubernetes vm to support external etcd"
as per the call we had we agreed to support external etcd in the kubernetes workload definition

can do disable traefik too now

[2021-02-17 13:51] OmarElawady opened #1191 "Public IP firewalls wrong IPv6"
I can ping [this ZDB](https://explorer.devnet.grid.tf/api/v1/reservations/workloads/30546) from the worker node but it doesn't work on the master. [Another ZDB](https://explorer.devnet.grid.tf/api/v1/reservations/workloads/30545) is pingable from both.
![Screenshot from 2021-02-17 15-24-33](https://user-images.githubusercontent.com/13040543/108213211-71201500-7137-11eb-8906-504c33cad22f.png)

Mast

[2021-02-17 14:01] LeeSmet commented on #1191
Can you give the output of `ip a` and `ip -6 r` on the master?

[2021-02-17 14:13] OmarElawady commented on #1191
This is the output of `ip a`
[code]
And this is `ip -6 r`
[code]

[2021-02-17 14:48] delandtj commented on #1191
strange... I can ping all these IPs, the more , they're in the same segment/prefix, so I can't figure out what's happening to you unless I have access to the vms themselves

[2021-02-18 16:21] #1186 closed, assigned to nobody

[2021-02-19 09:30] xmonader commented on #1161
I'll move that to next, as the team is already overloaded to look into it and we kinda have two other flows working (velero/etcd)

[2021-02-21 12:31] xmonader opened #1193 "failed to install k3s: could not run vm"
with normal vdc deployments now getting this error

example workloads:

[code]

- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/31242
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/31214
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/31186

also seems all of these failures happened on the same node `BBmMHCw392RLiByVEUT2ac6y6qJpbW9xj8TRdgk5rMGN`

al

[2021-02-21 15:04] LeeSmet commented on #1193
Seems on the node, firecracker processes starting die due `traps: fc_vcpu 0[16740] trap invalid opcode ip:49b58c sp:7f224f3c14f0 error:0 in firecracker[400000+166000]`. The `ip` is always the same, `sp` differs slightly

[2021-02-22 04:35] weynandkuijpers commented on #1187
Issue solved - BIOS setting

[2021-02-22 04:35] #1187 closed, assigned to nobody

[2021-02-22 09:42] maxux opened #1194 "flistd: clean flist cache periodically"
In order to avoid cache being full and never cleaned, some periodic cleanup of flist cache (downloaded file payload) should happens based on access time or something like that.

[2021-02-22 11:41] LeeSmet commented on #1193
obj dissassemble shows that this is actually an `UD2` instruction as part of a panic function. The panic message is not captured however.

It also seems the cache filled up at some point on the node, resulting in possible corruption. After this is resolved, we need to check if the issue is still there.

[2021-02-23 07:18] weynandkuijpers commented on #638
This issue has not been updated for a long time.  Please reconsider if this is part if this release or the next.  I'll remove it if not update and considered part of this release.  Bump it up to in progress is this needs to be done in this release or push it to the next one.

[2021-02-23 07:29] delandtj commented on #638
things are a bit different now, so reorg of doc would be more of a rewrite.
so not sure if we keep this or create a new one

[2021-02-23 07:45] weynandkuijpers commented on #1193
@LeeSmet or @xmonader This issue is being worked on but sits in backlog.  I'll push it to  profess, but then you have to make this work for this release

[2021-02-23 08:10] muhamadazmy opened #1199 "zos-3: capacity collecting and reporting"

[2021-02-23 09:31] delandtj commented on #638
https://github.com/delandtj/network_setup_doc/blob/main/Basic_network.md

[2021-02-23 09:35] maxux commented on #1193
Should be fixed later by https://github.com/threefoldtech/zos/issues/1194

[2021-02-23 09:36] sasha-astiadi commented on #1193
still on problem finding phas this week, move it as part of 2.6

[2021-02-23 10:09] sasha-astiadi commented on #941
irrelevant / obsolote. closing

[2021-02-23 10:09] #941 closed, assigned to delandtj, LeeSmet

[2021-02-23 17:05] #1190 closed, assigned to LeeSmet

[2021-02-24 05:38] weynandkuijpers commented on #638
@delandtj Can you please agree with Geert what to do?  I am okay with rewrite if we have a different setup today.  but please keep in mind:
- we need to have a description for release 2.5 and the next ones (pre-3.0) with is valid and true
- when we release 3.0 on testnet we need to have the 3.0 version live and take down the 2.5 version.

@gmachtel Can you plan and discuss with @delandtj ?

[2021-02-24 05:39] weynandkuijpers commented on #638
Sorry - wrong button

[2021-02-24 14:16] LeeSmet commented on #1191
deploying a veth pair on the node which imitates the VM network setup works fine to ping the db, so as @delandtj said we'd need access to the vm itself to figure out what is happening. SSH keys are on our user profiles, please add them

[2021-02-24 15:00] LeeSmet commented on #1191
Seems at some point the firwalling rules got messed up and use an yggdrasil IP instead of the predicted SLAAC IP. this causes all ip6 from public IPs to be dropped

ip6 saddr . ether saddr != { 300:596a:6375:dea:3c1f:efff:fe86:7d4c . 3e:1f:ef:86:7d:4c } counter packets 10475 bytes 781820 drop

the 300:: ip is an yggdrasil ip which is currently not set, and should be something like `2a02:1802:5e:0:

[2021-02-25 09:29] LeeSmet commented on #1191
Supposed fix is merged, newly deployed vm's with public IP's should work now (once the update is propagated in about 15 mins)

[2021-02-25 15:31] sasha-astiadi commented on #638
https://github.com/delandtj/network_setup_doc/blob/main/Basic_network.md

[2021-02-25 21:08] xmonader commented on #1150
The issue is back again

![image](https://user-images.githubusercontent.com/64129/109217214-3b75ce80-77be-11eb-8abc-f5f0422ca4b3.png)

- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/33014
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/32935
- https://explorer.devnet.grid.tf/api/v1/reservations/workloads/33061

[2021-02-25 22:21] LeeSmet commented on #1150
@xmonader all 3 listed ips work for me, I can ping them and ssh server replies if I ssh them (`rancher@185.69.167.12{3,5,9}`)

[2021-02-25 22:25] xmonader commented on #1150
@LeeSmet with more further investigation this is raised when we can't read (k3s.yml file) or reach the vm over ssh.

![image](https://user-images.githubusercontent.com/64129/109227260-b348f680-77c8-11eb-9f37-fbf93b315f65.png)

the k3s.yml is gone only k3s-service.env exists. If you'd like feel free to close this issue and open another one for k3s.yml being missing

[2021-02-25 22:36] xmonader commented on #1150
@LeeSmet: @AhmedHanafy725 found the problem, was the external etcds crashing. I'll move it back to verification thanks.

[2021-02-26 08:13] #1170 closed, assigned to muhamadazmy

[2021-02-26 08:13] #1168 closed, assigned to delandtj, LeeSmet

[2021-02-26 11:44] gmachtel commented on #638
Based on feedback from GE (on their deployment on testnet), we see that a few steps are missing/unclear in the process. Propose to move it to grid 2.6, based on feedback collected from GE as use case.

[2021-02-28 09:34] waleedhammam opened #1202 "Can't reach kubernetes using the deployed public ip"
After investigation, the vdc has gone out of grace period
![Screenshot from 2021-02-28 10-52-16](https://user-images.githubusercontent.com/10658229/109412864-19916d00-79b3-11eb-8dfc-e92e8d59ffac.png)

Yet I can't reach the public IP
[code]

Kubernetes workloads: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/5736
ip workload: https://explorer.testnet.grid.tf/api/v1/reservations/wor

[2021-02-28 12:56] LeeSmet commented on #1202
The VM is sending out an ARP request for the router every second (and getting a reply). I'd need access to the VM to do some further investigations

[2021-02-28 14:43] xmonader commented on #1202
@waleedhammam  please arrange with Lee to have access to the VM

[2021-02-28 14:45] waleedhammam commented on #1202
already done (y)

[2021-02-28 20:09] LeeSmet commented on #1202
Packet dumping inside the VM show that the ARP reply is not received (or is already dropped before it reaches the packet filter). Arptables are empty however

[2021-03-02 10:25] weynandkuijpers commented on #638
we cannot keep postponing this.  So we're now committed to delive this for TF Grid 3.0.

[2021-03-04 11:55] #1199 closed, assigned to muhamadazmy

[2021-03-04 11:56] #1169 closed, assigned to muhamadazmy

[2021-03-04 15:34] DylanVerstraete commented on #128
Closing because it's not relevant in 3.0 anymore.

[2021-03-04 15:34] #128 closed, assigned to nobody

[2021-03-04 15:35] DylanVerstraete commented on #311
Closing because it's not relevant in 3.0 anymore.

[2021-03-04 15:35] #311 closed, assigned to nobody

[2021-03-04 15:36] DylanVerstraete commented on #350
Closing because it's not relevant in 3.0 anymore.

[2021-03-04 15:36] #350 closed, assigned to nobody

[2021-03-04 15:42] DylanVerstraete commented on #408
Closing because it's not relevant in 3.0 anymore.

[2021-03-04 15:42] #408 closed, assigned to nobody

[2021-03-04 15:43] DylanVerstraete commented on #438
Maybe we can integrate this in a secure way for 3.0

[2021-03-04 15:44] DylanVerstraete commented on #485
Closing because this does not cause any known issue (so far)

[2021-03-04 15:44] #485 closed, assigned to nobody

[2021-03-04 15:45] DylanVerstraete commented on #1134
Closing because we don't have any current plans for this in grid 3.0

[2021-03-04 15:45] #1134 closed, assigned to muhamadazmy

[2021-03-04 15:45] DylanVerstraete commented on #535
Closing because we don't have any current plans for this in grid 3.0

[2021-03-04 15:45] #535 closed, assigned to nobody

[2021-03-04 15:58] DylanVerstraete commented on #566
We could integrate this properly in grid 3.0

[2021-03-04 15:58] DylanVerstraete commented on #575
Closing because this is not causing any known issue at this time.

[2021-03-04 15:58] #575 closed, assigned to nobody

[2021-03-04 16:02] DylanVerstraete commented on #577
Closing because it's not relevant in grid 3.0 anymore

[2021-03-04 16:02] #577 closed, assigned to nobody

[2021-03-04 16:12] DylanVerstraete commented on #585
Closed in https://github.com/threefoldtech/zos/commit/dc056a7b3558c5f9302ff298ab204f136e87907d

[2021-03-04 16:12] #585 closed, assigned to nobody

[2021-03-04 16:13] DylanVerstraete commented on #576
Closing because it's not relevant in grid 3.0 anymore. We can re-open if this feature is requested by stakeholders.

[2021-03-04 16:13] #576 closed, assigned to nobody

[2021-03-04 16:21] DylanVerstraete commented on #857
Closing because this is not an issue anymore

[2021-03-04 16:21] #857 closed, assigned to nobody

[2021-03-04 16:21] DylanVerstraete commented on #849
Closing in favor of grid 3.0

[2021-03-04 16:21] #849 closed, assigned to nobody

[2021-03-04 19:09] delandtj commented on #376
this is **very** valid now

[2021-03-05 08:12] muhamadazmy commented on #965
No development on min.io anymore, since it's getting replaced with zdb-fs (zstore2)

[2021-03-05 08:12] #965 closed, assigned to nobody

[2021-03-05 08:13] DylanVerstraete commented on #820
Closing because this is not causing an issue at this time

[2021-03-05 08:13] #820 closed, assigned to nobody

[2021-03-05 08:13] #821 closed, assigned to DylanVerstraete

[2021-03-05 08:14] DylanVerstraete commented on #810
Closing because this is not causing an issue at this time

[2021-03-05 08:14] #810 closed, assigned to nobody

[2021-03-05 08:20] DylanVerstraete commented on #775
Closing becuase this is not causing an issue anymore

[2021-03-05 08:20] #775 closed, assigned to nobody

[2021-03-05 08:21] DylanVerstraete commented on #1112
We can integrate this into 3.0. Should be moved to digital twin? @muhamadazmy

[2021-03-05 08:27] DylanVerstraete commented on #814
Closing in favor of grid 3.0

[2021-03-05 08:27] #814 closed, assigned to nobody

[2021-03-05 08:47] DylanVerstraete commented on #616
@fl0wm0ti0n Do you still have this issue?

[2021-03-05 09:29] DylanVerstraete commented on #712
Looks like this is resolved.

[2021-03-05 09:29] #712 closed, assigned to nobody

[2021-03-05 09:30] DylanVerstraete commented on #647
Closing because this is not a blocking issue anymore.

[2021-03-05 09:30] #647 closed, assigned to nobody

[2021-03-05 10:03] fl0wm0ti0n commented on #616
Thanks for asking, i forgot about this - its solved months ago ;) i close it

[2021-03-05 10:03] #616 closed, assigned to nobody

[2021-03-05 10:22] DylanVerstraete commented on #762
Closing because this issue is not blocking anymore

[2021-03-05 10:22] #762 closed, assigned to delandtj

[2021-03-05 10:32] DylanVerstraete commented on #747
Closing because this is not happening anymore.

[2021-03-05 10:32] #747 closed, assigned to nobody

[2021-03-05 10:32] #728 closed, assigned to nobody

[2021-03-05 10:37] DylanVerstraete commented on #721
Does not seem like an issue anymore

[2021-03-05 10:37] #721 closed, assigned to nobody

[2021-03-05 10:39] DylanVerstraete commented on #758
Closing because it's not relevant anymore with the current codebase

[2021-03-05 10:39] #758 closed, assigned to nobody

[2021-03-05 10:39] DylanVerstraete commented on #700
Closing because it's not relevant anymore with the current codebase

[2021-03-05 10:39] #700 closed, assigned to nobody

[2021-03-05 10:53] DylanVerstraete commented on #995
Closing because the explorer will be deprecated soon

[2021-03-05 10:53] #995 closed, assigned to nobody

[2021-03-05 10:54] DylanVerstraete commented on #985
@OmarElawady do you still have this issue?

[2021-03-05 11:04] delandtj commented on #942
I don't think it's relevant any more.
that code is completely overhauled since

[2021-03-05 11:04] DylanVerstraete commented on #900
We should close all current work done for it and come up with a new strategy in grid 3.0. I think the digital twin from the farmer can take care of this.

[2021-03-05 11:06] #942 closed, assigned to nobody

[2021-03-05 11:58] #1194 closed, assigned to DylanVerstraete

[2021-03-05 11:59] DylanVerstraete commented on #1128
Closing becasue this issue is not occurring anymore at this time. Can be reopened if it happens again.

[2021-03-05 11:59] #1128 closed, assigned to LeeSmet

[2021-03-05 12:00] #1118 closed, assigned to muhamadazmy, DylanVerstraete

[2021-03-05 12:01] DylanVerstraete commented on #1183
Looks like it works!

[2021-03-05 12:01] #1183 closed, assigned to muhamadazmy

[2021-03-05 12:04] DylanVerstraete commented on #1129
Can be added in 3.0 through the digital twin farmerbot

[2021-03-05 12:09] DylanVerstraete commented on #922
Closing in favor of grid 3.0 and the new provision engine

[2021-03-05 12:09] #922 closed, assigned to muhamadazmy

[2021-03-05 12:11] DylanVerstraete commented on #890
@siddiquagig Do you still have this issue?

[2021-03-05 12:13] #898 closed, assigned to nobody

[2021-03-05 12:15] DylanVerstraete commented on #955
Closing in favor of grid 3.0

[2021-03-05 12:15] #955 closed, assigned to nobody

[2021-03-05 12:17] #888 closed, assigned to nobody

[2021-03-05 12:17] DylanVerstraete commented on #871
Closing becasue we overhauled the network code anyway. Can be reopened if needed.

[2021-03-05 12:17] #871 closed, assigned to nobody

[2021-03-05 12:20] DylanVerstraete commented on #1202
@LeeSmet @waleedhammam status update?

[2021-03-05 12:21] DylanVerstraete commented on #1193
Moving to verification because the fix is now live on devnet

[2021-03-05 12:21] #800 closed, assigned to nobody

[2021-03-05 12:47] DylanVerstraete commented on #1191
Closing because issue is not happening anymore.

[2021-03-05 12:47] #1191 closed, assigned to delandtj, LeeSmet

[2021-03-05 14:03] OmarElawady commented on #985
@DylanVerstraete
Didn't face it again

[2021-03-05 14:04] #985 closed, assigned to nobody

[2021-03-05 14:14] xmonader commented on #979
@DylanVerstraete still needed feature

[2021-03-05 14:49] DylanVerstraete commented on #979
@xmonader I though you were going to crete this feature request. It will be easier to follow up.

[2021-03-07 09:14] waleedhammam commented on #1202
It happens again today
[code]

I'll send @LeeSmet  the configs

[2021-03-07 23:27] LeeSmet commented on #1202
Some initial analysis of the syscalls performed by the firecracker VM seem to suggest that no `read` syscalls are done on one of the 2 tap fd's. When checking the fds, there are indeed 2 tap's (both fd 18 and 25 link into `/dev/net/tun`). After letting a strace run for a few seconds, we see both read and write syscalls on fd 18, but only writes on 25 (write would be outgoing network traffic as the

[2021-03-08 08:41] muhamadazmy opened #1208 "document the requirement for reservation workflow"
Starting from those data types here https://github.com/threefoldtech/vgrid/tree/main/zosreq  a document is needed that explains:

- Life cycle of a deployment
- Needed operations on deployments and separate workflows
- Signing requirements and operation
- Billing
- Payment providers ?

[2021-03-08 09:49] muhamadazmy opened #1209 "support for small containers"
support for small memory containers (100MB)

[2021-03-08 12:02] LeeSmet opened #1210 "Replace firecracker with cloud hypervisor"

[2021-03-08 13:30] #1209 closed, assigned to muhamadazmy

[2021-03-08 14:15] MohamedEssamAdawy commented on #1202
It happens again with my vdc on devnet with the following configurations
[code]

[2021-03-09 04:24] weynandkuijpers opened #1212 "CPU Core resource allocation is off"
Did a test with a number of different sized container as we are working with a partner who would like to test the performance of a container with low memory. All containers are provisioned with the "Ubuntu" solution in the online 3bot on testnet.

1. container with 1 core and 1GB of RAM
2. container with 2 cores and 1GB of RAM
3. container with 4 cores and 1GB of RAM

the results are things that a

[2021-03-09 04:28] weynandkuijpers commented on #1212
![screenshot_20210309_082758](https://user-images.githubusercontent.com/13766992/110418642-63fca300-80b1-11eb-81a1-e2105a3946d1.png)

[2021-03-09 14:15] DylanVerstraete commented on #1212
Thanks for reporting @weynandkuijpers !

[2021-03-10 06:00] weynandkuijpers commented on #1212
Can I use my existing 3bot to check (by redeploying) or do I need to restart my 3bot? Next level test is to reserve a larger core container (16/32/64) on the largest machine we have (32 physical cores) and do the same.  The original (external) complaint was that it was super slow (while it should be super fast).  Will you check or you want me to check?

[2021-03-10 07:04] weynandkuijpers commented on #1212
While verifying:
- booked a 4 core ubuntu container
![screenshot_20210310_105100](https://user-images.githubusercontent.com/13766992/110589147-6e8d6a00-818f-11eb-87a7-10d0ae5205b2.png)
- used sysbench to launch 1,2,3,4 core test.  All good (100% od 1, 2 3, or 4 cores)
``` sysbench cpu --cpu-max-prime=20000 --threads=4 --time=20 run```
![screenshot_20210310_105950](https://user-images.githubusercon

[2021-03-10 08:12] DylanVerstraete commented on #1212
@weynandkuijpers we did not deploy yet on devnet. Will do it asap and let you know so you can try again.

[2021-03-10 08:14] DylanVerstraete commented on #1212
![Screenshot from 2021-03-09 15-03-51](https://user-images.githubusercontent.com/17138347/110597534-f8820680-8180-11eb-874c-2f15e8e4fdf4.png)

This is an example of a machine with 1 core running the cpu benchmark.

[2021-03-10 08:59] weynandkuijpers commented on #1212
okay - I was testing on testnet, not devnet.  Let me know when - I will then redo.

[2021-03-10 12:55] DylanVerstraete commented on #1212
reopening for verification

[2021-03-10 14:00] DylanVerstraete commented on #1212
@weynandkuijpers you can try now on devnet

[2021-03-11 04:23] weynandkuijpers commented on #1212
![screenshot_20210311_082230](https://user-images.githubusercontent.com/13766992/110735309-fda78a00-8242-11eb-999d-8f9ca87224ad.png)

Could not deploy a 3bot on devnet

[2021-03-11 08:23] DylanVerstraete commented on #1212
@xmonader Can you check what is wrong with the devnet 3bot deployer please?

[2021-03-11 13:51] xmonader commented on #979
Not sure our scenario is relevant anymore, but still this issue is for a feature that's not working correctly yet

[2021-03-11 14:02] xmonader commented on #1212
I just deployed a new one right now works ok, probably zerossl took too long to respond to generate the certificate for the 3bot

[2021-03-11 14:11] DylanVerstraete commented on #1212
@weynandkuijpers can you try again please?

[2021-03-12 08:56] weynandkuijpers commented on #1212
tested 1 - 2  and 4 cores ubuntu with 1, 2, and 4 threads.  Used 100% of the allowed cores.

![screenshot_20210312_125314](https://user-images.githubusercontent.com/13766992/110916288-12168000-8332-11eb-895a-d6c432759f07.png)

[2021-03-12 08:58] weynandkuijpers commented on #1212
and the same ubunto deployments with 6 times the number of threads (6, 12 and 24) it looks good too:
![screenshot_20210312_125637](https://user-images.githubusercontent.com/13766992/110916684-7f2a1580-8332-11eb-8764-34172904b928.png)

[2021-03-12 09:02] DylanVerstraete commented on #1212
We can include this in next release to be deployed on testnet.

[2021-03-12 11:04] LeeSmet commented on #1202
Probably fixed by #1210

[2021-03-12 11:34] sasha-astiadi commented on #1150
@xmonader hi can we close this now ?

[2021-03-12 11:34] sasha-astiadi commented on #1193
any update @xmonader

[2021-03-12 14:59] weynandkuijpers commented on #1212
Is that the 2.6 release?  I would like to send / expose these VM's to a potential future partner earlier then end of next week.  Can we define and do a 2.5.1 release at the start of next week?

[2021-03-14 05:29] #1212 closed, assigned to DylanVerstraete, LeeSmet

[2021-03-21 12:39] xmonader opened #1221 "update k3os image to include the latest zstor bin"
continuing https://github.com/threefoldtech/0-stor_v2/issues/25

[2021-03-22 13:01] #1221 closed, assigned to LeeSmet

[2021-03-23 11:13] AhmedHanafy725 opened #1224 "can't reach network through ipv6 on kubernetes cluster"
workload: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/41162

[code]

[code]

[code]

[code]

[2021-03-23 14:37] AhmedHanafy725 commented on #1109
happens again https://explorer.devnet.grid.tf/api/v1/reservations/workloads/41291

[2021-03-23 16:00] AhmedHanafy725 commented on #1109
I tried again on the same node, and seems working normally https://explorer.devnet.grid.tf/api/v1/reservations/workloads/41339

[2021-03-23 16:36] #1193 closed, assigned to LeeSmet

[2021-03-23 16:37] #1202 closed, assigned to muhamadazmy

[2021-03-24 10:08] #1210 closed, assigned to muhamadazmy

[2021-03-24 12:06] AhmedHanafy725 commented on #1224
Verified on devnet
workload: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/41689
![image](https://user-images.githubusercontent.com/41957921/112307775-04ee7f00-8caa-11eb-81e5-0e8f8cd1449a.png)

[2021-03-24 12:06] #1224 closed, assigned to delandtj, muhamadazmy

[2021-03-24 14:15] xmonader commented on #1109
happened today again https://explorer.devnet.grid.tf/api/v1/reservations/workloads/41895

and on the explorer database

[code]

[2021-03-24 16:24] muhamadazmy commented on #1109
So all those failed reservations has the same error log from cloud hypervisor:
[code]

which means the node failed to install on that block-device (the disk) and then it just get stuck after the error.until provisiond decides it's taking to long and deletes it with the `failed to install vm in 5 minutes` error.

We will see why this disk fails, or if we better use a different disk format instead o

[2021-03-29 13:15] weynandkuijpers commented on #1109
How can I verify this issue:  my thinking is:
- expand an existing cluster with a new worker node.
- for the new worker node a Kubernetes k3s VM needs to be deployed.  If this works without failure can we see the issue as being resolved?  As far as I understand - the issue was not always present.

![image](https://user-images.githubusercontent.com/13766992/112841772-f3461680-90b1-11eb-8d9d-01beb45

[2021-03-29 13:33] xmonader commented on #1109
it's not easily verified, specially with our retries mechanism, but here are the errors recorded in the explorer

[code]

[2021-04-01 12:54] xmonader commented on #1109
these are the newest ones from explorer db

[code]

[2021-04-01 13:14] maxux commented on #1109
Latest version of cloud-hypervisor is there.

VM logs:
[code]

We are checking.

[2021-04-01 13:19] maxux commented on #1109
@xmonader
[code]

All theses errors came from before the updated were pushed. They are irrelevant :p
Update arrived 30 March 14h CET

[2021-04-01 14:03] xmonader commented on #1109
@maxux you're right my bad, the website I used showed me today's timestamp as well.

[2021-04-01 14:03] #1109 closed, assigned to muhamadazmy, LeeSmet

[2021-04-01 16:39] maxux opened #1231 "storaged: monitor usage and do btrfs balance when needed"
Filesystem `btrfs` have some maintenance to do to be sane and healthy over time.
We faced some `statvfs` zero value because of missing `balance` operations.

We should take care to `btrfs balance` filesystem when they become too much dirty. This could, for example, be handled by `monitoring` background tasks of `storaged`.

[2021-04-05 16:25] waleedhammam opened #1232 "getting failed to ensure zdb containe running: failed to dial on devnet"
failed to deploy vdc on devnet
workloads:
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/44868
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/44869
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/44872

`failed to ensure zdb containe running: failed to dial \"/run/containerd/containerd.sock\": context deadline exceeded`

Also error message has a typo

[2021-04-06 06:40] muhamadazmy commented on #1232
@maxux can this be related to zdb update on devnet ?

[2021-04-06 06:41] muhamadazmy commented on #1232
This one actually should be on zos, not the explorer

[2021-04-06 08:31] OmarElawady opened #1233 "iSCSID service fails to start on K3OS"
Was trying to run iSCSI daemon to try out longhorn but it fails to start.
When executing `sudo /etc/init.d/iscsid -v start` It fails with the following error:
[code]
and in `/var/log/messages`:
[code]

[2021-04-06 09:02] muhamadazmy commented on #1232
For some reason containerd on node `3NAkUYqm5iPRmNAnmLfjwdreqDssvsebj4uPUt9BxFPm` is frozen and not accepting connections.

[2021-04-06 09:42] muhamadazmy commented on #1232
No idea how or why containerd was stuck, but seems stopping contrd and containerd and starting them back fixed the problem.

[2021-04-06 10:07] muhamadazmy commented on #1233
Can we provide more information like:
- `dmesg`
- `lspci`

[2021-04-06 10:15] OmarElawady commented on #1233
lspci:
[code]
dmesg (last command was `sudo /etc/init.d/iscsid -v start`):
https://gist.github.com/OmarElawady/71b8fc27025ab61e4a02bb31ab6ac3a2

[2021-04-06 12:29] muhamadazmy commented on #1233
My guess is that the current k3os kernel is missing a module or something. because this is directly protocol not supported error returned by the kernel when trying to establish a netlink connection.

That's so far my finding, so it still might be wrong.
![image](https://user-images.githubusercontent.com/10920323/113710657-476d7e00-96e4-11eb-8b4d-320d6a9b5f90.png)

Also deserve mentioning that the

[2021-04-06 12:49] muhamadazmy commented on #1233
@OmarElawady  Seems the kernel for this k3os image was built without support for iscsi ! we will probably have to provide a new image with updated kernel

[2021-04-07 15:02] #1061 closed, assigned to maxux

[2021-04-08 17:20] xmonader commented on #1232
more instances
[code]

[2021-04-09 13:12] muhamadazmy commented on #1232
@xmonader just noting that all the workloads that are failing are on this node `2anfZwrzskXiUHPLTqH1veJAia8G6rW2eFLy5YFMa1MP`. I will take a look

[2021-04-09 13:28] muhamadazmy commented on #1232
That's the second node that got stuck in the same issue. restarting containerd seems to fix the problem though. Can't find anything of the logs (the ring buffer is empty means that the logs were too old they got cleaned out)

[2021-04-11 11:50] AhmedHanafy725 commented on #1232
I am getting this on different nodes
`3NAkUYqm5iPRmNAnmLfjwdreqDssvsebj4uPUt9BxFPm`:
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45686
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45693
`BpTAry1Na2s1J8RAHNyDsbvaBSM3FjR4gMXEKga3UPbs`:
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45680
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/4

[2021-04-12 11:02] muhamadazmy commented on #1232
We have updated containerd to the latest official release (version 1.4.4) this doesn't explain why suddenly this is a problem. the only thing i noticed on the affected node that it has a big list of user namespaces.

We can see if the update will make it any better

[2021-04-12 11:52] AhmedHanafy725 commented on #1232
it's working fine now on different nodes
**workload ids:**
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45899
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45900
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45901
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/45902

[2021-04-12 13:38] AhmedHanafy725 opened #1236 "Log forwarding sometimes hangs the container's service"
workload id: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/30324

when enabling log forwarding, the service stuck (it went in the spawned state)
![image](https://user-images.githubusercontent.com/41957921/114401694-7469d700-9ba3-11eb-811b-a7597b7f5fbe.png)

And when checking the process's status
![image](https://user-images.githubusercontent.com/41957921/114401917-a418df00-9ba3-11

[2021-04-12 14:54] muhamadazmy commented on #1236
So I checked the node and here are the findings i found so far:
- logs from the container are not read anymore (checking logs from the /var/cache/modules/contd/logs/ns1830/30324-1.log) it seems "trimmed".
- the shim-logs is stuck on epoll_wait syscall
- stdout and stderr of the shim is both redirected to /dev/null so i can't tell if it logged an error before it get stuck
- the redis endpoint where

[2021-04-13 13:31] muhamadazmy commented on #1236
may be fixed by https://github.com/threefoldtech/shim-logs/pull/5

[2021-04-13 14:43] dmahmouali opened #1238 "the k8s worker node stuck"
when I tried to ssh the k8s worker node, it's stuck and can't ssh.

worker reservation: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/42992
node_id: 48YmkyvfoXnXqEojpJieMfFPnCv2enEuqEJcmhvkcdAk

[2021-04-14 07:50] muhamadazmy commented on #1238
CH version on devnet was missed up duo to their own build scripts which injected ZOS release version instead of CH version into their binary. so this made it impossible to validate which version of CH is running on this node.
I fixed that now, so now CH shows the correct version (this is now deployed to devnet only) so if this problem occurred again we can do a better debugging.

[2021-04-14 11:46] muhamadazmy commented on #1236
the new shim-logs was release to devnet. can you please try again with "logs" and let us know if this solves it for you

[2021-04-15 11:05] dmahmouali commented on #1238
the node works fine after the fix, Thanks @muhamadazmy

[2021-04-15 12:52] waleedhammam opened #1240 "Failing to delete public ips"
on node: 8YLrviP78Msue8ptejusq7xxxAgD4ZHNDXXF9KXVGYWr
it's taking next_action 4 but not deleting

workloads:
- https://explorer.testnet.grid.tf/api/v1/reservations/workloads/32767
- https://explorer.testnet.grid.tf/api/v1/reservations/workloads/32765

it's causing flooding of public ips

[code]

[2021-04-15 14:39] muhamadazmy commented on #1240
There was an issue on the node, that caused provisiond to fail to start. hence it couldn't process the deprovision requests. I tried to investigate the problem but the node crashed. restarting the node fixed the issue.

[2021-04-15 21:06] xmonader opened #1241 "failed to download kubeconfig"
![image](https://user-images.githubusercontent.com/64129/114938153-0d684e80-9e3f-11eb-850d-533882d10671.png)

![image](https://user-images.githubusercontent.com/64129/114937738-71d6de00-9e3e-11eb-896c-f49a1dd7711f.png)

[code]

[code]

[2021-04-16 07:21] muhamadazmy commented on #1241
I see that the 2 masters are already deprovisioned. this will make it harder to debug.
- Also i see that the 2 masters where running on the same node. I checked the node and I see there are already other VMs running with no problem, even one with a public IP which is reachable.
- I assume this issue is related to public IP not working on the VM, is that correct?

[2021-04-18 13:14] muhamadazmy opened #1242 "zos: swagger definition for zos API"

[2021-04-18 13:15] muhamadazmy opened #1243 "zos: Api to list provisioned public IPs"
The API need to return a list of configured public IPs (from user workloads)

[2021-04-18 13:20] muhamadazmy opened #1244 "allocate Ips for dev3 environment"

[2021-04-19 10:34] AhmedHanafy725 commented on #1232
it's happening again

https://explorer.devnet.grid.tf/api/v1/reservations/workloads/46840
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/46842
https://explorer.devnet.grid.tf/api/v1/reservations/workloads/46853

[2021-04-19 11:10] #1236 closed, assigned to maxux, muhamadazmy

[2021-04-19 11:25] maxux commented on #1232
I see lot of `shim-logs` running, maybe some old not restarted since the fix, trying to see

[2021-04-19 12:58] muhamadazmy commented on #1232
@maxux it's not related to the shim-issue

@AhmedHanafy725 I found the issue. we leaked connections to containerd and suddenly the containerd is not accepting new connections anymore. I am preparing a PR

[2021-04-19 13:07] #1232 closed, assigned to maxux, muhamadazmy

[2021-04-19 13:42] muhamadazmy commented on #1232
The update is now deployed on devnet. This should fix the issue permanently. but if this happens again please let me know.

[2021-04-21 13:52] xmonader opened #1247 "kernel panic: attempt to kill init"
using qemu for dev environment and cloud hypervisor raised kernel panic, probably won't be a problem for physical nodes, but for development environment probably adding these flags would help https://github.com/cloud-hypervisor/cloud-hypervisor/issues/456#issuecomment-659091773 let's update the development document with the required info

[2021-04-21 15:22] #1242 closed, assigned to muhamadazmy

[2021-04-22 07:13] LeeSmet commented on #1247
Closed by befac03f43d02e6c492c08b7e80310127eeb91dd

[2021-04-22 07:13] #1247 closed, assigned to OmarElawady

[2021-04-22 09:37] AhmedHanafy725 opened #1249 "OPS: kubernetes VM suddenly becomes unreachable through the public ip"
workload: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/33170
public IP: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/33169

[2021-04-22 09:49] muhamadazmy commented on #1249
I check the machine logs and we have this error
[code]
in cloud-hypervisor logs, so this sounds like a CH bug. I will report it it CH team

[2021-04-22 10:29] muhamadazmy commented on #1249
Discussion started here https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/2517

[2021-04-22 18:27] LeeSmet opened #1251 "Check if we can run k3os flannel in host-gw mode"
Currently the flannel instance in k3os runs in the default `vxlan`. However the private network of the vms is already inside the private network of the user, which is essentially a wireguard based overlay network. Although the official requirements for `host-gw` mention that direct L2 connectivity is required, the overlay should be able to support this based on a quick look through the code. If we

[2021-04-23 13:02] #1244 closed, assigned to muhamadazmy

[2021-04-23 13:02] #1243 closed, assigned to muhamadazmy

[2021-04-23 14:04] muhamadazmy commented on #1249
I installed a patch from CH team. I already rebooted the affected VM. please check if it works now, and if you get the same issue with other vms.

[2021-04-23 16:00] AhmedHanafy725 commented on #1249
worked and could access through the public IP
![image](https://user-images.githubusercontent.com/41957921/115898345-be817100-a45d-11eb-92ea-e647229082d7.png)

[2021-04-26 15:02] AhmedHanafy725 commented on #1150
happened again
pubic_ip: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/35188
k8s: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/35189

[2021-04-28 12:07] muhamadazmy opened #1258 "zos: move away from httpsig (deprecated) to use client signed JWT"
The client JWT should have short expiration date (the server will reject jwts with long lives) this way the client is forced to create a new jwt for each request hence will not be reusable.

The jwt will be signed with the client private key so it will be easy to verify identity of the user on zos.

[2021-04-29 08:29] muhamadazmy opened #1260 "ygg: periodic update of yggdrasil peers list"

[2021-04-29 09:10] AhmedHanafy725 commented on #1238
happened again
**workloads:**
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/35978
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/35955

[2021-04-29 14:13] waleedhammam commented on #1150
I got Failed to download kube config due to error timed out twice on a row
master: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/48351
public ip:  `185.69.167.55/24` node id: `2anfZwrzskXiUHPLTqH1veJAia8G6rW2eFLy5YFMa1MP`

[2021-04-29 18:09] AhmedHanafy725 commented on #1249
Now getting this on testnet, the vm is reachable through the private network, but can't reach it through the public one
public ip: 185.69.166.140
VM workload: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/36068
public ip wid: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/36067

[2021-05-03 07:34] muhamadazmy commented on #1249
CH has been updated on both testnet and devnet

[2021-05-04 14:01] muhamadazmy commented on #1238
Both machines don't have logs, can u validate that the failure to reach the node is not related to wireguard not running or no wireguard handshakes ?

[2021-05-04 14:18] AhmedHanafy725 commented on #1238
Now both workers are reachable through wireguard.

The nodes were never stuck, but wireguard for this network was down. Please next time make sure that wireguard is up and that the handshake is good (in case the access node was down)

[2021-05-04 14:18] #1238 closed, assigned to muhamadazmy

[2021-05-06 13:50] sasha-astiadi commented on #1150
sny update @LeeSmet

[2021-05-06 14:03] LeeSmet commented on #1150
CH has been updated with a patch, and devnet machines have been rebooted so the CH patch is reflected. We assume this will fix the issue.

[2021-05-10 08:18] muhamadazmy opened #1267 "zos memory capacity issue causes machines to over provision memory"
Issue on the way we do memory capacity planning causes the node to over provision memory which causes oom to start killing viral services

Fixed by https://github.com/threefoldtech/zos/pull/1266

[2021-05-10 11:01] xmonader opened #1268 "Accidental deletion of a container"
![image](https://user-images.githubusercontent.com/64129/117649340-b2045480-b18f-11eb-8ce0-5e5a0be83118.png)

35722 https://explorer.testnet.grid.tf/api/v1/reservations/workloads/35722

[2021-05-10 14:06] delandtj commented on #1086
closing as it's not applicable any more... You know... cloud-hypervisor and all...

[2021-05-10 14:06] #1086 closed, assigned to muhamadazmy

[2021-05-10 14:10] delandtj commented on #352
Closing this as we will probably __or__ not do this, __or__ take a completely different approach to it

[2021-05-10 14:10] #352 closed, assigned to delandtj

[2021-05-11 07:43] LeeSmet commented on #1268
Seems the container already got deleted 29th of april around 17:20 CEST. The logs on the node show that around this time, some new reservations were deployed and the flists were not in cache. This includes another container using the same flist. Since the container was supposedly running at the time, the flist should have been there. For some reason, the container exited, got restarted by the cont

[2021-05-11 13:32] xmonader commented on #1268
another one https://github.com/threefoldtech/itenv_testnet/issues/4

[2021-05-11 14:25] muhamadazmy commented on #1268
I need to clarify something first, a node can initiate a delete if it failed to start a workload, even if it has been running for some time. So basically an error that can crash the workload, or if the node was rebooted and couldn't bring the workload to it's running state it will get deleted since that is the only way to communicate an error with the owner. It's better than having it reported as

[2021-05-11 14:27] muhamadazmy commented on #1268
On other hand, the bot should recover by redeploying another container on a different node if suddenly this node is not reachable anymore.

[2021-05-11 16:42] #1150 closed, assigned to LeeSmet

[2021-05-12 07:38] muhamadazmy commented on #1268
After investigating the issue more and looking deeper on the state of the node I found the cause of this issue
![image](https://user-images.githubusercontent.com/10920323/117936474-2dd3dd80-b305-11eb-8891-546191c76892.png)

The OOM decided to kill some of the running 0-fs processes, which caused the container mount to fail and hence the container itself.

Solutions of what we can do to avoid this

[2021-05-12 12:40] muhamadazmy commented on #1268
So this was caused by the following issues:
- The node itself had a physical problem with one of the disk, this has been replaced
- The oom has killed the 0-fs process for the container, this is completely random, so a PR has been open to make sure the 0-fs process is never selected by OOM #1272

[2021-05-17 07:51] #1267 closed, assigned to muhamadazmy

[2021-05-18 13:06] xmonader opened #1274 "ZOS3: support generic VM"
port #1261 into ZOS3

Same as https://github.com/threefoldtech/zos/issues/1189#issue-808568413 with multiple generic VMs allowed on the same node.

[2021-05-18 15:25] sabrinasadik opened #1275 "Investigate why rejection is not always happening when RAM goes over limit"
Another node went down last night at 3.20AM. RAM was at 14.6GB out of 16GB available. K8S reservation for 2GB came it, which the node should have rejected but it didn't. Need to investigate why.

Node Hx4B6B8s8yQ5ABLStma1kZ33kCuprSxzU8tY4totKbWH
See original issue https://github.com/threefoldtech/itenv_testnet/issues/9

[2021-05-20 10:23] ColinOnTheMove opened #1280 "Power Supply Switch Froze Nodes"
"Our main power supply switched from its A -> B feed and all of the zero O/S nodes froze. One of them had a message on the screen, noting that it had received a power signal that it didnt understand, but would 'try to continue' (screen shot attached).
Other non-zero O/S  devices didn't have an issue with the power switch so we're happy that the power switch over was successful at hte hardware leve

[2021-05-20 12:12] muhamadazmy commented on #1280
I have 2 questions:
- From the screenshot I seed the node doesn't have IP address
- How do you know the node is frozen?

Also:
- the node shows that it's offline on the explorer. was it ever marked as online ?
- I can see other node in the same farm (6 of them) that are marked as online.

[2021-05-20 12:16] #1208 closed, assigned to LeeSmet

[2021-05-20 12:30] muhamadazmy commented on #1184
Fixed by https://github.com/threefoldtech/zos/pull/1245

[2021-05-20 12:32] muhamadazmy commented on #1146
There are lots of improvement regarding stability of the node services in release 0.5.0. We will close this issue now and to be reopen if issue persists on main-net after the release

[2021-05-20 12:32] #1146 closed, assigned to muhamadazmy

[2021-05-21 08:17] muhamadazmy commented on #1275
![image](https://user-images.githubusercontent.com/10920323/119100854-ab3fd200-ba18-11eb-9ea9-ce9e2298ed73.png)

That is screenshot from the node metrics:
- The gap is information is the time the node was down.
- We notice the following:
  - Before node crash there is increase in used memory -yellow- (around 2GB)  this increase is not associated with any **new** workload, so this increase is not r

[2021-05-24 05:36] ColinOnTheMove commented on #1280
Answers to your questions above:

Q. From the screenshot I seed the node doesn't have IP address
A. It did, up until the freeze - all the switches and the routers had 100% uptime during the power switch

Q. How do you know the node is frozen?
A. The node is unresponsive - not on the TF explorer and they keyboard num lock light doesn't trigger

Q. The node shows that it's offline on the explorer. w

[2021-05-26 08:46] muhamadazmy opened #1281 "ipv4: research support public IPv4 for containers"
Currently we support public IPv4 for VMs, by creating a macvtaps. we need to research support for IPv4 for containers. I think we can't use the macvtaps directly inside the container namespace since they need a hypervisor to work with them. Usually in case of containers we use veth pair instead.

What we need to do:
- User should be able to reserve IPv4 on a node.
- User then can attach this IP to

[2021-05-27 12:38] #1275 closed, assigned to muhamadazmy

[2021-05-27 19:45] maxux opened #1282 "zdb: host process is not protected"
Public zdb are created without any protection:
https://github.com/threefoldtech/zos/blob/867faabe1b127a93f49400b6d95541991eb561ee/pkg/provision/primitives/zdb.go#L221

Which mean anybody connected to the `zdb` is admin and can create/delete **any** namespace.

We need to pass extra argument to zdb:
[code]

When theses arguments are set, you'll need to issue an `AUTH` command first to authenticate

[2021-05-30 11:29] xmonader opened #1283 "k8s VMs to support NFS and iscsi driver"
- iscsi https://github.com/threefoldtech/zos/issues/1233
- nfs https://github.com/threefoldtech/zeroCI/issues/61#issuecomment-654993915

[2021-05-30 11:32] #1189 closed, assigned to waleedhammam, muhamadazmy, OmarElawady

[2021-05-31 09:04] #1241 closed, assigned to muhamadazmy

[2021-05-31 09:04] #1240 closed, assigned to muhamadazmy

[2021-05-31 09:04] #1249 closed, assigned to nobody

[2021-05-31 09:15] muhamadazmy commented on #1283
@xmonader why this is needed?

[2021-05-31 09:17] xmonader commented on #1283
Typical user of kubernetes would expect being able to have nfs volumes or iscsi specially to use other rancher projects like longhorn

[2021-05-31 09:33] sasha-astiadi commented on #1283
we're removing it for 2.8, reason:

[2021-06-01 07:55] #1065 closed, assigned to muhamadazmy

[2021-06-01 08:02] muhamadazmy opened #1284 "research: ZMACHINE primitive, run containers as VMs"
To abstract and unify the concept of ZMACHINE we should research the possibility to run everything in ZOS environment as a VM. the benefit of this is:
- much more secure since it's way better isolation
- unify all the services that is provided to the user workload (network, disks, virtiofs), so it's cleaner and easier to implement

Already some projects does that like https://katacontainers.io/ we

[2021-06-01 08:03] muhamadazmy commented on #1284
@despiegk Do you think we should carry on with this one?

[2021-06-01 12:55] #1282 closed, assigned to DylanVerstraete

[2021-06-03 12:06] muhamadazmy opened #1287 "mbus: add an adapter for provisiond to handle requests over msg bus"
Currently, provisiond uses a REST api to handle deployments requests (and administration) we need to turn this off (don't delete) and then implement a new "adapter" for msg bus (RMB) to receive requests, process them (check API impl) and send the responses back.

This means also that provisiond does not have to run inside the `ndmz` anymore (change back the zinit yaml file for provisiond to run no

[2021-06-03 12:16] muhamadazmy commented on #1287
You can find message specs here https://github.com/threefoldtech/rmb

[2021-06-03 13:13] DylanVerstraete opened #1288 "mbus provisiond lib"

[2021-06-03 13:48] sameh-farouk commented on #1268
@xmonader @muhamadazmy  although this hard to verify, I saw similar behavior like the one described in the issue happens even after the fix was merged.
see: https://github.com/threefoldtech/js-sdk/issues/3148
feel free to close the issue if you believe that it is a different issue.

[2021-06-03 14:18] xmonader commented on #1284
I agree in general with the idea, but also I've a question how are we going to handle features like env and secret env as well? through kernel params? what would be the limit there?

[2021-06-03 14:28] xmonader opened #1289 "zos3: how are IP reservations going to work?"
based on https://github.com/threefoldtech/home/issues/1061 how are the ips going to be reserved? how would the know what is available and what is not? how would we validate? how would we make sure we avoid race conditions provisioning the same IP?

Azmy's suggestion was that we don't specify specific IP, but ask for any IP

[2021-06-03 14:33] xmonader opened #1290 "zos3: NetworkInterface model"
according to https://github.com/threefoldtech/home/issues/1061 and the https://github.com/threefoldtech/vgrid/tree/development_zos3prims

![image](https://user-images.githubusercontent.com/64129/120662356-59bc2c00-c489-11eb-9ff6-2c714669158b.png)

are there any technical issues to migrate the current model to this?

[2021-06-03 14:38] xmonader opened #1291 "zos3: remove kubernetes primitive"
zos should be working with the lowest primitives as possible and kubernetes doesn't seem to be one (it's almost like the VM primitive)

if we go with that path, what would it take to provision kubernetes on the threefold grid? does it work for normal VMs? do we need to support restarting and passing kernel params from the outside? in case of k3os I believe we do a restart after the installation an

[2021-06-04 15:00] andhartl opened #1293 "GPU Support"
We get a lot of questions on GPU support from AI/ML users and farmers. So the demand is definitely there.
We had the GPU support on the roadmap a while ago but I do not know where we are at right now. Can we open a discussion about it?

[2021-06-06 10:07] andhartl opened #1294 "Node ID: Not unique per node"
If a farmer starts the same node that has been on the grid once before the node gets a different node id. this happens every time a farmer does this. this leaves a lot of ghost nodes (old node ids) in the system and causes problems with reservations.

it would be ideal to link the node id to a non changeable attribute of the node so the node comes up with the same node id

[2021-06-07 07:29] #1129 closed, assigned to nobody

[2021-06-07 07:52] muhamadazmy commented on #1289
As discussed with you before I suggest the following:
- Farmer still need to run the farmer twin bot. The twin knows about the available public IPs in a pool
- The user should not care what IP he gets, instead he send his ip workload request to the node.
- The node take care to ask the farmer bot. this will allow the farmer bot to confirm the identity of the node making sure it's one of his (diffe

[2021-06-07 08:11] muhamadazmy opened #1295 "zos3: create mbus flist (include binary, zinit yaml file)"

[2021-06-07 08:27] muhamadazmy commented on #1289
@despiegk agree ?

[2021-06-07 09:05] #1165 closed, assigned to muhamadazmy

[2021-06-07 09:16] muhamadazmy opened #1298 "ZOS integration with rmb (reliable message bus)"
# Background story / requirements

https://github.com/threefoldtech/home/issues/1061

# tickets

- [x] Adapter for ZOS provision engine to interface with RMB #1287
- [x] Create Flist https://github.com/threefoldtech/zos/issues/1295

[2021-06-07 10:21] sasha-astiadi opened #1296 "ZOS uses Reliable MBus"
# Background story / requirements

https://github.com/threefoldtech/home/issues/1061

# tickets

- [ ]

- [ ]

- [ ]

[2021-06-07 10:22] sasha-astiadi opened #1297 "ZOS- Prepare Primitives 3 for MBus operations"
# Background story / requirements

https://github.com/threefoldtech/home/issues/1061

# tickets
- [x] Implement a unified workload ZMachine that replaces both Container, and VM https://github.com/threefoldtech/zos/issues/1284

[2021-06-07 10:24] #1296 closed, assigned to nobody

[2021-06-07 10:34] muhamadazmy commented on #1290
Didn't we discuss this and agreed this won't work this way?!

[2021-06-07 13:46] muhamadazmy commented on #1294
This is only possible if the node doesn't have disks hence it can't persist it's ID. This can happen if the node also can not use the disks (disks were not cleaned properly before the node is started the first time)

I assume if you check the node information on the grid u will see no Storage capacity. In that case the node is running in a limited storage mode and there is not much it can do.

[2021-06-08 16:06] muhamadazmy opened #1299 "zmachine: finish the initramfs image for the container"
The initramfs was mostly done during the research phase. It need to do the following:
- [x] boot from a virtiofs root
- [x] handle and inject environment vars from /etc/environment if exists
- [x] configure IPs from given kernel cmdline params. need to support multiple nics
- [x] mount extra disks (or other virtiofs ?)

[2021-06-08 16:14] muhamadazmy opened #1300 "discussion: since we researching moving to micro vms for containers, should we use disks to replace containers volumes"
Currently containers (using containerd) can mount extra volumes that are pre reserved. These are created as a btrfs sub-volumes. We already faced some issues related to btrfs quotas.

Since we are moving to cloud-hypervisor containers (basically running containers in virtual machines) wouldn't it make more sense to create those volumes as raw disks instead. This brings the following benefits:
- Mu

[2021-06-08 16:18] muhamadazmy opened #1301 "zmachine: start containers in cloud-hypervisor"
depends on #1300
depends on #1299

- [x] proof of concept
- [x] Implement container creation with cloud-hypervisor
- [x] Flistd changes required to run multiple containers efficiently with same flist #1305

[2021-06-09 07:28] muhamadazmy commented on #1291
The problem with K8s is that there is an installation step that need to be done first before the machine is ready. the machine after the installation is booted with different set of kernel params.

Giving the user the power to do this himself will make installing a k8s is gonna be more complex from both sides to implement. We will see if there is a possibility to run k8s with no installation step

[2021-06-09 10:44] delandtj commented on #1300
`since we're moving` is a big word.... I don't think that is a decision that has already been taken.
We need to look into the granularity of such a thing. Starting a container as opposed to starting a container/application __in__ a vm is not a panacea. The main problem with vms (not counting that it's more expensive in terms of cpu/performance), is that we need to be very avaricious about how we a

[2021-06-09 11:38] xmonader opened #1302 "ZDB should be the single writer on the disk"
this part needs to be reviewed in details to have the full facts around it, but the goal is ZDB should be the only writer to the harddisk. I'll leave it to the experts to fill in the details of what needs to be addressed

note: this can be addressed in July

[2021-06-09 11:40] xmonader opened #1303 "is btrfs the right filesystem to have on disk and to use with ZDB?"
as mentioned in the call with @despiegk and @muhamadazmy we need to make sure if we made the right decision here

[2021-06-09 11:43] xmonader opened #1304 "profile the microvms usage for containers"
we need to see the overhead before going with such a decision  #1300

# profiling criteria
@muhamadazmy please update

[2021-06-09 11:45] delandtj commented on #1300
again, Microvms are defined for functions, not for applications
and then I can imagine these thingies... but for running a VM for each application: how do you set the requirements? even with KSM enabled, the overhead would be disastrous

[2021-06-09 21:38] LeeSmet commented on #1303
what are the main considerations here?

[2021-06-10 09:59] muhamadazmy commented on #1284
So I managed to do the following:
- mount container rootfs from 0-fs
- boot a cloud-hypervisor virtual machine with a custom built kernel+initramfs (they have everything needed to fully boot the container in a VM) although I think this can be improved a little bit to drop parts that not needed.
- pass environment variables to the container entrypoint
- setup network interfaces (currently static IP

[2021-06-10 10:05] delandtj commented on #1284
hero

[2021-06-10 10:42] muhamadazmy opened #1305 "flistd: avoid running multiple 0-fs mounts for the same container"
Currently for each mounted flist, a new 0-fs process is started. the 0-fs process itself either starts another layer of `overlayfs` in case a `rw` option is requested. so for each container running there is:
- 1x 0-fs process
- 1x overlay mount

Note that the overlay mount of this (current) setup is maintained by the 0-fs process itself. not by `flistd` hence zos is (unaware) of the overlay

To av

[2021-06-11 08:42] muhamadazmy commented on #1284
# Running multiple vms on a host:
The test is running on a zos node with 24 cores and `193477M` memory (around 188G)

## Setup
I used the following scripts to start multiple VMs on one zos node:
- `start.sh` to start a single container instance
[code]

- `patch.sh` to start multiple containers
[code]

Running `patch.sh` will start 253 machines with 2 cores and 300M each. They will get IPs from 192

[2021-06-11 11:00] muhamadazmy commented on #1300
we did some benchmarking and we have the following results https://github.com/threefoldtech/zos/issues/1284#issuecomment-859393767 which seems very promising

So we can start discussing disks now

[2021-06-11 11:04] muhamadazmy opened #1306 "storaged: HDD should use ext4 instead of btrfs, a single HDD can only be used with on ZDB instance and nothing else"

[2021-06-11 17:10] LeeSmet commented on #1306
What is the underlying reason for this? And if we would go ext3, why not ext4?

[2021-06-12 05:50] scottyeager opened #1376 "Support custom k3os VM sizes"
Zero OS appears to support [custom sizing for k3os VMs](https://github.com/threefoldtech/zos/blob/70ee8619708148a504ddcac4cb79710d37555f6d/pkg/provision/primitives/vmutils.go#L189), but js-sdk does not. Is this possible to implement?

[2021-06-13 10:49] xmonader commented on #1376
the size `-1` supported in zos v2 means allocate all of the resources fo the node to this VM, it was meant for "reserving full node", but we ended up with "reserving the remaining of what is available on the node". however in zos3 the model will be completely changed to specifying the capacity

![image](https://user-images.githubusercontent.com/64129/121804228-9c2df780-cc45-11eb-82df-39b93a25425f.

[2021-06-14 02:53] scottyeager commented on #1376
Good to know, thanks.

[2021-06-14 08:52] AhmedHanafy725 opened #1307 "container suddenly crashed"
### workload IDs:
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/44461
https://explorer.testnet.grid.tf/api/v1/reservations/workloads/44462

### Error Message
[code]

[2021-06-14 09:02] LeeSmet opened #1308 "Make 0-db namespace read only for some time before permanently deleting it on decommission"
See discussion in https://github.com/threefoldtech/quantum-storage/issues/12 for context

[2021-06-14 11:40] DylanVerstraete commented on #1298
Blocked on:

- https://github.com/threefoldtech/rmb/issues/12
- https://github.com/threefoldtech/rmb/issues/13

[2021-06-14 14:03] muhamadazmy commented on #1306
The main reason to move away btrfs for HDD is that we already not using fancy btrfs features like snapshots or subvolumes. Why it should be ext3 or ext4 i have no argument for except we need the lightest possible version of a stable filesystem. I already changed this to ext4

[2021-06-14 14:04] muhamadazmy commented on #1306
Already @delandtj have concerns regarding moving to ext4 we probably should leave this in backlog for now until it's decided

[2021-06-14 14:04] andhartl opened #1310 "ZOS Boot: Even with any disc node is booting"
can we block that zos boots on a node without any disc? otherwise it causes a to of challenges like creating new node IDs, CU can not be booked as SSD 50GB are missing, .... .

see example:
![image](https://user-images.githubusercontent.com/18591016/121905139-1df75100-cd2a-11eb-8d28-b1ec0eec3c4f.png)

[2021-06-14 14:13] muhamadazmy opened #1311 "storaged: hdd should only be used by a single ZDB instance"
the end goal of this issue is the following:
- [ ] Only support creating subvolumes and VMs disk on SSD so storaged should not even accept DiskType as an argument
- [ ] Allocation of HDD for zdb need another special call (add a new method) this method should do the following:
  - [ ] Find the first un-allocated HDD, format it (create a filesystem, we now use btrfs until we find out which is better

[2021-06-14 18:37] sasha-astiadi commented on #1294
what can we do for this? anny suggestion? @muhamadazmy @andhartl @weynandkuijpers @delandtj

[2021-06-15 10:13] #1302 closed, assigned to muhamadazmy

[2021-06-15 10:13] #1303 closed, assigned to nobody

[2021-06-16 09:12] sasha-astiadi commented on #1307
@muhamadazmy will you pick it up this week?

[2021-06-17 06:51] #1284 closed, assigned to muhamadazmy

[2021-06-17 06:52] #1299 closed, assigned to muhamadazmy

[2021-06-17 06:52] #1305 closed, assigned to muhamadazmy

[2021-06-17 06:54] muhamadazmy commented on #1290
PR to suggested model changes: https://github.com/threefoldtech/vgrid/pull/3

Note: zos already (right now on a development branch) implements the proposed structure (without the support for multiple private networks)

[2021-06-17 06:55] #1300 closed, assigned to delandtj, muhamadazmy, LeeSmet

[2021-06-17 07:11] muhamadazmy opened #1313 "zos3: review zdb provisioning"
This should use new zdb features for supporting different namespaces modes on the same zdb instance.
this depends on  #1311

[2021-06-17 08:26] #1304 closed, assigned to muhamadazmy

[2021-06-21 08:20] #1288 closed, assigned to DylanVerstraete

[2021-06-21 08:20] #1287 closed, assigned to muhamadazmy, DylanVerstraete

[2021-06-21 08:28] #1301 closed, assigned to muhamadazmy

[2021-06-21 08:29] #1274 closed, assigned to OmarElawady

[2021-06-21 09:44] DylanVerstraete commented on #1311
Current storaged boot process:

- migrate v1 filesystems
- check for existing volumes
   - mount existing ones
- list devices (hdd, sdd)
  - seperate free/used devices
- create new filesystems on free devices
   - mount new filesystems
- create or restore cache
- shut down disks that have no volumes + periodic check

Current interface:

- UpdateFilesystem(name, size)
- CreateFilesystem(name, size,

[2021-06-21 11:43] sasha-astiadi commented on #1295
please put more description on this issue @muhamadazmy

[2021-06-21 14:14] LeeSmet opened #1315 "VM lost public network"
After deploying a VM with a public IP, it operated fine for a few hours. Then it suddenly lost its public network. The tap was there on the host, and config was correct inside the vm (private network was still available). Nothing was passed over the public interface however. There was nothing out of the ordenary in the kernel logs on both the host and in the guest either.

workload: https://explor

[2021-06-21 14:17] LeeSmet commented on #1315
The following is the content of the VM log file on the host:

[code]

[2021-06-21 14:34] LeeSmet commented on #1315
Shortly after the reboot, the public network is dead again.

This is now the full content of the host log file.

[code]

[2021-06-22 07:45] LeeSmet opened #1316 "Bump CH to version v16"

[2021-06-22 08:05] #1316 closed, assigned to LeeSmet

[2021-06-22 08:56] LeeSmet commented on #1315
CH updated to latest release (#1316), lets see if this fixes the problem

[2021-06-22 09:54] LeeSmet commented on #1315
it did not fix the problem

[2021-06-22 10:22] LeeSmet commented on #1315
Discussion opened on the CH repo, lets see if they are able to help: https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/2785

[2021-06-22 19:13] andhartl opened #1319 "Farming: Bios lockup to certify nodes"
In order to provide certified nodes we need a mechanism to lockup the bios.This should be designed with scalability in mind as we are planing to sell thousands of boxes.

- [ ] scope
- [ ] timeline

[2021-06-23 12:02] dmahmouali commented on #910
reopen because it still happened with me.
reservation: https://explorer.devnet.grid.tf/api/v1/reservations/workloads/56544

[2021-06-23 12:08] LeeSmet commented on #1315
Further investigation shows that packets are still received inside the vm, but nothing is going out anymore (when packet dumping inside the VM) on the public interface

[2021-06-23 15:19] #1290 closed, assigned to muhamadazmy

[2021-06-23 15:39] rfcd17 opened #1321 "Zero-OS booting "edac amd64 dram ecc disabled" error"
Hi, i am having the error "edac amd64 dram ecc disabled" when trying to boot zero-os from my home desktop. is there any way to bypass this error or am i required to install ecc dram sticks to proceed ?

[2021-06-23 16:51] LeeSmet commented on #1315
It seems that the issue occurs when the TxQueue receives a TX event, which triggers it to try and write available descriptors to the tap device. In case the tap returns EAGAIN on the first descriptor (meaning essentially the method did not succeed in writing something), the TxQueue breaks.

After a small hack in the code, I was able to break TxQueues (including the one from the private network) on

[2021-06-24 09:23] muhamadazmy opened #1322 "research: VMs (and k8s) traffic metrics aggregation"
A k8s cluster consists of multiple VMS that can be:
- In the same farm, hence all communication between the VMs is local
- Spans multiple farms hence private "local" traffic can actually be over the internet hence counts against the farmer traffic.

Clusters also has public ips (also stand alone VMs can have public ips) this traffic should be accounted for.

So the question is:
- which taps need t

[2021-06-24 09:25] muhamadazmy opened #1323 "research: traffic shaping to reduce abuse"
Need to define:
- Traffic shaping rules per network resource to avoid traffic abuse
- Do we have different traffic types that can have different rules per network resource ?

[2021-06-24 09:28] muhamadazmy opened #1324 "research: network resource pause"
How to stop a network resource without destroying it in a reversible way? The point is that we should be able to stop a network resource when the user exceeds his assigned limit. But should be able to resume once the pool has been topped.

[2021-06-29 02:48] weynandkuijpers commented on #1294
Should we allow for nodes to exist on the grid that have no disks (eg. that end up running in limited disk mode?).  The "limited disk" mode was invested at some point in time to support a use case, is that use case still a valid use case.  For capacity farming the CPR is calculated as CPR = 1.5*CU + SU.  And every CU comes with 50GB of free disk space (https://wiki.threefold.io/#/threefold__cloudu

[2021-06-30 01:23] scottyeager opened #1325 "Show available resources on screen after boot"
Currently, Zos only displays resources in use on the display. Many new farmers are confused by this, and think that their drives or ram is not being recognized.

Propose feature: Show total cru, mru, hru, and sru on the screen after boot.

[2021-06-30 01:24] scottyeager opened #1326 "Is zeroing out disks actually necessary?"
The node setup documentation recommends running ` dd if=/dev/zero of=$i bs=1M` in order to prep disks for use with Zos. This can take a very long time. Is it actually necessary?

[2021-06-30 21:07] zaibon commented on #1294
A bit of history here 👋.
The reason the "limited storage" mode was introduced was only so the node can finish its network bootstrap and be able to report that its storage is not working properly.

On this mode, the node is not able to process reservation and the farmer is expected to fix the problem, not let the node run as is.

[2021-07-01 14:15] LeeSmet commented on #1326
No, zos only cares that the disk is "not actively used". Meaning, there should be no partition table, no filesystem directly on the disk and no label (in might have missed something).

In practice, deleting the first few sectors / MiB should be sufficient.

[2021-07-01 14:17] LeeSmet commented on #1315
A patch has been merged into master by the cloud hypervisor team. I manually replaced the CH binary on the affected node. We should look to upgrade CH to the latest release once that is created.

[2021-07-01 14:17] #1315 closed, assigned to LeeSmet

[2021-07-01 14:18] LeeSmet opened #1327 "Upgrade CH binary"
Cloud hypervisor should be updated to the latest release, once a new one is available, as is includes a needed patch. This would either be v17 or v16.1

[2021-07-01 21:58] scottyeager commented on #1326
Thanks @LeeSmet. The document I'm referring to is here: https://wiki.threefold.io/#/threefold__3node_prepare

And the full command given is:
[code]

Could this be safely updated to:
[code]
Or even:
[code]

[2021-07-02 11:49] muhamadazmy commented on #1326
your simplification (doing only 4x1MB blocks is correct and should work).

I personally prefer to use the `wipefs` command instead.
so this should be sufficient:
[code]

[2021-07-02 11:56] muhamadazmy opened #1330 "zos3: load deployment data from substrate contract"
ZOS should be reachable over RMB. When a reservation is made the following should happen:
- The User creates the workload contract on substrate
- Once created, the user then send the deployment with the contract id to the node
- The node then can do the following:
  - Accept the contract, deploy the workloads, send response over RMB
  - Reject. User can then get deployment status from the node its

[2021-07-02 13:58] #1326 closed, assigned to nobody

[2021-07-05 08:39] #1295 closed, assigned to maxux

[2021-07-05 08:40] #1298 closed, assigned to muhamadazmy

[2021-07-05 08:46] #1297 closed, assigned to muhamadazmy

[2021-07-05 08:48] #1258 closed, assigned to nobody

[2021-07-05 08:50] muhamadazmy opened #1332 "zos3: substrate integration"
- [x] Node auto registers on substrate on boot
- [x] Node configure it's twin object on substrate
- [x] Node auto start the msgbus with correct twin id
- [x] Work with newer substrate runtime

[2021-07-05 11:59] ashraffouda commented on #1291
pr for k3s image
https://github.com/threefoldtech/tf-images/pull/46

[2021-07-08 14:53] muhamadazmy commented on #1289
https://github.com/threefoldtech/zos/blob/master-3/specs/grid3/grid3.md#public-ips

[2021-07-08 14:53] #1289 closed, assigned to muhamadazmy

[2021-07-14 11:32] maxux commented on #347
This become a real concern now since system is more and more used.

Here is a proposal, based on schema already used by well known system (eg: iOS).

The idea is to use two key: one for disk encryption and one for keychain encryption.

In practice, we should have a partition encrypted with a **user-key**, let's call that partition `keychain`. This partition will contains **all sensitive data** (ca

[2021-07-19 06:49] #1330 closed, assigned to muhamadazmy, DylanVerstraete

[2021-07-19 11:09] sabrinasadik commented on #1319
According to @LeeSmet, a simple bios lockup is not the way to go. When the farmer removes the battery, the bios resets & the lockup is gone.
What's actually needed is a bios lockup + probably something like a TPM (Trusted Platform Module). This needs investigation, research & coding to be viable.

@muhamadazmy can you take a look at this and give us your two cents, please?

[2021-07-19 11:12] muhamadazmy commented on #1319
My 2 cent is we check with  @maxux

[2021-07-19 11:30] maxux commented on #1319
For the old blockchain node, we added a security layer which prevent kernel to boot if secure boot was not enabled. But TPM is indeed something we would need to use aswell.

[2021-07-19 11:34] sabrinasadik commented on #1319
@maxux is this something you can put on your radar and work on? Need this as soon as possible, before the next batch of Titan nodes goes out.

[2021-07-20 22:26] maxux commented on #1319
Well, actually I think we face some problem.

Since we are fully open source (and even, that closed source would just make things difficult but not impossible), it's doable for anyone to build our stuff with custom modification. In that perspective, it will always be possible to a node to reply something which looks like presenting a certified node, even if it's not.

I think we should have a way

[2021-07-21 13:25] scottyeager opened #1340 "Zos boots and obtains network, no resources detected"
A farmer reports that their system has booted Zos but is not showing resources available to the Grid. Is connected to network but shows nothing for CPU/Memory usage:

![image](https://user-images.githubusercontent.com/17682591/126492649-a1dfe1bb-0cbc-4b0b-8b6f-decf6bc49ca1.png)

Hardware:
Gigabyte Model No.- R181-Z93

![image](https://user-images.githubusercontent.com/17682591/126495359-64e3e1dd-0

[2021-07-21 13:36] scottyeager commented on #1340
Currently node is online (was "up", now "likely down") with id (FioTmYozsuGxo1pk1PsMw6REL7Q2qPUfZ4UdkePKs3aQ), but explorer shows no resources:

![image](https://user-images.githubusercontent.com/17682591/126497544-a4130a4f-da1a-4342-af69-8151928e11da.png)

[2021-07-23 06:12] muhamadazmy commented on #1340
Have the disks been cleaned out before booting? Zos will not use any disk that already have a filesystem it partition table

[2021-07-23 07:08] muhamadazmy commented on #1340
I checked the node information on the explorer [here](https://explorer.grid.tf/api/v1/nodes/FioTmYozsuGxo1pk1PsMw6REL7Q2qPUfZ4UdkePKs3aQ?proofs=true) and it shows that the proofs (basically hardware information of the node) are not there

![image](https://user-images.githubusercontent.com/10920323/126748077-ade6fa36-f547-4aa4-a331-7d1b80361350.png)

So i assume the hardware detection of this node

[2021-07-26 13:45] LeeSmet commented on #1319
So the idea I'm having is this:

Certification is a centralized process, so it makes sense that this is performed by TF when a node is sold, or someone related to TF (employee, licensed technician, ...) can make a node certified later. The node goes through the certification process and is then marked as certified by TF (how that works is out of scope here).

In practice we need 2 things: a locked

[2021-07-26 13:47] LeeSmet commented on #347
It seems that we might want to evaluate this w.r.t. #1319

[2021-07-26 17:18] maxux commented on #1319
That sound really great and meets my ideas !
I still have a concern, how can we ensure that a node booted and registered is effectively a certified node ?

Using the key we put on the TPM (and nowhere else), to sign something unique during registration and compare with a db (blockchain) which contains public key ? We need to ensure this key cannot be leaked then.

[2021-07-26 21:47] LeeSmet commented on #1319
Afaik a tpm has the ability to sign data on chip. In this setup, a node identity key os created during first boot as part of the certification process. At this point, we know the HW, and we verify the data is acurate on the explorer, so no error occurred. We then have the public key. Since the data is signed on the tpm, the private key never leaves that and is secure (assuming the tpm itself is se

[2021-07-27 11:14] maxux commented on #1319
That sound really good. Let's get some hardware with TPM 2.0 to play with :p

[2021-07-29 13:28] maxux opened #1343 "identityd: system doesn’t boot when seed is corrupted"

[2021-08-02 09:52] #1343 closed, assigned to muhamadazmy

[2021-08-02 12:03] muhamadazmy opened #1345 "yggdrasil update to 0.4"
All public peers has updated to 0.4 and now we have to do it for both zos 2.9 and 3.0

[2021-08-03 07:07] #1332 closed, assigned to muhamadazmy

[2021-08-03 07:08] muhamadazmy commented on #1281
Is not an issue anymore since everything is now a vm

[2021-08-03 07:08] #1281 closed, assigned to DylanVerstraete

[2021-08-03 23:50] maxux commented on #1319
Some update here. I could play with the fTPM in my laptop and get some RSA key installed that I can use to sign stuff.
I will explore more in deep how registers etc. works in order to get secure boot really secure, but all of this can be done remotely, we don't need any extra physical access to Certified Node now.

[2021-08-09 02:19] scottyeager opened #1350 "Workload failed to deploy due to error network is not installed on this node"
While attempting to deploy an Ubuntu, I get an error that the network is not installed on the node:

[code]
https://explorer.grid.tf/api/v1/reservations/workloads/98022

However, network is and always has been installed on the node:

https://explorer.grid.tf/api/v1/reservations/workloads/84363

Attempting to deploy a generic VM to the same network produces this error:

[code]
https://explorer.grid

[2021-08-09 02:24] scottyeager opened #1351 "Failed to spawn vm machine process"
Attempting to deploy generic VM solutions fails with:

[code]
https://explorer.grid.tf/api/v1/reservations/workloads/98021

[2021-08-10 09:03] muhamadazmy commented on #1350
I have no access to the node, but i checked the node logs from grafana and I came to the same conclusion that the network setup on the node is gone for some reason! It will be hard to figure out why the network is deleted

[2021-08-10 16:45] scottyeager commented on #1350
Oh ya, forgot to mention that this is *my* node :slightly_smiling_face:

Anything to do other than try rebooting it?

[2021-08-10 16:47] scottyeager commented on #1351
This is same node as #1350, so may ultimately be due to the failed network.

[2021-08-11 13:30] muhamadazmy opened #1354 "zos3: report uptime to substrate"
- Plan to implement this with node_update call

[2021-08-17 12:14] muhamadazmy opened #1356 "Add warnings to summary screen"
The summary screen should show critical warnings that prevent the node from operating normally, this should include:
- invalid farmer id (farm does not exist)
- services down or not running
- more?

[2021-08-18 13:08] DylanVerstraete opened #1357 "Grid 3: Fetch correct country / city ID based on the location of the node"
Query graphql instance for countries and cities to extract the ID's

[code]

should be done over rest to: https://explorer.devnet.grid.tf/graphql/

[2021-08-20 06:36] muhamadazmy commented on #1357
ZOS should not use the graphql api. ZOS should only deal with substrate (the grid db) but not other services. otherwise we will end up with spaghetti design

[2021-08-20 06:36] #1357 closed, assigned to nobody

[2021-08-20 06:38] #1354 closed, assigned to muhamadazmy

[2021-08-20 11:00] DylanVerstraete opened #1359 "Add all event types for substrate runtime modules"
Currently decoding events from a block can fail if it contains events which are not typed yet. For our custom `tfgridModule` and `smartContractModule` modules we need every event typed.

- smartContractModule: https://github.com/threefoldtech/tfchain_pallets/blob/98648a40d9135a5475adc9621abb9c80497bfac1/pallet-smart-contract/src/lib.rs#L40
- tfgridModule: https://github.com/threefoldtech/tfchain_p

[2021-08-20 13:54] muhamadazmy opened #1362 "zos3: RO mounts should be automatically unmounted when no longer in use"
Also related to this issue
- We need to be able to link a bindmount back to it's flist. currently pid files are named after the flist hash not the mount point. so it's impossible to know which g8ufs is serving which mountpoint

[2021-08-22 12:35] OmarElawady opened #1363 "ZOS3: vms fail because of ro mount failure"
Deployment id: 14

Deployment info:
[code]

[2021-08-23 09:34] muhamadazmy commented on #1363
This is most probably because of some clean up i did manually on the node. I re-did the clean up to make sure everything is proper again. Note that in real life manual intervention shouldn't be done (or possible).

So can you give it another try and let me know if it's resolved.

Note: there is an issue already created #1362 that should improve this anyway, and will remove the need of the manual c

[2021-08-23 09:44] muhamadazmy opened #1365 "ZOS3: network is shareable across deployments, but must be edited by the deployment that created it"
Right now, the network workload load is the only workload that can be referenced from other deployments. so a deployment can create the network, but then another deployment can then create a vm that hooks to this network. This so far a requirement that is giving us lots of headache. because of the following:
- On decommission of the network, we can't reverse look up if it's still used by other dep

[2021-08-23 09:47] OmarElawady commented on #1363
Tested again on node with id 2 and the error no longer appears.

[2021-08-23 09:47] #1363 closed, assigned to muhamadazmy

[2021-08-24 11:04] OmarElawady opened #1366 "UpdateContract doesn't support changing the number of public ips"
Adding a vm with another public ip to a deployment requires incrementing the number of public ips in the contract which is not currently supported
`func (s *Substrate) UpdateContract(identity *Identity, contract uint64, body []byte, hash string) `

[2021-08-25 11:55] muhamadazmy commented on #1366
Yes, that was intentional. It's problematic to do this, and we left it for later.

[2021-08-25 12:03] muhamadazmy opened #1367 "zos3: web-gateway"
Specs can be found [here](https://github.com/threefoldtech/info_specs_grid3/blob/development/wiki/specs/networking/webgateway_specs.md)

- [x] traffic routing from public namespace to ndmz
- [x] gateway daemon implementation
  - [x] zbus interface
  - [x] start traefik instance from an flist
  - [x] implement add/remote routes functionality
- [x] if public namespace is set, start gateway daemon in

[2021-09-01 12:59] OmarElawady opened #1371 "Kubernetes cluster nodes not ready after update"
Reproducing steps:
1. Make a deployment with one master on node 2 and one worker on node 4 (all good)
2. Change anything in the master (e.g. increase its cpus by 1), and change the worker node from 4 to 2 and add a new worker on node 4.
3. The master and the old worker is NotReady, the new worker is ready. (from `kubectl get nodes` on the master)

The workers have the correct `K3S_URL` env variabl

[2021-09-06 11:23] delandtj commented on #1365
Huh... don't under stand the 'better fix'

[2021-09-07 15:01] LeeSmet opened #1375 "QSFS as primitive in zos"
# QSFS primitive spec

Qsfs needs to be added as a primitive in 0-os. The goal is to enable everyone to create a filesystem, which is then mounted in a VM (plain VM or kubernetes), using virtio-fs.

## Qsfs components

Qsfs is build up from 3 local components:

- [0-db-fs]: The fuse filesystem which is the actual interface a user interacts with (in this case though the use of virtio-fs)
- [0-db]:

[2021-09-08 13:29] #1376 closed, assigned to xmonader

[2021-09-09 07:31] muhamadazmy commented on #1371
After changing the deployment, did the deployment reflect in reality correctly. for example:
- do u have all vms running
- are all vms reachable over wireguard
- can the vms reach each other as expected
- are all vms env correct ?

If not what went wrong? does the wrong "configuration" is correct in the deployment or not ?

[2021-09-09 09:14] OmarElawady commented on #1371
All yeses. What went wrong is that the master and the worker became `NotReady` (the only ones that got affected by the update). I inspected the config by eye and checked the `K3S_URL` env and reachability after the update and all seemed to be correct.

[2021-09-09 14:00] muhamadazmy commented on #1367
## Know issue:

We introduced a patch to traefik that report number of bytes sent and received to a specific service. So far this works fine unless the connection is interrupted.

For example, if you are downloading a large file, then you stopped the download midway, the amount of downloaded data is not counted correctly.

@OmarElawady is working on a fix for it atm

[2021-09-13 10:41] xmonader opened #1379 "zos3: gateways : TLS passthrough"
As a user I expect to be able to bind my own domain to a grid workload e.g codescalers running their own crm and the incoming traffic mustn't be terminated by the gateway's traefik, it should be terminated by the grid vm, this requires in the gateway workload that we specify we don't want trafiek to terminate the TLS

[2021-09-13 10:48] xmonader opened #1380 "zos3: gateway dynamically expose workloads running on the grid"
we used to have https://github.com/threefoldtech/tcprouter client that worked like ngrok sort of, because you weren't able to know the IP the backend service that you will forward the traffic to, so you needed some process to initiate the communication channel and the gateway would forward the traffic to it based on the SNI

the current suggest implementation is:
- the user creates a name contract

[2021-09-13 10:52] xmonader opened #1381 "zos3: webgateway: custom domains over private grid workloads"
as a user, I have a workload deployed on the grid (wg or ygg) no public IP, and I'd like to bind it to my own domain on some DNS provider e.g name.com

Right now the current implementation allows NameContracts with prefix, not a full domain, which needs to be the case for the usecase above

[2021-09-13 10:53] xmonader opened #1382 "Zos3: webgateway part 2"
- [x] Name reservation/validation on blockchain
- [x] #1379
- [x] #1381
- [x] ~~#1380~~
- [x] #1384

[2021-09-13 10:54] xmonader opened #1383 "Zos3: document how to be a gateway farmer"
This should cover all the pieces needed

This should cover, the following:
- Setting up dns to point the right domain (and other names) to the zos node yet to be a gateway
- Make the right rmb call to setup node public config (this must include public ipv4, optionally ipv6 and domain name)
- Validation of node configuration on substrate (optional step)

[2021-09-13 12:46] muhamadazmy opened #1384 "zos3: wild card certificate for web-gateways"

[2021-09-13 13:20] muhamadazmy commented on #1380
as per our call
- The grid is a generic platform for generic workloads (like gateways) so you basically can proxy traffic to an ygg ip that lives on your laptop
- ZOS can't and will not accept connections from users, other than the exposed messages on msgbug to create/delete deployments and other information query methods. so modifying a workload or reconfigure it outside of the normal flow is not

[2021-09-13 13:20] #1380 closed, assigned to nobody

[2021-09-13 13:53] muhamadazmy commented on #1367
Follow part 2 on #1382

[2021-09-13 13:53] #1367 closed, assigned to muhamadazmy, OmarElawady

[2021-09-13 14:04] AhmedHanafy725 opened #1385 "zos3: support update disk size"
Users may need to increase the disk size for a machine, but currently increasing the size in zmount workload doesn't apply the change on the machine.

[2021-09-14 11:33] muhamadazmy commented on #1375
# Implementation tasks:
- [x] Add the new workload type in the zos types. Plus data structure for this new type.
  - [x] The workload data should include
    - All config required for the fs operation (zstor_v2 config)
- [x] Build flist for the zdb-fs container, this include
   - [x] 0-db binary
   - [x] zstor binary
   - [x] 0-db-fs binary
   - [x] zinit binary
   - [x] config files for zinit to

[2021-09-15 11:43] sameh-farouk opened #1387 "can't install docker on VM deployed via the VDC dashboard"
### Description

I tried to install docker with the normal instruction given by docker official installation docs.
but I wasn't able to successfully run docker service.

### Version information

* OS:
[code]
* Project commit/version: js-sdk f3d31bcf30d0ac1dcc4e57c823713ecdaac1f660

### Installation method

as given here
https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository
an

[2021-09-15 11:50] xmonader commented on #1387
if this works on grid3 vms, we can close and track that as a known issue in grid2 vms

[2021-09-16 08:35] xmonader opened #1388 "update the RMB binary to rmb-go"
should update to github.com/threefoldtech/rmb-go instead of rmb

[2021-09-17 06:50] #1379 closed, assigned to nobody

[2021-09-17 06:50] #1381 closed, assigned to nobody

[2021-09-20 10:10] muhamadazmy commented on #1382
Last task, Name reservation/validation on blockchain is blocked on devnet substrate deployment

[2021-09-22 11:09] DylanVerstraete opened #1391 "create chart for subproxy"

[2021-09-22 12:16] #1391 closed, assigned to DylanVerstraete

[2021-09-23 09:10] xmonader opened #1394 "expose yggdrasil IP in the result"

[2021-09-23 09:20] OmarElawady opened #1395 "The Yggdrasil IP assigned to the VM is not exposed in the workload result"
Currently the workload result contains only the id and the private ip.

[2021-09-23 09:22] xmonader commented on #1394
https://github.com/threefoldtech/zos/issues/1395

[2021-09-23 09:22] #1394 closed, assigned to nobody

[2021-09-29 08:24] #1395 closed, assigned to OmarElawady

[2021-09-29 11:04] #1388 closed, assigned to muhamadazmy

[2021-09-29 11:09] muhamadazmy commented on #1387
missing informations:
- Is this grid2 or grid3 ?
- What is the deployment body? How the vm was created, are there any attached disks?
- The logs provided are from sshd, i am not sure how this can be any useful! we need the logs for docker daemon.

[2021-10-03 17:20] sameh-farouk commented on #1387
- grid2
- using the Virtual machine deployer feature, on the VDC dashboard.
- the instance was destroyed, but the issue is Reproducible on any VM deployed from the VDC dashboard.

And sorry for the irrelevant logs, posted by mistake.

[2021-10-04 14:15] OmarElawady opened #1407 "zos3: `/bin/bash entrypoint` fails but `entrypoint` works normally"
Container info:
[code]
the initrd logs ends with and ssh doesn't work (the container didn't die though):
[code]
setting the entrypoint to `/init.sh` is working.

`init.sh` contents:
[code]

[2021-10-04 16:13] OmarElawady opened #1408 "zos3: Allow user to specify the rootfs cache size"
currently the zmachine when run with flists, it has a cache size of .25 GB which causes the error `Disk quota exceeded` after some time. Looks like the user should find the places where a lot of data will be placed and use disks for them. But .25 GB can be exceeded by logs, cache file, package installations, .... It would be convenient to allow the user to specify the limit.

[2021-10-04 16:48] OmarElawady opened #1409 "zos3: zmachine node 1 bad network"
zmachine info:
[code]

ssh is working normally but can't reach anything outside:
[code]
network info:
[code]

[code]
the same deployment works fine on other nodes

[2021-10-05 11:38] sameh-farouk opened #1410 "cant't run CapRover on grid 3 - Docker's ingress network issue"
when trying to install CapRover on a grid 3 following CapRover installation instructions [here](https://caprover.com/docs/get-started.html) we weren't able to access the dashboard on port 3000.

using full VM on DigitalOcean the Ingress/Overlay network is working as expected.

we also found that [issue](https://github.com/caprover/caprover/issues/1206) that refer to use the [edge version](https://

[2021-10-06 15:34] LeeSmet commented on #1062
This has since been implemented

[2021-10-06 15:34] #1062 closed, assigned to nobody

[2021-10-06 23:38] sameh-farouk commented on #1410
Apparently fixed in https://github.com/threefoldtech/cloud-container/pull/2

[2021-10-12 08:05] muhamadazmy commented on #1407
can you show me what are the vm full command line was, may be it's a problem with cmdline arguments passing. also is this vm running a container or vm mode

[2021-10-12 08:05] #1408 closed, assigned to nobody

[2021-10-12 08:08] muhamadazmy commented on #1409
Is this machine still up ? if so can you also check `/etc/resolv.conf`. Also can you ping public Ips? can you ping other nodes on the same user network ? which Ip u used to ssh to the vm?

[2021-10-12 08:18] #1311 closed, assigned to muhamadazmy

[2021-10-12 08:25] #1410 closed, assigned to nobody

[2021-10-12 08:30] muhamadazmy opened #1424 "ZDB resize support"

[2021-10-12 08:36] muhamadazmy opened #1425 "zos3: support update of some of workloads"
The provision engine need to handle the failure to update differently than an install update. The problem is a failed update does not mean that the reservation is gone.

For example, increase a disk size can fail, but doesn't mean the disk is gone so the disk state should still be okay but we need to report back that the operation of the resize has failed. This is currently is not possible, becaus

[2021-10-12 15:57] sameh-farouk opened #1429 "Entry-point defined in the TerraForm conf file should take precedence."
if you have an entry point defined in the docker file then convert it to flist and want to boot a VM with that flist. Then the entry point in TERRAFORM conf file won’t be used. It will always use the one from the docker file, and ignore the one in terraform conf file. To make the one from the tf file works you have to remove the entry point defined in the docker file entirely and rebuild the list.

[2021-10-13 14:33] OmarElawady commented on #1409
This was the public node, I think it was in a horrible state and got reset. Back then I couldn't ping anything but I could ssh there. Now this issue doesn't happen on it (node id: 40).

[2021-10-13 14:33] #1409 closed, assigned to nobody

[2021-10-13 14:43] OmarElawady commented on #1407
This is a zmachine in container mode, the full cloud-container cmdline is (from ps):
[code]

[2021-10-14 11:03] muhamadazmy commented on #1429
the entry point is handled like this
- Load entrypoint definition from the flist (if defined)
- Check if Vm.config has a custom entrypoint defined
  - if vm workload config has entrypoint defined, use this one
  - if Not, use the one from the flist

This is defined here: https://github.com/threefoldtech/zos/blob/zos3/update-order/pkg/primitives/vm_utils.go#L280

So can you check the actual deploym

[2021-10-15 09:26] muhamadazmy opened #1433 "zos3: prepare a pre-release for testnet"
Release: https://github.com/threefoldtech/zos/releases/tag/v3.0.1-rc2

[2021-10-15 09:26] muhamadazmy commented on #1433
Ready for testing

[2021-10-18 10:50] sameh-farouk opened #1434 "qsfs mounted on /var/lib/docker not working as expected"
i used terraform conf file to delpoy a vm with qsfs volume to test.

if `qsfs` volume is mounted on `/var/lib/docker`, the docker daemon will show some errors when started and will not be able to save images in the docker directory.

[code]

if I try to download an image, it will fail with input/output error.
[code]
mount a normal volume on the same path  `/var/lib/docker` will not show the errors

[2021-10-18 11:01] xmonader commented on #1434
@maxux  @LeeSmet

[2021-10-19 10:06] muhamadazmy commented on #1429
Can you also send me the link to the flist used to inspect as well

[2021-10-19 10:40] muhamadazmy commented on #1434
This is (from experience) a fuse filesystem issue. the zdb-fs is probably missing the `statfs` call implementation. and then the `overlay` filesystem fails to use it.

@maxux

[2021-10-19 13:56] maxux commented on #1434
`statfs` is implemented.

Docker use special driver for each filesystem. It make sens for me that it doesn't support fuse stuff. Why would you do that anyway ?!

It could maybe works by forcing some legacy driver ?
 Anyway this is not a zdbfs issue but docker issue.

[2021-10-20 08:20] muhamadazmy opened #1437 "handle chain events for contact deletion and decomission the deployment"
Currently the contracts status on chain are checked only during capacity reporting. so the node will basically report capacity to an active contract, and if the contract status was seen as "deleted" the node will then decomission the contract.

This was fine when reporting was done every 5 minutes, so a node can keep a canceled contract active for only 5 min maximum before taking an action.

But n

[2021-10-21 07:44] #1433 closed, assigned to nobody

[2021-10-21 08:11] muhamadazmy commented on #1434
@maxux latest update that this might be related to zdbfs not working as upper layer in an overlay mount. So can we link this issue here with update if this gonna be fixed or not ?

[2021-10-21 11:52] maxux commented on #1434
https://github.com/threefoldtech/0-db-fs/issues/29
Again it's not zdbfs issue, but any fuse fs not supporting this.

[2021-10-21 15:17] LeeSmet commented on #1437
Substrate allows you to define custom events (which is what we already do), which are emitted when a certain extrinsic is called. Also, the main idea is that the runtime storage on substrate represents the active state of the chain. So for reservations, we would basically have a map, where the node ID is the key, and the list is a Vec of reservation ID's, which are active. If a reservation is deco

[2021-10-21 15:44] muhamadazmy commented on #1437
We already have a map for the active contracts per node, and is already used like this. It's the subscribing to the events that is missing.

[2021-10-21 16:47] muhamadazmy opened #1438 "update node config should be done by updating the node data on substrate, not over rmb"
Current to setup public config, the farmer must make a call to the node over RMB to set the public config up. then the node will update it's node info on substrate

This need to be done the other way around like this:
- The node boots for first time and creates the node object (already the case)
- The farmer need to be able to set the public config of the node (need to be done) the farmer should n

[2021-10-21 20:50] LeeSmet commented on #1437
Alrighty, my point is also that you don't need an (expensive) scan of chain history, or to keep track of the last seen block :)

[2021-10-24 12:50] waleedhammam opened #1440 "nodes fails to release public ips"
![image](https://user-images.githubusercontent.com/10658229/138594888-e04a9f84-c56e-4114-bb90-5b7faa9b340b.png)

as we see here for vdc: `vdc_vdc4grego1_badtoken` : workloads has the action of 4 but fails to release
example: https://explorer.testnet.grid.tf/api/v1/reservations/workloads/75046
node: Gx8Lq33vothCc3WnbbNeZCMTvfTbGMDtXTdyKRSGHSkp

[2021-10-24 14:24] xmonader commented on #1440
@LeeSmet guess the same as last time https://github.com/threefoldtech/tf_operations/issues/310

[2021-10-25 13:13] mhost39 opened #1443 "cant write more than .25GB on the qsfs dir"
using devnet and node 12
using terraform provider: i deployed a QSFS with zdb 10G and cache 1G
QSFS main.tf: https://gist.github.com/mhost39/145dba4041a5e2a6add2540e791ce35d

after deployed i tried to download 354M on /qsfs:
[code]
and got this error
[code]
![image](https://user-images.githubusercontent.com/31102305/138701784-742e6ed4-02d3-48fc-8c51-3e0600b40de4.png)

[2021-10-25 13:15] mhost39 commented on #1443
then i tried again with cache 10G and worked fine

[2021-10-25 13:35] mhost39 opened #1444 "can't find my data written on qsfs dir after destroy qsfs and redeploy"
using devnet and node 12
using terraform provider: i deployed a QSFS with zdb 10G and cache 10G

after deployed i downloaded 354M on /qsfs:
[code]
then killed the deployment (qsfs and the container and keep the zdbs) and redeploy it
i should find my data after deploy again
i can't find any thing in /qsfs

[2021-10-25 15:38] OmarElawady opened #1446 "QSFS config related errors are not reported (fails with generic error message)"
If the user supplied a wrong zdb ip or namespace, or messed up almost anything. The QSFS container is started and fails when it validates the config. It doesn't mount the zdbfs and zos reports after a timeout that the mounting timed out. Validating the config thoroughly looks like a tedious task to do in ZOS. Should the container logs be provided in the error message in case of zdbfs mount failure

[2021-10-26 09:35] rkhamis commented on #1444
@mhost39 can you provide configuration of zstore?

[2021-10-26 10:15] OmarElawady opened #1449 "Add fqdn DNS validation in the periodic check"
We check periodically for the name contracts but not fqdn workloads. If the dns record is not pointing anymore to the gateway the workload should be deleted.

[2021-10-26 13:27] OmarElawady commented on #1444
I tried the same scenario and the qsfs container is missing the `cp` binary and `/tmp` mount. But I added them manually (and flushed all nft just in case) and zstor failed to push the data.

zstor container log: https://gist.github.com/OmarElawady/2b4168d6cec9de72ca1cf3fb105bc76c
zstor config: https://gist.github.com/OmarElawady/a5f3c18ebd66af2f8df4fca3ea32c1ed

[2021-10-26 14:15] mhost39 commented on #1444
@rkhamis
https://gist.github.com/mhost39/dd11a5a005220d72daeee35e52c2a5c7

[2021-10-27 10:24] dmahmouali opened #1451 "Whenever canceling its contract, the VM is still accessible and open to use"
I deployed a VM on node 4, and after deleting the contract I still can access and use it for a couple of hours

this is the deployment get a response: https://rmbproxy1.devnet.grid.tf/twin/28/523e6063-f2b1-4ff8-a6bf-4db0fd05c308

[2021-10-27 10:32] LeeSmet commented on #1444
0-stor refuses to save the file, because of the setting of "root" vs the file path. if the `root` config option is set, 0-stor only uploads files which are part of this directory tree (and strips the prefix from the actual path when generating the key).If a file is loaded, this path is prefixed to the path used to upload. Example

On machine 1, set `root` to `/a`, and upload file `/a/b/c`. 0-stor

[2021-10-27 11:48] AhmedHanafy725 opened #1453 "failed to find IP address on zdb0 interface: failed to get an IP for interface: failed to get interface eth0: Link not found"
While deploying zdbs on node 5, got this error

env: devnet
deployment's contract_id: 220

[code]

[2021-10-27 15:53] xmonader commented on #1451
@muhamadazmy does this mean that provisiond was hangning?

[2021-10-28 10:41] #1384 closed, assigned to OmarElawady

[2021-10-28 10:41] #1382 closed, assigned to muhamadazmy, OmarElawady

[2021-10-28 12:01] xmonader commented on #1387
this is done in grid 3 now. closing

[2021-10-28 12:01] #1387 closed, assigned to nobody

[2021-10-28 12:03] xmonader commented on #1383
docs to be added in https://github.com/threefoldfoundation/info_threefold_pub/blob/main/wiki/manual_tfgrid3/farming/gateway_farmer.md

[2021-10-28 12:05] xmonader commented on #1444
@mhost39 this should be in verification now right?

[2021-10-28 12:09] xmonader commented on #1362
can this be closed ?

[2021-10-28 12:10] xmonader commented on #1359
What is the status here?

[2021-10-28 12:11] xmonader commented on #1351
I'll close as too old, and there're many successful deployments of VMs already

[2021-10-28 12:11] #1351 closed, assigned to nobody

[2021-10-28 12:11] #1350 closed, assigned to nobody

[2021-10-28 12:12] xmonader commented on #1345
implemented

[2021-10-28 12:12] #1345 closed, assigned to muhamadazmy

[2021-10-28 12:12] xmonader commented on #1340
closing as too old

[2021-10-28 12:12] #1340 closed, assigned to nobody

[2021-10-28 12:12] xmonader commented on #1327
CH is ok on grid2 and grid3

[2021-10-28 12:12] #1327 closed, assigned to LeeSmet

[2021-10-28 12:16] #1294 closed, assigned to nobody

[2021-10-28 12:27] muhamadazmy commented on #1383
This section is not enough ? https://github.com/threefoldfoundation/info_threefold_pub/blob/main/wiki/manual_tfgrid3/farming/booting_node.md#setting-up-public-configuration-pub

[2021-10-28 12:29] muhamadazmy commented on #1451
Right now, the node only check the "validaty" of contracts on "capacity reporting" which happens every 1hour. so in worst case the VM can still be alive for 1 hour before cancelling the contract.

There is already an issue open for this so we also listen to grid events on cancellation. and decomission immediately.

[2021-10-28 12:30] #1383 closed, assigned to OmarElawady

[2021-10-28 12:30] #1438 closed, assigned to muhamadazmy

[2021-10-28 12:33] muhamadazmy commented on #1451
related to #1437

[2021-10-28 12:37] muhamadazmy commented on #1446
We can attach a "tail" of the logs like last 100 lines of logs to the error message.

[2021-10-28 12:38] #1359 closed, assigned to nobody

[2021-10-28 12:39] #1306 closed, assigned to muhamadazmy

[2021-10-28 12:39] muhamadazmy commented on #1306
we still use btrfs for zdb but assign a single zdb to one disk

[2021-10-28 14:23] #1324 closed, assigned to delandtj