[2018-09-24 08:33] xmonader commented on #1
https://github.com/threefoldtech/container_cmd/commit/8be4a531cea41598dd82f4a0524c8c1efdba378b

[2018-10-10 06:38] zaibon commented on #3
this needs to be done from the zos SAL itself: https://github.com/threefoldtech/jumpscale_lib/issues/184

[2018-10-10 06:41] zaibon commented on #6
dropbear is known to be bugy. So sshd is fine. But currently 0-os doesn't allow you to update the root flist of a container at runtime, so merge flist only when needed is not going to work. But I had another idea, we could add a primitives to 0-os itself, that allows to copy the sshd binaries and libs into the filesystem of the container. So we could, at runtime, install ssh and allow remote acces

[2018-10-10 07:28] zaibon commented on #6
Not a solution, we don't want to have to each flist double

This should not be at initialization, but only when asked by the use during the runtime of the container, is this still a possibility ?

That sounds like the best option indeed, but merging flist is not that trivial. Do you think that something we could implement in a couple of days ?

[2018-10-10 07:36] zaibon commented on #6
nice, let's create the issue on [0-fs](https://github.com/threefoldtech/0-fs) then

[2018-10-10 07:37] zaibon commented on #6
@xmonader you can then already prepare an flist that contains the sshd and all it's libs

[2018-10-10 07:38] muhamadazmy commented on #6
@xmonader make sure it includes a shell as well plus busybox

[2018-10-10 20:50] delandtj commented on #9
docopt an nim-0.19 are not friends(yet)

[2018-10-11 06:49] weynandkuijpers commented on #10
And when compiling:
weynand@Ubimac:~/opt/GitHub/zos$  nimble static
       Info Hint: used config file '/etc/nim.cfg' [Conf]
     Error: Could not read package info file in /home/weynand/opt/GitHub/zos/zos.nimble;
        ...   Reading as ini file failed with:
        ...     Invalid section: .
        ...   Evaluating as NimScript file failed with:
        ...     home/weynand/opt/GitHub/zos/zos.

[2018-10-11 09:35] weynandkuijpers commented on #10
Downloaded the latest version of nimble and compiled it:

weynand@Ubimac:~/opt/GitHub/zos$ nimble -v
nimble v0.9.0 compiled at 2018-10-11 09:26:08
git hash: couldn't determine git hash

Compile error like this
eynand@Ubimac:~/opt/GitHub/zos$ which nimble
/home/weynand/.nimble/bin/nimble
weynand@Ubimac:~/opt/GitHub/zos$ nimble zosbuild
  Executing task zosbuild in /home/weynand/opt/GitHub/zos/zos.n

[2018-10-11 09:52] xmonader commented on #9
Updated deps to `docopt#head` it should fix it
[code]

[2018-10-11 11:44] xmonader commented on #10
Should be fixed by latest

[2018-10-11 12:35] despiegk commented on #11
check if dir exists, ...
ask to remove

[2018-10-11 12:40] despiegk opened #12 "remove need for ssh-key in zos init"

[2018-10-11 12:52] despiegk opened #14 "have -v option"
std commands need to output human readable, simple output.
if people want more then they can use -v

[2018-10-11 13:06] despiegk opened #15 "zos exec remove"

[2018-10-11 13:08] despiegk opened #16 "need option on create container -ssh which enables ssh by default"

[2018-10-11 13:22] despiegk opened #17 "container exec has terrible output, needs to be as close as possible how it would be in the shell itself"
![image](https://user-images.githubusercontent.com/6021844/46807048-62f0ab80-cd69-11e8-94ec-a4a5a545d68b.png)

[2018-10-11 13:28] despiegk commented on #17
why not use ssh to execute it?

[2018-10-11 13:29] despiegk opened #21 "need to be able to make it scriptable"
e.g.

[code]

[2018-10-11 13:33] despiegk opened #22 "ssh extension to zos"
## use SSH where possible

- set of commands which use SSH interaction with container
- each command below should use SSH if SSH was ever enabled on a container

### execute command in container

use ssh to execute the command, this will make sure to execute using SSH command or through the wrapper ZOS is the same

[code]

### execute ssh session to container

[code]

### copy file/dir

use rsync

[2018-10-11 13:58] despiegk opened #23 "default virtualbox disksize needs to be 20GB"

[2018-10-11 14:01] despiegk opened #24 "i removed the vm, and I wanted to restart"
![image](https://user-images.githubusercontent.com/6021844/46809485-dc3ecd00-cd6e-11e8-88c6-cf710002d988.png)

nat rules where not removed

needs to be checked & removed when possible

[2018-10-11 15:44] zaibon commented on #14
https://github.com/threefoldtech/zos/issues/7

[2018-10-11 21:15] xmonader opened #25 "don't redownload efi file over and over when starting the machine"
Thanks to @maxux https://gist.github.com/maxux/7b23af1bfe448fa6027f3f3cd5446c8c

[2018-10-12 12:09] xmonader commented on #23
solved on development

[2018-10-12 12:52] weynandkuijpers opened #27 "ZOS runtime error after compilation on macos"
Issue:
After installing brew and the nim package on a virgin Macos system - successful compilation results in app error.  The app error is there because the .config directory does not exist on standard Macos.  Creating the .config directory resolves the issue (mkdir ~/.config). the zos.toml file does not have to exist, this one is created.

Suggestion:
Maybe add a check for the existence of the ~/

[2018-10-12 16:31] xmonader commented on #27
Thank you I solved that on development branch https://github.com/threefoldtech/zos/blob/development/src/zos.nim#L21

will merge all the updates in master on sunday

Note: development currently under lots of refactoring and might be broken, but you can give it  a try :)

[2018-10-12 16:38] xmonader commented on #28
Thanks! Fixed on development

[2018-10-14 11:38] xmonader opened #30 "show sorted containers by id on containers list"
on containers list show items ordered by id

[2018-10-14 11:40] xmonader commented on #21
solved in e377a3052a61a3f7d449d0aea28261873e92df04

[2018-10-14 11:44] Dina-Abd-Elrahman commented on #28
# Zos Version:
b84f527a31867727e00ba0abb8ca150d12892787

# Verification Step:
- nimble zos
- ./zos

[2018-10-14 11:52] Dina-Abd-Elrahman commented on #9
# Zos Version :
b84f527a31867727e00ba0abb8ca150d12892787

# Verification steps:

- nimble zos

[code]

[2018-10-15 06:49] xmonader commented on #30
https://github.com/threefoldtech/zos/commit/b84f527a31867727e00ba0abb8ca150d12892787

[2018-10-15 10:44] Dina-Abd-Elrahman commented on #23
# ZOS Version:
657e1fd2d96f7b81c331f39012e0dfa79e81a0a1

# Verification steps:
./zos init --name=create

[2018-10-15 10:44] #23 closed

[2018-10-15 10:53] xmonader commented on #13
Fixed in 657e1fd2d96f7b81c331f39012e0dfa79e81a0a1

[2018-10-15 10:57] xmonader commented on #16
fixed in 8fd37055f96d4af06dd3f6080e91fb5be5eb7bef

[2018-10-15 11:00] Dina-Abd-Elrahman commented on #13
# ZOS Version:

657e1fd2d96f7b81c331f39012e0dfa79e81a0a1

# Verification steps:

 ./zos init --name=create
[code]

[2018-10-15 11:15] xmonader commented on #22
Most of it done on the development branch

*scp used for upload/download (rsync to be in both sides) (creating ssh/rsync flist now)

[2018-10-15 12:43] Dina-Abd-Elrahman commented on #30
# Zos Version:
657e1fd2d96f7b81c331f39012e0dfa79e81a0a1
# Verification steps:

 ./zos container list
[code]

[2018-10-15 12:43] #30 closed

[2018-10-16 08:53] xmonader commented on #18
duplicated of https://github.com/threefoldtech/zos/issues/18

[2018-10-16 09:36] Dina-Abd-Elrahman commented on #16
# ZOS Version:
6cb6715360648ba3cce8ef22bb390025024d17b9

# Verification steps:

- zerotier-cli join 9bee8941b5717835
- ./zos container new  --name="test"  --root="https://hub.grid.tf/tf-bootable/ubuntu:lts.flist"

[code]
ssh root@10.244.250.236 -i /root/.ssh/id_rsa
[code]
The authenticity of host '10.244.250.236 (10.244.250.236)' can't be established.
ECDSA key fingerprint is SHA256:XpTFYT8lGEGIB3

[2018-10-16 09:36] #16 closed

[2018-10-16 10:10] xmonader opened #31 "js9 subcommand"
implement something like
[code]

[2018-10-16 10:12] xmonader opened #32 "allow mounting directories from reachable containers"
using sshfs allow

`./zos mount <id> /opt/code/machine1`

will mount the current active container or container with container id <id> into /opt/code/machine1 directory using sshfs

[2018-10-16 12:57] Dina-Abd-Elrahman opened #35 "change the output of zos container 5 zerotierlist"
need to change the output of this command

- zos container 5 zerotierlist

[code]

to be printed like this :

[code]

[2018-10-16 13:01] Dina-Abd-Elrahman commented on #33
it's fixed now

![page](https://user-images.githubusercontent.com/21218053/47018113-577bf680-d154-11e8-8df0-92480b31b549.png)

[2018-10-16 13:06] xmonader commented on #35
Fixed in 43bb7eb8110175deeaf2127fb9752feb4b6baf94

[2018-10-16 13:21] Dina-Abd-Elrahman opened #36 "two keys loaded in authorized_keys file"
- in all container there are two keys loaded in /root/.ssh/authorized_keys for the same machine
we need to delete one of them

[code]

[2018-10-16 13:54] Dina-Abd-Elrahman commented on #35
# ZOS Version:
43bb7eb8110175deeaf2127fb9752feb4b6baf94

# Verification Steps:
- ./zos container 4 zerotierlist

[code]
- ./zos container 4 zerotierinfo

[code]

[2018-10-16 13:54] #35 closed

[2018-10-16 15:11] xmonader commented on #12
solved in development

[2018-10-17 10:44] Dina-Abd-Elrahman commented on #17
# ZOS Version:
9956345c45e6a0a3fa17fd431eeddbe9fa77b224

# Verification Steps:
- ./zos container new --name=jumpscale --root="https://hub.grid.tf/tf-official-apps/ubuntu-bionic-build.flist"
- ./zos container exec "curl https://raw.githubusercontent.com/threefoldtech/jumpscale_core/development_simple/install.sh?$RANDOM > /tmp/install_jumpscale.sh;bash /tmp/install_jumpscale.sh"

![output](https://u

[2018-10-17 10:44] #17 closed

[2018-10-17 11:39] #15 closed

[2018-10-18 19:35] #27 closed

[2018-10-19 08:08] xmonader opened #39 "commands executing against last container `implicitly` will break after changing active zos"
as we sort by the highest id discarding the instance we are working against, executing any command on the last container id will break

[2018-10-19 09:19] xmonader commented on #39
Fixed https://github.com/threefoldtech/zos/commit/1e3f6560ebb9f6b566f603cf76b251c10a67e959

[2018-10-19 09:32] robvanmieghem opened #40 "Create binary releases"

[2018-10-19 12:55] #39 closed

[2018-10-19 12:57] #14 closed

[2018-10-21 07:52] Dina-Abd-Elrahman commented on #19
# ZOS Version:
1e3f6560ebb9f6b566f603cf76b251c10a67e959

# Verification steps:
- create one container with ssh-agent is loaded and have only one key.
- I killed ssh-agent and try to create a new container, it loaded using the key stored in ~/.ssh/...
- I killed ssh-agent and remove ssh key file from default paths and try to create new container and i got this message

[code]

[2018-10-21 07:57] Dina-Abd-Elrahman commented on #36
# ZOS Version:
1e3f6560ebb9f6b566f603cf76b251c10a67e959

# Verification steps:
- create new container ( ssh-agent is loaded )
[code]
- login to this container
[code]
- check for ssh key
[code]

[2018-10-21 07:57] #36 closed

[2018-10-21 13:26] Dina-Abd-Elrahman opened #41 "issue with creating zos node with same name, different port."
- when trying to create new zos node with name of zos nodes exists before , but different redis port . without --reset option it starting the old node is started normally with old port ( without warning message )

[2018-10-21 13:47] Dina-Abd-Elrahman opened #42 "add [--reset] in zos help init command"
need to add --reset option in the output of this command

zos help init

[code]

[2018-10-21 15:11] xmonader commented on #42
cdb019f48594a3c7468fc2d8439e8c79df28b10b fixed

[2018-10-21 16:19] xmonader commented on #41
Fixed here https://github.com/threefoldtech/zos/commit/ba6fe68dbc4e629b5f4ae68d6e68d0a6941406eb and added description of the correct behavior

[2018-10-21 16:19] xmonader commented on #24
fixed in https://github.com/threefoldtech/zos/commit/ba6fe68dbc4e629b5f4ae68d6e68d0a6941406eb

[2018-10-21 16:20] xmonader commented on #11
fixed in https://github.com/threefoldtech/zos/commit/ba6fe68dbc4e629b5f4ae68d6e68d0a6941406eb

[2018-10-22 07:03] Dina-Abd-Elrahman commented on #42
# ZOS Version:
acae0299a4cf67de3d5c60dfc98ff48110072ff1

# Verification steps:
- zos help init

[code]

[2018-10-22 07:03] #42 closed

[2018-10-22 07:07] Dina-Abd-Elrahman commented on #42
#ZOS Version:
acae0299a4cf67de3d5c60dfc98ff48110072ff1

# Verification steps:
- ./zos help init

[code]

[2018-10-22 07:09] Dina-Abd-Elrahman commented on #42
- verified

[2018-10-22 15:58] Dina-Abd-Elrahman opened #47 "after switching to new ZOS node, new created continers created on old ZOS node"
# ZOS Version:
619b56a321c99b7c7ce333b2143dc0250b9514d1

# Verification steps:
-  ./zos container shell
```INFO sshing to container 342 on dina```

- note:
342 is the number of last container in old ZOS node

[2018-10-22 16:05] Dina-Abd-Elrahman commented on #41
# ZOS Version:
619b56a321c99b7c7ce333b2143dc0250b9514d1

# Verification steps:
- ./zos init --name="new2" --redisport=7779
[code]

[2018-10-22 16:05] #41 closed

[2018-10-22 16:30] Dina-Abd-Elrahman opened #48 "need to fix upload for directory"
- we cannot upload directory to container.

# ZOS Version:
619b56a321c99b7c7ce333b2143dc0250b9514d1

# Verification Steps:
- ./zos container 10 upload /root/test-upload /tmp/
```ERROR file /root/test-upload doesn't exist```

[2018-10-22 16:36] Dina-Abd-Elrahman opened #49 "we need to add upload and download in zos help container"
- need to add upload and download for the output of ```zos help container```

# ZOS Version:
619b56a321c99b7c7ce333b2143dc0250b9514d1

# Verification Steps:
-  ./zos help container
[code]

[2018-10-22 18:18] xmonader commented on #49
fixed in 38cd869ebe2bf9d2ee07ab36c142509201db8858

[2018-10-22 18:28] xmonader commented on #48
fixed in 7c8e67067feef0f35b9bb01af790394ed369ceca

[2018-10-22 18:30] #48 closed

[2018-10-22 20:43] xmonader commented on #40
I was only able to add dynamically linked one for linux ( tried managed to get ssl and pcre and failed at pthreads with musl)

[2018-10-23 06:05] siddiquagig commented on #49
Verified
[code]

[2018-10-23 06:05] #49 closed

[2018-10-23 10:57] xmonader commented on #7
fixed default usage will show table for container info and lots of improvements on the messages shown to user thanks to @maxux

![selection_041](https://user-images.githubusercontent.com/64129/47355937-04112780-d6c3-11e8-81f6-f8549dd0203e.jpg)
and --json parameter will show output as json

[2018-10-23 11:01] xmonader commented on #51
fixed here fb289df4e688a0c502413457b1a2e3908541b1b0

[2018-10-23 14:50] Dina-Abd-Elrahman commented on #7
# ZOS Version:
c88753bb25cad433b416929593eee99598a3d7d2

# Verification steps:
- zos container info

![zos](https://user-images.githubusercontent.com/21218053/47369181-6d089780-d6e3-11e8-9edb-6f8936642bf3.png)

[2018-10-24 08:55] Dina-Abd-Elrahman commented on #22
# ZOS Version:
23d648312221ff8e4d0d938e22d7d5aacd19b70e

# Verification Steps:

- zos container shell
- zos container 128 shell
- zos container exec 'ls /'
- zos container 128 exec 'ls /'
- zos container upload /root/test-upload /tmp/
- zos container 128 upload /root/test-upload /tmp/
- zos container  download /tmp/test-upload/ /root/test/
- zos container 128  download /root/test-upload/ /root/tes

[2018-10-24 08:55] #22 closed

[2018-10-24 09:10] Dina-Abd-Elrahman commented on #11
# ZOS Version:
23d648312221ff8e4d0d938e22d7d5aacd19b70e

# Verification Steps:
-> we need to check if we remove the zos node, it's directory will be removed from ```VirtualBox VMs``` directory.
- ll /root/VirtualBox\ VMs
[code]

- zos remove --name="create"
[code]

- ll /root/VirtualBox\ VMs
[code]

[2018-10-24 11:45] Dina-Abd-Elrahman opened #52 "handle the error when we are trying to create a zos node while another hypervisor is working"
- when we trying to create a zos node while another hypervisor is working, ```zos init --name="node name" ``` it gives this error

[code]

and node doesn't started
we need to handle this error

[2018-10-24 12:45] Dina-Abd-Elrahman opened #53 "need to add --env for zos help container"
- we need to add --env option to the output of ``` zos help container ```

[code]

[2018-10-28 13:53] Dina-Abd-Elrahman opened #55 "raise Connection timed out in stderr not stdout"
- node_reach = subprocess.run(["zos ping"], shell=True, stdout = subprocess.PIPE, stderr = subprocess.PIPE)
- node_reach.stderr
``` b'' ```
-  node_reach.stdout
``` b"Connection timed out\nERROR [-]can't reach zos\n"```

[2018-10-29 06:55] xmonader commented on #55
Nim bug: https://github.com/nim-lang/Nim/issues/9547

[2018-10-30 06:44] xmonader commented on #55
PR merged in nim upstream and available on devel branch
https://github.com/nim-lang/Nim/commit/df68c2da49f99cea5824623d2512b5be27a9a116

[2018-10-30 06:54] xmonader opened #56 "can setdefault to unconfigured instance"
you can use any arbitary name to setdefault

`./zos setdefault UNCONFIGURED_INSTANCE`

[2018-10-30 06:59] xmonader commented on #56
Fixed here https://github.com/threefoldtech/zos/commit/98fcb49efe474690f2c2f137e238be717e21a70c

[2018-10-30 07:58] xmonader opened #57 "need to sync actual containers in zero-os to zos.toml config file"
removing containers outside of zos doesn't reflect on the configurations and we should always be in sync when using last container

[2018-10-30 08:01] xmonader commented on #57
Fixed in 4b005947a23c305be51d3768939b847a6964be73

[2018-10-30 10:27] xmonader opened #58 "Add build information (branch, commit_id) to zos version"
Add build information to easily know the exact version

Something like that
[code]

[2018-10-30 11:06] xmonader commented on #58
implemented here 501b7d585954615c85c0e746eadca12576becf7c

[2018-10-30 11:31] xmonader commented on #47
Did it successfully switch? what is the output of
`./zos showconfig | grep defaultzos`

[2018-10-30 11:37] xmonader commented on #44
Fixed by improving parsing of zero-os responses for side errors

[2018-10-30 11:41] xmonader commented on #53
fixed here fb99a5b07721a0c872efdff5f30bdc481f095023

[2018-10-30 11:59] Dina-Abd-Elrahman commented on #53
# ZOS Version :
119f136b55ffa16a67688a933f4ec5cd2378b17e

# Verification steps:
- ./zos help container
[code]

[2018-10-30 11:59] #53 closed

[2018-10-30 12:09] Dina-Abd-Elrahman commented on #56
# ZOS Version :
119f136b55ffa16a67688a933f4ec5cd2378b17e

# verification steps:
- zos  setdefault domdom

[code]

[2018-10-30 12:09] #56 closed

[2018-10-30 12:15] Dina-Abd-Elrahman commented on #58
# ZOS Version :
119f136b55ffa16a67688a933f4ec5cd2378b17e

# verification steps:
-  ./zos --version
[code]

[2018-10-30 12:15] #58 closed

[2018-11-01 00:16] xmonader commented on #60
https://github.com/threefoldtech/zos/commit/8b419e7664ea043349c20728ff513ffd87ad2334

[2018-11-01 00:17] xmonader commented on #61
https://github.com/threefoldtech/zos/commit/a4b4400050ee97539087c7e386b7e96412427773

Other than that it's zerotier problem.

[2018-11-01 00:19] xmonader commented on #59
closed via https://github.com/threefoldtech/zos/commit/48e8c21ddf0401bd2276633f3554dcaaa7498808

[2018-11-01 00:19] #47 closed

[2018-11-01 00:20] xmonader commented on #31
https://github.com/threefoldtech/zos/commit/b592c3e6e28c7510b1a5be290e644247735bc8ad

[2018-11-01 00:20] #31 closed

[2018-11-04 09:30] xmonader commented on #62
I kinda agree, not on all options though, maybe on create and delete only.

Anyways, the state of the whole project is now undetermined. (i will put it on roadmap)

[2018-11-06 11:39] xmonader commented on #32
6f0ee7f2132fd77204c7dc93ba9f809b21f9d086
docs  7cd9e787d8f953b1f9cd6c4fed116113845c5e1a

[2018-11-06 11:45] xmonader commented on #63
fixed in 6f0ee7f2132fd77204c7dc93ba9f809b21f9d086

[2018-11-07 09:01] xmonader opened #65 "zos remove --name is misleading"
remove option doesn't remove the instance config it just removes the vbox machine

[2018-11-07 11:34] xmonader opened #66 "disable StrictHostKeyChecking on ssh operations"
for automation purposes make sure to pass the no stricthostkeychecking (put it in the top in ~/.ssh/config) for consistent behavior for other applications (like sshfs and scp)

[2018-11-07 14:01] xmonader commented on #64
Successfully upgraded using

1- brew install openssl@1.1
2- executing the following
[code]

[2018-11-08 09:40] Dina-Abd-Elrahman commented on #60
##  ZOS Version:
7a7cd0538728f35e361c0391840dcbb718c14bf6

## Verification steps:
- ./zos container new
- ./zos container shell

[code]

[2018-11-08 13:39] Dina-Abd-Elrahman commented on #64
# ZOS Version:
cdcdcf6cb860a9287ba9397df7f51406c4ba2c2a

# Verification Steps:
- sudo bash build.sh
- zosMac ping

[code]

[2018-11-12 10:55] despiegk opened #68 "when doing init, need to check we have zerotier to public accessible"
should stop to work if access to public zerotier network is not active

[2018-11-12 12:32] Dina-Abd-Elrahman commented on #32
# ZOS Version:
2a97f62d3b236c2f741caa82592fc1ab893e7156

# Verification Steps:
- mkdir /tmp/dinamount
- ./zos container mount / /tmp/dinamount
- echo "test mount" /tmp/dinamount/testtttt

on container side:
- cat /testtttt

[code]

[2018-11-12 12:32] #32 closed

[2018-11-13 15:06] xmonader opened #69 "managed containers should store their config in zos host redis server"
managed containers should store their config in zos host redis server. don't manage anything manually in the zos config file because lots of times you can end up in a `misleading` wrong state for `zos`. if the zos machine is gone or restarted all of its config should be gone too

[2018-11-13 15:09] xmonader opened #70 "allow using zos without forcing zerotier for virtualbox instances"
allow using zos without forcing zerotier for virtualbox instances so you don't have to use zerotier to use zos

[2018-11-13 15:11] xmonader opened #71 "detaileds logs saved in file and user friendly message to the console"
make sure that you log every operation send to zos and it's failure if not `major` to log file

[2018-11-13 15:28] xmonader opened #72 "always break on incorrect ssh connection string"
as zerotier isn't so reliable we can't trust we always get the correct connection information at all, don't allow anything like that to happen to the end user
![image](https://user-images.githubusercontent.com/64129/48423538-7d071a80-e769-11e8-8f49-e27eeb022ec5.png)

[2018-11-14 11:08] Dina-Abd-Elrahman opened #73 "zos showdefault command"
- we need to add command ``` zos showdefault``` to show default node we are using now.

[2018-11-15 13:16] weynandkuijpers opened #74 "New compile on Mabook is broken."
Compile command fails.

# Installation information

int: errorcodes [Processing]
Hint: namegenerator [Processing]
Hint: random [Processing]
zos.nim(309, 18) Warning: Number of spaces around '&' is not consistent [Spacing]
zos.nim(309, 40) Warning: Number of spaces around '+' is not consistent [Spacing]
zos.nim(309, 171) Warning: Number of spaces around '&' is not consistent [Spacing]
zos.nim(315,

[2018-11-16 07:06] xmonader commented on #74
@weynandkuijpers  Did you execute with sudo?

[2018-11-16 07:06] xmonader commented on #73
the node name and the connection string too instead of doing greps around the zos.toml

[2018-11-19 14:12] Dina-Abd-Elrahman commented on #57
- new we store all info in zos host redis server.

[2018-11-19 14:12] #57 closed

[2018-11-19 17:46] xmonader commented on #77
fixed here d67948b2605a94c341e1cd54147143017500786b

[2018-11-19 17:47] xmonader commented on #76
fixed here 60ee0b5ca5666d03a454f866974d36563b13bf82 (don't allow app as a machine name)

[2018-11-20 07:17] Dina-Abd-Elrahman commented on #77
# ZOS Version:
d67948b2605a94c341e1cd54147143017500786b

# Verification steps:

- ./zos container list
`INFO machine doesn't have any active containers.`

[2018-11-20 07:55] Dina-Abd-Elrahman commented on #59
# ZOS Version:
d67948b2605a94c341e1cd54147143017500786b

# Verification steps:

-  ./zos container new --name=test_con_1 --root=https://hub.grid.tf/thabet/redis.flist

[code]

- ./zos container shell

- lsb_release -d
[code]

[2018-11-20 14:39] Dina-Abd-Elrahman opened #78 "need to handle an error from zerotier while using virtualbox instance"
- need to handle this error from zerotier while using virtualbox instance
- zos container 2 zerotierlist

[code]

[2018-11-20 15:53] xmonader commented on #78
fixed https://github.com/threefoldtech/zos/commit/1a1f6fd72ef702dda005386484ff880ce9be81ac

[2018-11-21 09:33] xmonader commented on #74
I'll close it for now please reopen if it's still an issue

[2018-11-21 09:33] #74 closed

[2018-11-21 10:00] xmonader commented on #71
3ff5eab9afef6553bb3e9a82b489f094ea3a7356

[2018-11-21 10:03] Dina-Abd-Elrahman commented on #78
# Verification steps:

- ./zos container 3 zerotierlist

[code]

[2018-11-21 10:03] #78 closed

[2018-11-21 10:10] Dina-Abd-Elrahman commented on #73
# verification steps:

- ./zos showactive

```test-3```

- ./zos showactiveconfig

[code]

[2018-11-21 10:10] #73 closed

[2018-11-21 10:13] #72 closed

[2018-11-21 10:18] xmonader commented on #66
fixed in a4b4400050ee97539087c7e386b7e96412427773

[2018-11-21 11:04] xmonader commented on #79
fixed 75b4783197c491a842d8063300803924f269fa68

[2018-11-21 11:38] #71 closed

[2018-11-21 11:39] #69 closed

[2018-11-21 11:41] #66 closed

[2018-11-22 10:15] Dina-Abd-Elrahman commented on #65
# verification steps :

- create virtualbox instance and and try to check the info if it is removed from config file or not,  and check the vm disk if removed from virtualbox or not

[2018-11-22 10:15] #65 closed

[2018-11-26 07:16] xmonader opened #80 "containers on remote machine execution shouldn't depend only on zerotier"
As zerotier is getting more and more unreliable, let's use the reachable zero-os machine and portforwards in zero-os as the main ip solution for the container.

[2018-11-26 07:22] xmonader opened #81 "add jwt support to communicate securely with zero-os machines deployed in production mode"
Zero-OS communication channel in redis is protected in production mode, so we need to add support for secure communications using JWT

[2018-11-28 12:18] Dina-Abd-Elrahman commented on #80
# ZOS Version :
c8e6ded3560ef4175721b3d361bfae4153444906

# Verification Steps :

- ./zos configure --name=test --address=10.102.133.88  --port=6379 --setdefault
- ./zos container new
[code]

-  node = j.clients.zos.get('c7c8172af1f387a6', data={'host':'10.102.133.88'})
- node.client.nft.list()
[code]

[2018-11-28 12:18] #80 closed

[2018-11-30 22:44] xmonader commented on #81
Fixed in https://github.com/threefoldtech/zos/pull/83

[2018-12-06 09:43] maxux commented on #84
What's your VirtualBox version ?

[2018-12-06 09:49] maxux commented on #84
Please update too >= 5.2

[2018-12-06 09:49] xmonader opened #85 "remove nft.open_port"
@delandtj

 if you add a container, then you also need to remove the input rule when you delete the container, so the portforwards are deleted, but not your input rules

[2018-12-06 09:50] xmonader commented on #85
Fixed in here 384a343c1bd22c46c2b04f5c2b76186eaa16238c

[2018-12-06 09:57] 0xIslamTaha commented on #84
I think we need to update the docs to clarify that

[2018-12-06 10:00] xmonader opened #86 "./zos container 2 shell gives i is not accessible"
sometimes  ./zos container 2 shell gives  i is not accessible

[2018-12-06 10:02] xmonader commented on #86
It means the code reaches here https://github.com/nim-lang/Nim/blob/27b081d1f77604ee47c886e69dbc52f53ea3741f/lib/system/chcks.nim#L21

and apparently due to not keeping the socket alive we lose the connection and the auth from the beginning of zos

it's fixed here 967b142ac84140fa44b99c990c519fd5a94d2273 , but we should user saner socket options for the workflow

[2018-12-07 05:36] xmonader opened #87 "recheck hanging tcp connection checks"
[code]
Which works fine, but add more checks

[code]

[2018-12-09 14:08] Dina-Abd-Elrahman commented on #85
# ZOS Version:
75da342a28864ebfa96442847ee4e7d400f820d7

# Verification Steps:

- ./zos cmd 'nft.list'
[code]

[2018-12-09 14:08] #85 closed

[2018-12-09 14:18] #86 closed

[2018-12-17 13:23] xmonader opened #88 "zos.log should go to user writeable dir always"
write all logs into TMP_DIR/zos.log

[2018-12-17 13:42] Dina-Abd-Elrahman commented on #88
# ZOS Version:
5806771900d8b45992ba012bd1b850300e0b782b

# Verification steps:

- ./zos configure --name=test --address=10.102.147.99  --port=6379 --setdefault
- ./zos container new
- ./zos ping
- cat /tmp/zos.log
[code]

[2018-12-17 13:42] #88 closed

[2019-01-24 07:02] #81 closed

[2019-03-09 07:31] zaibon opened #1 "Formalize the concept of DSL next to the public API"

[2019-03-09 07:34] zaibon opened #2 "Research/choose RPC framework"
we kina agreed to use [RESP](https://redis.io/topics/protocol) as protocol, but we still need to agree on the RPC framework to use on top of that.

[2019-03-09 07:35] zaibon opened #3 "Research OCI runtime"

[2019-03-09 07:39] zaibon opened #4 "Design storage module"
The storage module will be responsible for everything that is related to storing information on a long term medium, usually a disk.

Sub components:
- 0-db management
  - capacity planning, reservation of 0-db and 0-db namespaces
- disks management
  - formatting of the disk
  - health monitoring
  - management of volume used by containers

[2019-03-09 07:40] zaibon opened #5 "Design container module"
The container module is going to be responsible for exposing an interface on top of the chosen OCI runtime.

[2019-03-09 07:41] zaibon opened #6 "Design/Implement Virtual machine module [fcvm]"
## Technology:
Firecracker has been chosen to run the VM.

## To investigate:
- [x] check if k3os runs fine on firecracker: https://github.com/rancher/k3os/releases/tag/v0.8.0
- [x] test if firecracker VM can use a tap interface connected to a network resource bridge
- [x] test that raw file works properly as a way to give access to disks from the VM

## Module Design.
This module will be quite si

[2019-03-09 07:42] zaibon opened #7 "Design metric/monitoring module"

[2019-03-09 07:43] zaibon opened #8 "Design flist module"
The flist module will be responsible for managing everything related to [0-fs](https://github.com/threefoldtech/0-fs)

[2019-03-09 07:44] zaibon opened #9 "Design pid 1"

[2019-03-09 08:08] zaibon opened #10 "Research and design for versioning, update and upgrades"
One of the main feature we want to provide with this version of 0-OS is the "auto-update". The idea is that the system needs to be able to update itself and each of its component with the minimum downtime possible for the workloads. Minimum in most case would be no downtime at all.

Keeping this in mind actually drives quite a bit the design decision to make for all module of 0-OS.
One of them I w

[2019-03-09 08:40] zaibon opened #11 "Inter node communication"
I would like to discuss here how we are going to create a network of nodes and how these nodes are going to communicate.

The idea behind the TFgrid is that each 0-OS node is a stateless capacity provider and ThreeBot are the directors.
Since the ThreeBot needs to be able to reach every single node in the network, and the ThreeBot are running on top of the 0-OS node, it means the nodes needs to be

[2019-03-09 11:18] muhamadazmy commented on #9
## Ideas:
- minimalistic with almost no features, this only reads config files from the image to spawn and monitor system services.
- Setup networking as configured.
- Just make sure that critical boot services are up and running, (redis, libvirtd, syslogd, etc... )
- Can't be restarted. And can't updated without a full system reboot, so minimal code should live as PID 1.
- Personally I suggest we

[2019-03-09 11:38] muhamadazmy commented on #8
I am working on this https://github.com/muhamadazmy/rfs I hope we can use it in v2. It already uses much less memory. I need to do a decent benchmarking regarding performance, but once i have a fully working version

[2019-03-09 18:16] maxux commented on #10
This approach looks good to me. We need, in addition, to define what should be versioned and how we will upgrade it.

We need well defined way to upgrade different parts, like host (cores, userland tools, hypervisor, drivers, kernel, ...), and running subsystems (containers, vm, ...)

[2019-03-10 12:37] muhamadazmy commented on #5
# Things that we need to take into consideration
- To be able to support update of the container module without the need to restart the container, containers must be `daemon-less`. This means once the container starts, the container itself is daemonized, then we should be able to connect to it directly to run commands, and receive results.
- The container module hence can act as an access layer to

[2019-03-12 13:32] GlenDC commented on #1
@delandtj can we have a zoom about the API and this DSL? So we have a starting point, now it is a bit... vague

[2019-03-12 14:19] zaibon commented on #9
I think what you describe is already way too big.
Configuring network, starting services these are not thing that the pid 1 should take care of.
The only thing It should managed is to make sure the main process manager (used to be core0) is up and running and that's it. nothing more. We want to have something so small that will can cover all its uses cases and won't have to update it ever anymore.

[2019-03-12 14:20] zaibon commented on #9
@maxux can you describe what you did in https://github.com/maxux/0-init so we can see if that work can maybe be used for our use case.

[2019-03-12 14:22] zaibon commented on #8
@muhamadazmy that's cool, looking forward to see the benchmark results.

I also want to add that 0-fs is only going to be the daemon for the flist. This task is also about all the API that the flist module will expose to the upper layers. So all the code that wraps 0-fs all make it easy to use.

[2019-03-12 14:31] zaibon commented on #5
I kinda disagree with this. Container module is only about containers. It is basically just a wrapper around `runc` (if runc is the OCI runtime we choose)

Also modifying a container at runtime is not something we want to support. That's not how container works. If you need to have something different, you create a new container with a new config.
Having runtime configuration just makes things mor

[2019-03-12 14:59] zaibon commented on #5
Seems runc repo already provide a Go library that allow to managed runc: https://godoc.org/github.com/opencontainers/runc/libcontainer

Need to have a closer look to it, but that could be enough for us.

[2019-03-15 15:05] zaibon commented on #4
I started working on the design of the module. Opened a PR for it : https://github.com/threefoldtech/0-OS_research/pull/12

I used go as the language to define the interface since it is quite nice to work with.

[2019-03-19 09:18] zaibon opened #13 "IPC infrastructure"
We need to decide how API layer will discover and talk to all the low level modules.
Requirements:
- module needs to be discoverable
- module needs to be able to be upgraded without impacting the higher layer
- Capable of propagating events up the stack

[2019-03-19 09:20] zaibon commented on #13
@muhamadazmy already did some research regarding dbus: https://github.com/threefoldtech/0-OS_research/blob/master/specs/ipc.md

[2019-03-19 11:35] muhamadazmy commented on #13
# Proposed solution
- We use rabbitmq as a message bus
- A high level api wrapper that hides the implementation details of the message bus that exposes a clean integration api
- Each component then can implement it's API by exposing an object or more.

I will create a spec for the API, and link it here. Currently experiment with rabbitmq client

[2019-03-19 11:41] maxux commented on #13
What about redis pub/sub ?

One discovery channel where module annonce themself, explaining which channels they will use.
And we can send messages/actions/whatever via theses channels.

We could also declare ourself a schema of what the module can do/want to do, and push it during discovery, and then get a centralized point of « what can I do with you ? »

You can always update modules separately,

[2019-03-19 12:54] muhamadazmy commented on #13
Yeah, it's possible with redis, but rabbitmq has more sophisticated messaging platform. Even if we not going to use all the features, it's nice to have them in case we need them. For example, messages ack is nice in case one of the component has crashed while processing a message.

[2019-03-19 13:13] muhamadazmy commented on #13
Anyway, the framework we going to build can/should be "messaging bus" agnostic. Implementation can be smart enough to support implementing different message brokers

[2019-03-19 15:02] zaibon commented on #5
I started working on the design of the module: https://github.com/threefoldtech/0-OS_research/pull/17

[2019-03-20 08:29] zaibon commented on #3
https://joejulian.name/post/kubernetes-container-engine-comparison

[2019-03-20 08:50] zaibon opened #18 "Design network module"
Since we are going to use [CNI](https://github.com/containernetworking/cni) as much as possible for network configuration, the network module is not going to be responsible to actually do network configuration. But instead it will expose an API that let a user create some CNI compatible configuration file.

A 0-OS being by nature a multi user platform. We need to be able to provide private network

[2019-03-21 07:04] zaibon commented on #5
I've been reading more about OCI runtime and the specification of the [filesystem format](https://github.com/opencontainers/runtime-spec/blob/master/bundle.md).

So for runc to be able to start containers we need to provide 2 things:
1. a path to the root filesystem of the container
2. a `config.json` file that define all the properties of the container.

The point 1. is easy and already provide b

[2019-03-21 08:00] delandtj commented on #5
with runc you can generate the config.json : `runc spec`

[2019-03-21 08:13] zaibon commented on #5
yeah of course, but that all question here, is who is responsible for which part of this file.

[2019-03-21 08:16] muhamadazmy commented on #5
@zaibon as @delandtj runc actually can generate a basic version of the config.json file that u have to fill in, we can start small and grow with time. We need to keep in mind also that we need to generate this from our container module. oci already provide the Go structure that u can fill in. which is gonna be very helpful. https://github.com/opencontainers/runtime-spec/tree/master/specs-go

Somet

[2019-03-21 08:22] zaibon commented on #5
yes so I was probably not clear enough. Yes we have to generate a config.json using `runc spec`, this is a given. But then this configuration needs to be tweaked in the container module before starting any container. What I would like we agree on is what are we going to let user configure and from where?

So currently with the flist ecosystem we don't really have a way to allow flist creator to sp

[2019-03-21 08:46] muhamadazmy commented on #5
Okay, i understand what u mean now.
- First, i totally agree to drop corex, a container should be more or less like docker where u define your startup command as an entrypoint
- Currently we can't attach a global meta to an flist, so it's either we provide that, or we keep a `startup` file in the flist as we do, no commitment to the current format (toml was a really bad choice)
- If we changes the

[2019-03-21 09:10] zaibon opened #19 "Define container profiles"
After the discussion from https://github.com/threefoldtech/0-OS_research/issues/5#issuecomment-475149757
We agreed we will provide different container "profiles".
This issue is about choosing what kind of profile we want and write the config.json file for them.

[2019-03-21 09:10] zaibon commented on #5
@muhamadazmy ok I think we're on the same page now. So it seems the real question here is really about the flist and how do we want user to build these.
I already created 2 issues about that in the 0-flist repo:
- https://github.com/threefoldtech/0-flist/issues/10
- https://github.com/threefoldtech/0-flist/issues/8

I think once we have agreed on these 2. Then we can deduct what is still to be con

[2019-03-21 13:18] zaibon commented on #10
Indeed this is a very important part I want to get right from the beginning.

First thing I think is to decide how are we going to publish what version of each component each "flavor" will have to run. Some kind of metadata service which all the node can query daily to know if there is some new goodies for them to run. Something equivalent to an `apt-get update`.

Then once we know there are some

[2019-03-21 13:33] maxux commented on #10
I'm still completely against installing something on disk. This was the main feature from the beginning and I don't see any good reason to move on. This still provide the flexibility we have (no risk of root corruption except if memory is corrupted, always up-to-date image when booting, no disk needed for basic usage, ...).

But I think we can find a good mix between live environment (no setup) an

[2019-03-22 07:41] zaibon commented on #10
The problem with this way of working is that its kills the internet connection of farms of a certain size when all the machine boot at the same time for example.

Also, I find it stupid to have to re-download something that we would already have present last time we were running. So what I'm thinking about is not really a full installation, but at least have a cache that can keep the binaries of t

[2019-03-22 16:59] maxux commented on #10
If we can put in place a real p2p system, bandwidth within the same LAN would not be a problem anymore.

If you want to reuse something already downloaded, we need to ensure all checksum etc. The idea downloading everything and not storing anything is to avoid any possible corruption/modification by downloading latest version each time.

[2019-03-27 13:35] zaibon opened #20 "Design security structure"
0-OS is by nature a shared system. It's main goal is to allow different user to use capacity provided by the hardware.
This of course raises security concerns:
- How do I ensure that the data I write on a disk is not going to be accessible by someone else ?
- How can we ensure that networks from one user is not reachable by another ?
- How do I authenticate user when they are talking to the public

[2019-04-11 08:17] muhamadazmy commented on #1
First draft version of the dsl is in #25

[2019-05-02 08:27] muhamadazmy opened #34 "zinit: PID 1 for ZOS v2"
## Project
https://github.com/threefoldtech/zinit

## Tasks
- [x] process manager in rust/toki POC
- [x] resolve dependencies of the services
- [x] load services config from a directory
- [x] simple unix socket api to management
- [x] command line tool to manage the process manager (status, stop, start, restart, and reload)
- [x] zombie reaping :fearful:

[2019-05-02 14:49] muhamadazmy commented on #34
The poc now can resolve service dependencies.

[2019-05-05 08:20] muhamadazmy commented on #34
Working on loading config files from config directory and monitor the configured services

[2019-05-06 06:13] muhamadazmy commented on #34
working on the cli command and how we communicate ctrl commands to PID1. The idea is to have a unix socket listening in pid1 where control commands can be pushed

[2019-05-09 11:00] muhamadazmy commented on #34
Handle zombie processes.

We dropped tokio-process crate, and implemented a different mechanism where we have a single listener to the SIGCHLD signal, which then read the child status, and then dispatch the status to the correct child process future. Any process status that is not registered is dropped.

[2019-05-10 09:03] zaibon opened #26 "Implement flist module"
First implementation of the flist module based on the spec: https://github.com/threefoldtech/zosv2/tree/master/specs/flist

[2019-05-13 07:17] muhamadazmy commented on #34
We will pause on this task until we decide what need to be done with zinit

[2019-05-13 07:47] zaibon commented on #34
I think we already overloaded the responsibilities of zinit here and it should be split in two parts.
pid 1 should only:
 - start hardcoded services (udev, core0, ...)
 - handle child processes and zombies

Then the core0 ( or whatever the name) will be responsible to continue the boot process
- starting the rest of the component/services
- handling dependencies between services
- interface to con

[2019-05-14 14:20] LeeSmet commented on #4
After discussion yesterday with @delandtj, it turns out the envisioned architecture is a bit different from what you already have. We should probably have some discussion about this @zaibon

[2019-05-14 14:21] LeeSmet opened #28 "Implement storage module"
A basic implementation for storage, which shows how the high lvl architecture will look like
@muhamadazmy
- [x] Btrfs abstraction
- [x] Btrfs unit tests
- [x] Device abstraction

@LeeSmet
- [x] Module interface
- [x] Module interface implementation
- [x] Cache preparation ?

[2019-05-14 15:23] LeeSmet commented on #4
The way we discussed it yesterday, we would expose only a zero-Db (still needs a lot of discussion), and a filesystem. Internally, the module manages volumes, but a volume is never exposed. In case someone requests a filesystem or volume, a subvolume is created on some existing volume (or new top lvl volume is created), and then a filesystem is placed on this subvolume. Finally, the filesystem is

[2019-05-14 15:52] zaibon commented on #4
Well this is nearly exactly inline with the interfaces describe in the storage spec: https://github.com/threefoldtech/zosv2/tree/master/specs/storage

Now keep in mind that the module is a low level component. This is not the public interface of the storage.
So everything describe in the [disk management interface](https://github.com/threefoldtech/zosv2/tree/master/specs/storage#interface) still n

[2019-05-16 08:34] zaibon commented on #5
I'll start already the scaffolding of the module based on the specification defined there: https://github.com/threefoldtech/zosv2/tree/flist_module/specs/container

[2019-05-19 08:00] #9 closed, assigned to nobody

[2019-05-19 08:09] muhamadazmy commented on #4
@zaibon & @LeeSmet

IMHO the storage module (even if it's low level) should NOT expose operations on the disk level. This means that the logic to group, and format disks comes from a higher layer which is not defined atm.

I think the storage module should track disk and create the raid volumes automatically and only expose the functionality to "reserver" or allocate a new tenant subvolume, either

[2019-05-20 06:31] muhamadazmy commented on #19
Link to specs (which is still WIP by the time we added this link)
https://github.com/threefoldtech/zosv2/blob/flist-meta/specs/container/readme.md#oci-bundle

[2019-05-21 13:18] zaibon commented on #10
I started computing everything that has been said here into specs: https://github.com/threefoldtech/zosv2/pull/32

I'll close the issue here to continue the discussion on the draft PR

[2019-05-21 13:18] #10 closed, assigned to nobody

[2019-05-22 06:56] muhamadazmy opened #33 "POC: containerd snapshotter plugin for 0fs"
Using containerd plugin support, implement a plugin to use 0fs as a container rootfs layer.

[2019-05-22 08:40] #8 closed, assigned to nobody

[2019-05-22 08:42] zaibon commented on #3
for the first version we're going to use containred and runc as runtime

[2019-05-22 08:42] #3 closed, assigned to nobody

[2019-05-22 12:36] muhamadazmy commented on #33
After some reading the code and trying to understand how snapshotters work, this looked like a dead end. the snapshotters don't implement a new image format, instead they implement how the image layers are handled (for example btrfs subvolumes, or zfs) to drive containers from a parent subvolume then record the changes to create a new layer on push.

In our case we need to replace the full image f

[2019-05-22 13:04] zaibon commented on #33
I'm not exactly sure why you tried to implement the snapshotter. As far as I know snapshotter is the way docker does they image layers.
We don't need this in our case, I think the only thing we need to implement is the Image interface defined here: https://github.com/containerd/containerd/blob/master/image.go#L35

And yes my view on it was to implement this Image interface using the flist module o

[2019-05-22 13:05] zaibon commented on #33
So yes you can close this one :-)

[2019-05-23 06:30] zaibon commented on #26
merged in : https://github.com/threefoldtech/zosv2/pull/27

[2019-05-23 06:30] #26 closed, assigned to zaibon

[2019-05-23 09:47] #33 closed, assigned to muhamadazmy

[2019-05-23 09:59] muhamadazmy opened #37 "containerd zero-fs integration"
- Check if it's possible to implement a new image type to support zero-fs directly in containerd
- Plan B, the rootfs of the container is mounted first then sent to containerd in the runc specs

[2019-05-24 09:37] LeeSmet commented on #4
After talking a bit more with @delandtj, it seems we will use the following architecture:

The system will have some disks, which expose volumes. Depending on the setup, a volume can be either a disk itself, or a partition on the disk. We are also thinking to separate the volumes into "primary" volumes, and "secondary" volumes. In this scenario, the "primary" volume would be a disk or partition, a

[2019-05-24 12:40] zaibon commented on #37
I managed to start a container using containerd client on top of an flist. example code is there: https://github.com/threefoldtech/zosv2/blob/container_module/examples/container.go

[2019-05-24 12:51] zaibon commented on #4
I don't really understand what does this bring. To me this really shoulnd't matter and just be totally abstracted. If a user request a huge storage capacity or if there is no one disk with enough space to provide the capacity asked, then the module should automatically choose to use multiple disks in order to provide the required capacity.

I'm not sure this should be done by the module itself. Th

[2019-05-27 09:02] zaibon commented on #13
Zbus is the reference implementation for the message bus used in 0-os v2: https://github.com/threefoldtech/zbus/

[2019-05-27 09:02] #13 closed, assigned to muhamadazmy

[2019-05-27 09:03] zaibon commented on #2
No needed anymore, new provision logic doesn't require the not to have any public API

[2019-05-27 09:03] #2 closed, assigned to nobody

[2019-05-27 09:14] zaibon commented on #4
There is something we have not yet talked about regarding disk management.
It is how are we going to deal with the different use case we have for a disk.

For example, 0-db is supposed to be running on top of a full disk. So we can be gentle on how we write onto the disk. But 0-db can run using different mode.
So if we only allow 1 0-db per disk and if 0-db has different mode, it means the first t

[2019-05-27 10:18] muhamadazmy commented on #4
@zaibon may I ask what is the technical limitation that prevent us from having multiple 0-db running on the same disk? I know that 0-db uses a fileysystem to write to the disk so i don't see why we can't have as many as we need (as long as the benchmarks are fine)

A suggestion that might not make much sense, but would it be a problem if we can create a partition on disk per namespace? I know the

[2019-05-27 11:04] zaibon commented on #4
The quality of the disk mostly. On top of cheap HDD, if we want to have minimum write performance we need to have a single write process doing some append only writes, to avoid any random movement of the write head of the disk.
Now this is only for cheap HDD. Maybe we could detect the quality/speed of the disk that are actually used in the node and have different policies based on that. But this s

[2019-05-28 09:14] robvanmieghem opened #91 "unrelated error when listing containers when there are none"
# Installation information

- operating system: osx
- zos version `zos --version`: 0.1.0
- target zero-os version `zos ping`:

# Detailed description
[code]
## Expected behavior

## Actual behavior

# Steps to reproduce
[code]

# Stacktraces if any

# Possible solution(s)

[2019-05-28 09:34] robvanmieghem opened #92 "how do you connect a container to a specific zerotier network?"
# Installation information

- operating system: osx
- zos version `zos --version`: 0.1.0
- target zero-os version `zos ping`:

# Detailed description
Browsing through the documentation, I could not find how to connect a container to a specific zerotier network using the zos tool.
## Expected behavior

## Actual behavior

# Steps to reproduce

# Stacktraces if any

# Possible solution(s)

[2019-05-28 10:04] robvanmieghem opened #93 "zos hangs on creating a new container"
# Installation information

- operating system: osx
- zos version `zos --version`: 0.1.0
- target zero-os version `zos ping`:

# Detailed description
[code]
## Expected behavior

## Actual behavior

# Steps to reproduce

# Stacktraces if any

# Possible solution(s)

[2019-05-28 10:20] xmonader commented on #92
By default zos adds a nic of type zerotier https://github.com/threefoldtech/zos/blob/75da342a28864ebfa96442847ee4e7d400f820d7/src/zos.nim#L198

the zerotier network is controlled via `GRID_ZEROTIER_ID` or `GRID_ZEROTIER_ID_TESTING` environment variables.

Maybe it's better to be added as an explict command line argument to container new

[2019-05-28 12:42] robvanmieghem commented on #92
agreed, it was nowhere mentioned in the documentation either

[2019-05-29 12:10] xmonader commented on #91
I'm afraid that might be an older version

[code]

[2019-05-29 12:39] xmonader commented on #90
changed path to save iso to `~/.zos/` directory dee6412ab5b2f1bfb2630caea7701ccc6e8bd7ac

[2019-05-29 14:50] LeeSmet commented on #28
Current storage module implementation can create and mount (or use an existing) cache volume, as done previously in the [ensurecache](https://github.com/threefoldtech/0-core/blob/development/tools/ensurecache.sh) script (and then exits).

[2019-05-30 07:16] xmonader commented on #93
I think it might be the outdated version

[code]

[code]

[2019-06-03 09:00] robvanmieghem commented on #93
I'm using virtualbox, after rebuilding zos:
[code]

[2019-06-03 14:29] xmonader commented on #93
It is producible with zos and py-client against virtualbox. Thanks for reporting this.

[2019-06-03 15:14] xmonader commented on #93
Found out the problem cause. development efi images on the hub are broken.while it creates the container `container.create` and mount the filesystem. the job for coreX doesn't exist

after using master
[code]

[2019-06-03 15:17] robvanmieghem commented on #93
good find @xmonader !

[2019-06-04 07:12] robvanmieghem commented on #93
[code]

[2019-06-04 07:12] #93 closed

[2019-06-05 05:28] zaibon commented on #37
We now know there is no problem using 0-fs and containerd together.
I"ll close this one so we can just use the draft PR to follow progress: https://github.com/threefoldtech/zosv2/pull/31

[2019-06-05 05:28] #37 closed, assigned to muhamadazmy

[2019-06-06 10:01] zaibon opened #43 "allow to stream container logs to remote endpoints"
Since there will be no way for user to connect directly to a 0-OS node, we want to add the possibility to a node to stream the logs of a container to remote endpoint.

During the creation of the container, the user will specify the endpoint location and type. Then during the lifetime of the container, the 0-OS node will stream the logs to the endpoint.

As a first supported endpoint type:
- redis

[2019-06-06 10:02] zaibon opened #44 "define clear boot flow"
We can organize the services boot in stages by creating pseudo stages. For example we can create a service called `init` that exec 'true' as one shot and depends on all boot services (`udev`, `settle`, `network`, `etc`) then all other second stage services can depend only on `init`

[2019-06-07 06:14] robvanmieghem opened #95 "Allow the zerotier network to be defined through a commandline parameter"
Currently this is only possible through an environment variable

[2019-06-07 06:15] robvanmieghem commented on #92
thanks for documenting, I created a non urgent follow up issue : #95

[2019-06-07 06:15] #92 closed

[2019-06-07 09:16] robvanmieghem opened #96 "How do you start a process if no ssh or shell is available in the container?"
# Installation information

- operating system:osx
- zos version `zos --version`:zos 0.1.6 (development#dee6412ab5b2f1bfb2630caea7701ccc6e8bd7ac)
- target zero-os version `zos ping`: "PONG Version: development @Revision: 73b9b038f2c549d478adf7b97a1f3a2662c36f7e"

# Detailed description
[code]
## Expected behavior
the /bin/zdb process is started
## Actual behavior

# Steps to reproduce

# Stacktrac

[2019-06-07 10:20] xmonader commented on #96
Couple options:
- the flist to have `.startup.toml` to instruct 0-core to start a process (recommended way)
- you use ssh compatible flist (one based on ubuntu 18.04) that will gives you ssh access and then you can do `zos container exec 'CUSTOM COMMAND'`
- automatically layer another flist `ubuntu` on top of your flist in that case `zdb flist`

[2019-06-07 10:34] zaibon commented on #96
Why can't you just start a command in the container ?
0-OS supports this perfectly well

[2019-06-07 11:30] xmonader commented on #96
@zaibon the idea was to invoke commands via ssh using `exec` always. Anyways, I added a fire/forget `invoke` command

[code]
I'll add streaming the output if needed, but for now it's fire/forget

[2019-06-07 11:37] xmonader opened #97 "revisit ssh execution commands"
for some reason lots of problems with layering ssh now. revisit the flow
idea:
always start from ubuntu (if that still working) and layer the required flist later on (store that info in zos:containerid:startflist)

[2019-06-07 11:52] robvanmieghem commented on #96
Is it a good idea to merge this invoke for a 0.1.7 ?
I don't want to merge an ubuntu if not needed and the flist contains other commands to manage the zdb. @zaibon do we need the streaming? I have no idea how it behaves with multiple processes and/or deamons.

[2019-06-07 12:25] zaibon commented on #96
Well it is all up to you. Streaming is only for a specific job. You can have multiple streamer for the same job. So if you have multiple process, then you need to have multiple streamer.

[2019-06-09 10:49] xmonader commented on #96
@robvanmieghem I believe it's a good thing to have. I merged it into development branch.

[2019-06-09 12:13] xmonader commented on #95
Added in dce4f1eeba3c4e87b2304ee71afcae83e60c36d8

[code]

[2019-06-11 09:40] robvanmieghem commented on #95
@xmonader great, can you also add it to the documentation?

[2019-06-11 11:37] robvanmieghem commented on #97
@zaibon what is your thought on this? I prefer a way of not needing an Ubuntu.

[2019-06-11 12:55] xmonader commented on #95
Docs updated for zerotier flag and container invoke ab76e7b42fbe3aee4f8ee9130d6b305b48c2dcbd

[2019-06-14 13:43] zaibon opened #51 "Enable missing unit tests in CI"
Now that most of the WIP modules have been merged to master I would like we start having a proper build pipeline, CI to run as much test as possible and that we look at how we need to use go mod to version all the code.

I'm still pretty new to go mod so I don't know if what we have today is valid or not.

- [x] Enable travis-ci
- [x] Prepare tests environment for CI (some of the package are alrea

[2019-06-14 15:32] #18 closed, assigned to GlenDC, delandtj

[2019-06-14 16:30] zaibon commented on #51
I moved all the binaries into `cmds` directory at the root of the repository.
Each binary folder have its own go.mod files. So they can live their own live.
I added a replace statement for the `github.com/threefoldtech/zosv2/modules` module so until we have a release we use the local file in the repository as source.

Everything seems to build fine with this setup

[2019-06-15 08:09] zaibon opened #54 "Choose a license"

[2019-06-16 10:28] muhamadazmy commented on #51
@zaibon

The current code tree makes the `modules` directory a single modules. which means ALL implementation logic for all the modules has the same version.

Even after binary separation to the `cmds` directory, it still fully depend on the moduels module which has the implementation. This also makes it very hard to work on separate moduels (network for example) because u have to push before u ca

[2019-06-17 07:36] zaibon commented on #51
Indeed this is the case for now.

This is solve already, I added some replace directory in the go.mod file, so you can use the local file for the zosv2 modules

I think at some point we will want to have a different version for each module. I don't think we need to do this right now though since there is nothing released yet.
Now this means we'll most probably need to have a separate repository pe

[2019-06-17 13:02] zaibon opened #59 "Implement gateway network namespace"
The flist for exit node container need to have:
- dnsmasq
- ntfables
- UTS namespace

[2019-06-17 13:03] zaibon opened #60 "Define how an exit node gets its public IP configured"

[2019-06-17 13:05] zaibon opened #61 "network: logic to apply network resources"
We need to implement the logic that applies a network resource.

[2019-06-17 13:06] zaibon opened #62 "Implement prefix allocator"

[2019-06-17 13:10] zaibon opened #63 "Define network object of farmer prefix allocator"

[2019-06-17 13:10] zaibon opened #64 "Network implementation"
Exit node:
- [x] [Define how the node gets its public IP configured](https://github.com/threefoldtech/zosv2/issues/60)

Network module:
- [x] [Logic to apply network resources](https://github.com/threefoldtech/zosv2/issues/61)
- [x] [Logic to request a new network resource for a node joining a network](https://github.com/threefoldtech/zosv2/issues/new)

FPA (farmer prefix allocator):
- [x] [Implem

[2019-06-17 14:19] xmonader opened #98 "Allow port forwards schemes in zos"
[code]

[2019-06-17 16:03] gmachtel opened #99 "WORM mode per namespace"
# Detailed description
Write only Read multiple
No history per key, so cannot delete/modify a key/val

[2019-06-17 16:09] gmachtel opened #100 "Make sure JSX client has feature #99"
# Detailed description
Make sure JSX client has feature https://github.com/threefoldtech/zos/issues/99

[2019-06-17 16:12] gmachtel opened #101 "Caching mode"
# Detailed description
If block is no longer there, the ZDB asks 3bot (Redis) for retrieving the block

[2019-06-17 17:36] xmonader commented on #98
fixed here https://github.com/threefoldtech/zos/commit/2af31e9e7a47f9ae3bfab49cc27db394bf15f3c7 (requires more strict checking on the format)

[2019-06-17 17:37] #98 closed

[2019-06-18 08:26] #5 closed, assigned to muhamadazmy

[2019-06-18 08:41] #34 closed, assigned to muhamadazmy

[2019-06-19 14:46] zaibon opened #67 "Design node identity"
We need to decide how we are going to identify a node.

Since most of the tfgrid identity system will be based on a key pair, we could for each node, generate a key pair. Use the base64 encoded version of the public key as identity of a node.

Example: https://play.golang.org/p/IycmGa1USUi

Now this brings one problem, this key pair will have to be stored on the node disk itself. Which means we br

[2019-06-20 08:04] muhamadazmy commented on #51
Draft for the make file
https://github.com/threefoldtech/zosv2/pull/68/files

[2019-06-20 09:24] zaibon commented on #44
From the current init services we have, I created an order:
[code]

[2019-06-20 10:21] muhamadazmy commented on #44
Lots of services in this tree don't have to have such solid dependency on each other. For example, telnetd will not fail to start if it started before networking (same for sshd) so this config can be simplified dramatically.

for example here
https://github.com/threefoldtech/zosv2/pull/68/files#diff-41b602314f3ea42f8e0e00d5101c3912

[2019-06-20 11:06] zaibon commented on #44
everything that is in the `other` section is only for debugging this won't exist in a production release.
So that doesn't matter really, I could have left them out completely.

[2019-06-20 12:28] LeeSmet commented on #67
The problem with deterministic generation of a keypair is  that a malicious party can generate the same pair if it knows the inputs. So we would need something which we can assume is private information, and has enough entropy (so someone can not just exhaust every value in the field).

On a related note, what is the main reason we would need a persistent node identity/key?

[2019-06-20 12:37] zaibon commented on #67
Yep exactly, and so far I don't really see anything that could provide us with this.

A node needs to be uniquely identify inside the grid, this is required for both reservation and network configuration.

[2019-06-20 12:38] zaibon commented on #51
https://github.com/threefoldtech/zosv2/pull/68 merged

[2019-06-21 08:54] #61 closed, assigned to zaibon

[2019-06-23 08:09] muhamadazmy commented on #67
First, I totally agree with @LeeSmet that deterministic generation is a bad idea, i can see @zaibon  also agree with this. We even tried this approach with `zerotier` before.

Speaking of zerotier, i think the way zerotier manages and generates IDs is actually pretty good and should work in our case. A managed entity, like the hub, or capacity.threefold.tech where farmers registers their farms, wi

[2019-06-23 13:00] muhamadazmy commented on #44
Draft PR #72

[2019-06-24 08:30] zaibon opened #76 "Implement provision module"

[2019-06-24 08:30] zaibon opened #77 "Design provisioning schemas"
To do:
- [x] : go over current tnodb_mock data structure and clean it up: https://github.com/threefoldtech/zosv2/pull/139
- [x] : convert all the object to JSX schemas: https://gist.github.com/zaibon/8f8124c094073225a3475c4736eeb531
- [x] : validating that all the schema are actually valid and working in JSX

[2019-06-24 10:17] zaibon commented on #67
I like the idea that a farmer can managed its own node. This indeed can help to ease the recover of a lost node or something.

We could have something like:
- the farmer register his farm.
- the farm will also have an identify (key pair)
- Farmer boots a node with its farmer identify as kernel parameter.
- The node bootstrap itself, and generate its own identity.
- The node will then register itse

[2019-06-25 10:35] zaibon opened #79 "Document file location of each module"
I would like to have clear view on all the file that each module need to be able to write/create.

Then from there we can have a reflection if this is the best layout or if we can improve things a bit.

The main idea is I want to avoid that any module can write anywhere on the filesystem. This leads to less security and make things harder do debug.

[2019-06-25 10:56] muhamadazmy commented on #79
We can experiment with this. One of the ideas is that we chroot each module to one location so it can't break out of the chroot jail. this has the draw backs that we will have to have all the libs it needs in that location or it won't start. Another approach is to create a specific mount namespace for each module and move it to that namespace on start.

I can give this a try and see if we can get

[2019-06-26 13:51] muhamadazmy opened #83 "Resource IDs and ownership of resources"
Reservation can (and will) happen on multiple steps. For example to start a container you probably have to do the following:

- Create a storage volume
- Allocate network resource
- Create container, and assign both the volume, and the network resource to that container.

The problem is, on creating a container you need to pass the the information of the volume (may be the volume full path) and th

[2019-06-26 13:53] LeeSmet opened #84 "Storage: disk caching"
Right now the storage module does a scan of the disks every time something changes the disk layout (filessytem creation, in the future maybe partitioning, ...). This prevents us from bringing down the disks completely.

It should be possible to manually modify the in memory device when these actions are done, allowing us to shut down the disks and not rescan

[2019-06-26 14:05] delandtj commented on #83
'drawback' ... a mountpoint that big with godknows what characters in there is a big nono

[2019-06-26 14:07] delandtj commented on #83
maybe an md5 hash of that token as mountpoint ? (and then even the 1st 8 bytes ?(or the last?))

[2019-06-26 14:26] LeeSmet commented on #83
@delandtj if it's a JWT, the characters are the base64url encoding set (`a-zA-Z0-9_-`)

[2019-06-27 06:42] muhamadazmy commented on #83
@delandtj you didn't fully understand me

The mount point is NOT the jwt. the JWT holds the mountpoint in the data payload this can be something like `/mnt/pools/pool1/subvol1` (the path in the payload above) and the tenant id
Then we make a signed jwt with this content. this jwt identifies the subvolume. Now when u want to mount this subvolume in a container. We just pass the jwt as the id of the

[2019-06-27 08:04] delandtj commented on #83
I stand corrected

[2019-07-01 08:07] #28 closed, assigned to muhamadazmy, LeeSmet

[2019-07-01 08:07] #4 closed, assigned to LeeSmet

[2019-07-01 08:10] LeeSmet opened #89 "Ability to choose the type of storagepool when requesting a filesystem"
Storage module should take into account what type of device a filessytem needs to be run on, not just take anything

[2019-07-01 08:46] zaibon opened #90 "Prepare hardware to setup first testnet"

[2019-07-02 10:48] #44 closed, assigned to zaibon, delandtj, muhamadazmy

[2019-07-03 07:39] LeeSmet opened #94 "Only create storagepools when needed"
Right now the storage module greedily takes all available devices and creates storagepools on them when it starts, this should be changed to only create a storagepool when a filesystem is requested and there is no more space in the existing pools

[2019-07-03 08:56] #84 closed, assigned to LeeSmet

[2019-07-03 15:47] zaibon commented on #60
see https://github.com/threefoldtech/zosv2/blob/master/specs/network/Public_Provisioning_for_ExitNRs.md

[2019-07-03 15:47] #60 closed, assigned to nobody

[2019-07-03 15:48] zaibon commented on #62
tnodb_mock does implement the logic: https://github.com/threefoldtech/zosv2/blob/master/tools/tnodb_mock/tnodb.go#L44

This will stil need to be implement in a Gedis actor on top of a real bcdb later on

[2019-07-03 15:48] #62 closed, assigned to nobody

[2019-07-03 15:59] zaibon commented on #63
@delandtj remind me what was the goal of this issue again ? :-s

[2019-07-03 16:37] zaibon commented on #64
Most basic functionality have been merged to master.
- https://github.com/threefoldtech/zosv2/pull/74
- https://github.com/threefoldtech/zosv2/pull/86
- https://github.com/threefoldtech/zosv2/pull/96

[2019-07-04 08:48] muhamadazmy commented on #77
I updated the schema in the issues description.

[2019-07-09 10:04] zaibon opened #102 "Convert specs document into documentation"
Now that we have most MVP we should start to reformulate specification document into actual documentation.

Modules to do:
- [x] network (@delandtj)
- [x] container (@muhamadazmy)
- [x] storage (@muhamadazmy)
- [x] identity (@muhamadazmy)
- [x] upgrade (@zaibon)
- [x] flist (@zaibon)
- [ ] zinit
- [ ] zbus

[2019-07-09 14:44] #89 closed, assigned to LeeSmet

[2019-07-10 07:29] delandtj commented on #59
I suspect this is not applicable any more in this form.
  - For dnsmasq, right now, we don't need it. OTOH, some coredns for registering services and/or names of containers having an IPv6 addr would be important, as typing in addresses will be euhm .. cumbersome ;-)
  - Firewalling needs to be specified, but as far as I have it in my head some templates will suffice
  - For UTS namespacing, well i

[2019-07-10 09:02] #63 closed, assigned to zaibon, delandtj

[2019-07-11 08:08] muhamadazmy opened #105 "networkd: both ApplyNetworkResource and GenerateWGKeys need to be idempotent"
They method need to have no effect, if called multiple time with the same config. The ApplyNetworkResource however need to take proper action to apply configuration to reality.

[2019-07-15 08:16] zaibon commented on #90
Hardware and network is ready. We now need to configure an exit node and install the tnodb for the testnet.

[2019-07-15 08:16] zaibon commented on #90
@delandtj can you write an issue about the requirement of the exit node routing advertisement.

[2019-07-15 08:18] zaibon commented on #76
https://github.com/threefoldtech/zosv2/pull/82

[2019-07-15 08:18] #76 closed, assigned to muhamadazmy

[2019-07-15 14:02] zaibon opened #113 "network: Logic to request a new network resource for a node joining a network"
When a node needs to join a network for the first time, a new network resource (NR) needs to be added to the tenant network object (TNo).

To create a new NR, the TNoDB requires 2 information from the node:
- a free port
- the public wireguard key of the node for this TNo

We need to implement this communication between the node and the TNoDB. Currently the networker interface only expose a method

[2019-07-15 14:04] muhamadazmy opened #114 "schema: Parse and generate types from jsx schemas"
The types then can then be used to call gedis actors.

[2019-07-17 11:30] zaibon commented on #67
The identity package has been created and used for out test during networkd development.
We recently change base64 encoding of public key to base58 so the identity generated is URL friendly.

https://github.com/threefoldtech/zosv2/tree/master/modules/identity

This seems to do the job we want quite effectively so I'm going to close this issue for now. feel free to re-open if some problem with the

[2019-07-17 11:30] #67 closed, assigned to nobody

[2019-07-17 11:32] zaibon commented on #11
wont fix.
we actually want to avoid the need for node to talk to each other directly

[2019-07-17 11:32] #11 closed, assigned to nobody

[2019-07-17 11:38] zaibon opened #116 "Avoid generating the wireguard key on the node"
As a requests from @despiegk, we need to remove the generation of the wireguard key from the node and move that to the user side.

So the user will have to generate the key pair of each member of its network and then publish these key pair in the bcdb.
This mean we will need to encrypt part of the network object with the public key of the node, so only the node will be able to read its private key

[2019-07-17 12:03] zaibon opened #117 "extract create-network command from tffarmer into a user CLI tool"
The `tffarmer` CLI needs to only have command for a farmer.
While extracting the create-network command from tffarmer I'll move it into a new CLI `tfuser`. `tfuser` will contains a command to create each possible workload:
- [ ] network
- [ ] volume
- [ ] container

[2019-07-17 15:04] #113 closed, assigned to zaibon, delandtj

[2019-07-18 05:42] zaibon opened #118 "Volume provisioning give btrfs subvolume of size 0"
I did a provisioning of volume of 5GiB, then when I wanted to write some file into my volume I immediately got an `quota exceeded error`

[2019-07-18 05:43] zaibon commented on #118
@LeeSmet can you point where this is handled in the code ?

[2019-07-18 05:43] #64 closed, assigned to nobody

[2019-07-18 06:25] zaibon commented on #105
fixed in https://github.com/threefoldtech/zosv2/commit/4ec2a51be737222952e069442cae83a7772ac0d0

[2019-07-18 06:25] #105 closed, assigned to zaibon, muhamadazmy

[2019-07-18 06:50] delandtj opened #120 "Make sure ZOSv2 is running 4.19 with user fuse option enabled"
https://www.phoronix.com/scan.php?page=news_item&px=Linux-4.18-FUSE

[2019-07-18 06:51] zaibon opened #121 "Provisioning module has no notion of reservation expiration"
Currently in the provisioning module, the reservation have no notion of time. We lack the information about for how long does the reservation needs to be live.

We need to add a duration to the Reservation struct, so we can know if a reservation is still valid or if it should be deleted from the system

[2019-07-18 06:51] delandtj commented on #120
that gives users the possibility to mount their own flists

[2019-07-18 07:12] zaibon commented on #120
This is not really a feature we want to give to users. Flist are used to create container, and container are things we provision using the blockchain. So I don't really see a use case for user space fuse. What was your idea ?

[2019-07-18 11:33] #117 closed, assigned to zaibon

[2019-07-18 19:40] zaibon opened #124 "Extract network manipulation logic from tnodb"
Currently most of the logic regarding network object manipulation lives inside the [tnodb_mock](https://github.com/threefoldtech/zosv2/tree/master/tools/tnodb_mock)

While this makes things super easy to use, it doesn't really fit with the concept where the node only provision what they get from the bcdb. Instead the node is now dynamically talking with the tnodb by itself and the [network object]

[2019-07-19 07:10] zaibon opened #125 "storaged: /var/cache is mounted twice is already mounted"
When storaged is restarted and /var/cache is already mounted, it will mount it again giving a double mountpoint like
[code]

Storaged should not mount it a second time

[2019-07-19 09:07] zaibon opened #126 "network: enforce the network allocations to be /48 only"
Having a single allocation size will simplify the generation of IPs and network configuration.
This also makes things easy for farmer when they configure their network

[2019-07-19 09:15] delandtj commented on #90
Need to move some network parts:
the S5850 (switch) we have here is basically not IPv6 aware enough to get all our requirements for being a router in our grid.
I'll need to move the routing part out of that switch, and implement it in a linux box so we can handle proper routing.

[2019-07-19 09:18] delandtj commented on #90
IPv6 is not a panacea, you need some things to support it.
I know a network should be ubiquitous, but to get there, there are constraints to be taken into account.
A network doesn't configure itself, contrary to many beliefs ;-) (actually, it does, when using proper routing protocols and prefix delegations, but then... yeah that's a whole different can of worms)

Again, read this:
https://github.c

[2019-07-19 11:24] delandtj commented on #124
there a a few caveats to consider:
  - if HIDDEN nodes live on the same segment (or routable internal network) we should be able to specify that, so that the WG config can still address the inhouse peers like they do as being public. [shown here](https://github.com/threefoldtech/zosv2/blob/master/specs/network/HIDDEN-PUBLIC.png)

  - Dual-stack Nodes (IPv4 AND IPv6) need to verify if a peer is eff

[2019-07-19 14:06] zaibon commented on #116
To be able to implement this we first need to implement the cryptograpghic primitive used to encrypt/decrypt the keys.

Some lib that could be usefull:
- https://godoc.org/github.com/dyv/crypto/edwards/ed25519
- https://godoc.org/github.com/whs/nacl-sealed-box
- https://godoc.org/golang.org/x/crypto/ed25519

[2019-07-22 08:18] zaibon opened #128 "Reflect on how billing for bandwidth and network allocation will work"

[2019-07-22 08:25] zaibon opened #130 "Implement capacity tracking module"
This module will be responsible to report the capacity of the node to BCDB.
This information is then use for 2 purpose:
- compute the amount of token farmed by the node at the end of the minting period
- display capacity to be reserved on the public grid directory

TF Grid uses 4 type of resource unit:
- CPU (CRU)
- Memory (MRU)
- SSD (SRU)
- HDD (HRU)

Using these resource unit and the uptime of

[2019-07-22 14:43] zaibon commented on #124
All the task have been merged in #131 except `implement a full network object validation that will be used by the bcdb when provisioning network`

I'll create an separate issue for it so I can keep this one closed: https://github.com/threefoldtech/zosv2/issues/132

[2019-07-22 14:43] zaibon opened #132 "implement a full network object validation that will be used by the bcdb when provisioning network"

[2019-07-22 14:44] #124 closed, assigned to zaibon

[2019-07-23 08:50] zaibon opened #133 "update Makefile to include commit hash and version in daemon binaries"
This is to allow us to easily debug daemon bugs

[2019-07-23 09:13] zaibon opened #134 "ensure each daemon can be upgraded/restarted properly"
In order for the upgrade procedure to work, we need to ensure each daemon handle a restart properly.

A restart of a daemon is a bit different then a fresh start after boot cause most of the things that the daemon will setup will already be there.

- [x] contd
- [x] flistd
- [x] identityd
- [x] networkd: https://github.com/threefoldtech/0-initramfs/commit/42ab208389186f5ddd27f86337adaf2170383a76
-

[2019-07-23 09:14] zaibon opened #135 "convert identityd as a real daemon and expose interface over zbus"

[2019-07-23 11:32] #125 closed, assigned to zaibon

[2019-07-23 13:06] zaibon commented on #83
The problem raised by @muhamadazmy is indeed something we need to solve.
But his proposal cannot be implement as it is. Reason is, his proposal assumes the ID of a reserved volumes is generated by a node and then somehow sent back to the user that requests it.

This is actually not how things works. A reservation schema is something that is fully generated client side. Then it will be written on t

[2019-07-24 07:07] #134 closed, assigned to zaibon

[2019-07-24 07:11] zaibon commented on #90
Network has been redone by @delandtj  in TF office. Everything should be in place now

[2019-07-24 07:11] #90 closed, assigned to delandtj

[2019-07-24 07:14] zaibon commented on #77
Now that we have our tnodb_mock and the network module is pretty much done.
I'll go over how the tnodb_mock looks like today, see if I cannot simplify a bit the data structure. Then once this clean up is done, I can produce the corresponding JSX schema that needs to be used for BCDC

Updated the first comment with some bullet points.

[2019-07-24 10:38] zaibon commented on #54
fixed by 4f918587b48b21e56b5237eb2f43a151b9362c58

[2019-07-24 10:38] #54 closed, assigned to zaibon

[2019-07-24 14:16] zaibon commented on #77
I created a gist with all the types that we use in the 0-OS that will need to be stored inside bcdb and their JSX schema counterpart: https://gist.github.com/zaibon/8f8124c094073225a3475c4736eeb531

Next step is validating that all the schema are actually valid and working in JSX ( I just wrote them from the top of my head)

[2019-07-25 08:07] #114 closed, assigned to muhamadazmy

[2019-07-25 12:06] muhamadazmy opened #141 "schema: implement extra data types from jumpscale"
We need to implement all needed data types from jumpscale schema:

- IP Address
- IP Range
- Enums
- Dicts
- ...

[2019-07-25 22:19] zaibon commented on #83
I think I have a way to solve our problems.
A reservation object already contains the identity of the creator of the reservation.
If we add a signature to reservation object we obtain 2 things
1. we make sure the reservation has not been modified on the way to the node
2. we can verify who is the author of the reservation, aka the owner of the capacity the node will provide.

If we use this signat

[2019-07-26 02:34] maxux commented on #83
That sound great !

1. I think `sha256` is a quite good for that
2. Why not both ? A mix of everything, since data are immuable.

[2019-07-26 06:58] zaibon commented on #83
Good, I think too. That's what I used in my draft PR : https://github.com/threefoldtech/zosv2/pull/143

Well I was thinking since the signature is already a hash of the reservation content maybe that would just be double work. We could perfectly just hash the signature itself to bring it to a reasonable size.

[2019-07-26 07:33] zaibon opened #144 "Implement 0-db provisioning"
0-DB is the last supported workload we didn't implemented yet.
This one is a bit particular cause the 0-db is not a private workload, but a shared one.
What we actually allow people to reserve is a private namespace on a shared 0-db. This is due to the fact there can be only one 0-db per disk.
This also impact how the networking is done for the 0-db. Since anyone should be able to reach the 0-dbs

[2019-07-26 14:53] zaibon opened #145 "upgraded is not able to upgrade itself"
Since upgraded is running while an upgraded is happening (obviously) we get the `text file busy` error when trying to copy the new version of upgraded.

[2019-07-26 14:58] maxux commented on #145
1. Move original (running) file to another name
2. Upload new file to original name
3. Restart process
4. Remove original file

[2019-07-26 15:00] delandtj commented on #145
os.Rename

[2019-07-26 15:36] zaibon commented on #145
ok that make sense. But then we have another issue. Since we just run the full root of the filesystem from tmpfs, we will run out of space when doing the copy.

[2019-07-26 15:56] maxux commented on #145
Do it one by one and remove one by one

[2019-07-26 15:56] zaibon commented on #145
already tried that, but still, I get out of space even for the first one.

[2019-07-26 15:57] maxux commented on #145
Use another additional tmpfs ?
You don't even need to remove binaries then, just umount it when it's done and voilà

[2019-07-26 16:02] zaibon commented on #145
that won't work cause I cannot do a rename cross devices. Which means I would have to copy it to the new tmps, delete the current binary which would fail with the same 'test file busy' error.

[2019-07-26 16:14] delandtj commented on #145
[code]

[2019-07-26 16:15] zaibon commented on #145
@delandtj :

[2019-07-28 09:37] muhamadazmy commented on #118
It's a bad size conversion, the Provision module expects module in GiB while storage expects a size in Bytes.

[2019-07-28 15:56] #118 closed, assigned to muhamadazmy

[2019-07-29 08:08] #133 closed, assigned to muhamadazmy

[2019-07-29 08:14] #141 closed, assigned to muhamadazmy

[2019-07-29 08:46] zaibon opened #147 "containerd/networkd: implement veth pair creation per container and connect to NR bridge"

[2019-07-29 13:06] muhamadazmy opened #150 "storaged: crash on booth with error `pool sp_zos-cache has no corresponding devices on the system`"

[2019-07-29 15:18] #150 closed, assigned to muhamadazmy

[2019-07-29 16:43] #145 closed, assigned to zaibon

[2019-07-29 16:49] delandtj opened #152 "Abusing of the kernel ringbuffer for applications is frowned upon ;-)"
Although we can enlarge the kernel ringbuffer for these things, I woud refrain from using it as a log mechanism.
the moment that the kernel is yelling about something, most probably our apps will also start spewing errors, and flush the messages that lie at the origin of all that babbling.

We need to discuss that.

[2019-07-29 16:52] zaibon commented on #152
A dump as what as already been said on internal chat:

these logs are not from zinit actually, they are just the services writing their output to the ring buffer

not going through zinit

but all outputs in general are buffered

speaking of which

so logs can printed sometime before they are actually written

we shouldn't abuse of the kernel ringbuffer

probably the start logs thingy are flushed o

[2019-07-30 11:35] zaibon opened #153 "Harden the fact that a node cannot bootstrap itself if there is no farm id configured"

[2019-07-30 13:49] #83 closed, assigned to nobody

[2019-07-30 15:42] muhamadazmy opened #156 "schema: create a generation tool"
A generation tool that reads a schema file and generated proper go structures.

[2019-07-31 14:08] #156 closed, assigned to muhamadazmy

[2019-07-31 14:09] #135 closed, assigned to muhamadazmy

[2019-07-31 19:04] zaibon opened #159 "containerd: limit the amount of storage user can write on root"
Currently, if a user creates a container without any volume mounted. He can abuse the root of is container and store pretty much unlimited amount of data in there.
This data ends up in the cache of the node itself.

We need to limit this as much as possible. I don't think we can make root fully read-only, but the usage of volume in container should be really encouraged.

[2019-07-31 19:09] zaibon commented on #159
One solution to this would be to implement this in flistd itself. 0-fs already allow to choose where to set the Read-Write layer.
So if flistd does creates a small sub-volume before starting the 0-fs process, he can point the RW layer to the sub-volume. Like this the user will get a nice `no more space on device` error if he tries to abuse it's root.

[2019-07-31 21:09] delandtj commented on #159
also, from experience, people just don't use volumes, and expect `/` to not be ephemeral. Nasty surprises ensued, as well as dirty hacks using backups and restores for restarts. you'd be amazed at the imagination and inventivity

[2019-08-01 06:39] zaibon commented on #51
I increased the priority of this one since we start to have a code base with quite some code and I've seen some tests and linting errors slipping in.

[2019-08-01 06:46] delandtj commented on #121
#### Duration or expiry date ?
if a user adds coin to his reservation, what happens ?
- duration is a number, where newduration = oldduration - []list of elapsed + (coin * duration)
- expiry is a date where newdate = olddate + (coin * duration)

So :
- expiry is indivisible and
- in duration we could have a more granular approach of a list of durations where the reservation was active, but it seem

[2019-08-01 06:53] zaibon commented on #121
Very good point. I think as long as we don't know how a user is supposed to extend a reservation we cannot really make a decision here. I would lean more toward duration cause I think this will make extension of a reservation easier.
With fix expiration date, we'll need some logic somewhere that looks what was the previous expiration date, then add some time to it etc... Makes things a bit more co

[2019-08-01 07:27] #159 closed, assigned to zaibon

[2019-08-01 07:34] zaibon opened #161 "Make all identification compatible with 3bot app"
During the early development of the v2 we created our own identification system (kinda) using the same type of keys already used by the [3bot app](https://github.com/3botlogin/3botlogin) (ed25519).

Now that we have something that works properly, we should make sure everything is compatible and can be integrated with the 3bot app.

Tasks:
- [ ] tfuser id should use the same key generation logic th

[2019-08-01 08:05] zaibon opened #162 "update boot flow documentation"
https://github.com/threefoldtech/zosv2/blob/master/zinit/readme.md

[2019-08-01 08:09] zaibon commented on #102
Starting Today (1st August 2019) each owner of the repository will commit to every 2 days deliver a documentation for a modules.

I believe doing it like that we can be done with this task within 1 week.

[2019-08-01 12:06] zaibon commented on #162
fixed by #164

[2019-08-01 12:06] #162 closed, assigned to nobody

[2019-08-02 06:28] zaibon opened #166 "storage module test fails when run all together"
It seems we have some side effect between test cause when I run the full test suite if the storage module I got some errors:
[code]
While running each test one by one works without errors.

[2019-08-05 20:10] #1 closed, assigned to GlenDC, delandtj, muhamadazmy

[2019-08-06 15:27] delandtj opened #170 "Upgrade and lifetime procedures for zosv2 binaries"
We need to come up with a proper lifetime definition and accordance with the web-served image for booting the nodes.
Basically, even when live-upgrading binaries in zos, there needs to be :
  - a global state for all binaries, with one version (or a list of compatible versions)
  - the served 0-OS (uefi) image needs to follow that versioning, checking necessary migrations along the way until all m

[2019-08-07 13:19] muhamadazmy commented on #152
I started a POC to create our own user space ring buffer log daemon. The logs will still be available only in memory (size configurable).

I am still not sure how the logs should be read from memory though. Kernel ringbuffer provides a device (kmsg) for this. It's not easy to implement this in user space without using fuse, but there is no tokio fuse implementation for rust atm.

Another idea is u

[2019-08-07 14:54] #166 closed, assigned to nobody

[2019-08-08 08:31] #116 closed, assigned to nobody

[2019-08-08 10:36] zaibon opened #174 "Make coreX listen on ip6 address of its container"
Once https://github.com/threefoldtech/corex/issues/11 has been solved, we need to update the container module so it make coreX listen on the IPV6 address of the container when it starts.

This line should be changed to enable IPV6 support:
https://github.com/threefoldtech/zosv2/blob/9ada3f9d3203c004beda1c775eea9510a16b0bb5/modules/container/container.go#L159

[2019-08-08 10:36] delandtj opened #175 "NO L3 on node-end part of veth pairs as well on br-xxxx-y in the nodes"
although we will add default rules in place with ebtables to block that, I'd prefer not to put the fox in the coop, and disable IPv6 on these interfaces altogether.
`sysctl -w net.ipv6.conf.$iface.disable_ipv6=1`
on all vethxxxxx and br-xxxx-y in the nodes

[2019-08-08 11:34] zaibon opened #176 "network module port management"
We have now 2 use case where we need to be able to ask the network module for a unused port in a specific network namespace.

- when wireguard interface needs to listen on a port for public nodes
- when creating 0db container in the same public namespace

To achieve this the network module should prove an interface to reserve and release port. A bit like the same concept with have for ip managemen

[2019-08-08 14:24] #174 closed, assigned to nobody

[2019-08-08 14:55] zaibon opened #177 "tfuser: improve network management commands"
We need to add more commands to the `tfuser generate network` commands.

Current commands are:

- create network
- add node
- add user

I think we are missing
- remove node
- remove user

[2019-08-09 07:22] #177 closed, assigned to nobody

[2019-08-09 07:23] #176 closed, assigned to nobody

[2019-08-09 08:43] zaibon commented on #144
I have most of the of code ready. Storage provisioning, create of 0-db container and such.
Only remaining part of the networking. Exposing the 0-db to the public address of the node turns out to be a bit more complex then anticipated.

I'll park this issue while we figure out how we're going to deal with public IP in general for 0-OS.

@delandtj feel free to add more comment about that.

[2019-08-09 09:13] zaibon commented on #147
fixed in https://github.com/threefoldtech/zosv2/pull/167

[2019-08-09 09:13] #147 closed, assigned to muhamadazmy

[2019-08-12 09:42] zaibon opened #183 "network: see how we are going to manage the listen port of the wireguard interface for exit points"

[2019-08-12 09:49] zaibon opened #184 "network: set ipv4 address in container"

[2019-08-12 09:54] #175 closed, assigned to zaibon

[2019-08-12 11:10] #102 closed, assigned to nobody

[2019-08-13 12:39] zaibon commented on #51
I've open a draft PR https://github.com/threefoldtech/zosv2/pull/186 that enables all the tests I could find that can just run as they are today.

There some modules that requires more work for the test to pass though.

[2019-08-13 14:43] zaibon opened #187 "refactoring: accept interfaces and return concrete type"
I was going over the code and noticed that we tend to usually return interfaces from factory methods instead of concrete type.

The go proverbs says:

I think we should try to apply to this where we can. I could help to decouple some of the component in some of the modules and split them into smaller packages.

[2019-08-19 12:46] #121 closed, assigned to zaibon

[2019-08-19 12:54] zaibon commented on #170
Current status is:
- We have a single 0-OS image that is updated manually by triggering a new build whenever we feel like it
- The live-upgrading is done using upgraded ([see doc](https://github.com/threefoldtech/zosv2/tree/master/docs/upgrade)) and we have a development version of the "upgrade server" at https://versions.dev.grid.tf. This server list all the available version and detail of the fl

[2019-08-19 13:23] zaibon opened #190 "creates constant file for different flavor of 0-OS"
First read about the different flavor of 0-OS in the update documentation: https://github.com/threefoldtech/zosv2/tree/master/docs/upgrade#philosophy

I would like we add a constant file to the 0-OS build that define what value to use for different components of the different flavor.

So the different flavor would be :
- dev: purpose for local development
- test: purpose is for new feature testing

[2019-08-19 13:39] zaibon commented on #152
custom ring buffer has been merged into zinit: https://github.com/threefoldtech/zinit/pull/13

[2019-08-19 13:39] #152 closed, assigned to zaibon, maxux, delandtj, muhamadazmy

[2019-08-19 13:40] #20 closed, assigned to nobody

[2019-08-19 13:57] zaibon commented on #183
Lacking other better ideas I'll add a list of used port in the information the node publish to the BCDB.
So user/tool creating TNo can check that information and try to pick a unused port.
This will still eventually lead to conflict if 2 user/tool pick the same port, but I don't see a way out at the moment

[2019-08-19 14:02] delandtj commented on #183
either way, the in use ports for wireguard will need to be registered somehow, be it in a normally connected node or one with a public namespace:

[code]
and

[code]

[2019-08-19 14:34] delandtj commented on #183
come to think of it :
same old , same old, use uint6 with prefix nibbles of NR
et hop !

[2019-08-19 14:40] zaibon commented on #183
That solves all our problem, wonderful !

[2019-08-19 15:35] #183 closed, assigned to zaibon

[2019-08-20 07:02] zaibon opened #192 "Factorise the network object into the minimal information required"
Since our network system is fully deterministic, we could actually reduce the amount of information we need to store for a network to just the bare minimum:
[code]

So we get rid of
- the `Peer` struct: All the wireguard configuration except the private key is determined by the prefix of the network resource.
- The ExitPoint struct: Everything is determined by the PrefixZero

[2019-08-20 07:10] delandtj commented on #192
well... a part from the fact that it makes the code lean and mean, it will stop us from allowing users to do their own network config. Also, it could be a problem if our deterministic way of doing things somewhere along the line avers to be a bad idea after all, and that we have to reintroduce IPv4, IPv6 configs specifically.
Although note: less code is less code. But it is suddenly very opinionat

[2019-08-20 07:15] zaibon commented on #192
This doesn't change anything regarding the freedom of the user. We already doesn't allow anything else then this configuration anyhow. And the code of networkd itself will still work against the full network definition. We only change what is carried over the network when doing a reservation.

This proposal also remove the different type of peer and assume only wireguard, which we know is not what

[2019-08-20 08:09] muhamadazmy commented on #7
I think we also need to have a visual statistics UI for machines owners to have a quick overview of the machine health and load (similar to the boot screen of V1). Currently with V2 (specially since we have no logs on screen anymore) there is noway to see if the machine is doing well or not, or if it got IP in the local network

[2019-08-20 08:24] muhamadazmy commented on #170
## How about we do this

- 0-OS official image should has no binary, only the absolute necessary plus the `upgraded` daemon (or some sort of other bootstrap daemon), may be also `networkd` so machine can connect to the internet.
- On boot, the upgraded will always have to download latest binaries from the official releases (in sort of a manifest file) it has to always get the latest. binaries, and

[2019-08-20 09:03] delandtj commented on #192
` And the code of networkd itself will still work against the full network definition` -> arf, to make things going over the wire smaller, then of course I don't have any objection

[2019-08-20 09:37] zaibon commented on #170
This is a nice idea. But at the end we have the same problem as we have now for both the networkd and upgraded. So if there is an upgrade of the networkd for example, the image won't have the proper version, we are in the same situation as now, no ?

[2019-08-20 11:30] muhamadazmy commented on #170
Well, true, but I also said this can be another bootstrap daemon/script to take care of initial boot, later on once the system is fully booted, updgraded can take care of the system make sure it's always up to date. But the bootstrap util can be very simple because it will just pull, and verify the latest manifest and make sure services are monitored by zinit.

[2019-08-20 12:03] zaibon opened #195 "stress testing"
Now that we have the [decommission system in place](https://github.com/threefoldtech/zosv2/pull/182) we should start doing some stress testing on the nodes of the dev lab.

My idea is we write a small script that send different reservations at random time with different duration.
During this time we monitor the systems (memory, cpu, networks, errors rate, ...)

So we start building some knowledge

[2019-08-20 12:04] zaibon commented on #195
For the system monitoring we already have a node exporter in place on the node in the labs so that fine.
For the logs we don't have anything, so I proposer we quickly write a small tool that would read the logs from the zinit ring buffer and send them to a remote endpoint where we can aggregate/process them.

[2019-08-20 12:45] zaibon commented on #144
So here is the solution we're going to implement:
- We will only implement support for IPv6 for now.
- Each 0-db container will have their own network namespace, like any other container
- We add a macvlan interface into the container, since we're in IPv6 world, this interface should receive an IP via SLAAC
- Once the IP is set on the macvlan interface, networkd will just read it so it and send it

[2019-08-21 16:35] zaibon commented on #144
PR is ready: https://github.com/threefoldtech/zosv2/pull/196

[2019-08-22 06:45] zaibon commented on #7
@muhamadazmy yep right. I don't have anything against re-using the same kind of boot screen we had in the v1. Let's just define what we want to show on it and move the code in this repo. ~~I'll open an issue for it.~~ issue opened: https://github.com/threefoldtech/zosv2/issues/197

[2019-08-22 06:47] zaibon opened #197 "Migrate boot screen from v1"
Even though the node is unreachable for anyone, we still want to print some useful information when a screen is connected to a node.

If no one as objection, we can just migrate the tool we use in the v1 to create this screen. Let's just define what we want to show.

[2019-08-22 07:11] muhamadazmy commented on #197
I have some objects:
- The UI was built into core0 (pid 1) of v1
- We didn't any use any terminal libraries so it was kinda hard to setup the layout, add, or edit the layout or add new information. I built it from scratch by drawing directly in the terminal.
- The new version UI must run as a separate daemon (basically like how X11 runs) and then add different widgets that shows stats from separat

[2019-08-22 09:25] maxux commented on #195
Idea is using `tfuser` to request provisioning:
- Lot of request with small duration
- Request with longer duration
- Request using multiple seeds
- Request with random delay between request
- Sending invalid schema
- Reserving the full capacity of one node
- Do random reservation with random data ?

[2019-08-22 10:12] zaibon opened #201 "Split ZDBPrepare method into smaller generic methods"
Networker interface exposes a ZDBPrepare method that is very specific, we should split that into smaller more generic method that can be re-used easier:
https://github.com/threefoldtech/zosv2/blob/0f7aa0fad30b9e11b92f36d7cbdaa98671e149a6/modules/network.go#L31-L34

[2019-08-22 10:13] #79 closed, assigned to muhamadazmy

[2019-08-22 10:27] #144 closed, assigned to zaibon

[2019-08-22 12:01] maxux opened #204 "Missing backend option when provisioning a container"
It seems there is no way to provide the backend url when creating a container.

The new flist library supports to embed the backend url directly on the metadata but this is not supported yet by 0-fs, and anyway, this should be an option available to the user.

[2019-08-22 13:00] zaibon commented on #197
I think we can be generic about that. We define an interface that any module that wants to show something on the boot screen needs to implement, and the UI daemon just loop over all modules and get the data

[2019-08-22 13:03] zaibon opened #205 "Debug mode for the node"
I had an idea regarding debugging for the node once they will be in the field.

When node will be in production we won't have any way to reads the logs. My idea is to create a new type of reservation. This reservation would need to be signed by the farmer and contains an endpoint where the logs needs to be forwarded.
So when we want to debug a node we send this reservation schema to the farmer he

[2019-08-23 13:53] zaibon opened #207 "Failed to provision 0-db namespace on a node with public namespace"

[2019-08-26 07:59] muhamadazmy commented on #205
It's a good idea, except it assumes that the node `provisioning` is actually working. may be a node should by default forward the logs to log aggregation endpoint defined in the boot params. Then a farmer elasticsearch node can receive this and used for debugging when needed? just an idea.

[2019-08-26 13:05] delandtj commented on #205
Either way, we already hav a state of a node where we have no clue for why it doesn't boot.
Previously we knew, as everything was sent to the kernel ringbuffer, so we could tell.
So yeah... sometimes the kernel ringbuffer might be of help.
is there a way to (with a `debug` kernel parameter for instance) to pipe to both ? (zinit ringbuffer __and__ kernel ringbuffer) ?

[2019-08-26 14:25] #204 closed, assigned to zaibon

[2019-08-27 09:52] zaibon commented on #51
#186 have been merged. But some test for certain package are still skipped.
I'll update the first comment to list all the package that still need to be enabled

[2019-08-27 12:18] muhamadazmy opened #215 "feature: bootstrap daemon to boot a fresh node"
The bootstrap daemon requirements:
- A bootstrap daemon (as the name suggests) runs only on booting a new node. It's considered an error to re-run bootstrap after the node it booted, and measures should be taken to prevent it from re-running otherwise it can interfere with the node runtime.
- The bootstrap daemon should have NO dependency on node daemons (0-OS daemons) but of course is allowed to

[2019-08-27 12:26] muhamadazmy commented on #215
The first issue we need to discuss is networking. 0-initramfs used to have a simple unit file that boots dhcpcd on the available network card(s). But it was removed in fever of `networkd`.

I think we can bring this back (with some improvements) and we make it responsibility of `networkd` to stop this service before taking over the machine networking stack.

Later on, `bootstrap` can only then dep

[2019-08-27 12:28] zaibon commented on #215
I don't have a problem with this. Seems logical enough. @delandtj ?

[2019-08-28 08:28] #205 closed, assigned to zaibon

[2019-08-28 08:47] zaibon opened #218 "provisiond: send status back to BCDB after deployement of a workload"
At the moment, there is no way for a user to know what was the status of a reservation is or to receive some connection information for a deployed workload.

The node needs to write these detail back to the BCDB in all cases. All being or it succeeded to deploy the workload or it didn't. In case it worked it needs to sends some connection information.

Response information for each workload:
- vol

[2019-08-29 00:24] maxux commented on #195
Branch used: https://github.com/threefoldtech/zosv2/tree/stresstest

[2019-08-31 09:13] zaibon opened #224 "implement gedis client to BCDB for identityd"
The implementation of the BCDB actor has started : https://github.com/threefoldtech/tf_cockpit/issues/7

As this effort is going we need to implement the gedis client in our side so we can gradually replace all the client we use to talk to our bcdb_mock with the real one.

We have multiple location in our code base where we have implemented a part of the BCDB interface:
- https://github.com/threef

[2019-09-02 07:02] zaibon commented on #218
During implementation I hit a couple of issues.
Since a same reservation can be deployed multiple time (in case the node goes down for example) we need to make sure that the connection information stays the same between the two deployment. otherwise the client won't be able to connect to its workload after the node is back online.

As far as I know we don't have deterministic IP distribution for 0

[2019-09-02 07:45] zaibon commented on #218
To solve this problem we could make the IP distribution for both normal and 0-DB container deterministic like we do for the network.
Using the reservation ID, we could generate a 64bit number that we can then hexify to put it inside a an IP address.

[2019-09-02 11:32] delandtj opened #232 "storaged : if impossible to mount crashed (ctree failed) btrfs storaged tries indefinitely"
If there are problems with the SSD, nothing works, so there is not even a possibility to try to fix the node without going into some form of rescue mode

[2019-09-02 11:56] #59 closed, assigned to zaibon, delandtj

[2019-09-02 11:56] #126 closed, assigned to nobody

[2019-09-02 16:48] #218 closed, assigned to nobody

[2019-09-02 16:49] zaibon opened #233 "provisiond: make 0-db container IP deterministic"
follow up issue from https://github.com/threefoldtech/zosv2/issues/218

Since a same reservation can be deployed multiple time (in case the node goes down for example) we need to make sure that the connection information stays the same between the two deployment. otherwise the client won't be able to connect to its workload after the node is back online.

We have deterministic IP allocation for no

[2019-09-02 16:49] zaibon commented on #218
#220 has been merged already. I'll open another issue to make 0-db container IP deterministic :https://github.com/threefoldtech/zosv2/issues/233

[2019-09-02 16:59] zaibon commented on #130
most of it is ready in PR #214

[2019-09-02 17:03] zaibon commented on #207
fixed in https://github.com/threefoldtech/zosv2/commit/0cc94d90eece58725be2c3cea74d9c0808cb3d6f

[2019-09-02 17:03] #207 closed, assigned to nobody

[2019-09-02 17:05] zaibon commented on #192
BCDB implementation will use the small format for network provisioning.
To make it compatible with us with less amount of work I think we can create a method that take the small version as input and expand it to the full Network object we currently use everywhere

[2019-09-03 10:34] zaibon commented on #224
to win time we can generate the type expected by the gedis actor using [schemac](https://github.com/threefoldtech/zosv2/tree/master/tools/schemac).
So internally in the gedis client these types are used, but they are then converted to the type 0-OS expect. This will allow us to have a layer in case something change in any of the sides.

JSX schema are located at:
- https://github.com/threefoldtech

[2019-09-03 15:22] LeeSmet opened #234 "Workload deletion"
The jumpscale workload actor/model defines that a reservation can be deleted, which would then delete the workloads, prior to the expiration (https://github.com/threefoldtech/jumpscaleX_threebot/blob/development/ThreeBotPackages/threefold/tfgrid_workloads/models/reservation.toml#L15)

[2019-09-03 21:05] delandtj opened #235 "Add ultimate routing for IPv4 in networkd"
We have 80% of IPv4 routing in the NRs already, we 'just' need to get out for network resources that dont't have a 'bought' public IPv4.
TODO :
- [-] add ipv4 routable addresses to WG interfaces
- [-] add ipv4 routing to NRs to other NRs
- [-] add IPv4 addrs to for EPPub4RT
- [-] add code for
  - ipv4 routing back to ExitPoints and their IPv4 NRs
  - nasquerade nftables in gateways for __all__ NRs

[2019-09-04 00:43] maxux commented on #224
Also use:
- `modules/provision/remote_store.go`

I'm doing some test and playing with schemac right now

[2019-09-09 10:21] muhamadazmy commented on #233
I have no idea what SLAAC is, so if given more information I can work on this.

[2019-09-09 10:25] muhamadazmy commented on #232
May be as a "rescue" solution the storage can set a "rescue" flag some where (which should be respected by other daemons) and continue. then this rescue flag will make some daemon to run in some sort of rescue mode (for example, no provision is accepted, minimal networking, etc...) to give a chance to an admin to login (not sure how) to the node and check the problem.

[2019-09-09 11:20] muhamadazmy commented on #153
It's not hard to stop the booting of the node if farm-id is not set, the question is what do we need to do to notify the farmer that this node is missing some required configuration.

[2019-09-09 11:51] muhamadazmy commented on #128
Some humble thoughts on how this should be done:
- Calculations should **ONLY** concern with actual outgoing/incoming traffic.
- Provisioning for network namespaces, bridges, wiregurard, etc... shouldn't be billed because on their own they cost nothing. Only traffic counts.
- Network metrics are collected per each *Network*  namespace (tx, rx) bytes, and packets per second.
  - problem is that thi

[2019-09-12 07:12] delandtj commented on #192
another part in that refactoring is that we __will__ need to add possible portforwards when a user buys IPv4, and account for IPv6 firewalling (opening up the diode firewall for every ExitPoint)

[2019-09-12 08:01] delandtj commented on #215
for networking https://github.com/threefoldtech/zosv2/pull/236 addresses the bootstrap part of the network, as I think some simple dhcp runs on interfaces will not cope with some more complex setups.
It will never be as simple, and now in bootstrap we can set a krnl cmdline  to include or exclude interfaces, as that __will__ come up in the future.
also commented in the meeting notes [20190909](htt

[2019-09-12 09:57] delandtj commented on #192
hmm looking more into that :
1) An ExitPoint __can__ have a Public IPv4 address that is allocated to him, hence `ExitPoint.Ipv4Conf` needs to exist __Somewhere__ in that format, __with__ the full DNAT list, __if__ the ExitPoint has a Public IPv4.
2) Ipv6Allow **could** be generated, if the container/service is single_purpose (is listening on only one port)
For containers that are attached directly

[2019-09-12 10:20] delandtj commented on #192
so in terms of networking, it is intricately married to the provisioned containers, so almost *every* container provision, will bump the version of the TNo, i think... we'll have to make sure the ExitPoints get their information in a timely manner.
If no new network resources are created , it seems to me that only the ExitPoints will have to do something, i.e. only update the nft, which leads me t

[2019-09-12 11:42] zaibon commented on #192
This is something we will need to resolve indeed, but as now, we don't deal with IPv4 allocation for exit point just yet. Let's open an issue about it and plan it for future releases.

This is not out intend to be single service, so we need to re-add at least the port forwarding rules to be able to expose ports from containers.

so you provision a service through the 3Bot, that would mean that the

[2019-09-12 12:30] zaibon opened #240 "get repository ready for prime time"
Now that we are close to release the first version of 0-OS v2. We should make sure this repository looks the way it should.

- [x] set topics
- [x] add contributor guideline
- [x] review main README
  - [x] quick introduction
  - [ ] links to docs, specification, other documentation about TF grid
- [x] Rename repository
- [ ] Have proper milestone for next versions

Regarding the renaming of this

[2019-09-12 12:43] muhamadazmy commented on #240
I vote for option 2

[2019-09-12 15:35] zaibon commented on #240
I kinda like we could use zos too. this is short and easy to write and it works good in a go import path.
I'll open an issue on the current zos repo to rename/archive it then. so we can reclaim the name.

https://github.com/threefoldtech/zos/issues/102

[2019-09-12 15:58] maxux commented on #240
Sounds the best idea for import yes

[2019-09-12 16:49] zaibon commented on #77
everything can be found at https://github.com/threefoldtech/jumpscaleX_threebot/tree/development/ThreeBotPackages/threefold/tfgrid_workloads/models

[2019-09-12 16:49] #77 closed, assigned to zaibon

[2019-09-12 16:52] zaibon commented on #153
well since we don't have a farm_id on the node itself, we cannot notify anyone since we don't know who to notify, so I guess the only solution is to print something on the console.
So we should do that as part of https://github.com/threefoldtech/zosv2/issues/197

Now maybe we could still somehow write something special into the BCDB directory so we can list all the node booted without farm_id.

[2019-09-12 20:00] delandtj commented on #240
zos.. but then all code imports must be touched ?

[2019-09-12 22:14] zaibon commented on #240
yes, a search and replace of the imports needs to happen after the renaming. But since no one depends on us and we have not yet released any version this is a harmless move.

[2019-09-12 23:06] maxux opened #242 "schemac: missing some datatype support"
From the document: https://github.com/threefoldtech/jumpscaleX_core/tree/development/docs/types

When trying to convert a schema, some type seems not recognized correctly and crash with error like:
[code]

This happens with (at least) theses types:
- `T` (date with time)
- `email`

[2019-09-13 02:58] maxux commented on #224
Status:
- set, get, list, update node resource implemented
- set, get, list, update farm implemented
- some tests written

But some issues:
- Conflict in model between farmid (integer or string), need to clarify
- Issue with redigo on return value for capacity stuff (update works well, response fails)

Will discuss tomorrow to see how fix theses stuff

[2019-09-15 07:35] muhamadazmy commented on #242
@maxux can u also send me the schema you are trying to compile

[2019-09-15 10:23] delandtj commented on #192
I still think service registration and firewalling are by definition not part of the network . The network should be ubiquitous, nothing more, nothing less. that is :
- run the wireguard mesh
- handle inter-network resource routing
- for IPv6, just have the EP run a diode firewall, outgoing only stateful filtering
- for IPv4, NAT in the gateway container for all 10.0.0.0/8 and in the EP outgoing o

[2019-09-15 14:10] #215 closed, assigned to muhamadazmy

[2019-09-15 14:14] muhamadazmy opened #248 "upgraded: changes required to update from boot flist"
Now since we fully support booting a node from an flist. the upgraded module need to use the same flist to update in runtime for running machines.

- [x] daemons graceful shutdown support
- [x] monitor flist updates
- [x] graceful shutdown of services (consider dependency?)
- [x] restart services
- [ ] ~~Support removing a daemon~~

[2019-09-15 14:18] muhamadazmy commented on #248
The idea is the following:
- A node that is booted from an flist, can monitor this flist (on the hub) for changes in the hash or upload time.
- Once detected, the flist is mounted for update.
- We need to figure out which binaries need (restart) since the flist container *ALL* binaries. While all binaries now have `-v` flag, it actually only report github refs, which means changing in one daemon w

[2019-09-15 19:00] maxux commented on #242
At that time, it was this one: https://github.com/threefoldtech/jumpscaleX_threebot/blob/5acbd70680643a8fc41e8b1901312bf7adab31e3/ThreeBotPackages/threefold/tfgrid_directory/models/model.toml

[2019-09-16 16:32] #234 closed, assigned to zaibon

[2019-09-17 09:26] #190 closed, assigned to maxux

[2019-09-17 09:34] #235 closed, assigned to nobody

[2019-09-17 09:34] #184 closed, assigned to delandtj

[2019-09-17 10:49] #224 closed, assigned to maxux

[2019-09-18 10:13] maxux commented on #240
We can get a vm with zosv2 up and running quite easily and quickly using qemu doc. With `make kernel` and `make start` (and after setting up the bridge), you are ready to go. That's really cool !

But there are few things missing, important for new users:
- The vm doesn't provide any information about it's status, as soon as `zinit` started. We need to forwards logs to the serial / console. The ma

[2019-09-18 11:46] #130 closed, assigned to zaibon

[2019-09-18 19:22] zaibon opened #258 "Upgraded core components and kernel"
In https://github.com/threefoldtech/zosv2/issues/170 we discussed how we want to be able to upgrade all the different daemon of 0-OS. This seems to be now understood and solved (at least once https://github.com/threefoldtech/zosv2/pull/253#pullrequestreview-290124420 is merged)

But we still have some component that we don't cover with this procedure.
I'm thinking about things like `redis`, `coreX

[2019-09-19 08:49] zaibon opened #261 "Prepare release pipeline"
To make our release process as smooth as possible we want to create a 3 step release pipeline.
development => testing => production

Development: this is used by developer to develop test new features. It uses the bcdb_mock so the all infrastructure is in our hands if we need to do some change at the bcdb level too. We could have a small farm or we can just keep this development only running with

[2019-09-19 09:15] maxux opened #262 "zlf: panic when cannot connect target redis"
[code]

[2019-09-23 07:52] zaibon opened #266 "Implement gedis client for remaining endpoints"
Gedis client has been implemented for identityd only. We still need to implement all the other BCDB endpoints:

- [x] provisiond : https://github.com/threefoldtech/zosv2/blob/master/modules/provision/remote_store.go
- [x] capacityd : https://github.com/threefoldtech/zosv2/blob/master/modules/capacity/store.go
- [x] networkd : https://github.com/threefoldtech/zosv2/blob/master/modules/network/tnodb

[2019-09-23 07:53] zaibon opened #267 "rename flag on binaries from tnodb to bcdb"
On all the daemon binaries we usually have a flag called `tnodb`. This needs to be renamed to `bcdb`

[2019-09-23 08:13] zaibon opened #268 "networkd: allow user to choose ipv4 range per network resource"
After extensive discussion about how `networkd` works right now. It has been decided that going all the way deterministic is not acceptable. We need a way to let a user choose the ipv4 subnet he wants to use for his network as well as the subnet per network resource.

This new requirements has a pretty big impact on the all architecture. I'll try to summarize all the changes required to make this

[2019-09-24 01:54] maxux opened #270 "bcdb_mock crash since go 1.13"
Since go 1.13, `bcdb_mock` crash when registering new node:
[code]

This does not occures when compiling using go 1.12.9

This is related to:
[code]
When trying to assign value:
[code]

[2019-09-24 06:33] #270 closed, assigned to nobody

[2019-09-24 08:57] #248 closed, assigned to muhamadazmy

[2019-09-24 09:29] #170 closed, assigned to zaibon, maxux, delandtj, muhamadazmy

[2019-09-24 09:29] zaibon commented on #170
fixed in #208

[2019-09-24 10:45] zaibon opened #273 "documentation about upgrade"
[Documentation](https://github.com/threefoldtech/zosv2/tree/master/docs/upgrade) about how upgrade works in 0-OS needs to be updated to match the new flow introduced in https://github.com/threefoldtech/zosv2/pull/253

[2019-09-25 12:06] muhamadazmy commented on #266
Okay, my plan was to actually use the gedis api schema to auto-generate the client, since we already can generate types from data schema.

Unfortunately the api uses property serialization format which is harder and more time consuming to implement. hence we will instead build the API by hand, and generate the types from the jsx schema only.

We will use the schemas from there locations:
- [direct

[2019-09-25 12:12] zaibon commented on #266
Nop, so far this is all the schemas we use.

[2019-09-27 09:11] zaibon opened #283 "upgrade version of containerd"
containerd 1.13 has been released, we should have a look a see if we can upgrade to it: https://github.com/containerd/containerd/releases/tag/v1.3.0

[2019-09-30 08:11] zaibon commented on #195
fixed in https://github.com/threefoldtech/zosv2/pull/282

[2019-09-30 08:11] #195 closed, assigned to maxux

[2019-09-30 11:52] zaibon opened #286 "networkd: find a way to identity uniquely the networks"
Since https://github.com/threefoldtech/zosv2/pull/278
the network is not deterministic anymore. So we cannot use the ipv6 allocation from source of uniqueness. So all the component that are defined in the host network namespace can potentially conflicts. We need to find a way to generate unique ID for them:

- wireguard interface
- network resource network namespace
- network resource bridge
- vet

[2019-09-30 12:07] zaibon opened #287 "update tfuser to work with revised network"
Since https://github.com/threefoldtech/zosv2/pull/278/commits/8a4b100375139ef7f0d8b13573c9d6389e014385 the network definition has changed and tfuser doesn't build anymore.

We should update tfuser to make it compatible with the new network design.

[2019-09-30 12:15] zaibon opened #288 "networkd: update documentation"
Need to bring documentation in line with how network  works since https://github.com/threefoldtech/zosv2/pull/278

[2019-09-30 14:35] zaibon commented on #266
https://github.com/threefoldtech/zosv2/pull/281

[2019-09-30 14:35] #266 closed, assigned to muhamadazmy

[2019-09-30 15:04] #268 closed, assigned to zaibon

[2019-10-01 05:58] zaibon commented on #267
these flags have been removed and the bcdb url is not driven from the kernel paramets

[2019-10-01 05:58] #267 closed, assigned to nobody

[2019-10-01 06:41] zaibon commented on #240
PR for contribution guideline is open at https://github.com/threefoldtech/zosv2/pull/292

[2019-10-01 06:45] muhamadazmy opened #293 "bootstrap: check boot mode and use different default flists for prod,dev and test"

[2019-10-01 07:00] zaibon commented on #192
replaced by https://github.com/threefoldtech/zosv2/pull/278

[2019-10-01 07:00] #192 closed, assigned to nobody

[2019-10-01 07:01] zaibon commented on #132
done in https://github.com/threefoldtech/zosv2/pull/278

[2019-10-01 07:01] #132 closed, assigned to nobody

[2019-10-01 07:16] delandtj commented on #233
https://tinyurl.com/yyuo556u

[2019-10-01 07:34] #242 closed, assigned to muhamadazmy

[2019-10-01 07:53] maxux commented on #153
We could simply create a farm called `Unconfigured` or something like that and set this farmid as default farm if it's not set. At least we can query the bcdb and fetch stuff or provision that node to fetch logs, etc.

[2019-10-01 07:55] maxux commented on #240
Since my last comment, mostly everything is fixed/included now. I'll go further on the walkthrough with new qemu documentation up-to-date.

[2019-10-01 07:56] maxux commented on #287
We need to update `tfuser` to be able to talk with bcdb, maybe we can group into this issue.

[2019-10-01 08:01] zaibon opened #295 "decide how to expose 0-db ip/port"
Currently all 0-db are started on a different IPv6 address given by SLAAC.
This choice has been made to avoid having to deal with port allocation and implement destination NAT.
Having a different IP by 0-DB solves all these problems. The only things to consider is to have a way to always give the same IP to the same 0-db in case of a node reboot. But this is solvable since 0-db lives on top of dis

[2019-10-01 08:02] #233 closed, assigned to nobody

[2019-10-01 08:10] delandtj commented on #153
that is a friggin good idea!

[2019-10-01 08:11] zaibon commented on #153
@maxux super nice idea ! You're taking over to implement it ?

[2019-10-01 08:38] zaibon commented on #286
One solution could be to hash (customer_id+name) to generate a unique string and use it to suffix all the required names.

[2019-10-01 09:19] #286 closed, assigned to zaibon

[2019-10-01 21:56] zaibon commented on #153
fixed in https://github.com/threefoldtech/zosv2/pull/297

[2019-10-01 21:56] #153 closed, assigned to maxux

[2019-10-01 21:57] zaibon commented on #273
fixed in #274

[2019-10-01 21:57] #273 closed, assigned to muhamadazmy

[2019-10-02 07:24] #293 closed, assigned to muhamadazmy

[2019-10-02 10:08] #240 closed, assigned to zaibon, maxux, delandtj, muhamadazmy

[2019-10-02 10:12] muhamadazmy opened #304 "networkd: failes to apply nft rules"
it fails with the following error
[code]

[2019-10-02 10:46] zaibon commented on #304
required version of nft is 0.9.1 to works with our current code base.
upgrade has been done at https://github.com/threefoldtech/0-initramfs/pull/24 build is on the way

[2019-10-02 10:49] muhamadazmy commented on #51
I am not sure if there is still anything to do related to this issue, @zaibon ?

[2019-10-02 11:15] zaibon commented on #51
yes there is. All the uncheck box in the first comment are still to be done.

[2019-10-02 11:23] zaibon commented on #304
with the updated image I don't hit the bug anymore. @muhamadazmy can you double check ?
link to the image: https://bootstrap.grid.tf/kernel/zero-os-development-zos-v2-generic-5ad8ab3534.efi

[2019-10-02 11:40] #287 closed, assigned to zaibon

[2019-10-02 12:57] #304 closed, assigned to nobody

[2019-10-03 13:02] delandtj opened #307 "interfaces in host br-tons and to-dmz still have an IPv6-LL addr"
`sysctl -w net.ipv6.conf.br-tonrs.disable_ipv6=1`
`sysctl -w net.ipv6.conf.to-dmz.disable_ipv6=1`

[2019-10-04 12:14] #307 closed, assigned to zaibon

[2019-10-07 05:40] weynandkuijpers opened #309 "Secure Boot process validation for HPE hardware"
We need to test the usage of the Silicon Root of Trust for certified farming equipment.

HPE makes servers which use silicon with keys embedded in the motherboard which TF can use to create the unique identifier for the farming equipment.

Documentation is available here: https://drive.google.com/open?id=1zxf29102vNHrdupdGCKRYtvJgdqKsPg-

[2019-10-07 11:58] zaibon opened #311 "provisiond: decommission of network fails if container is attached to it"
[code]

[2019-10-07 11:59] zaibon opened #312 "provisiond: decommission of container fails"
[code]

[2019-10-07 14:53] zaibon opened #313 "identityd: send proper version during node registration"
https://github.com/threefoldtech/zos/blob/1f23fb12d6105eb79933b5706656082df2cb15d5/cmds/identityd/main.go#L87

[2019-10-08 07:35] zaibon opened #314 "provisiond: container network namespace are not properly cleanup after decomission"

[2019-10-08 09:37] zaibon opened #315 "contd: weird permission issue inside container"
sshd fails to start because it "detects" that the keys have "too open" permissiones while they are set to `0400`.
calling chmod again on the files, actually fixes the problem!

[2019-10-08 10:40] zaibon opened #316 "networkd: DMZ cannot start if farm dhcp doesn't give IPV4 to public interface of DMZ"
[code]

[2019-10-09 09:25] #312 closed, assigned to nobody

[2019-10-09 13:59] zaibon opened #319 "contd: be backward compatible with startup.toml from v1"
Until we have solve https://github.com/threefoldtech/0-flist/issues/9
We should at least be compatible with the `startup.toml` generated by hub when doing a docker import.

Specially I'm interested in parsing the environment variable and the entrypoint specified in the startup.toml

[2019-10-10 08:14] #314 closed, assigned to nobody

[2019-10-10 08:15] zaibon opened #323 "provisiond: handle network cleanup in case network provision fails"
The container Provision should also take care to leave if an error occured in the provision process after the join call was made.

[2019-10-14 09:11] zaibon opened #326 "Re-add IPV6 support for network resource"

[2019-10-14 11:26] muhamadazmy opened #327 "bring bcdb mock to same `data` interface as gedis client"
Currently we have a bcdb mock we use for development and testing, and a gedis client that actually works against bcdb/gedis.

Currently both the mock and gedis are growing a part, we need to have similar `data` inputs/outputs from both

[2019-10-14 15:41] andhartl opened #328 "Node and farmer migration to grid 2.0 documentation"
we have 66 farmers and 600 plus nodes which need to be migrated to grid 2.0.
the main topics are:
- migrate farmers from iyo to 3bot auth
- Zero OS v1.x to Zero OS 2.0
- Zero Tier to Zero Network

Need to prep documentation which farmers can use to migrate

Tasks:
- [x] [Farm network documentation](https://github.com/threefoldtech/zos/pull/325)
  - [x] How does a farm need to look network wise for

[2019-10-15 07:10] muhamadazmy opened #329 "upgrade: support removing services from"
Currently upgrade, will make sure to start new introduced services from the new image, but now way to remove services that are no longer needed.

To support this, i have the following plan:
- Create a list of all the services that has been started from the current version. this can be done by remounting the "current" version of the flist or simply get the file listing from the hub (this can be eas

[2019-10-15 07:31] zaibon commented on #329
This rely on the fact that we can at any point in time get back to a previous version flist. And with the current way of working we only have a pointer to the latest version. We have no way to know which flist to get for the "current" version. And there is also guarantee that the flist will still exists at all.

I also don't think we should rely on the hub special feature for anything, so using fi

[2019-10-15 07:48] muhamadazmy commented on #329
Yes, and No.
Currently we actually keep the flist information (in /tmp) that does have the linked flist. hence we have the FULL flist that we currently uses (not just the 'latest' symlink) which means we can always check it as long as it was not deleted on the hub.

[2019-10-15 07:49] muhamadazmy commented on #329
No it does not. It's idd out of scope of this issue as u mentioned.

[2019-10-15 07:53] zaibon commented on #329
That is one of my concern. Since we have no way to prevent an flist from being removed except us not screwing up. So we could live with it for now but I would prefer we have something really immutable for it.

Can you develop on that. What exactly do we keep in tmp ?

[2019-10-15 07:59] zaibon commented on #329
But I'm just thinking that if we come up with something to kinda manually deal with the files present or not. We might just as well try to find a solution that solve all our problem at once. Because I think these 2 problems are very similar. How do we manage some file that needs to be deleted and some other that needs to be copied.

[2019-10-15 10:33] #313 closed, assigned to zaibon

[2019-10-15 10:58] #95 closed

[2019-10-15 15:40] zaibon opened #330 "flistd: flist mountpoint have 750 permission"
The normal behavior should be that the mountpoint have the same permission as `/` in the flist

[2019-10-16 09:35] #51 closed, assigned to zaibon, muhamadazmy, LeeSmet

[2019-10-16 11:15] zaibon commented on #311
This is a tricky one cause there is a relation between a container and the network it uses.
I see 2 cases:

- a network expires while some container are still using it: This will lead to left over on the system cause the network namespace and interfaces for the network resource cannot be properly deleted.

- some container are running and attached to a network that has been decommissioned. Then th

[2019-10-16 11:29] delandtj commented on #311
well when a networks expires , the NRs associated to them expire all at the same time. So yes, a network that __has__ expired should first see if there are sill workloads associated to them.
I think it would be better to never expire the network as it is set up and only delete the full network when that last workload has expired or has been removed.
NRs that do nothing don't cost anything anyway.

[2019-10-16 11:47] zaibon commented on #311
I don't think you got my point. What you explain involves multiple node.
I'm only talking about a single node. I'm also not considering a full network. But just a network resource on one node.

This is not something you can know from a node. And you can perfectly have a same network that have network resource expiring at different time on different node.  The all "network" concept is actually not

[2019-10-16 12:00] delandtj commented on #311
the problem is that a network is ONE, with it's NRs, peers, routes. That also means that if NRs are removed form the network, all other NRs need to be aware of that and reconfigure in function of a removed peer and removed routes. Ergo: the TNo needs to be updated somewhere along the line and as such redistributed

so expiration should be set to infinite when you **create** the network, and when 3

[2019-10-16 15:44] zaibon commented on #311
Is it a problem is a network resource has a peer that doesn't respond ? If not, then there is no real "need" to clean up things there.

And even then, we can test for existence of containers on that network, and issue a warning that there are still workloads on that network.

This is not how things works nowadays. Maybe this is something that we should aim for but today there is no management of a

[2019-10-17 06:51] zaibon commented on #328
Documentation wise I want us to have the following topic covered for farmers:
- Farm network documentation
  - How does a farm need to look network wise for 0-OS to behave properly
  - Do and don't
  - Explanation about difference between and public and an hidden node
  - IPv6 getting started for farmer

@andhartl : This is not really a farmer specific topic. This concern more the users. Or did I

[2019-10-17 08:59] zaibon opened #334 "provisiond: integration test against real BCDB actor"
We need to have a full test suite of test against the [provision actor](https://github.com/threefoldtech/jumpscaleX_threebot/blob/development/ThreeBotPackages/threefold/tfgrid_workloads/actors/workload_manager.py)

~~Blocked on https://github.com/threefoldtech/jumpscaleX_threebot/issues/90~~

[2019-10-17 11:05] #262 closed, assigned to zaibon

[2019-10-17 12:41] #319 closed, assigned to nobody

[2019-10-17 15:12] serboctor commented on #334
https://github.com/threefoldtech/jumpscaleX_threebot/issues/90 is fixed.

[2019-10-18 06:47] andhartl commented on #328
@zaibon for me 100% farmer topic.

[2019-10-18 06:47] andhartl commented on #328
@zaibon what do you mean with a hidden node?

[2019-10-18 06:59] zaibon commented on #328
can you elaborate. Cause in the current version farmer doesn't have to deal with zerotier network at all. So I must be missing the point.

That is also what farmer will ask, thus the documentation about this concept :-)

[2019-10-18 14:47] zaibon commented on #327
I started doing the change in bcdb_mock. Opened a draft PR: https://github.com/threefoldtech/zos/pull/336

it contains the update for nodes and farms. I did a quick test and it seems this code is compatible with the cockpit frontend. So that's a good start.

[2019-10-18 22:02] delandtj commented on #311
but... come to think of it... I wonder how we would have a resource busy when destroying an nr... if there are no processes running in there, everything should vanish at the same time...
show me when that happens, it shouldn't

[2019-10-21 07:09] andhartl commented on #328
@zaibon mean here the network in the datacenter and ho two set up a datacenter farm. not zero network.

[2019-10-21 07:32] zaibon commented on #328
@andhartl ok got it. So this fall into the first point I made about networks. So we're round. cool :-)

[2019-10-21 12:20] andhartl opened #337 "Detect if 3Node is physical hardware or virtual machine"
right now we can not detect if capacity is generated by physical or virtual hardware. virtual hardware can be heavily oversubscribed and would help to cheat the system. that's why we need a detector which makes it clear what we are dealing with.

- [x] research how to detect virtual machines
- [ ] implement VM detection in 0-OS
  - [ ] add new IsVM method on the `ResourceOracle` type https://githu

[2019-10-21 12:44] zaibon commented on #337
I think we don't really care if 0-OS is run from bare metal or virtual machine as long as the capacity it claims it has can actually be delivered.

What do you have in mind when we detect that 0-OS is running form a VM ?

[2019-10-21 13:42] andhartl commented on #337
we should care as the virtualised capacity can spoof capacity which is physically not there (oversubscription). plus we need the distinction between both to introduce managed capacity which is designed for vm capacity and will have most likely a higher difficulty factor which leads to lower tft.

[2019-10-21 15:22] zaibon commented on #337
This issue is not only for VM. And this comes back to the same discussion we already had many times before. If we don't have proper capacity proof. I don't see how we can solve this problem.

Do we have a document explaining all the different types of capacity ? Does managed is only VM ? is running in a VM automatically makes it managed ? This seems to be a more broad problem then just identifying

[2019-10-21 16:49] andhartl commented on #337
for hardware we have the proofs we store with the minting data, correct?
working on the doc for all types of capacity. will reach out to kids tomorrow to get signed off. yes, managed will only be VMs
Talked to @delandtj this morning about if vm vs hardware could be detected. he said that him and maxux already investigated

[2019-10-22 07:41] zaibon commented on #337
Yep, so for now we can leave with that.

ok sounds good.

[2019-10-22 08:34] zaibon opened #338 "remove travis-ci"
Since github action seems to give us all the capability we need we can now safely remove travis-ci

[2019-10-22 08:36] zaibon commented on #120
Closing because of inactivity. feel free to re-open if needed.

[2019-10-22 08:36] #120 closed, assigned to nobody

[2019-10-22 08:45] zaibon opened #339 "Test migration from node v1 to a v2"
sub task of https://github.com/threefoldtech/zos/issues/328

In order to prepare the migration of node from the v1 to v2. We need to identify the potential data migration that will be required.

I think the only things we want to migrate is the data on disks.
Networking, containers and VM are not something we will migrate.

To do so lets try the following test plan:
- boot a node with a v1 kernel.

[2019-10-22 11:39] #338 closed, assigned to zaibon

[2019-10-22 14:18] maxux commented on #309
Actually, what we would need is HSM Module integrated.
https://en.wikipedia.org/wiki/Hardware_security_module

A device not (or difficult to) removable, unique identifiable, which contains pair of keys and never expose private key, which can encrypt/decrypt data. Secureboot things are basic and standard features...

[2019-10-23 08:38] weynandkuijpers opened #103 "Cannot enable ssh in container. Error "no space left on device""
# Installation information

- operating system: macos cataline
- zos version `zos --version`: zos 0.1.6 (development#3744126107cf5f6649bcb4f31bb376e112d723f5)
- target zero-os version `zos ping`: "PONG Version: master @Revision: 9121e2a704f33c5aa5c912079a15689cc3b1a591"

# Detailed description
Weynands-MBP:.config weynandkuijpers$ zos container 7 shell
INFO adding SSH support to your container

ST

[2019-10-23 09:06] weynandkuijpers commented on #309
That would be great - and is probably the way forward for other hardware.  For the HPE relationship (partnership) we need to incorporate what they create/have on offer.  iLo5 is that thing.  Can we please have a look at this?

[2019-10-23 09:26] zaibon commented on #309
Indeed, this issue is not about what we could have, but just to test how we can integrate with what HPE currently provide in it's hardware

[2019-10-24 10:56] delandtj opened #342 "static derived mac addrs for ndmz public nic"
when and  ndmz is set-up, we create a macvlan for the public interface, that interface gets a ramdom MAC address. When a user sets up a dhcp server so that the ndmz gets a public IP addr, it would be cumbersome to have to reset all mac addresses of the ndmz of the nodes every time they reboot.

Using the node ID, we can create a mac address to make it static.
there are a few mac addresses we canno

[2019-10-27 12:07] zaibon opened #344 "update BCDB address of testing network"
the address of the BCDB for the testing network will change from `tcp://bcdb.test.grid.tf:8901` to `tcp://explorer.testnet.grid.tf:8901`

[2019-10-28 10:47] #327 closed, assigned to muhamadazmy

[2019-10-28 10:47] #344 closed, assigned to zaibon

[2019-10-28 13:20] muhamadazmy opened #347 "storage: investigate volume encryption"

[2019-10-28 15:50] zaibon commented on #328
We have just merged the first documentation regarding the network setup: https://github.com/threefoldtech/zos/tree/master/docs/network

Specifically some documentation on how a farm network should look like: https://github.com/threefoldtech/zos/blob/master/docs/network/setup_farm_network.md

[2019-10-28 16:17] andhartl commented on #328
got the point on network config home versus multi node farm.

not sure if the following questions belong to this repo but they have definitely to do with migration:
- how do we migrate a farmers iyo identity to 3bot authentication?
I mean not automated migration but rules on which naming to use etc.
-how do we match node ids (farm organization name in iyo) in previous and new grid version?
this is

[2019-10-28 16:34] zaibon commented on #328
:+1:

This is not covert in this documentation. I'm working on a more high level document about how to create a farm on the new grid. There I'll cover these question. Here we focus on the hardware only.

[2019-10-29 06:04] weynandkuijpers commented on #328
Few comments/remarks from my side:
- more out of interest than anything:  "Obtain an IPv4 subnet from the provider. At least one IPv4 address per node is needed, where all IP addresses are publicly reachable".  Will this go away over time eg. will we continue to need IPv4 addresses or is more convenient for today.  These addresses are rare and therefore more costly by the day.
- I would more the I

[2019-10-29 16:32] zaibon commented on #261
release pipeline as been implemented in #346
I"ll close this issue and open a new one just for the staging test suite

[2019-10-29 16:32] #261 closed, assigned to maxux

[2019-10-29 16:32] zaibon opened #350 "Develop staging test suite"
TODO: continue left open items from https://github.com/threefoldtech/zos/issues/261

[2019-10-30 08:35] zaibon opened #352 "Networkd : support port forward"
This issue describe a new network primitive we want to add to 0-OS. Port forward.

The first use case for it would be to allow the `tf_gateway` to connect to public nodes to forward traffic from public internet to the public ipv6 address of the nodes and inside the private network of the users.
Routing traffic like that allow nodes to not have to share a wireguard network with the TF gateway, whic

[2019-10-30 09:03] muhamadazmy commented on #352
If the `src` port are limited to what is available on the node, it does not make sense to allow the user to set it like that. Instead, a user should just ask for destination ip/port. and an automatic public port is gonna be assigned to him.

This also will prevent people fighting for known ports (80, 443, 22, etc...) I imagine some people will just book these ports even if the destination does not

[2019-10-30 09:23] zaibon commented on #352
That would be the simplest solution yes, but we cannot do that cause 100% of the workload needs to be define before hands. No dynamic selection of anything would be ip or port is allowed.

This is what I said too. `provision.Network` is the network part of a container reservation, check the link in my first comment again.

[2019-10-30 09:26] muhamadazmy commented on #352
My fault, i thought it's part of the NetworkResource. sorry

[2019-10-30 11:14] #288 closed, assigned to delandtj

[2019-10-30 11:20] zaibon commented on #328
Today we support both ipv4 and ipv6 cause we know not all part of the world are ipv6 enable. But our intent is really to drive farmer to have ipv6 enabled node. Ultimate goal with be to have everyone to use ipv6 only. Feel free to submit a PR on the documentation to stress that a bit more if this is not clear.

:+1:

This is indeed something that is not yet documented. The flow would be the follow

[2019-10-30 13:00] delandtj commented on #352
let's rethink that a bit:
what are the requirements:
- Constraints
  - __some__ machines on the BBI (big bad internet) are proxies for SNI domain names (*1)
  - the proxy destinations are containers that live in Network Resources of a user network
  - the communications between the proxies and the destinations will be IPv6
  - the destinations are services in a User Network (wireguard mesh), that

[2019-10-30 13:23] delandtj commented on #352
*1 SNI proxies are not a panacea, as the visibility part in the logs of the servers get reduced to the IP of the proxy.

[2019-10-30 14:08] zaibon opened #353 "provisiond: new reservation are not received from testnet BCDB"
When the node is running on testnet. The reservation received by the provisiond engine are only seen once when provisiond starts and ask for all the reservations.

After that when it ask only new reservation since a certain date time, it always gets an emtpy list.
I"m not sure where the bug is located if it's in 0-OS side or the BCDB actor itself.

[2019-10-30 14:21] delandtj commented on #352
So for IPv6, we can then choose to use IPv6 Private space, `fd00::/8` and do some NAT66, so effectively keeping the same type of crufty thing to counter the IPv4 problem, but then why would IPv6 be created. Having properly routable IPv6 Addresses will be beneficial in the long run.
Either way, we have to add IPv6 in the NRs and in the containers... The only question that needs answering is: Privat

[2019-10-30 14:51] zaibon commented on #352
Well we need to be pragmatic here. We don't have time to change the all networkd again now.
Only thing we need is to be able to forward traffic from a tf_gateway into a private network resource.
If the less work is we just do NAT66, then be it. It will add some overhead, but that's ok for now.

From how I see things, the easier and faster is just to allocate ipv6 we derivate from the ipv4 of the n

[2019-10-30 15:34] delandtj commented on #352
:'( ok then, I'll cook some specs to add...

[2019-10-30 16:52] zaibon opened #355 "Gedis client doesn't deal with big response"
Seems the [redigo redis library](https://github.com/gomodule/redigo) we use doesn't deal well with big response.

`[-] provisiond: 4:46PM ERR failed to get reservation error="redigo: long response line (possible server error or unsupported concurrent read by application)"`

[2019-10-31 11:31] gneumann333 commented on #309
Hi,
The HPE Server all support the Trusted Plattform Module V2.0 would that be what we need?
It would mean that this has to be installed in the Servers.
As far as i know if you installed/activated this module in a Server and then remove it the Server will be disabled until the that specific Module is back in the Server or you make a full reset.

[2019-10-31 11:32] gneumann333 commented on #309
https://en.wikipedia.org/wiki/Trusted_Platform_Module

[2019-10-31 11:40] gneumann333 opened #358 "Redundant Network Setup for Certified Capacity"
In the current Specs of ZeroOs 2 the Network setup is shown as singular (one router, one Internetfeed)
The Farming Rules/SLA require 99,5% uptime if a node is offline  to long (3 Months SLA not met) it has to be re-registered, possibley for a wosre Token Price
That would mean a potential lose of tokens for the Farmer.

A basic redundant Network setup has to be part of the Documentation as guidelin

[2019-10-31 11:46] gneumann333 commented on #309
@weynandkuijpers: we also discussed with Miro Polski the concept that the node has a basic Startup script in the locked down bios which then connects to the TF Servers and identifies itself with its UUID which is then connected to a Farmer/Farm.

Question is how would the TPM Module play into this? The Keypairs would have to be enter in the cockpit by the Farmer

[2019-11-01 11:26] #353 closed, assigned to nobody

[2019-11-02 16:28] zaibon commented on #355
fixed in https://github.com/threefoldtech/zos/commit/75a68449a8eaccf0add787248f9e35bd25abb5a4

[2019-11-02 16:28] #355 closed, assigned to nobody

[2019-11-04 16:33] muhamadazmy opened #364 "upgraded: mechanism to update core utils and potential kernel patches"
Related to #248

The current upgrade mechanism only works for zos binaries (from this repo) where we can control the release version and changes that ships to the node.

The ZOS ecosystem also include other binaries that is not part of zos repo, and developed by other developers from the open-source community, they have different release cycles, and strategies. This forces us to develop a new mech

[2019-11-05 08:37] zaibon commented on #364
That approach sounds reasonable we should give it a try.

[2019-11-05 08:50] weynandkuijpers opened #365 "Can we have an overview of all drivers / hardware compatible to the ZOS linux kernel"
AS we attract more farmers - can we have a list/wiki of all supported drivers.

If it is the standard list of drivers in the Linux kernel (which version?) then lets point to that.

Can we have nonstandard supported drivers (china?) being added (Not Intel but CHIntel)?

[2019-11-05 08:52] muhamadazmy commented on #364
Points for discussions:
 - Keep the version in the flist name, or drop it?
 - If we keep the version in the name, do we keep all versions or just the latest?
    - Note, keeping all version of the same util in the repo will make it harder to boot via bash script, and we will probably have to move to a different boot util (rust) to handle the json properly.
- Listing the repo content repeatedly is

[2019-11-05 09:00] zaibon commented on #364
Yes let's keep it so it is easy to see at which version we are right now.

we just keep one single version. But we will have 3 flist, one for each network (dev,test,prod)

This already exists I believe: https://hub.grid.tf/api/flist/zaibon

[2019-11-05 09:44] muhamadazmy commented on #339
I will test if the partitioning schema and subvolumes from v1 are compatible with v2. While I highly doubt it.
We can of course automate migration of labels and volume names to work with v2 without any loss of data, but there is noway we can reference this data anymore in v2:

- You would never know which sub-volume goes where
- Also you would have sub-volumes with no reservations, so you won't kn

[2019-11-05 09:50] muhamadazmy commented on #364
This is what I mean by a lot of traffic, imagine this same call done by thousands of nodes, all the time. I was considering a more generic overview of the repo, like last modification time of the repo (basically a `mtime of the directory on the file system` so we know if an update happened, then the node can do the full listing as returned by this call

[2019-11-05 09:51] #315 closed, assigned to muhamadazmy

[2019-11-05 09:51] #330 closed, assigned to muhamadazmy

[2019-11-05 09:57] zaibon commented on #358
Hello @gneumann333, thanks for you comment.

I get your point. In the documentation we indeed have the simplest possible setup defined. While this is good for home farming. It is maybe a bit too simplistic for bigger farm with more advanced network capabilities.

@delandtj Let's indeed plan to improve the documentation with a example for a bigger farm.
@gneumann333 a PR on the documentation to imp

[2019-11-05 10:04] zaibon commented on #19
closing this, nobody seems to care about that anyhow.

[2019-11-05 10:04] #19 closed, assigned to maxux, delandtj, muhamadazmy

[2019-11-05 12:34] muhamadazmy commented on #339
Okay, after some offline discussions we come to the following process for node migration:
- Detect old disk partitioning schema
- Wipe

[2019-11-06 11:18] maxux commented on #364
Ideas and things which will be tested to see if it's viable:
- Separate initrd from kernel
  - The initramfs is shipped inside the kernel for legacy reason (historically we were shipping the kernel, not an ipxe bootloader which download the kernel). Since we use `iPXE`, we can load 2 files instead of one without changes.
  - Separation will reduce build time since only initrd changes can be repack

[2019-11-06 11:28] muhamadazmy commented on #364
I think the boot process is getting more sophisticated, and hence we probably need to move away from `bash`.

I will create an issue regarding this and may be start the rewrite in rust _again_

[2019-11-06 11:30] muhamadazmy opened #367 "bootstrap: reimplement boostrap script in rust"
Part of #364

Currently the bootstrap is fairly simple, and hence it was okay to use bash scripting to implement the logic.

Now, the bootstrap process is getting more sophisticated (and might grow more complex in the future) hence, it's a good time to move away from bash to rust.

[2019-11-06 11:35] zaibon commented on #367
~let's hold our horses here :-) Nothing has been decided yet. So I'll put this on low prio until we have decided how to tackle #364~

[2019-11-06 11:41] zaibon commented on #364
OK this is interesting. Having a really minimal image and get everything else from flist could be nice.
But it raises a question. How does the node know what it needs to download ?
I would be like all the things in the hub directory ?
Then how do you remove something ?
Also, what would be the impact on a huge farm that has hundreds of node. Booting the farm would DDOS the hub no ?

[2019-11-07 09:40] zaibon opened #370 "release pipeline: invalid version number for development flist"
I just merged some code on master and the release pipeline build a new dev flist: `zos:v191107.093411.0-dev.flist` but 0-OS failed to update cause the format of the version is incorrect.
`[-] identityd: 9:35AM ERR upgrade failed error="failed to parse latest version: Minor number must not contain leading zeroes \"093411\""`

can we make sure we never have leading zeroes in there ?

[2019-11-07 10:24] zaibon opened #371 "updaged: upgrade failed to due to not enough space on disk"
`[-] identityd: 10:15AM INF start applying upgrade flist=tf-zos/zos:development:latest.flist version=191107.101502.0-dev
[-] identityd: 10:15AM ERR upgrade failed error="failed to create read-write subvolume for 0-fs: Not enough space left in pools of this type SSD"`

Reason for this is : https://github.com/threefoldtech/zos/blob/a91244c864436081fce37274de3cfb93b6fd9cc8/pkg/flist/flist.go#L123-L12

[2019-11-07 10:28] DylanVerstraete opened #372 "correctly map the node farmer's id to the farmer id"
Currently when listing all the farmer ID's they are produced as integers, which is fine. But when listing all the nodes, the farmer ID's in the nodes results are string values. In some cases they are mapped to the farmer's name.

[2019-11-07 11:53] #339 closed, assigned to muhamadazmy

[2019-11-07 12:11] muhamadazmy commented on #364
Yes

The upgrade (and the boot) can track the download file paths in a db under /tmp/. Once a change is detected on the hub (some flist removed), the db can be used to query which files to delete before install the new one.

The hub will definitely require some read-only mirrors in distributed areas. The main hub will be the only place to upload files, but the mirrors can use the same technique as

[2019-11-07 15:29] zaibon commented on #370
fixed in : https://github.com/threefoldtech/zos/commit/9998fa69e6a3f7920ab31b56f7f12fce857605c6

[2019-11-07 15:29] #370 closed, assigned to nobody

[2019-11-08 08:13] zaibon commented on #365
Having a full list of supported driver is not possible.
What we could do is start to maintain a list of all hardware we've encounter and mark them compatible or not.

But as a general rule of thumb we're running linux. If the hardware works out of the box a on linux machine without custom driver building, then we should assume it will work too on 0-OS.

[2019-11-08 23:54] zaibon commented on #372
fixed in
- https://github.com/threefoldtech/zos/pull/373
- https://github.com/threefoldtech/jumpscaleX_threebot/pull/204

[2019-11-08 23:54] #372 closed, assigned to zaibon

[2019-11-12 08:10] mpolski opened #376 "add physical server power management depending on capacity required"
Add power management to servers in a farm to save energy (cost, CO2 emisssions) and become even more green.

- Power off servers when capacity not reserved/in-use.
- Power on servers when capacity reservation exceeds currently available capacity of powered on servers in the farm.

Capacity of servers should be made available without having them powered on.
Farming tokens should be generated even w

[2019-11-12 09:20] zaibon opened #377 "provisiond: failed to send result back to BCDB after provisioning of workloads"

[2019-11-12 10:10] zaibon commented on #371
fixed by https://github.com/threefoldtech/zos/pull/375

[2019-11-12 10:10] #371 closed, assigned to muhamadazmy

[2019-11-12 10:14] #328 closed, assigned to zaibon, delandtj, andhartl

[2019-11-12 14:19] zaibon opened #381 "provisiond: failed to mount volume in container when using coreX"
Problem seems to come from the fact that coreX does a chroot after it stars which somehow mask the bind mount  in the container.

This chroot approach was taken cause we needed to have all the libraries and binaries of coreX in the container, so when using coreX, the container is started with `/var/lib/corex` as root filesystem, the flist mounted at `/sandbox` and the a chroot was done into `/sand

[2019-11-13 14:56] muhamadazmy opened #382 "provisiond: decommission stuck in a loop"
`provisiond` keeps printing same reservation decommission in a loop.

[code]

[2019-11-13 15:52] #377 closed, assigned to muhamadazmy

[2019-11-15 08:07] #382 closed, assigned to muhamadazmy

[2019-11-15 08:50] zaibon opened #384 "logs monitoring infrastructure"
I would like we put in place an infrastructure for log aggregation coming from the nodes.
Since we will have no way to connect to any of the node in the field. We at least must be able to "monitor" if everything is going smooth and if not be able to supports farmers.

[Loki](https://github.com/grafana/loki/blob/master/docs/README.md) seems to be the new kids on the block and its integrate with gra

[2019-11-15 08:55] zaibon commented on #384
I already did some very basic testing with promtail.
Here is the configuration I had:
[code]

[2019-11-15 16:29] #381 closed, assigned to zaibon

[2019-11-18 09:49] zaibon opened #387 "capacityd: total resource unit capacity is always 0 in testnet"

[2019-11-18 09:49] #387 closed, assigned to nobody

[2019-11-19 09:18] muhamadazmy commented on #43
Can we leverage on the logging infrastructure that we are building now for zos logs for this as well. The only problem will be making sure only the tenant can view his own logs.

[2019-11-19 12:32] zaibon commented on #258
Duplicate of #364

[2019-11-19 12:32] #258 closed, assigned to nobody

[2019-11-19 17:02] zaibon commented on #43
Well that was not the plan no. I see this as 2 different things.
Internally I want to have some logs from 0-OS for us to analyse and be able to improve and find bugs.

But the logs from users, this is something we do not want to deal with. The only thing we would provide is a way for 0-OS to steam the logs somewhere. At the moment only a redis endpoint is supported.

Let's see what are the request

[2019-11-20 10:55] delandtj commented on #232
Andreas had the case with an old disk -> boom, no boot, as it waited indefinitely for the disk to come up.
maybe put all mounts in a goroutine and continue booting or smt like that

[2019-11-20 12:10] zaibon commented on #232
What we could do is at least the reach the point were we get a network connection and somehow be able to register itself and mark the node as faulty. So we farmer could see there is something wrong with is particular node.

The issue is that without disk, all the binaries will be downloaded in memory. I guess this is fine for just sending a warning message the stop...

[2019-11-21 09:12] zaibon commented on #342
https://www.iana.org/assignments/ethernet-numbers/ethernet-numbers.xhtml

# Randomized MAC addresses caveats

### IANA-assigned MAC addresses:

[code]

### In short

[code]

[2019-11-21 14:30] GlenDC commented on #342
Commit 840a3cc helps to resolve this issue.

Node `A34YUGenHKyhjDMAUKZe4cVDtJM2wQ4n4XRkfGUUEYdy` for example will map to mac address `8b:d3:36:10:7e:e9` in case you use the ID in base64 directly as bytes.

[2019-11-21 14:31] GlenDC commented on #342
We still need to integrate the algorithm in the actual mac process.

[2019-11-21 15:24] GlenDC commented on #342
Also have an algorithm to allow you to generate the IPv6 suffix `8bd3:3610:7ee9:1507` for node `A34YUGenHKyhjDMAUKZe4cVDtJM2wQ4n4XRkfGUUEYdy.

Available as method `IPv6SuffixFromInputBytesAsHex` since commit bb582c20433bc0317d1bdc9f222fe8a330d436d1.

[2019-11-22 08:16] zaibon opened #394 "provisiond: ZDB provision is broken"
[code]
I'm suspecting this is because we do a read-only mount of the flist now for ZDB container.

[2019-11-22 08:34] #394 closed, assigned to nobody

[2019-11-22 08:59] zaibon opened #396 "zdb provision: password for zdb namespace should be encrypted in the reseravtion"
At the moment the password for a 0-DB namespace reservation is in clear text into the reservation.
This needs to change. The password can be encrypted with the public key of the node.

[2019-11-22 09:49] zaibon opened #397 "subvolume qgroup limit are never destroyed when subvolume is deleted"

[2019-11-22 09:50] zaibon opened #398 "zdb provisioning never sent result back to BCDB"

[2019-11-22 13:20] zaibon opened #399 "re-enable pretty printing for daemon logs"

[2019-11-25 09:10] zaibon opened #401 "build pipeline might deletes build from other version while it is still being used by other version"
- [x] update 0-hub to support cross repo symlink
- [x] update 0-flist to support cross repo symlink creation
- [x] update Github action to support cross repo symlink
- [x] update Github action to support renaming
- [ ] update github action workflow on zos repo.

[2019-11-25 09:12] delandtj commented on #342
some testing needs to be done first, but it's implemented afaict

[2019-11-25 11:34] #342 closed, assigned to GlenDC

[2019-11-25 14:39] zaibon opened #403 "failed to decommission reservation"
In the logs I see a lot of error like
[code]
I'm not sure of why exactly this happens, but it seems this already shows a problem. The decommission should not fail if the container is already not existing.

[2019-11-26 08:51] zaibon opened #406 "contd: allow to limit the CPU and memory of a container"

[2019-11-26 12:32] #406 closed, assigned to zaibon

[2019-11-26 13:20] muhamadazmy commented on #401
I think the simplest solution is the following:
- All builds (with version number in names) are always kept under tf-autobuilder
- On releases, a symlink is made (cross repos) from tf-zos to the tf-autobuilder flist.

This way, new builds will not cause older versions (releases) to be deleted. And we can keep full build history.

[2019-11-26 13:27] maxux commented on #401
That's the easiest way I see too, and seems good enough

[2019-11-26 13:49] zaibon commented on #401
alright is everyone agrees let's do it like that. @maxux you take care of opening the issue on 0-hub. Once is it live, we can update our GA workflow here.

[2019-11-26 14:05] zaibon commented on #399
fixed in https://github.com/threefoldtech/zos/pull/405

[2019-11-26 14:05] #399 closed, assigned to nobody

[2019-11-26 14:22] delandtj commented on #358
uhm for proper redundant setups, we'll need to be able to specify some level of bonding, be it with standard linux ling aggregation or openvswitch. Let's discuss indeed, I'll add an issue for networkd to be able to setup a bond.

[2019-11-26 14:27] delandtj opened #408 "networkd: be able to setup link aggregation for meeting 99.7 SLA in case of connectivity problems where a switch would die in a farm"
following: https://github.com/threefoldtech/zos/issues/408

Building the bond is 'just' some glue. But we'll need to be able to convey to 0-OS that specific NICs should be bonded and with what parameters.
-  Right now,we have no primitives to tell a node what it's network should look like (like we had in the mock), or do we ?
- Or with proper setup of a boot machine, we could specify that on the c

[2019-11-26 15:16] zaibon opened #409 "storaged: unable to limit requested quota group: No such file or directory"
https://explorer.devnet.grid.tf/reservations/122-1
[code]

[2019-11-26 15:26] delandtj commented on #365
there are some HCL lists, and __some__ old (like methusalem old) scsi controllers are not by default added to the supported list... if need be we can add them.
Also, sometimes ipxe has some compatibility issues with RTL NICs, and althought RTL nics ar ubiquitous in many desktop-type machines, we would advise to refrain to use them. RTL nics have abysmally small buffers generating too many interrup

[2019-11-26 15:33] delandtj commented on #365
when googling for [linux hardware compatibility list](https://www.google.com/search?q=linux+hardware+compatibility+list&oq=linux+hardware+compatibility+list) you can basically assume that things are going to work out all right, and if not, we'll advise.
In short, if you get Iron from established vendors, you'll be all right. Esoteric desktop motherboards, where everything is don to maximize profit

[2019-11-26 18:32] zaibon commented on #408
To me this seems to fall under the same kind of problem as configuring a public IP address on a specific NIC.

So I think we can solve it exactly the same way. Let the farmer configure the bonding configuration. We just need to decide how we're going to create the bond (plain linux, openvswitch, ...)
From there we can create the proper structure, add it to the model used in BCDB and adapt networkd

[2019-11-27 07:17] delandtj opened #412 "zinit panic!()s in ringbuffer sending the node to a screeching halt"
Nothing to add here, need to reset the node.
as for __why__ it's __only__ on __that__ node, anyone's guess is welcome

![image](https://user-images.githubusercontent.com/5995555/69701842-2c512e00-10ee-11ea-801e-e2a37e57b75b.png)

[2019-11-27 07:59] delandtj commented on #408
let's not OVS for now, too many spinning wheels to get that working properly and easily

[2019-11-27 08:01] delandtj commented on #358
will be followed up in [here](https://github.com/threefoldtech/zos/issues/408)

[2019-11-27 08:18] zaibon commented on #398
that was actually just a bug in bcdb_mock that was not including the result when showing the reservations: https://github.com/threefoldtech/zos/commit/8cd530ca81bd50020171f1f0cc326938692336f2

[2019-11-27 08:18] #398 closed, assigned to nobody

[2019-11-27 11:34] zaibon opened #413 "zdb decomission tries to delete volume names /etc/resolv.conf"
[code]

[2019-11-27 11:58] #413 closed, assigned to zaibon

[2019-11-27 14:20] muhamadazmy opened #418 "upgraded: make sure uninstall works with the cross repo symlink"

[2019-11-27 18:28] delandtj opened #421 "reapplying a network.json before it has expired garbles NR's routing table"
didn't even tink that was possible
[code]
to verify fix in https://github.com/threefoldtech/zos/pull/420

[2019-11-28 02:33] maxux commented on #401
https://github.com/threefoldtech/publish-flist#cross-link
https://github.com/threefoldtech/publish-flist#rename

[2019-11-28 09:55] #401 closed, assigned to maxux

[2019-11-29 09:32] #397 closed, assigned to nobody

[2019-11-29 09:32] #409 closed, assigned to nobody

[2019-11-29 12:15] #421 closed, assigned to delandtj

[2019-11-29 12:17] zaibon opened #427 "provisiond: need to review zdb deployment flow"
I have been testing 0-db deployment recently and I'm hitting so many issues.

- failed to deploy because not enough space while all disks are empty
- reservation never finished. like the deployment just hangs forever somewhere

The deployment flow for 0-db needs to be fully revisited.

To achieve this we need to find a way to link 3 things:
- reservation ID
- part of disks reserved for the reserva

[2019-12-03 14:00] zaibon commented on #311
But there are processes running. This is the case when a container network namespace is connected to a network resource and the network resource is destroyed. At that point there is a veth pair connected to the network resource bridge and inside the container network namespace. You can see if in the logs in the first comment.

[2019-12-03 14:47] delandtj commented on #403
well it's a stacked error, where  the Inspect req to the zbus of a nonexistent container returns it's own error... I guess... but that would mean that there needs to be an `Exists` on zbus, and check for that before.
OTOH how come something non-existent needs decommissioning ?

[2019-12-03 16:41] delandtj commented on #311
[code]
so it must be for another reason the the resource is busy, as all vanished, except the bridge (that I didn't delete)

[2019-12-03 16:52] delandtj commented on #295
Uhm...
for IPv6, things are simple: a 0-db it's ns gets __also__ an IPv6 address that is a `$prefixzero:$md5_of_provision_id_with_colons`, one can even tell 0-db to listen __only__ on that address with default 0-db port (deterministic). We can also on that moment disable SLAAC for these NSes, so that that __only__ have that deterministic IP.

for IPv4 , the DMZ lives in an NS, so that point is moo

[2019-12-03 17:05] delandtj commented on #316
DMZ's network interface should:
- have a static mac address (a bit like in [this](https://github.com/threefoldtech/zos/commit/83fe24d5f682aab0db37e38c9ae88410bc23718c#diff-9fc4ae920164ac128184c5f3b9c954d3R95) but where the mac is derived from the Node ID or something)
- a user/farmer-assigned IPv4 address --or-- a deterministic IPv6 address (that is static when the mac is static, so nothing to do

[2019-12-03 18:35] #418 closed, assigned to muhamadazmy

[2019-12-04 09:36] delandtj opened #432 "k[38]s preparation: nft <-> iptables, provisioning semantics"
- if a node gets set as a KuberNode (k3s or k8s) change behaviour from nftables to iptables
- provide schema to set a node to KxS -> behaviour will be different:
  - no standard workloads
  - a public interface needs to be set (other than the default one, like zos) i.e. an interface with a real global IPv4 address and IPv6 address
- define with Ben how we're going to distributes KxS keys.

caveats

[2019-12-04 09:53] #283 closed, assigned to nobody

[2019-12-04 09:54] #364 closed, assigned to muhamadazmy

[2019-12-04 10:00] zaibon commented on #311
But you have no process running or container using the namespace you have created. I don't think this is a valid example of what happens for real in the node.

What would be the other reason for logs like these  ? :
[code]

[2019-12-04 10:07] zaibon commented on #295
That would mean we assign a new IP for each reservation ? But there is only one 0-db for multiple reservation. That would lead to have a lot of IP assigned to the same interface. Isn't this a problem ?

[2019-12-04 10:27] zaibon commented on #403
Yep, I traced it down to a container already gone but the reservation stays in cache for some reason. This PR https://github.com/threefoldtech/zos/pull/430#event-2850025416 should fix this.

[2019-12-04 11:02] #323 closed, assigned to zaibon

[2019-12-04 11:03] #403 closed, assigned to zaibon

[2019-12-05 10:48] delandtj commented on #311
.... 5CFQ... is mine, iirc .... I miiiiight have had a `ash` session in that NS, as I can only think of a busy namespace being one with a process running in it...
So, AFAICT, that would be my fault

edit: arf no, my net is `3jyVcwygC5nz2`

[2019-12-05 10:56] delandtj commented on #295
describe 'a lot'...
so a provision for a 0-db is basically a namespace in 0-db ?

[2019-12-06 07:37] zaibon opened #435 "k8s: add full node reservation primitive"
story: https://github.com/threefoldtech/home/issues/449

Add a new reservation primitive, full node.
This type of reservation is a bit special cause it will reserve the full node and prevent any other reservation to happen for the time of the reservation.

What this reservation will actually do on the system is the following:
- make the k3s binaries available ( could be using flist or just downloa

[2019-12-06 07:44] zaibon opened #436 "k8s: Research exact network requirements"
story: https://github.com/threefoldtech/home/issues/449

[2019-12-06 07:45] #432 closed, assigned to nobody

[2019-12-06 07:48] zaibon opened #437 "k8s: prepare hardware for tests"
story: https://github.com/threefoldtech/home/issues/449

In order to be able to proceed with the development of the integration of k8s we should have some hardware setup and dedicated for it.

For the phase 1, the node needs to be connected to the same switch so they can communicate between each other without any special overlay network.

[2019-12-06 10:11] muhamadazmy commented on #427
I will start reviewing the zdb deployment/reservation process, and come back when I am done with (hopefully) suggestions on how to fix this

[2019-12-06 11:32] #161 closed, assigned to nobody

[2019-12-06 11:46] muhamadazmy commented on #427
Okay, i did the first phase of review on the logic for provisioning a zdb namespace and came a cross a faulty process that causes the issues above.

It all starts with the in-memory zdb map (a provisiond map with (namespace ID -> container ID) ). Once the system is rebooted, (or just provisiond) the map is clean, hence on a re-provision of the same namespaces, the container is not found, hence ass

[2019-12-06 12:02] zaibon commented on #295
yes...

[2019-12-06 12:10] zaibon commented on #427
That seems like a reasonable approach.
So just so I'm clear here. The sub volume per namespace will be named after the reservation ID which is also the namespace name, right ? So we have a relation between reservation id, namespace name, disk used and container ID.

Regarding storage provision. What are we going to do with the sub-volume per namespace ? They are just there as information to be abl

[2019-12-06 13:13] delandtj opened #438 "identityd: make backup copies of Node keypair or store it in an hardware vault"
in case a node loses the disk where the Node Keypair is stored, there would be no other way than to re-register the node as a new one.

We should have a backup __somewhere__ and verify at boot, that __if__ we need to format the system disk, there are no backup copies of the keypair.

Questions:
- where do we put backups?
- to encrypt or not encrypt, that's the question
-

[2019-12-06 14:08] muhamadazmy commented on #427
Yes.

Actually my idea was that (since zdb create a directory for each namespace anyway) that the namespace actually contains the db and index files for the namespace. Also I checked with @maxux and it seems there is no correlation between the namespace size and the actual size of the database file. So setting a limit on the subvolume also doesn't sound like a good idea!, we instead let zdb decide

[2019-12-06 14:23] maxux commented on #427
Namespace limit is `virtual current payload` limits, which doesn't take in account history, overhead of headers, etc.
It's possible to add hard-limit and get the physical size of database (by computing it, not just checking file size), and set the hard limit to not go over that limit. It's up to you :)

[2019-12-09 08:41] delandtj commented on #437
we'll use the 10.5.0.{11..18} nodes, which IMHO would be typical for a farm, where a (small) IPv4 allocation is issued. (stiil waiting for k3s to properly address it's IPv6 bug, though)

[2019-12-09 09:20] zgorizzo69 commented on #436
![TFGRID k8s DDNS HAPROXY](https://user-images.githubusercontent.com/16853695/70423324-8e564f80-1a6d-11ea-9bd6-c5a0aad43c53.jpg)

[2019-12-09 10:59] zaibon commented on #427
We indeed already had issue in V1 because we were limiting the underlying storage medium with quota.
So let's avoid using quota for provisioning again.

The idea would be to instead to create a non limited sub volume for 0-db per disk.
Then leveraging the files that 0-db already creates on the filesystem to know what reservation is on which disk and how much storage is reserved.

0-db creates a di

[2019-12-09 11:53] #316 closed, assigned to LeeSmet

[2019-12-09 14:11] zaibon opened #440 "improve qemu readme"
It seems there are some missing steps in the qemu readme to get a properly working development environment

[2019-12-09 15:49] zaibon commented on #437
10.5.0.{11..18} are testnet nodes, you cannot use them for development. So new one needs to be put in place.

[2019-12-09 15:50] zaibon commented on #436
@zgorizzo69 can you create some document into the /specs repo explaining this drawing.

[2019-12-11 06:34] despiegk opened #1110 "ZDB improvements & bug fix [development_zdb]"
## todo

- [ ] coordinate with maxux that we have the repair & check tools back on ZDB
- [ ] integrate the tools in JSX ZDB server instance so we can test & verify a ZDB

[2019-12-12 09:47] LeeSmet commented on #232
So there are 2 main ways we can have issues:

- The (btrfs) filesystem on the node is broken/corrupted/...
- The disk itself is dead or malfunctioning

Right now storaged returns immediately when it encounters an error. To fix this, we can separate the corrupt storage pools and broken disks from the functioning once in the initialization method (rather than returning when we encounter an error), a

[2019-12-12 13:42] serboctor opened #443 "Gedis commands need to be changed to go with the new package structure"
For adding nodes:
- `tfgrid.directory.nodes` + `add`/whatever function you want to call.

For farms actors:
- `tfgrid.directory.farms` + `register`/whatever function you want to call.

For querying workloads:
- `tfgrid.workloads.workload_manager` + `workloads_list`/whatever function you want to call.

[2019-12-13 09:59] zaibon commented on #232
Right so indeed I think they are multiple things to put in place to go around this kind of problem.

- Allow storaged to be able to operate even when one or more disk are dead/disabled
- Capacityd already use storaged to know how much HRU and SRU are available on the node. We Should update the [Total](https://github.com/threefoldtech/zos/blob/master/pkg/storage/storage.go#L71) method to take in ac

[2019-12-13 10:10] muhamadazmy commented on #232
We should also take into account the following situations:
- The cache disk is broken, hence the node does not have a persisted ID. May be identityd should generate a unique ID that is associated with the node identity/hardware rather than a random generated ID.
- Storaged is only considered running once the /var/cache is mounted, hence lots of essential services will not start unless this happens

[2019-12-13 11:09] zaibon commented on #232
We have already tried that. We never found anything that be used to do this. So this is not an option. Instead [this solution](https://github.com/threefoldtech/zos/issues/438) has been chosen.

So here you are talking about the possibility that the disk used for cache dies. This is a special case that has not been taken in account yet. I think for case, we could simple prepare another working disk

[2019-12-13 11:13] zaibon commented on #232
Coming back to this: `Put something in place so the node can report dead disk to the farmer`.

I think we should consider a more generic approach to hardware failure reporting. In a node, anything can break, not only disk. When this happens, we should always be able to report the failure to the farmer.

To do so we should have some extra method on the explorer directory actor where a node can repo

[2019-12-13 11:49] muhamadazmy commented on #232
Since the entire system runs in memory from tmpfs, it's fairly easy to introduce a new daemon (from tf-zos-bins) that starts on machine boot, and doesn't depend on any of the other services. This daemon will keep running as long as memory is not corrupted.

The difficult part is actually detecting hardware failure without being intrusive. I think lots of there information is available via the kern

[2019-12-13 12:41] LeeSmet commented on #232
A separate error reporting daemon is probably a good idea. There should probably be some research to find the best way how to detect errors though, since the daemons indeed will likely not be able to detect all errors. E.g once a filesystem is mounted, storaged will not know if a consumer of said FS experiences read/write errors or similar.

[2019-12-16 08:23] muhamadazmy commented on #334
@zaibon I wanted to start on this, but currently there are some major changes happening on the development_bcdb branch. Should we put this on hold, or start with what we have?

[2019-12-16 08:26] muhamadazmy commented on #350
Related to #334

[2019-12-16 09:47] #443 closed, assigned to muhamadazmy

[2019-12-16 10:48] zaibon commented on #437
4 nodes have been added and are dedicated for k8s integration development: https://explorer.devnet.grid.tf/nodes?farm=3

[2019-12-16 10:48] #437 closed, assigned to delandtj

[2019-12-17 11:44] #232 closed, assigned to LeeSmet

[2019-12-17 11:45] #295 closed, assigned to muhamadazmy

[2019-12-18 08:21] zaibon commented on #435
Draft PR: https://github.com/threefoldtech/zos/pull/446

[2019-12-18 10:29] zaibon commented on #334
@muhamadazmy no point working on this if the interface of gedis/bcdb will change soon. We need a stable version to test against.

[2019-12-19 14:56] delandtj opened #453 "tfuser: generate correct schema.json"
`tfuser gen network` is a dev tool, I admit, but creating the json is woefully inadequate to start testing multiple peering (ipv4-6) and  scenarios. .

`tfuser gen network create --name booo -cidr 172.18.0.0/16`
That is ok to create the start.

As each node has it's ip addrs registered, we can read that out and fill in the peer addrs with tfuser itself. so:
`tfuser gen --schema booo.json network a

[2019-12-20 08:19] zaibon commented on #453
So let me clarify and explain what already exists today.
For the network generation we have 3 commands:
- create
- add-node
- remove-node

The `create` command seems to be doing what it should and I also don't think it needs to be adapted.

The `add-node` command could use some love indeed.
What is does at the moment is adding a new network resource to the network. It takes care of adding the new

[2019-12-20 10:04] muhamadazmy commented on #7
# Metrics
## System
- CPU percentage
- CPU Load/Avg
- Swap (we don't have this in zos)
- Temperature
- Disk usage
- Disk IO
- Memory Usage (Used/Free)
- Network TX/RX per interface
## Host
- Node ID
- Farmer ID
- Version
- Up time
- Public IPs
## Provision
- Number of containers
- Number of volumes
- Number of ZDB namespaces
- Number of  Networks ?

The monitoring module should use zbus events to

[2019-12-23 08:00] weynandkuijpers commented on #365
ok - good enough.

[2019-12-23 08:00] #365 closed, assigned to delandtj

[2019-12-23 08:01] weynandkuijpers commented on #309
Let's close this one and re-open when we do the pensando review.  the pensando card is able to store private-public keypairs.

[2019-12-24 08:40] muhamadazmy opened #454 "identityd: if booting from overlay make sure to install binaries from tf-zos-bins"
Currently when the system is booted from overlay (for development) identityd makes sure it doesn't check for updates to not override the binaries coming from the overlay. But identityd still need to install the other packages from tf-zos-bins to make sure the system is fully operations.

# Workaround.
I usually trick the system that is booted from the latest flist, so it will install all packages

[2019-12-27 14:12] delandtj opened #455 "networkd: registers node interface config only once"
when a IPv6 Router advertisement daemon is slow to react (+10 seconds) , networkd registers an incomplete network config.

networkd should reissue it's config if interfaces have received some IP address, or when the network has changed ...

[2019-12-27 14:44] delandtj opened #456 "'sometimes' reprovisioning an NR fails with a nic veth endpoint in ndmz alraedy existing"
Wile I suspect a bug in 4.14 and the fact that there have been big changes in 4.18->4.19 to address issues with removing network interfaces that have been sent into namespaces (read: __when__ are we going to have 4.19.or 5.4?) , We still should not rely on the kernel to tear everything down.

Instead, before removing an NS, we should remove the interfaces __in__ the ns before deleting it.

OTOH...

[2019-12-27 14:46] delandtj opened #457 "networkd: if an error occurs in the creation of an NR, there is still some lingering leftovers in the system"
We should make sure we have a fully destructed NR when something fails in the middle

[2019-12-30 15:03] #427 closed, assigned to muhamadazmy

[2019-12-30 15:04] zaibon commented on #427
fixed by https://github.com/threefoldtech/zos/pull/442

[2019-12-30 15:05] zaibon commented on #412
fixed by https://github.com/threefoldtech/zinit/commit/ae5c273609f1376b34c1618f4710e0ef363e8cbb

[2019-12-30 15:05] #412 closed, assigned to muhamadazmy

[2019-12-30 15:05] #367 closed, assigned to muhamadazmy

[2020-01-02 12:13] #187 closed, assigned to nobody

[2020-01-02 12:22] zaibon commented on #456
I've seen this error in our logs:
`[+] networkd: 2019-12-26T14:31:14Z fatal failed to create DMZ error="failed to create veth pair to connect zos bridge and ndmz bridge: container veth name provided (to-dmz) already exists"`

[2020-01-02 12:23] zaibon commented on #457
@delandtj can you list all the things that are leftover please?

[2020-01-02 15:36] LeeSmet opened #461 "Remove catch all rule in NR routing table"

[2020-01-02 15:39] LeeSmet opened #462 "Remove veth ifaces from network"
In favour of macvlan interfaces

[2020-01-03 13:57] #456 closed, assigned to nobody

[2020-01-03 13:57] #457 closed, assigned to nobody

[2020-01-03 13:57] #461 closed, assigned to LeeSmet

[2020-01-03 13:57] #462 closed, assigned to delandtj, LeeSmet

[2020-01-04 10:22] zaibon commented on #455
Indeed I've seen the same problem where some of the interfaces detail sent to BCDB are sometime not complete.

Netlink allows to subscribe to event from links, so I think I can implement some kind of watcher that will send update to BCDB anytime there is an address update on certain links. https://pkg.go.dev/github.com/vishvananda/netlink?tab=doc#AddrSubscribe

[2020-01-06 13:22] zaibon opened #464 "0-db provisioning broken"
On node running with https://hub.grid.tf/tf-autobuilder/zos:v200103.135830.0-dev.flist.md
The provisioning of 0-db is broken.

See error in the reservations:
- https://explorer.devnet.grid.tf/reservations/568-1
- https://explorer.devnet.grid.tf/reservations/572-1

[2020-01-06 14:20] zaibon commented on #464
https://explorer.devnet.grid.tf/reservations/568-1 was because we change the interface type from veth to macvlan so the `publicMasterIface` function has to be adapted to get the parent interface instead of the master.

https://explorer.devnet.grid.tf/reservations/572-1 seems to be caused because there is nothing handing out ipv6 address to the interface of the 0-db container in our infrastructure

[2020-01-06 15:00] #464 closed, assigned to zaibon, delandtj, LeeSmet

[2020-01-06 16:11] zaibon opened #466 "container has not internet access anymore"
since https://github.com/threefoldtech/zos/commit/9af977ea4ab1cb459859573d8ccd2ddc25e0f160 the container are not able to reach public internet ips.

problem seems to come from the public interface in the network resource namespace. The macvlan interface that goes to the ndmz report itself as `LOWERLAYERDOWN`

[code]

[2020-01-06 16:31] zaibon opened #467 "container have no ipv6 route"
container only have a route for ipv4. This is a problem since all the 0-db namespace are only accessible over ipv6.
So as of today, the container are unable to talk to 0-DBs...

[2020-01-07 10:14] #466 closed, assigned to zaibon, delandtj

[2020-01-07 14:01] LeeSmet opened #469 "Update/fix tfuser unit tests"
in PR #458, the `generatePeers` method was added. Some unit tests should be written for this function to verify everything works as intended (and more importantly everything keeps working if the function ever changes). While doing this, the other tfuser unit tests should also be fixed as these currently don't compile. Lastly, it seems the unit tests are not part of the CI, so these should also be

[2020-01-08 08:05] #453 closed, assigned to LeeSmet

[2020-01-08 13:28] LeeSmet opened #471 "VM spec"

[2020-01-08 13:56] #326 closed, assigned to zaibon, delandtj

[2020-01-08 13:56] #467 closed, assigned to zaibon, delandtj

[2020-01-09 09:21] zaibon opened #472 "storaged: boot keeps looping forever when cache disk failed to be mounted again"
[code]

[2020-01-09 13:02] #440 closed, assigned to delandtj

[2020-01-09 14:44] #455 closed, assigned to zaibon

[2020-01-10 09:08] #471 closed, assigned to delandtj, LeeSmet

[2020-01-10 12:08] #454 closed, assigned to muhamadazmy

[2020-01-10 16:00] #396 closed, assigned to muhamadazmy

[2020-01-10 16:52] LeeSmet commented on #6
k3os installing is a pain, and uses initrd, which is not supported by firecracker. Trying to get the initrd as a cpio image in the kernel but that's apparently a different kind of worms. There are ways around this however in case we can't figure this out (though those do cost some effort as well). Tap interfaces seem to work fine. 2 k3s nodes running both on a firecracker, which each had a tap int

[2020-01-13 09:28] #435 closed, assigned to zaibon

[2020-01-13 09:50] #197 closed, assigned to muhamadazmy

[2020-01-13 13:19] #201 closed, assigned to nobody

[2020-01-14 15:36] delandtj commented on #6
@zaibon edit: moved this comment todo list in the first comment so we can track progress more easily.

[2020-01-15 09:13] zaibon commented on #6
see cause @muhamadazmy already started on that: https://github.com/threefoldtech/zos/blob/fcvm/pkg/vm.go

[2020-01-15 09:43] zgorizzo69 commented on #436
I could still test with the k3os VMs if metalLB is an option or not. Indeed we still don't know yet if we can propose a load balancer type ingress as a cluster resources

[2020-01-15 10:44] LeeSmet opened #484 "Networkd does not release ports when a NR is removed"
as a result, deploying the same network after it has expired fails until networkd is restarted

[2020-01-15 10:45] LeeSmet opened #485 "Wireguard interface is not always deleted when an NR expires"
sometimes the wireguard iface is not removed, leaving a dangling iface on the node. According to @delandtj this might be a bug in the 5.4.10 kernel

[2020-01-15 14:49] zaibon commented on #484
I would like to have a way to reproduce or a test that fails and how the problem.
Cause the code is there: https://github.com/threefoldtech/zos/blob/master/pkg/network/networker.go#L428

[2020-01-16 15:20] LeeSmet commented on #485
[code]

[code]

[code]

The network was reserved a couple of times for 5 min every time. As can be seen in the logs, the network was again decommissioned successfully with no errors. At the next reservation however, the port used was supposedly already in use. Nothing else was deployed on these nodes in between the tme of these logs.

At the time the network was decomissioned, I had a ping running

[2020-01-17 08:44] delandtj commented on #436
this is still (kinda) relevant in the sense that:
  - an ingress node  has __also__ a public IP, statically or through dhcp, where:
the k3OS VM is connected with it's tap to a birdge. That bridge has as slave a macvlan in mode passthru, that is created on the public interface.

__IN__ the VM, we do some proper setup of the routing, so it's also publicly reachable:
  - put a static ip on the public

[2020-01-17 10:46] LeeSmet commented on #6
For an automated intall, we can use a setup which matches this json:

[code]

`k3os-initrd-amd64`, `k30s-amd64.iso` are files provided as is by the k3os repo. This repo also provides a kernel, though it is a compressed kernel which firecracker can't handle. We can however extract the uncompressed kernel via a shell script available in the linux kernel repo, to produce a `k3os-vmlinux` which can be

[2020-01-17 13:10] maxux opened #486 "Build toolchain for bins-extra"
Let's get like initramfs, a build system ready to rebuild (and easily update) flist we need on zos runtime.

We can reuse script used for initramfs when tools was integrated to image and used on runtime now. Using github action we can upload separate flist easily, everything is already in place.

[2020-01-29 08:36] #6 closed, assigned to delandtj, muhamadazmy, LeeSmet

[2020-01-29 08:37] zaibon commented on #6
https://github.com/threefoldtech/zos/pull/487

[2020-01-29 08:57] muhamadazmy opened #490 "provisiond: unify network config for both k3s machines and conainers"
[Conversation](https://github.com/threefoldtech/zos/pull/487/files?file-filters%5B%5D=.go&file-filters%5B%5D=.sh&file-filters%5B%5D=.sum&file-filters%5B%5D=No+extension#diff-d4dcf31a96e984711c5bbf3d07adb05aR23)

[2020-01-30 09:16] zgorizzo69 opened #494 "tfuser network add-access failed"
While trying to add access to a network generated with tfuser the command returns an error
[code]

[code]
network.json
[code]

[2020-01-30 09:22] zgorizzo69 commented on #436
- For public access we tried successfully [inlet](https://github.com/inlets/inlets)

- We used metalLB to provision an ip for our ingress controller the external trafic (on port 80 and 443) is redirected to that ip thanks to inlet

- for now flannel is good enough in a next version we could try to install calico to have support for ingress and egress

- For HA of the master node we used dqlite suc

[2020-01-30 09:22] #436 closed, assigned to delandtj, zgorizzo69

[2020-01-30 09:36] maxux commented on #486
Progression:
- [x] Base script for toolchain
- [x] Script for firecracker, containerd, promtail
- [x] Script for k3s image
- [x] Write a proper README
- [x] Remove old version from hub when new is uploaded
  - **UPDATE:** we do symlink and doesn't remove old files

[2020-01-30 11:45] #7 closed, assigned to muhamadazmy

[2020-01-30 11:45] #384 closed, assigned to muhamadazmy

[2020-01-30 16:20] delandtj opened #497 "nodes don't boot any more (20200130)"
since noon, we can't boot nodes any more ... the symlinks appear to go nowhere any more.
the ash on alt-f2 works, and tab-tab on the ash effectively shows what is in the path, but all calls say 'no such file or directory'
![photo_2020-01-30_17-16-53](https://user-images.githubusercontent.com/5995555/73468218-bd5db300-4384-11ea-86be-dbb1a5a31497.jpg)
![photo_2020-01-30_17-16-46](https://user-images

[2020-01-30 16:24] zaibon commented on #497
I'm suspecting this last patch: https://github.com/threefoldtech/zos/pull/493/files#diff-c0139b19f9d2230f278d37a2d35a7079R79 broke it

I do not think we should delete anything during install of the binaries in flist during bootstrap, even if they are symlinks.

[2020-01-31 09:16] zaibon commented on #497
fixed in https://github.com/threefoldtech/zos/pull/498

[2020-01-31 09:16] #497 closed, assigned to nobody

[2020-01-31 09:19] zaibon opened #499 "0-db provisioning doesn't take in account the 0-db mode"

[2020-01-31 12:11] #499 closed, assigned to zaibon