[2021-10-28 14:24] #1322 closed, assigned to delandtj

[2021-10-28 14:48] mhost39 commented on #1444
@xmonader  not fixed yet

[2021-10-29 14:06] muhamadazmy commented on #1437
It's code complete on branch  `node_events` but unfortunately, devent was blocked and couldn't finish testing.

[2021-10-31 15:45] OmarElawady opened #1457 "Zmachine can claim any public ip without reserving it"
After reserving a machine with a public ip `185.206.122.46`. The user can add another public ip to the eth1 interface (`ip addr add ...`) and it will be announced to the network and curling it from outside arrives to the zmachine.

[2021-10-31 15:53] OmarElawady opened #1458 "wireguard user network is accessible through the public interface"
Steps to reproduce:
1. Deploy a machine with specs:
- network: net1
- private ip: 10.0.1.2
- public ip: 185.206.122.46
2. Deploy a second machine:
- network: net2
- private ip: 10.2.1.2
- public ip: 185.206.122.47
3. On the first machine listen only on the private wg ip `nc -l 10.0.1.2 4000`
4. On the second machine execute `ip r add 10.0.0.0/16 via 185.206.122.46`
5. curling 10.0.1.2:4000 arrives

[2021-11-01 08:11] OmarElawady commented on #1444
I tried locally the flow with the qsfs [container](https://hub.grid.tf/omar0.3bot/qsfs.flist) with all latest binaries. I wrote 400MB random data and 4 85M shards were uploaded (I guess the rest were not rotated yet). But after killing the container and resurrecting it, the mount dir was empty and the logs shows no calls with "missing-data".

Restarting the container removes everything, the zdbfs

[2021-11-01 09:25] OmarElawady commented on #1429
Couldn't reproduce. Started the following zmachine with `/start.sh` as the entrypoint and found `/sstart`.

Dockerfile:
[code]
init.sh:
[code]
start.sh:
[code]

[2021-11-01 09:30] #1429 closed, assigned to muhamadazmy

[2021-11-02 08:05] muhamadazmy commented on #1443
This error message sounds like a network error not a filesystem error. What do u get if
1) You tried to download the same file again ?
2) Write something that doesn't need network, for example
`dd if=/dev/urandom of=/path/to/qsfs/test.file bs=5M count=100`

[2021-11-02 08:18] muhamadazmy commented on #1457
I remember we had firewall rules only to prevent this. I will look into it.

[2021-11-02 08:27] muhamadazmy commented on #1458
I don't get the usage of the second machine in this case. what if u added the routing rule on you laptop, (while wg is down) can u still reach 10.0.1.2:4000 ?

Can u check if first machine has ip_forward = 1 ? from your setup it seems it's the VM(1) problem that it's configured to work as a gateway, hence forward the traffic.

[2021-11-02 09:06] muhamadazmy opened #1459 "All interfaces on the node that are not used by zos/networkd should be 'down' AND 'ipv6 disabled'"
also the dummy interfaces used for br-ygg hack must have ipv6 disabled.

[2021-11-02 09:11] OmarElawady commented on #1458
I think the next hop must be on the same network subnet, so I can't add the public ip as the next hop from my local machine. `sysctl net.ipv4.ip_forward` is 0 on both machines.

[2021-11-02 09:18] muhamadazmy commented on #1453
This issue happens because the interface name has changed from `zdb0` to `eth0` in newer zos code. the problem is that old ZDB instances that are already running, still has the old interface name `zdb0` but the code is looking for interface `eth0`

So
1) This issue should not happen anymore after devnet reset (that include wiping up the nodes)
2) I will add some backward compatibility code to chec

[2021-11-02 11:38] mhost39 commented on #1443
same error with ``` dd ``` command

![image](https://user-images.githubusercontent.com/31102305/139839244-3bb8fe0b-4236-4a14-b460-34dab287a5ce.png)

[2021-11-02 11:57] #1453 closed, assigned to nobody

[2021-11-02 12:15] delandtj opened #1461 "storaged: stop logging disk shutdown"
```storaged: 2021-11-02T09:14:00Z info Checking pools for disks that should be shutdown...```
 -> every 5 minutes is good for dev ... every hour is more than enough

```[+] storaged: 2021-11-02T12:11:05Z debug checking device: /dev/sda```
-> stop logging that

[2021-11-02 12:17] delandtj opened #1462 "Remove some networkd logs"
```[+] networkd: 2021-11-02T12:11:58Z info check if ndmz default route is still in place```
-> yeayea, we know you're on it, stop telling me that

[2021-11-02 14:53] muhamadazmy commented on #1457
This issue is confirmed

We have nft rules to prevent traffic that is not originated from this IP+MAC combination assigned to the VM on creation, so changing the mac, and or the Ip will render the node un-reachable.

The problem we confirmed is that those rules are now "not working" the counters says the traffic going over the device does not hit the rule at all.

We suspect that this might relate

[2021-11-02 14:58] muhamadazmy commented on #1457
We definitely need to move to latest cloud-hypervisor anyway. Then test using taps again see if the issues related to networks was fixed

[2021-11-03 08:12] muhamadazmy commented on #1458
TBH I don't think this is a "zos" issue, it's how the VM itself is configured to gateway traffic. any linux machine can work as a gateway between any 2 "connected" networks.

The traffic is routed (I assume) inside the VM context, not on the host because there is a separation between the bridge handling public traffic and the bridge that handles the user network traffic.

Can u confirm:
- ip_forwa

[2021-11-03 09:16] #1407 closed, assigned to nobody

[2021-11-03 09:33] muhamadazmy commented on #1407
I think you need to do it like `/bin/bash /init.sh` with absolute path to init.sh

[2021-11-03 09:49] sameh-farouk opened #1464 "zos can't get node twin"
I followed the farming guide here in our wiki (testnet):
https://library.threefold.me/info/threefold#/manual_tfgrid3/farming/threefold__create_farm_testnet
and
https://library.threefold.me/info/threefold#/manual_tfgrid3/farming/threefold__booting_node
I picked the ISO image which can use directly on a virtual Machine as mentioned on https://dev.bootstrap.grid.tf/generate
booted with VirtualBox I g

[2021-11-03 09:57] muhamadazmy commented on #1464
Can you switch to logs view (Alt+F2) (also try F1, F2, and F3) and report screenshots with any errors

[2021-11-03 10:22] sameh-farouk commented on #1464
![Screenshot from 2021-11-03 12-10-09](https://user-images.githubusercontent.com/42457449/140043516-b243fe8d-f991-4cb7-ba63-7f697423b98a.png)
![Screenshot from 2021-11-03 12-10-52](https://user-images.githubusercontent.com/42457449/140043576-a841dc3b-abac-42c3-84a9-6cd62bef3c0c.png)

[2021-11-03 10:27] sameh-farouk commented on #1464
also, in qemu, the issue was solved by ssh-ing and adding `zinit` service, nodded. thanks to @OmarElawady. he probably could add more relevant info to the issue.

[2021-11-03 10:30] muhamadazmy commented on #1464
The node will keep trying to register, but it's not clear why it can not register this can be duo to many issues (that should be visible in the logs)
- Account not funded for any reason (activation service)
- no disks attached (or detected) by the node

In the logs, provisiond already spitting out `failed cache reservations` which means the node does not have any disks detected.

[2021-11-03 10:31] muhamadazmy commented on #1464
You started the node from `zos/qemu` with overlay enabled if the image was used, this won't be a problem

[2021-11-03 10:56] #1462 closed, assigned to nobody

[2021-11-03 10:56] #1461 closed, assigned to nobody

[2021-11-03 12:04] sameh-farouk commented on #1464
it works now.
setting the network to use NAT in Virtualbox, solve the `TCP i/o timeout` errors.
for `failed cache reservations` it was solved by setting the disk controller to AHCI. both IDE and SCSI controllers in VirtualBox didn't work well.
hope this would serve as a reference if anyone experimenting with zos in VirtualBox and has the same issue.
thanks, @OmarElawady, and @muhamadazmy for your

[2021-11-03 12:06] #1464 closed, assigned to nobody

[2021-11-03 12:43] archit3kt opened #1467 "ZOS disastrous performance on PCIE 4 NVME SSD"
Hello, following [this forum post](https://forum.threefold.io/t/zos-poor-performance-on-pcie-4-nvme-ssd/1163) with no news since a month, I thought it will be a better idea to create this issue here.

Quick summary, ZOS is having terrible PCIE4 SSD performance issue. Here are some fio tests results on actual ZoS :

Made some tests on the same machine with Ubuntu 20 and kernel 5.4, same results.

H

[2021-11-03 13:35] sameh-farouk opened #1468 "Configure a health check to remove unhealthy servers from the load-balancing rotation"
I deployed a gateway with 2 backends (2 VMS) and found that the gateway proxy forwards traffic to both backends (round-robin load balancing) even if the backend service went down.

Can we improve this from the `traefik` side?
Better to **Configure a health check** to remove unhealthy servers from the load-balancing rotation in such a way that if the load balancer can’t communicate with the server

[2021-11-03 14:03] #1437 closed, assigned to nobody

[2021-11-03 18:02] muhamadazmy opened #1469 "research: go back to tap devices for public ips instead of macvtap"
Tap devices where the first option actually, but we had very weird issues with CH (older version) that was fixed by working with macvtap instead.
Using macvtap has other related issues like:
1) #1458
2) #1457

So we are testing if TAP devices are now working with latest CH v19

[2021-11-03 18:03] muhamadazmy commented on #1469
Work is in branch https://github.com/threefoldtech/zos/tree/public-taps need testing

[2021-11-04 14:50] LeeSmet opened #1470 "Support different signature algorithms in signature requests"
Right now we always assume a keypair/signature is ed25519. A new field should be added, which describes the signature algorithm used. In the first version, this can be defaulting to ed25519 if it's empty. This allows forward compatible addition of signature algorithms in the future.

[2021-11-06 14:13] xmonader opened #1471 "corex support"
corex is a custom `init` process that has a web ui where u can start jobs/procsses inside a container. The point is that we can inject this in any zmachine (vm) image, and then start it instead. once the machine is up the corex UI can be reached over the UI and a know port. then the user can then use the Ui to start processes or terminal.

What need to be done:
- Add corex flag to ZMachine workloa

[2021-11-07 10:13] archit3kt commented on #1467
New tests made on zos v3.0.1-rc3, better but still way below I should get :

Tests are done on a rootfs of Ubuntu zMachine :

Note performance regression on sequential write...

Tests on disks added to the zMachine and mounted on /data :

It doesn't make sense ! If added disk should get the native NVME SSD performance, there is clearly a problem somewhere ! Could someone please explain how the sto

[2021-11-07 10:28] xmonader commented on #1467
@maxux please take a look at it

[2021-11-08 08:39] muhamadazmy commented on #1467
Just to be clear about this part, what you mean is that you mounted a `volume` under the container `/data` then ran the fio tests on this location `/data` ?

[2021-11-08 08:48] muhamadazmy commented on #1467
For V3 all container workloads are virtualized, it means all IO is actually going through virtio driver. This explain the drop in performance.

What happen behind the scene for V3:
- When creating a `zmount` (or a disk) a raw disk file is allocated on SSD (the disk is formatted as btrfs)
- The disk is then attached to cloud-hypervisor process as raw disk.
- The disk is auto-mounted on the configur

[2021-11-08 10:07] archit3kt commented on #1467
Yes, you got it

Thanks for the explanation. Indeed the architectural choice you made is not the best for IO performance ! It would be great to allow logical volume creation and mount inside the VMs (at least for power users who'd like to get all the performance from their hardware). I would be glad to be a tester for this use case !

If I get it correctly, every ZOS deployment will be VMs in v3 (

[2021-11-08 10:13] LeeSmet commented on #1440
[code]

Following commands were run on the host, provisiond is unblocked and should have properly decomissioned the IP's (verified with the linked reservation)

[2021-11-08 10:13] #1440 closed, assigned to LeeSmet

[2021-11-08 10:13] muhamadazmy commented on #1467
Yes, ZOS has a unified workload type called `ZMACHINE` which is always (under the hood) a VM. If your flist is a container (let's say an ubuntu flist) we inject a custom build kernel+initramfs and still start the "container" as a full VM. this insure 100% separation from the ZOS host, and control over amount of CPU+Memory allocated to your resource. For the user he still can perfectly access and r

[2021-11-08 12:42] maxux commented on #1467
Which image do you run exactly ? Default zos runs a kernel 5.4, there is a 5.10 also available.
Can you give me the nodded ?

[2021-11-08 13:27] delandtj opened #1472 "vm doesn't restart after node reboot"
It seems that the tap interface dosn't get created in a timely fashion when a node reboots, hence vms can't start in time.
attached a `vmd` log

CH starts before redis ?

[code]

[2021-11-08 13:41] archit3kt commented on #1467
My first post was done with kernel 5.4 in grid v2
My second post was done with latest zos for grid v3, I saw kernel 5.12 inside the VMs

node id is 68, IP is 2a02:842a:84c8:c601:d250:99ff:fedf:924d (ICMP is blocked, but IPv6 firewall allows everything else)

[2021-11-08 15:25] maxux commented on #1467
I confirm, your node is running 5.10.55 kernel, which is the latest we support officially.
The limitation probably the VM like Azmy said yep.

[2021-11-09 09:35] ashraffouda commented on #1446
https://github.com/threefoldtech/zos/pull/1473

[2021-11-09 15:33] muhamadazmy commented on #1472
Yes, i found the issue and is part of this #1474

[2021-11-10 14:14] muhamadazmy opened #1476 "some nodes after an update ends up with 2 instances of `noded` running"
I have noticed this on devnet, I can't reproduce locally (yet)

After a node update, it seems that the system ends up with 2 instance of noded running at the same time.
One that is already using the port for rmb, the other of course fails to start because of address already in use so zinit keeps trying to restart it.

Edit: I only noticed this is a `noded` issue because i can see only the failure

[2021-11-10 14:15] muhamadazmy commented on #1476
Trying to analyse the code, and hopefully find a way to re-produce

[2021-11-11 14:31] asamirr opened #1477 "Invalid certificate for returned domain of deployed gateway using typescript client"
When I deploy a VM and then a gateway all using the typescript client, when I need to access the backend I specified for the gateway from the browser, the certificate is invalid.

[2021-11-15 10:26] OmarElawady commented on #1477
The NS record at the end of this [page](https://github.com/threefoldfoundation/info_threefold_pub/blob/main/wiki/manual_tfgrid3/farming/booting_node.md#setting-up-public-configuration-pub) was missing. Added it and it should be working now.

[2021-11-15 10:26] #1477 closed, assigned to OmarElawady

[2021-11-15 13:07] OmarElawady commented on #1444
Blocked on https://github.com/threefoldtech/0-stor_v2/issues/79

[2021-11-16 10:25] RafyAmgadBenjamin opened #1487 "Data coming from the graphql is inconsistent"
Examples:
`Belgium`  and "BE"

we suggest using the full name all the time and making it consistent
![image](https://user-images.githubusercontent.com/46320202/141967999-9b70b93e-6ae4-452e-8e0b-555d5d9baf08.png)

[2021-11-16 14:08] #1362 closed, assigned to muhamadazmy

[2021-11-21 13:25] waleedhammam opened #1482 "Corrupted disk after installing a vm with QSFS"
### Logs

[code]

### Deployment Info

- Network: devnet
- Contract: 581
- node_id: 7
- IP: '303:60c2:bb79:5147:2301:71ed:fc3d:df56'

- Creating data in other locations works ok

[2021-11-22 10:36] #1476 closed, assigned to muhamadazmy

[2021-11-22 10:36] #1472 closed, assigned to nobody

[2021-11-22 10:38] #1469 closed, assigned to muhamadazmy

[2021-11-22 10:42] muhamadazmy commented on #1468
To be honest, i don't believe it's up to zos to decide to remove this by itself. This configuration for the backend is part of a deployment that is stored in a contract created by the user, if one of the services is down, the client need to make sure to remove the config, and re-add it or change it if the backend was restored.

Imagine if zos decided to remove this backend, then the user managed t

[2021-11-22 10:42] #1468 closed, assigned to nobody

[2021-11-22 11:31] OmarElawady opened #1483 "Docker grid incompatibilities"
For people converting docker images to an flist, Here's a non-comprehensive list of differences that will make a zmachine not working when deployed using the generated flist. `docker image inspect <image_name>` should give sufficient information.

- WorkingDir
The working directory of the container/zmachine entrypoint. Currently all zmachines are started with `/` as their CWD.
- Env
List of defaul

[2021-11-23 10:40] sameh-farouk commented on #1468
@muhamadazmy i believe one of the main responsibility of loadbalancer is ensures high availability and reliability by sending requests only to servers that are online and most cloud-balancing services give the user someway to create or select a health check when configure a loadbalancer. one example is [google](https://cloud.google.com/load-balancing/docs/health-checks)

FYI, Traefik keeps monitor

[2021-11-23 13:41] muhamadazmy commented on #1483
May be we can automate some of the steps in the clout-container image. Setting up /etc/hosts should be handled zos cloud-container. Also setting up default PATH (are you sure that's not the case already). Unfortunately changing working directory and user can only be done after switch_root so has to be handled with a script that is on the rootfs of the VM.

Hence:
- We also inject the wrapper scrip

[2021-11-24 09:53] muhamadazmy opened #1484 "support public ipv6 (only) in zos3"
Right now you only get IPv6 with your public Ipv4. There is no reason why you can't get ipv6 only if it's supported by the farm, if no public ipv4 are reserved.

[2021-11-24 19:30] archit3kt commented on #1467
FYI I automated my fio tests and launched it simultaneously on X ubuntu VMs

Each 4 VMs have exactly the same results as a launch with only 1 VM

I see a degradation of performance per VM when I launch the test on 8 VM

My guess is that it is a vfio limitation, could be good to know if you make some performance tweaks someday

Still, sequential write is disastrous with vfio, and I don't have a clu

[2021-11-25 10:58] RafyAmgadBenjamin opened #1486 "VM keeps kicking me out, then ask for a password then work normal"
While working on deploying a VM out of nothing, it kicked me out, then asked for a password, then it allowed me in.
this scenario keeps happening with this VM

![image](https://user-images.githubusercontent.com/46320202/143428899-73046645-0a91-4d56-b787-ec0e1676b3d9.png)
![image](https://user-images.githubusercontent.com/46320202/143428680-0bc76bfe-7c25-4d7a-a05b-eac391824885.png)
![image](https:/

[2021-11-25 11:05] OmarElawady commented on #1486
Executing this from a node in the farm:
[code]
Only two contracts I found on polka holding this ip:
Contract id: 585, state: Deleted, node id: 17
Contract id: 1125, state: Created, node id: 11

[2021-11-25 12:46] muhamadazmy commented on #1486
Sounds like another conflicting IP. this IP must be actively used by other VMs or devices on the same network. Will try to find out what is using it

[2021-11-25 12:49] delandtj commented on #1486
huh... you have 2 entries in your neighbor table ??????? wtaf! and reachable even! wtf wtf wtf... thats a linx bugggg

[2021-11-25 12:49] muhamadazmy commented on #1486
There are 2 VMs that are using the same public ip in devnet. I will look into how this happened.

[2021-11-25 12:51] OmarElawady commented on #1486
Not at the same time no :D I kept flushing and pinging the ip to see if the mac differs and it produced these two macs after different flushes.

[2021-11-25 12:55] muhamadazmy commented on #1486
It seems the VM from contract `585` was never destroyed.

[2021-11-25 12:59] muhamadazmy commented on #1486
Seems the node has missed some decomission events from the chain because of some new type of event introduced to the chain
![image](https://user-images.githubusercontent.com/10920323/143446022-5f50b1fc-5883-497f-b23e-d98fa30bd8f5.png)

@DylanVerstraete ?

[2021-11-25 13:37] muhamadazmy commented on #1486
So `eventually` the node managed to delete the contact. So the conflict should be automatically resolved now. Fixing the events unmarshaling caused by this unknown event type will make the node react faster to cancelled contracts

[2021-11-25 14:29] muhamadazmy commented on #1487
Fixed with aeb99c03c9dbd629f5ec281d2f2129ea71f1e902

[2021-11-25 14:29] #1487 closed, assigned to nobody

[2021-11-25 14:32] muhamadazmy commented on #1487
Actually do you prefer country name, or country code ?

[2021-11-26 13:59] LeeSmet commented on #1471
I wonder if we want to keep the old flow. I feel like we might want to have corex connect to the console output instead (or a new tool to do this), running outside the VM. This allows us to provide a web based console (in the private network), similar to how standard cloud providers have it. We can then also add some basic commands such as restart/start/stop/... (useful if you manage to brick your

[2021-11-26 17:18] luisanadal opened #1489 "Node testnet3.0 stop updating"
The sever shows a normal screen, no errors, all looks normal, but i found out that the node has not been uploading information for last 10 days (according to grahlql, which i think is right), other nodes in the same Datacenter woks normally but we other nodes that i suspect have the same issue.

Node 105,
Farm: 4,
Testnet3.0
IP 10.2.2.13
Location: Toron
![Screenshot from 2021-11-26 17-33-11](https

[2021-11-29 08:48] muhamadazmy commented on #1489
So this looked like a very weird error, at first. I was suspecting that something is wrong with the node storage. So i checked the info reported by the node on the chain and I got this

![image](https://user-images.githubusercontent.com/10920323/143835785-cb166de3-28fb-4560-ad90-281c7672fa7f.png)

The node is not reporting ANY storage units so this can be duo to:
- There are no disks attached to t

[2021-11-29 09:50] #1489 closed, assigned to nobody

[2021-11-29 09:51] muhamadazmy opened #1490 "zos UI should show if the node has no cache disk"
This will help debugging nodes that are not behaving because they don't have cache disk

[2021-11-30 14:02] #1490 closed, assigned to nobody

[2021-11-30 14:08] muhamadazmy commented on #1471
What you suggest goes under a `new tool` for sure. corex was running as PID in containers, which allows web console and way to start processes (or debug) your image. This issue is about exactly that.

[2021-12-01 13:09] mhost39 opened #1492 "my deployed VM restarted and lost my data"
i deployed a VM on 26 october on node 3
[code]
and this VM restarted and i lost my data
![image](https://user-images.githubusercontent.com/31102305/144239988-3ce92732-f1fe-4ff2-8573-525baea1284f.png)

[2021-12-01 13:15] mhost39 commented on #1492
i used this VM to run Grid Monitoring on it (TF Grid Monitoring telegram chat) https://t.me/+GMRysn0QlD39rC8U
(https://github.com/threefoldtech/Grid_monitoring)

[2021-12-01 14:58] waleedhammam opened #1493 "Parameterize the size of redis pool in rmb client"
- Currently it's tied to 5 connection pools which is not enough to process requests from grid proxy server in parallel

[2021-12-01 15:09] #1493 closed, assigned to waleedhammam, dmahmouali

[2021-12-02 13:12] rkhamis opened #1496 "logic for SSD in ZOS provisioning"
overprovisioning of 2x on SSD
check size SSD capacity in line to CPU

see: https://circles.threefold.me/project/test-tfgrid3/issue/6

[2021-12-03 13:46] muhamadazmy opened #1497 "clean up VMs logs when not needed anymore"

[2021-12-05 14:54] mvrabec opened #1498 "Zero-OS downloaded, but got stucked on starting up ...."
Hi guys,
anyone saw this issue ?
I was able to boot Zero-OS generated bootstrap. Downloading Zero-OS worked fine after booting. Now it's writing Zero-OS downloaded and ready, starting up ...
But nothing is happening, just lower_slash is still blinking.
Any ideas ?
![263618372_4668870426527102_3309857432974965484_n](https://user-images.githubusercontent.com/71263506/144751843-7af3c2eb-d125-422d-bc8

[2021-12-06 09:59] OmarElawady opened #1499 "Check yggdrasil periodically"
Add a goroutine (in the YggServer?) to perform periodic checks on the peers in the config and performs a restart whenever all of them (or 1?) are dead.

Caused https://github.com/threefoldtech/tf_operations/issues/466

[2021-12-06 12:11] waleedhammam opened #1500 "Failed to extend pools in testnet"
pool: https://explorer.testnet.grid.tf/api/v1/reservations/pools/37760
reservation: https://explorer.testnet.grid.tf/api/v1/reservations/pools/payment/44217

![image](https://user-images.githubusercontent.com/10658229/144843858-e14f7c94-0031-4b5d-93d2-1b5ecd3c5742.png)

[2021-12-07 08:22] MohamedElmdary opened #1501 "Used resource more than total in gridproxy"
As shown in image the `total ipv4u: 0` however `used ipv4u: 1`
![image](https://user-images.githubusercontent.com/31689104/144992378-b48f61a1-5ed7-4b87-87f8-ac1239871177.png)
This issue can be found in multiple nodes for example
https://gridproxy.dev.grid.tf/nodes/15
https://gridproxy.dev.grid.tf/nodes/14
https://gridproxy.dev.grid.tf/nodes/7

[2021-12-07 08:32] muhamadazmy commented on #1492
Few questions:
- How did you restart the VM (i assume a decommission, and then a new commission) ?
- Is there a disk attached to the vm?

I am asking this because the rootfs of the Vm is deleted once the VM is deleted. But if the there is a disk attached to your VM the disk is not deleted when the VM is deleted. Because the disk is a workload by itself, not part of the VM workload.

So to preserve

[2021-12-07 08:45] muhamadazmy commented on #1498
@maxux any idea what this can be ?

[2021-12-07 09:04] muhamadazmy commented on #1499
as far as I remember, networkd gets the list of peers, and test them before building yggdrasil config. May be idd we need to redo this more often

[2021-12-07 09:08] muhamadazmy commented on #1499
I think networkd, can be scheduled to re-test the peerlist of yggdrasil every few hours, and then compare it with what have been configured in yggdrasil, then restart if needed.

[2021-12-07 11:02] maxux commented on #1498
Can you give more information about the hardware ? Did you generated an EFI image or USB/ISO ?
For some reason the kernel freeze during unpacking. This can happen on low memory machine or not using EFI bootlloader.

[2021-12-07 13:22] muhamadazmy commented on #1501
The node total IPV4 will  be always 0. the node can't tell how many ips are available in this farm. The node can also server unlimited number of IPs. Hence the total will be always 0. It can tell how many ips are used on this node.

[2021-12-07 13:22] #1501 closed, assigned to muhamadazmy

[2021-12-09 09:17] muhamadazmy opened #1503 "update zdb to v2"

[2021-12-13 10:20] luisanadal opened #1505 "Node testnet3.0 stop updating"
we have another testnet3 node that is not updating, according to the information shown at the consoles 1 and 2 it looks like the node cannot connect to your servers to perform the update, the hard drives were wipe out, 5 days ago, it was updating fine and  1 or 2 days after it started failing, see screenshots,
Node's information:
  - Farm: GEC-StGallen1-testnet3 (10)
  - NodeID:  110
  - IP: 10.6.

[2021-12-13 10:32] muhamadazmy commented on #1505
There are 3 issues i can see in the screenshots: not all of them are actual issues:
- the error from `noded` this happens when the node loses connection to the grid, and when happens the nodes tries to connect again and it was able to reconnect. this is completely fine. This happens regularly when the node doesn't not receive any updates from the grid for a long time so it timesout.
- the error fr

[2021-12-13 12:32] luisanadal commented on #1505
Hello,

thanks for your email,

did you do something? suddenly it updated by itself,

but something weird is that the old nodeIDs associated with that server
(old nodeIDs created before we wiped out the Hard drives) are showing
in the explorer updated too, is that normal?

nodeId    | farmId | farm                        | twinId |
ips          | mac               | uptime   | updatedAt    | hostn

[2021-12-14 08:28] muhamadazmy opened #1507 "promtail and logging cleanup"
Some work need to be done on the promtail facility on zos v3:
- Promtail is still using the node public key as a node id, instead, the tfgrid node id need to be used instead.
- Promtail need to include the network, since the node id is only unique per network, not globally and if all nodes send logs to the same backend, it will be hard to tell the logs of 2 nodes that has the same id
- Promtail pl

[2021-12-14 08:57] muhamadazmy commented on #1507
- We need to start by fixing what we have by sending the correct node numeric id, plus the current network (dev, test, or main)

[2021-12-14 09:11] #1291 closed, assigned to ashraffouda, AhmedHanafy725

[2021-12-14 09:11] #1446 closed, assigned to ashraffouda

[2021-12-14 09:11] #1375 closed, assigned to muhamadazmy

[2021-12-14 09:12] #1371 closed, assigned to nobody

[2021-12-14 09:12] #1457 closed, assigned to delandtj, muhamadazmy

[2021-12-14 09:12] #1470 closed, assigned to ashraffouda, OmarElawady

[2021-12-14 09:12] #1458 closed, assigned to muhamadazmy

[2021-12-14 09:12] #1451 closed, assigned to muhamadazmy

[2021-12-14 09:12] #1444 closed, assigned to LeeSmet

[2021-12-14 10:57] AhmedHanafy725 opened #1508 "Nodes report incorrect capacity usage"
env: devnet
node_id: 17

**node statistics**
[code]

when trying to deploy on this node, got this error `Not enough space left in pools of this type ssd`
contract_id: 2837

[code]

[2021-12-14 11:27] muhamadazmy commented on #1508
The `btrfs filesystem df` is reporting a misleading usage info. We need to switch to use `btrfs filesystem useage` instead.

[2021-12-15 14:47] muhamadazmy commented on #1508
Can you report if this issues happens again, on this or a different node. It's not as easy fix as i thought: While switching to use `btrfs filesystem usage` instead of `filesystem df` is an improvment, we don't actually depend on the usage information to compute free space, instead we depend on `reservations` calculations. This takes into account limits set on volumes, and vdisk files.

[2021-12-16 08:43] muhamadazmy commented on #1505
I don't get exactly what you mean. did u wipe the disks and now the nodes have new ids ?

[2021-12-16 08:51] muhamadazmy commented on #1505
Also i see the node 110 is shown as offline from the explorer. I tried to ping the node over yggdrasil interface but it didn't answer. Are u sure there is no firewall in the farm that is blocking yggdrasil traffic ?

[2021-12-16 09:05] AhmedHanafy725 commented on #1508
Tried on other nodes(1, 12, 14), but couldn't reproduce.

[2021-12-17 10:45] luisanadal commented on #1505
i had wiped out the nodes time ago, let me explain,
all nodes but 110 are old, we were getting one nodeid every time the server was booting up, so we wiped all HDD and now is ok.
what I meant is that after the nodeid 110 started again being able to connect to threefold all other "old nodeids" were shown as updated too, which is strange, but no anymore, i just wanted to mention this :)

[2021-12-17 10:46] luisanadal commented on #1505
i have realized that the main screen is slightly different now we have some new information, showing "cache disk: ok", is it a new release?

[2021-12-17 10:56] luisanadal commented on #1505
i have other nodes with problems, 3 of them are showing a error with the cache: "LIMITED CACHE" and other 2 looks like are ok but no updates have happened for the last 2 or 3 days,
do you want me to open a ticket for each
![Screenshot from 2021-12-17 11-54-00](https://user-images.githubusercontent.com/58570148/146534341-6719b4fc-97a1-4685-8c1a-8fa6a6f1a5c9.png)
?

[2021-12-19 13:24] sameh-farouk commented on #1486
can we harden this or have it listed as a know limitation somewhere? I hit this issue multiple times today, where Yggdrasil worked fine while ipv4 was asking for the password, but it works eventually. I saw also this [issue](https://github.com/threefoldtech/grid_weblets/issues/166), the OP said [here](https://github.com/threefoldtech/grid_weblets/issues/166#issuecomment-993588506) he has deleted a

[2021-12-19 16:41] sameh-farouk opened #1511 "persist all data on the VM fs in such a way it can survive a restart"
ATM it's hard to **persist all data on the VM fs in such a way it can survive a restart**. although a restart operation is disabled in zos, if the init process **crashed**, you lost your data.

also, it is hard to mount every directory to a disk, eg if you deployed VM with a disk mounted to rootfs, it won't be booted.

[2021-12-20 08:32] muhamadazmy commented on #1511
- You can't mount a disk to the rootfs `/` of a VM. that will never work. I will add a validation on the mount points to not allow `/`
- A VM restart on the other hand (on init crash) should not wipe up the data on rootfs, a node restart would (I will see if we can avoid that)
- A delete of the vm should always wipe up the rootfs data.

In general a node booting should always automatically set up

[2021-12-20 10:53] muhamadazmy opened #1512 "time to control the log debug level"
ZOS is becoming more and more stable, we need to add a global control over the zos processes log levels (use the zos-debug boot flag) to enable, disable debug logging. This flag is already used by few services. this should be implemented on the zos main binary and set the right debug level.

[2021-12-20 15:39] OmarElawady opened #1514 "Error logs in metrics reporting"
[code]

`ioutil.ReadDir()` stats all files in the dir, which fails if a qsfs mount fails for whatever reason. Should be fixable by using `filepath.Glob` which returns the entries of the dir as string as needed.

[2021-12-20 16:17] OmarElawady commented on #1514
fixed in https://github.com/threefoldtech/zos/pull/1513

[2021-12-20 16:17] #1514 closed, assigned to OmarElawady

[2021-12-20 17:19] sameh-farouk commented on #1486
this keeps happening to me for two days now. can't have a stable connection to my VM. same behavior the OP explained here. Yggdrasil IP works with no issue. this happens the whole day with the deployment below and happens as well with other deployments yesterday alot.

{
  version: 1
  state: Created
  contract_id: 3,282
  twin_id: 132
  contract_type: {
    NodeContract: {
      node_id: 1

[2021-12-21 07:58] OmarElawady commented on #1486
There was an [issue](https://github.com/threefoldtech/zos/issues/1514) with contract reporting that caused vms with deleted contracts to not get decommissioned. Should be fixed.

[2021-12-21 09:13] muhamadazmy commented on #1500
Fixed temporary, we can't work on this atm

[2021-12-21 09:13] #1500 closed, assigned to nobody

[2021-12-21 12:16] sameh-farouk commented on #1486
Great, Is that fix pushed to the nodes already? Or it's expected to have this error from time to time till a new release or something?

[2021-12-21 12:17] OmarElawady commented on #1486
pushed to devnet and testnet

[2021-12-21 12:19] #1511 closed, assigned to muhamadazmy

[2021-12-21 15:03] sameh-farouk commented on #1486
@OmarElawady I still face the same issue with the same contract mentioned above.

![Screenshot from 2021-12-21 17-03-20](https://user-images.githubusercontent.com/42457449/146951711-64629722-ddc6-4246-a224-340d949da2a6.png)

[2021-12-21 16:00] OmarElawady opened #1517 "zdbs are dead"
Deploying on node 7, 4, and 8 on devnet gives: `dial unix <zdb-socket> connect: connection refused`. Checking zdb on node 7, it looks like there's nothing running inside the container.

So probably zdb crashed. And it wasn't restarted by contd. This shouldn't happen with the normal flow since the containers are restarted if the root task exited up to 4 times, if the interval between successive fai

[2021-12-21 18:23] sameh-farouk commented on #1511
Verified.
files preserved on VM restart. on Ubuntu VM

![Screenshot from 2021-12-21 20-09-37](https://user-images.githubusercontent.com/42457449/146978096-f52b2039-c709-4d12-adda-2eab89e5affb.png)

another approach on Apline VM
![Screenshot from 2021-12-21 20-21-05](https://user-images.githubusercontent.com/42457449/146980000-00dc6f98-d7fe-4578-9a8f-708d4803d4ab.png)

also, the validation on the m

[2021-12-22 08:06] OmarElawady opened #1518 "Redact sensetive information from error messages in zdb"

[2021-12-23 08:30] OmarElawady commented on #1518
Fixed in https://github.com/threefoldtech/zos/pull/1519

[2021-12-23 08:30] #1518 closed, assigned to OmarElawady

[2021-12-23 12:02] #1512 closed, assigned to nobody

[2021-12-24 17:59] sameh-farouk commented on #1486
@OmarElawady @muhamadazmy thought there were fixe/s pushed that should fix this issue, I'm still can't maintain access to this deployment through the ipv4 address, it won't last longer than a minute before kicking me out. I don't want to delete this deployment so we have a chance to debug this issue and verify any possible fix. let me know if i should delete it instead and release this IP for good

[2021-12-27 09:11] #1507 closed, assigned to nobody

[2021-12-27 09:11] #1365 closed, assigned to muhamadazmy

[2021-12-27 09:12] #1503 closed, assigned to muhamadazmy

[2021-12-27 09:12] #1484 closed, assigned to muhamadazmy

[2021-12-27 13:34] muhamadazmy commented on #1443
Is this verified ? can it be closed?

[2021-12-27 13:35] muhamadazmy commented on #1482
Is this verified ? can it be closed?

[2021-12-27 14:51] muhamadazmy commented on #1517
I think a good fix would to make sure contd always make sure all configured containers are "running" when it boots

[2021-12-28 01:40] scottyeager opened #1523 "Node without disk not available over Yggdrasil, shows offline on explorer"
A farmer reported that their node came online and is pingable on public ipv6 but shows offline on the explorer. Upon checking TF Chain, I see that this node is not utilizing its disks.

[code]

Since the explorer relies on RMB queries via the proxy server to determine if a node is up, I guessed that the lack of disk cache interferes with RMB operation. The node also doesn't reply to pings over Ygg

[2021-12-28 10:42] #1517 closed, assigned to muhamadazmy

[2021-12-28 10:56] waleedhammam commented on #1482
yes

[2021-12-28 10:56] #1482 closed, assigned to nobody

[2021-12-28 11:10] mhost39 commented on #1443
Verified

[2021-12-28 11:10] #1443 closed, assigned to LeeSmet

[2021-12-29 08:53] OmarElawady opened #1526 "Wait for QSFSs decommissions asyncronously"
QSFS might take a lot of time encoding and uploading the data on the filesystem, currently qsfss blocks provisiond until it finishes. Instead, it should mark the container for deletion, and another coroutine started in the background with qsfsd should periodically check for the container death. When the container die, the coroutine should reclaim the used resources and such,

[2021-12-29 13:05] muhamadazmy opened #1527 "noded: grid events mechanism to iterate over missed events"
Currently, noded always listens to grid events, and broadcast those events internally for any listener that might be interested to specific type of event. On reconnection (node was rebooted) a special event is sent to indicate that their might be some missed events and then the listener can take proper actions to make sure they are in sync with the grid.

This mechanism works fine so far because i

[2021-12-30 22:18] scottyeager opened #1530 "Workload not decommissioned after wallet drained"
My workload 1422 on Grid 3 testnet drained the associated twin's wallet. When I topped up the wallet, I was billed for the elapsed duration. See analysis from @DylanVerstraete in https://github.com/threefoldtech/tfchain/issues/164#issuecomment-1003009223:

[2022-01-03 10:18] OmarElawady opened #1534 "qsfs fails due to unasked-for namespace mode switch"
mode info https://github.com/threefoldtech/0-db/issues/128

[2022-01-03 14:13] sameh-farouk opened #1535 "successful but unreachable deployments due to using a specific Linux directory as a mount point."
there are two issues regarding the disks mount points:
1- mounting a disk to some Linux standard directories like `/var` or `/usr` will result in a successful but **unreachable** deployment.

2- it is common that the user could need to mount a big disk on `/usr` as it could grow independently as he added new software or `/var` which is designed for storing files that might vary wildly in size.

I

[2022-01-04 11:04] muhamadazmy commented on #1425
## Requirements
Was thinking about the cleanest way to implement this without sacrifice correctness of the operation. Came across this set of requirements
- A deployment is a container of some workloads that can interact together
- A change on the workload can be to create, update or delete
- Not all workload types can execute an update
- An update on the workload need to change the state if the u

[2022-01-04 12:15] muhamadazmy commented on #1425
Get Deployment operation need to be backward compatible. A Get operation need to return the same data (current state) of the deployment.
A new call should return history of operations with data, and errors.

[2022-01-04 14:33] muhamadazmy opened #1537 "provisiond new storage interface and implementation"
Required by #1425

Proposal for new workload storage interface to fulfill requirements
[code]

The underlying storage engine is going to use bolt

[2022-01-05 08:19] OmarElawady opened #1539 "storaged crashes multiple times at initialization before working normally"
Calculating the seektime takes more than 5 seconds the first time then works fast the subsequent tries. So it fails multiple times for each disk that takes long and then works as expected.
![image](https://user-images.githubusercontent.com/13040543/148183337-39e37052-9859-4733-a66e-5640b18ee0e4.png)
logs:
[code]
https://github.com/threefoldtech/zos/blob/main/pkg/storage/filesystem/device.go#L315

[2022-01-05 09:23] muhamadazmy commented on #1535
The problem is when u mount a disk on this location `/var` or `/usr` you hide the files that are provided by the flist so the VM will still boot fully but then no apps will be able to start because of missing important libraries and binaries needed for the normal operation.

On the other hand we can't just prevent the user to use those known paths. Because we have no idea what he is trying to run

[2022-01-05 09:29] muhamadazmy commented on #1535
And no, we will not copy the files from the flist to the disk. this not how the mount work. You can right now mount a disk on top of your /usr and linux will not complain or give errors, it will not copy files, but later on you will not be able to start new apps because of missing files.

If the user want this level of control he can simply use a VM image instead of an container flist, Or may be s

[2022-01-05 10:52] #1539 closed, assigned to nobody

[2022-01-05 22:40] scottyeager opened #1543 "Ping check causes internet connected nodes to stop booting when ICMP is blocked"
Some ISPs block ICMP or otherwise interfere with users ability to ping external IPs. When Zos boots up, it attempts to ping Google and stops booting if the ping fails. This means that some nodes which have internet connectivity will not boot.

Rather than ping, attempting to get the contents of a site would be a more reliable test of internet connectivity.

[2022-01-06 01:29] Nelson361 opened #1544 "V2 to V3 upgrade crashing"
I was able to upgrade several nodes using the v3 usb drive, but two crash and shutdown.  Hardware is the same. To rule some things out I did a complete wipe and removed the 2nd SSD.  Still cannot get past the attached image
![IMG_20220105_195755](https://user-images.githubusercontent.com/38706735/148313405-61bcef46-f078-49f9-948b-fde06e74ce7d.jpg)
.

[2022-01-06 01:55] scottyeager opened #1545 "Zos reports incorrect cores/ram/ssd"
Farmer reports that their node has registered the wrong CRU/MRU/SRU. On mainnet, node ID: 14.

Hardware reported by farmer, which is all successfully recognized by bios and a booted Linux:

[code]
GraphQL shows:

[code]

This node is also reporting resources utilized, according to the explorer, but GraphQL reports no contracts for the node.

![image](https://user-images.githubusercontent.com/17682

[2022-01-06 09:07] qlxucn commented on #1321
I encountered the same issue and can not boot the system. @rfcd17 Are you able to boot it?

[2022-01-06 12:23] ricardodias17 commented on #1321
@qlxucn I had to purchase some ecc rams. Can’t remember if also changed something in BIOS

[2022-01-07 01:19] scottyeager opened #1546 "Failed to get node twin"
A couple of farmers have reported that their nodes are showing the "failed to get twin" message shown below when attempting to boot Grid 3 mainnet nodes.

Rebooting several times does not resolve the issue. Outbound firewalling at the router level also doesn't seem to be the culprit.

 I don't see any nodes registered to the farm shown below, so I guess that node registration is failing.

![image]

[2022-01-07 08:50] muhamadazmy commented on #1546
Can you ask them to leave it running for a while and not reboot immediately.

[2022-01-07 08:53] muhamadazmy commented on #1544
Can you try to switch to the other log views (Alt+f1, f2 and f3 ( see if u have more logs)

[2022-01-07 08:56] muhamadazmy commented on #1523
Yeah, you are right, we need a better error message and also stop the node completely from registering

[2022-01-07 08:59] muhamadazmy commented on #1505
Limited cash means the node doesn't have or not detecting SSD disks.

[2022-01-07 13:02] DylanVerstraete commented on #1546
User reported that his node booted.

[2022-01-07 13:02] #1546 closed, assigned to muhamadazmy

[2022-01-07 19:04] scottyeager commented on #1546
Another farmer reported this error was resolved after enabling IPv6 in their network.

[2022-01-08 09:19] xmonader opened #1547 "show the flist md5 link used in the error message"
https://github.com/threefoldtech/zos/blob/2f1ee150a8026204833ff4ddca1ec093106fb0a1/pkg/flist/flist.go#L553 should show the url in the returned error

[2022-01-08 18:14] Nelson361 commented on #1544
Running i7-6700 with 64gb of RAM with V2 was fine.  Upgrading to V3 caused it to crash. Updating the BIOS solved the issue

[2022-01-08 18:14] #1544 closed, assigned to nobody

[2022-01-09 09:20] OmarElawady commented on #1545
The dmi info of the node 14 can be viewed from here: https://gridproxy.grid.tf/nodes/14
It shows that there are 6 cores (and it's AMD not intel) detected and a 2 4GB memories and 2 2GB memories which matches the info in the issue.

And the usage seems to be correctly shown in the explorer:
![image](https://user-images.githubusercontent.com/13040543/148676568-6642ec39-4a55-4f39-847b-a68763f3b723.pn

[2022-01-09 09:39] OmarElawady commented on #1526
resolved in https://github.com/threefoldtech/zos/pull/1528 and https://github.com/threefoldtech/zos/pull/1533

[2022-01-09 09:39] #1526 closed, assigned to OmarElawady

[2022-01-10 07:54] muhamadazmy commented on #1527
This is not urgent and can wait until we finish the major issues

[2022-01-10 08:05] muhamadazmy commented on #1523
I think storaged need to act differently when there is no available cash disk (SSD storage) instead of mounting a tmpfs cache. it instead need to block the system, other services need to act accordingly.
The UI need to still work and show the proper error messages

[2022-01-10 08:11] #1535 closed, assigned to nobody

[2022-01-10 08:20] OmarElawady opened #1551 "zdb gets killed by OOM"
When zstor tries to write 20GB to the zdb, it gets restarted.
the zdb container starts with 256MB, should it be increased?

More info: https://github.com/threefoldtech/0-db/issues/129

[2022-01-10 08:25] #1534 closed, assigned to nobody

[2022-01-10 08:31] #1543 closed, assigned to muhamadazmy, OmarElawady

[2022-01-10 08:39] muhamadazmy commented on #1530
This should be fixed now, there was some issues in the grid events types. Please re-open if this happened again. Also I am working on some changes that would improve reporting as well

[2022-01-10 08:39] #1530 closed, assigned to muhamadazmy

[2022-01-10 09:00] #1547 closed, assigned to nobody

[2022-01-10 10:02] muhamadazmy opened #1552 "add RMB method to networkd to return if IPv6 is supported or not"

[2022-01-10 11:40] #1523 closed, assigned to ashraffouda, OmarElawady

[2022-01-10 20:56] scottyeager commented on #1545
Thanks @OmarElawady. I think the farmer had farm id and node id mixed up :/

[2022-01-10 20:56] #1545 closed, assigned to nobody

[2022-01-11 13:46] muhamadazmy opened #1556 "include virtiofsd-rs in the cloud-hypervisor package"

[2022-01-11 13:58] #1552 closed, assigned to ashraffouda

[2022-01-12 00:25] scottyeager opened #1557 "Provide clearer messaging during twin registration"
Currently, when a node is registering its twin, a message is displayed in red on the screen: "failed to get node twin...". This looks like an error and prompts farmers to seek support, when usually they just need to wait for their node to finish registering its twin.

_Propose:_ During initial registration of twin, show a different message, perhaps in yellow, stating that the node is "Registering

[2022-01-12 14:01] sasha-astiadi commented on #1546
@scottyeager hope this get documented so they know they need to enable their ipv6

[2022-01-12 19:55] scottyeager commented on #1546
Hi @sasha-astiadi, I've added a note about this to my list of known issues in the forum. Since that was a one off which could have had a different root cause, I'll continue to monitor before reaching any conclusions here.

[2022-01-13 20:19] scottyeager opened #1559 "Zos 3 bootstrap halts at initializing network devices"
A farmer is attempting to migrate Grid 2 nodes to Grid 3. The new bootstrap file doesn't proceed beyond `Initializing network devices...`. Node continues to boot fine with v2 bootstrap.

Machine is a Dell poweredge 720d. I've asked the farmer to check for and perform a BIOS update if available.

[2022-01-14 08:09] muhamadazmy opened #1560 "use public zos nodes as yggdrasil public peers"
- All zos nodes must peer with  zos public nodes from all networks (closest) but it has to include a subset of the yggdrasil public nodes also.
- Public nodes from all networks are usable
- Avoid connecting to nodes on the same segment (for example if you are a public node yourself, do not connect to another public node in the same subnet as yourself

[2022-01-14 09:38] muhamadazmy opened #1561 "move logic to handle zdb provision/deprovision to a separate daemon to clean up provision daemon"
Usually there are helper daemons running that deals with certain workload type for zos, for example (vmd, contd, etc...) zdb logic to deal with allocation, start/stop containers, etc.. is built in the provisioner handler, rather than delegating the operation to a helper daemon.

The majority of the logic for the mgmt of zdb need to be moved to a new daemon (zdbd) to avoid blotting the provisioner

[2022-01-17 09:47] #1425 closed, assigned to muhamadazmy

[2022-01-17 09:47] #1424 closed, assigned to muhamadazmy

[2022-01-17 10:01] ashraffouda commented on #1471
https://github.com/threefoldtech/zos/pull/1562

[2022-01-17 13:01] muhamadazmy opened #1564 "rootfs performance improvement research"
Currently a container rootfs is served over virtiofs (to cloud-hypervisor). <rootfs> is mainly designed to serve the container content (binaries, static files, etc...) and should not be used for data. A container data need to stored to disk.

This unfortunately did not stop users to use <rootfs> for data. which has bad performance compared to raw disks. The reason of the performance hit is the way

[2022-01-17 15:20] muhamadazmy opened #1565 "capacity reports pushing to chain sometimes stops with no reason"
I suspect it's an issue with persisted queue implementation.

[2022-01-17 22:22] scottyeager opened #1566 "Persist node id on all disks"
The status quo is that Zos writes the node id to one disk and the node gets a new id if that disk fails. With the uptime requirement in effect, this means that one cycle of minting will almost certainly also be lost in that case. Writing the node id to all disks will help ensure continuity if one disk fails.

[2022-01-18 12:50] muhamadazmy commented on #1565
After investigating it seems there was a bug that causes calls to the chain to block indefinitely. this has been fixed

[2022-01-18 12:50] #1565 closed, assigned to muhamadazmy

[2022-01-18 15:28] muhamadazmy commented on #1546
This should be fixed in later releases. Can u confirm they have the same issue still

[2022-01-19 13:12] DylanVerstraete opened #1567 "Lower uptime reports to every 2 hours"

[2022-01-20 08:26] #1567 closed, assigned to nobody

[2022-01-20 08:38] #1471 closed, assigned to ashraffouda

[2022-01-20 22:43] scottyeager commented on #1559
Any ideas on this one, @maxux?

[2022-01-20 22:44] maxux commented on #1559
It get stuck on initializing device, nothing more after ?

[2022-01-21 04:53] scottyeager commented on #1559
Yes, this is what is shown on screen:

![image](https://user-images.githubusercontent.com/17682591/150467968-69db9d8a-8301-41f3-ae95-b81d0bdea586.png)

[2022-01-21 10:09] andhartl opened #1569 "Nodes without SSD should not be able to go online in V3"
<img width="1162" alt="image" src="https://user-images.githubusercontent.com/18591016/150508408-505eda61-9ec1-45e5-91b1-6de87ea21dd2.png">
given the new definition of CU which includes SSD capacity nodes without SSD should not be able to go online on grid 3

[2022-01-21 11:34] maxux commented on #1559
It's not the first time we see issue with Dell Powerdge, there are some BIOS settings to tweak to get it working, but not always the same. We need the user to show PXE settings from BIOS.

[2022-01-21 21:46] scottyeager commented on #1559
Thanks. Will inquire and return with the image.

[2022-01-24 12:12] muhamadazmy opened #1570 "benchmarking of raw disks performance"
Provide metrics of performance of disks to see where improvement can be done

[2022-01-24 12:18] muhamadazmy opened #1571 "improve capacity calculation by using deployment change logs instead of last state."

[2022-01-24 12:33] muhamadazmy opened #1572 "ZOS update over the chain"
- Nodes need to sync their release version against the published version on chain.
  - How to set which version to install is up to the DAO

[2022-01-24 19:32] scottyeager commented on #1569
This was already addressed in #1523 and #1550.

[2022-01-24 19:32] #1569 closed, assigned to nobody

[2022-01-24 19:42] scottyeager opened #1573 "Fallback on backup TF Chain"
Currently, Zos relies on a single hard coded URL for TF Chain and activation service. Support is needed to switch to alternatives in case of failures, such as the [grid hosted stack](https://github.com/threefoldtech/tf_operations/issues/606).

[2022-01-26 00:59] scottyeager commented on #1559
This farmer is getting some direct help from @delandtj.

[2022-01-26 00:59] #1559 closed, assigned to nobody

[2022-01-26 08:06] muhamadazmy commented on #1573
This can be achieved with DNS balance loader (multiple entries per name)

[2022-01-26 08:11] #1310 closed, assigned to nobody

[2022-01-26 08:11] #1184 closed, assigned to nobody

[2022-01-26 08:20] muhamadazmy opened #1574 "zos2: automated migration from v2 to v3"
Details and specifications can be found [here](https://github.com/threefoldtech/tf_operations/issues/320)

[2022-01-26 14:47] maxux commented on #1559
Yep we found a way with USB/BIOS mode :)

[2022-01-26 16:09] muhamadazmy commented on #1574
Building the migration tool the migration tool will do the following:
- Use the local known farm id to get list of payout addresses for this farmer
- Search for farms on v3 that has the same payout addresses. If not try again later (may be every 1 hour or so)
- If a match found,
   - detect and rewrite the USB stick with v3 boot
   - Wipe the disks
   - Reboot

[2022-01-28 16:18] LeeSmet opened #1578 "Nodes need to push their virtualizaton status"
See https://github.com/threefoldtech/tfchain/issues/197

[2022-01-29 00:05] scottyeager opened #1579 "Display quota size rather than node's disk size"
Currently, users who run `df` within a VM will see the full size of the node's disk which their rootfs is allocated from. I'm not sure if this is the same behavior for attached disks. This makes it difficult to monitor available disk space and causes confusion for users who run out of quota.

There are some tools and methods for checking quota in cases like this, such as `quota` command, but I was

[2022-01-31 08:33] coesensbert commented on #1573
Yes but we try to avoid renting any kind of cloud service for it.

[2022-01-31 18:20] muhamadazmy opened #1580 "ZOS TPM Support specifications"
Related issues #1319

[2022-01-31 19:12] scottyeager opened #1581 "Node registration fails after "submit extrinsic: Transaction is temporarily banned""
We're seeing cases lately where node registration is failing and wiping disks seems to be the fix. I can't confirm whether wiping the disks, simply waiting, or the additional boot cycle is resolving the issue. See example output [here](https://forum.threefold.io/t/how-to-set-up-your-own-3node/833/91).

My hunch is that after `submit extrinsic: Transaction is temporarily banned` the node does not p

[2022-01-31 19:43] maxux commented on #1580
Theses commands rely on the fact that `tpm2-abrmd` daemon runs.
[code]

# Using OpenSSL

Check TPM support in openssl:
[code]

Clear the current state to start from scratch:
[code]

Generate a new RSA key (ecdsa is supported as well but not as widely available than RSA in the field):
[code]

Extract the public key from the generated key:
[code]

Generate some data and sign them with the key:
[code

[2022-01-31 20:03] scottyeager commented on #1573
Simple DNS balancing can be achieved at the domain registrar with no server needed, which is I think what @muhamadazmy is suggesting. This is a step in the right direction.

However, I'm now seeing that using DNS to resolve TF Chain at all is probably a big liability. Anyone who can change or hijack that DNS record can in the best case cause a significant disruption and in the worst case take cont

[2022-02-01 08:22] muhamadazmy commented on #1579
No, for disks it's only the allocated size that shows up. it's different from rootfs because it uses virtiofs to access basically a shared directory on the host (zos) this directory (subvolume) has a quota limit.

I am trying to find out a solution for this issue. It's indeed confusing.

[2022-02-01 08:33] muhamadazmy commented on #1581
I think the wiping of the disks made the node to activate a new account on the chain. Why the transaction can be banned might be not clear. It can be the node somehow ran out of funds but this should not be possible anymore. Was it a new node?

[2022-02-01 23:50] scottyeager commented on #1581
Yes, always seeing this with new nodes. I'll see if I'm able to get a complete account address from a farmer for further investigation on whether insufficient funds is the cause.

Maybe @DylanVerstraete has some insight on why an extrinsic might show temporarily banned?

[2022-02-03 09:58] muhamadazmy opened #1583 "Bandwidth checks"
Implement a way to give estimate of the network bandwidth. Can we integrate with some speed tests websites ? Say fast.com ?

[2022-02-03 09:59] muhamadazmy opened #1584 "Collectors 0.1"
Collector is a name of a binary that validates the authenticity of the zos node as a real node. and not fake or emulated. The basic broad line operation goes like this:
## RUN 1
- Get ID of node, sign with TPM
- Register in TFChain existence of this node & TPM verification now working.
- Do some CPU performance checks ???
## RUN X
- Get DMI info
- Get resource units info
- Do quick bandwidth check

[2022-02-07 04:23] despiegk commented on #1551
this seems serious, we need to make sure an OOM can never happen

[2022-02-07 04:25] despiegk commented on #1467
this will have to wait, we have other things to first do.

[2022-02-07 04:29] despiegk commented on #1583
lets first create specs, for now we can do something simple like

- ping to some sites
- download/upload a file from known 2-3 locations (1 MB file)

just something easy to start with, dont shoot for the moon

[2022-02-07 04:31] despiegk commented on #1579
suggest to delay

[2022-02-07 04:33] despiegk commented on #1561
is this prio? @muhamadazmy

[2022-02-07 04:33] despiegk commented on #1560
please lets review some specs here

[2022-02-07 04:51] despiegk opened #1585 "support for dedicated nodes"
see https://github.com/threefoldtech/home/issues/1156

[2022-02-07 12:44] coesensbert commented on #1560
Mainnet currently has 4 public zos nodes

https://docs.grid.tf/threefold/itenv_threefold_main/src/branch/master/Kubernetes-clusters/hagrid-prod2/applications/tfchainmainnet/Public-config.md

[2022-02-09 11:25] muhamadazmy commented on #1580
Note that titan nodes (and freefarm zos nodes) don't have tpm devices built in. So far I am experimenting with some tpm2 libraries (including native golang libs) What i am trying to achieve is:

- Store node identity seed used for block chain operation in a tpm this will be much safer than using a seed file on the hard disk of the node.
- This can be used to drive an encryption key (with the user

[2022-02-10 07:33] RafyAmgadBenjamin opened #1586 "Error while trying to build an image in our VM"
I was trying to build an image on our VM, then I got this error
![image](https://user-images.githubusercontent.com/46320202/153358966-12644138-238a-46bf-b26f-0c1a1632dd97.png)

while it builds successfully on a digital ocean machine
![image](https://user-images.githubusercontent.com/46320202/153359044-46e11283-9345-45d9-b917-1a4e5d853aeb.png)

[2022-02-10 08:08] xmonader commented on #1586
@muhamadazmy any idea?

[2022-02-10 15:55] #1496 closed, assigned to nobody

[2022-02-14 08:08] muhamadazmy commented on #1586
First of all, i think this is a warning not an error. It seems it continued building afterwards (please correct me if I am wrong). Also it looks like a build environment issue (complaining about a dependency that is unmet). Is it possible there is a missing update or something?

[2022-02-14 08:12] RafyAmgadBenjamin commented on #1586
Actually, it stopped building and didn't continue then I tried it again on a digital ocean machine, it worked well and all the dependencies were met and the image built and tagged successfully, not sure why this dependency was not met on our VM but was met on digital ocean.

[2022-02-14 08:34] muhamadazmy commented on #1585
Specs https://github.com/threefoldtech/home/issues/1156#issuecomment-1038798380

[2022-02-15 10:24] weynandkuijpers opened #1658 "Virtual Machine does not reboot and systemctl not properly"
Deployed a VM on mainnet and needed to install webmin.

So after install starting the service does not work through `systemctl` and has to be done the manual way `/etc/webmin/start`

![reboot](https://user-images.githubusercontent.com/13766992/154042168-7845154c-51af-4864-ad09-b7f64517ea3e.jpg)

Also - not being able to reboot and have the additional installed software to boot there needs to be in

[2022-02-16 08:18] OmarElawady opened #1589 "For invalid public config, noded leaks redis connections"
I modified my node to have empty values in hope that it would unset the public config (it doesn't). Turns out that after some time, noded stops responding to rmb calls. The public method takes an event stream from zbus, and it doesn't get closed so eventually the redis pool runs out of connections.

https://github.com/threefoldtech/zos/blob/main/cmds/modules/noded/main.go#L187

[2022-02-16 13:52] RafyAmgadBenjamin opened #1591 "Gateway domain doesn't resolve with ingress in K8s cluster"
I have deployed a k8s cluster then tried to reach this cluster with a domain generated from our gateway, but Ingress failed to handle this domain (the domain didn't reach the ingress controller) then tried to generate domain from `name.com` and used it in my helm chart it works well.

`contract ID`: 7724
`domain`: hamadabasha.gent01.dev.grid.tf
`env`: devnet

[2022-02-21 10:27] muhamadazmy commented on #1589
Update the link to point to a `perminant` line because this points to nothing :) Then we should add protection against setting public config to empty so the node will just ignore it until it has been rebooted ?

Un-Setting public config is not supported, and will never be without a node reboot.

[2022-02-21 10:40] muhamadazmy commented on #1591
The gateway has been decommissioned so it's hard to debug the problem. But i see no errors in the logs regarding this. are u sure u had the correct backend IP address used ?

[2022-02-21 10:44] OmarElawady commented on #1589
Nice tip :) The issue is mainly about leaked redis connections. The goroutines starts a stream each time setting the public config fails (this can be for a lot of reasons, one of which is invalid data), the stream takes a redis connection from the pool. After a few failures the pool gets completely consumed and the rmb bus can't reply to incoming requests anymore (it shares the pool).

zbus stub:

[2022-02-21 12:21] RafyAmgadBenjamin commented on #1591
yes, I am sure of the IP address even @AhmedHanafy725  has checked this with me

[2022-02-21 12:30] muhamadazmy opened #1598 "tools to certify nodes on v3"

[2022-02-21 12:30] #1598 closed, assigned to muhamadazmy

[2022-02-21 12:30] #1560 closed, assigned to despiegk

[2022-02-22 04:55] weynandkuijpers opened #1606 "Deployed VM on mainnet -> and when wallet is empty the VM disappeared."
Deploying through the play.grid.tf portal a VM.  Wallet had about 100TFT's and a few days in the wallet was empty and the VM gone.

Proposal: we should think about a mechanism to make the VM in-accessible bu not delete.  I also heard from Peter van VCC the same - Owncloud deployment and (low wallet to start with) after the wallet depleted the deployment was done.

[2022-02-22 14:35] #1161 closed, assigned to muhamadazmy

[2022-02-23 10:10] weynandkuijpers commented on #1606
Can you please leave a link here to where you transferred the issue?

[2022-02-23 10:12] hossnys commented on #1606
Transfered here threefoldtech/zos#1606

[2022-02-23 21:24] scottyeager opened #1601 "Nodes not recognizing RAID/HBA connected SSD"
Some farmers are reporting that SSD connected via RAID controllers or HBA adapters is not being recognized by Grid 3 Zos. In some cases, it shows up as HDD. In other cases, the node is not able to fully boot because it sees no SSD. These nodes were working properly on Grid 3 previously. One farmer reports that booting the node back to Grid 2 resolves the issue and SSD is detected.

**Known affecte

[2022-02-24 08:15] muhamadazmy commented on #1601
@maxux can this be because of a missing kernel support for raid controllers ?

[2022-02-24 08:18] maxux commented on #1601
Which image were used for the working v2 ? Was it the 5.10.55 kernel or the old one 5.4 ?
Can we have remote access theses node in v2 and v3 to see what's missing ?

[2022-02-24 08:51] scottyeager commented on #1601
Farmer who booted back to v2 has node id HfP2mtA8eJkqCrX3ez3T8oxNHWchtebTh9Ewbj2YixwK

This node will not boot on Grid 3 anymore because all SSD is connected via RAID/HBA. Grid 3 node ids listed above also have SSD connected directly to mainboard.

[2022-02-24 09:36] muhamadazmy opened #1602 "improve and minimize connections to substrate from the node"
Improvement to the client is needed to improve and minimize the number of connection that are kept open in a single moment.

[2022-02-25 08:27] #1499 closed, assigned to muhamadazmy

[2022-02-25 08:28] muhamadazmy commented on #1499
All nodes always use freefarm public nodes as peers

[2022-02-25 08:31] muhamadazmy commented on #1602
Fixed, introducing pool implementation. Requests are closed after they are no longer needed. The current pool implementation is naive (doesn't reuse connections) but the foundation is there to implement connection pooling.

[2022-02-25 08:31] #1602 closed, assigned to muhamadazmy

[2022-02-25 15:22] muhamadazmy commented on #1293
I think we can start working on this now. I know it has been in the backlog for a long time. I will move it to the current active project.

Questions I need to research:
- [ ] Working with GPUs with cloud-hypervisors
- [ ] Can a node has multiple GPUs ?
- [ ] Tracking of GPU(s) of the node and if it's free to be allocated by a VM This probably need to be added to node contract

[2022-02-28 09:57] LeeSmet opened #1604 "Add docs about VM's and containers"

[2022-02-28 15:05] xmonader commented on #1606
this should be in zos repo, as this its the one responsible for deleting workloasd

[2022-02-28 23:29] scottyeager commented on #1601
I've added a couple more hardware models with this problem in the original issue. Would be nice to resolve this with some urgency, since farmers will be complaining about missed farming rewards :scream:

Additional data point here, the farmer with the Dell H310 reports that by changing the boot device option within controller settings from "None" to "Factory default" one of their drives is properl

[2022-03-01 08:22] maxux commented on #1601
I'll try to investigate that today

[2022-03-01 08:33] maxux commented on #1601
https://explorer.grid.tf/api/v1/nodes/HfP2mtA8eJkqCrX3ez3T8oxNHWchtebTh9Ewbj2YixwK
This node doesn't have ipv6 ?

[2022-03-01 09:15] coesensbert opened #1607 "Testnet: public ip not canceled on zos node ID 10"
With ops we have a deployment reservation on testnet where one vm with public ipv4 has an ip conflict on the network.
After some investigation it looks like a previous deployment, with public ip, was not removed propperly.

Currently, there is a vm running on zos **node 2 with contract id 3164**. It has **public ipv4 185.206.122.142**
Connectivity, over ipv4, to this vm goes on and off: ARP doing

[2022-03-01 15:48] coesensbert opened #1659 "Mainnet: failing deployments on node 1470: file resize error"
Deploying on node 1470 always results in the following error. Both via play.grid.tf as via terraform:
![image](https://user-images.githubusercontent.com/88312671/156194013-591043f2-c700-409e-bc71-4c17153cf08f.png)
![image](https://user-images.githubusercontent.com/88312671/156194055-c88ab326-479f-4499-a3b4-2b93019a3162.png)

Play:
![image](https://user-images.githubusercontent.com/88312671/1561941

[2022-03-01 16:38] coesensbert commented on #1658
The lack of systemd in any of our flists is a known issue. We also need this for ops. We did some investigation into making an full blown VM ubuntu flist with systemd (and not minimized) but it will take more time then expected.

Rebooting a node without systemd can be done via: echo b > /proc/sysrq-trigger

[2022-03-01 17:04] #1604 closed, assigned to LeeSmet

[2022-03-02 08:51] LeeSmet opened #1608 "There is no way to get logs from a container"
Currently, running a container, especially a single binary one, does not give any option to check logs of the process.

[2022-03-02 13:13] LeeSmet commented on #1659
Checked loki and there aren't any logs for this node for some reason. However judging by the error I assume the filesystem containing the cache is dead, which prevents writes in the cache, causing all workload deploys to fail.

[2022-03-02 13:13] LeeSmet commented on #1659
cc @delandtj

[2022-03-02 13:15] LeeSmet commented on #1658
This image is running as a container, meaning you should have control over the process which runs as PID 1. So it should be possible to start it with `init=/sbin/init`, as /sbin/init is usually a symlink to systemd

[2022-03-02 19:30] sabrinasadik opened #1609 "Farms show zos version 0.0.0 when node attached to monitor"

[2022-03-02 19:32] sabrinasadik commented on #1609
![56A891AF-8F5B-4315-89A9-651C182FEC93](https://user-images.githubusercontent.com/31733464/156435598-df736fe4-44fc-46b7-a1e4-3bc2621bb546.jpeg)

[2022-03-02 20:53] scottyeager commented on #1601
I see ipv6 config on that node, but it looks like they took it offline. Let me see if I can get them to bring it back.

[2022-03-03 04:06] scottyeager commented on #1601
Probably that node is offline because auto migration has been activated and it won't stay on Grid 2 now.

I checked and this started occurring around 10 days ago, corresponding about with the 3.10 release. Checking the release notes, I found [this PR](https://github.com/threefoldtech/zos/pull/1592) to change the way that drive type detection is handled. I'm asking farmers with this issue to send t

[2022-03-03 07:48] maxux commented on #1601
`ROTA` should never be trusted, if there is something wrong with `seektime`, we need to fix it.

[2022-03-03 08:19] OmarElawady commented on #1601
There was an [issue](https://github.com/threefoldtech/zos/issues/1539) with seektime taking time to get the seektime of hdds. It happened on multiple nodes on devnet (7 and 11). It wasn't a big issue, since seektime worked quickly the second try. So `storaged` failed to start multiple times for each HDD present, then worked normally after.

It was fixed by assuming the device is HDD if took more t

[2022-03-03 08:26] maxux commented on #1601
That should have been reported on seektime repo first: https://github.com/threefoldtech/seektime
Better to find out what happen than trying to workaround :)

[2022-03-03 23:11] scottyeager commented on #1601
I've confirmed with one farmer that ROTA is set for all drives demonstrating this issue.

[2022-03-04 20:49] scottyeager commented on #1609
There are also a number of nodes reporting version 0.0.0 via the explorer:

![image](https://user-images.githubusercontent.com/17682591/156839534-97cc8fc9-f90f-4e1a-8211-f5a9aa1fe1ea.png)

[2022-03-04 22:56] scottyeager opened #1611 "Does Zos use SR-IOV?"
Farmer wants to know if it's important to enable SR-IOV on their nodes.

[2022-03-07 08:48] muhamadazmy commented on #1606
This behavior was in the original requirements for ZOS. Defining the policy to decomisison a contract that ran out of fund is not that straight forward or easy. The following points need to be taken into account.
- On the grid, the grid decide if the contract need to be cancelled immediately or not. Implementing this feature can be done easily on the grid by not cancelling the contract immediately

[2022-03-07 09:11] muhamadazmy opened #1612 "On contract cancellation, a capacity report for that contract need to be send to grid"

[2022-03-08 07:56] muhamadazmy commented on #1607
I tried to investigate this issue and noticed that the VM that was hording the IP was gone already according to the logs it was decomissioned already by an OutOfFund contract. I noticed also that the dates when the contract was cancelled (according to graphana) didn't match the date when the Vm was actually deleted. There might be an issue there but was not possible to reproduce.

I will close thi

[2022-03-08 07:57] #1607 closed, assigned to nobody

[2022-03-08 07:58] muhamadazmy commented on #1585
Waiting on https://github.com/threefoldtech/tfchain/issues/228

[2022-03-08 08:23] muhamadazmy opened #1614 "Reporting improvements and fixes"
Use the current workloads transactions logs to collect required reports. Reporting should do the following:
- Report should include a timestamp `T` when the report is created, and a period `P` duration `in seconds` of the report period. The report covers the T-P window for the contract
- CU, MU, SU, and HU are always calculated like this:
  - `UNIT * T`. `T` can be the entire period `P` or part of

[2022-03-08 11:07] muhamadazmy commented on #1614
Deprecated by https://github.com/threefoldtech/tfchain/discussions/239

[2022-03-08 11:07] #1614 closed, assigned to muhamadazmy

[2022-03-08 11:43] dmahmouali opened #1615 "Can't deploy VM with error: failed to get deployment contract: unknown version"
I tried to deploy VM using play.dev.grid.tf and locally using grid3-ts client with devnet network and get the same error with nodes [ 2, 10, 210 ]

![image](https://user-images.githubusercontent.com/36021484/157230600-b55c504d-0e3d-47b2-9cf5-5b793fd52f49.png)

the message replay
[code]

[2022-03-08 12:47] coesensbert commented on #1615
Also same error via Terraform deployment

[2022-03-09 08:09] scottyeager commented on #1601
Thoughts on this @muhamadazmy?

[2022-03-09 08:11] maxux commented on #1601
Like I said, ROTA needs to be ignored, this flag is not valid, with mostly any RAID controller.
Can I get access to a node which have the latency issue of seektime ? Stop looking for workaround, we just need to fix that.

[2022-03-09 12:04] OmarElawady commented on #1601
Node 7 on devnet, its ip is `10.9.0.101`.
![image](https://user-images.githubusercontent.com/13040543/157438600-97632f91-2749-4969-a646-96e4fddba075.png)

[2022-03-09 12:09] maxux commented on #1601
Thanks, I'm on it :)

[2022-03-09 12:34] #1583 closed, assigned to nobody

[2022-03-09 13:19] maxux commented on #1601
This happen because the disk is in standby, of course the system needs to wait for the disk to be up before being able to compute seektime.

[code]

[code]
The read syscall took 13 seconds.

[code]
State of the disk right after the test.

[2022-03-09 23:38] scottyeager commented on #1611
Relaying Jan's message from Telegram... "Enable it. You know, for science.

[2022-03-09 23:38] #1611 closed, assigned to delandtj

[2022-03-10 08:00] #1615 closed, assigned to nobody

[2022-03-10 08:02] muhamadazmy opened #1617 "Set "Used" capacity on a contract"
The node need to update used capacity on a contract when contract is deployed or updated as per the full discussion here https://github.com/threefoldtech/tfchain/discussions/239

[2022-03-11 06:52] scottyeager commented on #1601
Thanks @maxux. Can we move forward with a fix based on your findings?

[2022-03-11 23:03] raetser commented on #1601
If you need access to my server remotely, I can offer that if you need to test/debug. Any idea when this will be fixed? When I moved to V3 a few weeks ago, everything was working fine...

[2022-03-14 09:18] muhamadazmy opened #1620 "integration with detecated node contract on chain"

[2022-03-14 09:43] #1571 closed, assigned to muhamadazmy

[2022-03-15 10:57] LeeSmet opened #1622 "Expect full disk image instead of btrfs filesystem for /disk.raw"
Currently if a zmachine is a VM, `/disk.raw` must exist in the Flist, and it is expected to be a btrfs filesystem. This means that the kernel for example can't be part of the disk and can thus not be upgraded. A regular disk image would allow a lot more compatibility with existing cloud images.

[2022-03-15 11:00] LeeSmet opened #1623 "Integrate cloud init for VM's"
Currently whoever creates an image for a zmachine which is considered a VM needs to include scripts to properly set networking, mounts, ... inside the machine, as zos does not have access to it. Furthermore there is also some work done on the host to prep the image. Using cloud init would allow zos to follow industry standards for this. Combined with #1622 users can then create an image from a dow

[2022-03-15 11:02] LeeSmet opened #1624 "for a VM /kernel should be optional"
As follow up of #1622, the `/kernel` file can be made optional. The default can be a firmware blob which simply boots the kernel in the boot partition (e.g. https://github.com/cloud-hypervisor/rust-hypervisor-firmware)

[2022-03-15 12:06] LeeSmet opened #1625 "Documentation about VM images"
Currently it is not documented at all about how an image (flist) is created which boots as a VM, and what is required for this to work in the reservation.

[2022-03-15 13:14] #1601 closed, assigned to nobody

[2022-03-15 14:58] muhamadazmy commented on #1622
Actually (and also because of the reasons mentioned here https://github.com/threefoldtech/zos/issues/1623) I was thinking the "VM" image should only provide the disk image (no kernel) and we always use our own kernel we use in containers mode. This means no cloud-init is needed since all the scripts to setup kernel and mounts will be already there.

I am sure i created an issue for this before wil

[2022-03-15 15:25] Zurga opened #1718 "Adding more Terraform gateways"
Often, the gateway will timeout while deploying.

We (GreenEdge) have recently added more IPv4 addresses to the Grid, so it should be possible to add more gateways.

[2022-03-15 15:42] LeeSmet commented on #1622
The problem with that is that as a user, if I have a VM, I expect full control over everything, including the kernel and filesystem in use, which won't be possible in this setup. For a container that is fine, as there you just want "some environment to run this application". By forcing a kernel of our own, the user can't even upgrade or change the kernel, as it is external to the image. Hence the

[2022-03-15 15:53] delandtj commented on #1622
so, if I understand correctly: if I want to create an flist for a vm:
- we need to create a raw file,
- create a btrfs on it, loopmount it,
- populate it,
- add it to an flist,
- alongside with some .img that contains a kernel... a kernel and it's modules ? or how do I have to look at that ?

Then the vm gets started, that does:
  - loopmount the raw file and
  - expose that btrfs mount
    - with

[2022-03-16 09:38] muhamadazmy commented on #1624
Cloud init requires a 'config source' this can be a service which means the node must have network configured already before it can fetch config. This of course does not make sense on the grid because we need cloud-init initially for setting up the network since we don't use dhcp.

Another option is to provide a new data source for cloud-init that uses the kernel params to build proper cloud-init

[2022-03-16 10:27] muhamadazmy commented on #1624
I checked cloud-init modules and there is a 'grow-part' modules that (I think) we can use to grow the disk image to take the full allocated disk which if done properly can drop the requirements of a btrfs filesystem for disk images

[2022-03-16 10:54] LeeSmet commented on #1624
Actually for now we can use the `nocloud` datasource https://cloudinit.readthedocs.io/en/latest/topics/datasources/nocloud.html. This can inject the config through a CDROM or a file, and then extract the networking from that. This seems like it would allow unmodified cloud init images.

The user does not NEED to have a cloud init enabled image either. If we document how the config is set, he can a

[2022-03-17 01:10] scottyeager opened #1627 "Typo - "borken-devices""
Should read "broken-devices":

https://github.com/threefoldtech/zos/blob/a5e4c01648fe0c9f8ae85d310ec356fe4034742c/pkg/storage/storage.go#L220

[2022-03-17 09:54] OmarElawady commented on #1293
GPUs can be attached to a VM using `cloud-hypervisor` by unbinding it from its driver and then bind it to `vfio` driver as described [here](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/docs/vfio.md).

I have a nvidia GPU, and couldn't do dynamic unbinding/binding while the machine is running. So instead I gave vfio control over the gpu (and other neighboring devices) through kern

[2022-03-17 23:41] scottyeager opened #1628 "Node's wallet depleted"
Farmer reported that their node 95 on testnet did not mint any tokens despite being powered on and even hosting a workload that remained accessible. Checking GraphQL, I noticed that uptime reports for the node stopped being logged on TF Chain around January 11. Checking the node's console and log screens, we saw this:

![image](https://user-images.githubusercontent.com/17682591/158911285-b8794595-

[2022-03-21 08:06] #1551 closed, assigned to maxux

[2022-03-21 08:07] #1617 closed, assigned to muhamadazmy

[2022-03-21 08:07] #1620 closed, assigned to muhamadazmy

[2022-03-21 08:07] #1609 closed, assigned to muhamadazmy

[2022-03-21 08:10] muhamadazmy commented on #1628
Thanks @scottyeager for the great debugging of the issue. The nodes should not deplete their wallets anymore for sure, I assume the node wallet was already depleted before the fix. I will verify with @DylanVerstraete when exactly was the fix available on testnet.

[2022-03-21 08:11] muhamadazmy commented on #1628
@DylanVerstraete can we tell when the fix for free node extrinsics was available on testnet ?

[2022-03-21 08:13] #1627 closed, assigned to nobody

[2022-03-21 08:20] DylanVerstraete commented on #1628
We deployed a fix https://github.com/threefoldtech/tfchain/commit/ee56ce51f64a5c8664c9abeca9156fa1ab02538b on the 13th of January to fix this issue. All nodes that still have balance after this date should not have this issue anymore. Thanks for reporting @scottyeager

[2022-03-21 08:20] #1628 closed, assigned to nobody

[2022-03-21 08:33] muhamadazmy commented on #1622
@delandtj nope this is not correct.

We have 2 modes for a (VM) one we call containere mode, and the other is called VM mode (this VM mode is not really documented and rough)

## In container mode
The flist has the rootfs of your VM or container so your flist has files like
[code]
And so on. All what you have to provide in your `init` or what we call `entrypoint` this entry point can either be a s

[2022-03-21 08:35] muhamadazmy commented on #1622
Hmm, actually there might be an issue in the VM mode because someone still need to mount the virtiofs rootfs before the kernel from the flist is used.

[2022-03-21 08:38] muhamadazmy commented on #1622
Maybe the user then can still provide a disk.raw image in his flist and we use `rust-hypervisor-firmware` to boot the kernel from the image which must contain the kernel and cloud-init

[2022-03-21 23:47] scottyeager commented on #1628
Thanks @muhamadazmy and @DylanVerstraete. Good to have this info going forward :+1:

[2022-03-22 00:58] scottyeager commented on #1581
We are still seeing some instances of this, with new nodes. One farmer (farm id 1336) reports seeing this with a subset of their nodes, and same behavior after wiping the disks. I checked the accounts for two nodes, as shown below. Both have balances less than 1 mTFT, and both are on nonce 97. I will check if funding the accounts clears the issue.

5CWLoR2ZiQEPKYZiR3z4rhMgHs5RDWf8rpYAfuSPD6z1a7E7

[2022-03-22 12:40] RafyAmgadBenjamin opened #1629 "can't deploy on node 8 on devnet"
have tried several times on node 8 but couldn't work
![image](https://user-images.githubusercontent.com/46320202/159484151-807f0939-d498-43e6-b16d-44e9473c38dd.png)

[2022-03-22 15:12] Omarabdul3ziz opened #1630 "all gateways deployed on node 8 doesn't work"
all solutions deployed from weblets which has a domain name `gent02.dev.grid.tf` gives `404 page not found`

![Screenshot from 2022-03-22 17-09-20](https://user-images.githubusercontent.com/32527347/159514527-d70ee502-d479-46cd-950c-2aef7c6e641d.png)

However the solution accessible with planetary IP
![Screenshot from 2022-03-22 17-11-11](https://user-images.githubusercontent.com/32527347/15951481

[2022-03-23 05:06] scottyeager opened #1631 "Failed to get node twin id"
Farmer has three Titans. One successfully migrated to Grid 3, while the other two are stuck on "node is not registered" on Zos console and show the errors below:

![image](https://storage.crisp.chat/users/upload/visitor/bff6226bff09c000/f1b56bbab471b210d352aa46f669f4ec59d4f986.jpeg)
![image](https://user-images.githubusercontent.com/17682591/159627060-c5dca5a5-db7b-4e1a-a714-e556fe29094e.png)

I g

[2022-03-24 12:46] asamirr opened #1632 "azmy.domain.com gateway node isn't properly configured and needs validation on gateway configuration"
Non of the deployed weblet solutions that returned with the "azmy.domain.com" is working

[2022-03-25 21:10] scottyeager opened #1633 "Error while sending twin report - context deadline exceeded"
A couple farmers are seeing this error.

Node 467 on mainnet, no change after reboot:
![image](https://user-images.githubusercontent.com/17682591/160200435-e61d0ef9-bd2a-4bcc-a9e0-4e8bef575e4e.png)

This node doesn't seem to make it to the node console to display a node id. Has been rebooted several times:
![image](https://user-images.githubusercontent.com/17682591/160201175-5a362d3b-0d7d-47ec-b0b

[2022-03-26 14:38] gazgits commented on #1633
Can anyone help with this issue please?

[2022-03-28 07:12] muhamadazmy commented on #1629
Yeah, i checked the node and it's missed up. Cache was ruined i have no idea what yet

[2022-03-28 07:26] muhamadazmy commented on #1630
Yes, node 8 has issues i just checked and i think it's related to disk speed detection which caused cash to be deleted.I am rebooting the node but it will come up as a different node.

[2022-03-28 07:30] muhamadazmy commented on #1631
The node seems can't resolve https://geoip.grid.tf for some reason. Looks like a dns failure to me If the node can't detect the location it will keep trying but will not register. Other services are just failing because it's not fully registered yet.

As per the log message from 'noded' the service that is responsible for registration looking up failed dio to i/o timeout reading response from your

[2022-03-28 07:30] muhamadazmy commented on #1632
This is a development node I use for testing. Please blacklist it and never use it again because it's not a real node or with valid public config

[2022-03-28 07:30] #1632 closed, assigned to nobody

[2022-03-29 11:10] #1585 closed, assigned to nobody

[2022-03-29 16:16] LeeSmet opened #1634 "Make sending node reports a one off, and only warn in case of failure"
Currently if the node monitor twin is down or a node can otherwise not push it, and error is logged an the report is scheduled to be pushed again. This quickly builds up a the node logs with errors messages.

- Downgrade error lvl to warning
- Preferably don't retry (at least until rmb stabilizes to the point where it can properly handle this)

example node log:

[code]

see also threefoldtech/rmb

[2022-03-30 21:46] scottyeager commented on #1631
We've tried the following troubleshooting:

1. Contact geoip service from web browser on another device in the farmers network. No problem here.
2. Switch cabling and router port from the one Titan that registered successfully to one of the others. This did not clear the issue

All three nodes were working fine on v2. Also, they must have working dns to get this far in the boot process and pass th

[2022-03-31 00:46] scottyeager opened #1637 "Nodes stopped submitting uptime reports"
Farmer noticed that most of their nodes were marked offline within the portal while they were running and connected. I checked and the nodes were responding to ping over Yggdrasil, but had stopped submitting uptime reports (last uptime report for all nodes around 2022-03-30T11:59:42.000Z). Console logs below from node 631 don't show any obvious issues. Nodes began reporting uptime again after rebo

[2022-04-01 09:59] dumblob opened #1638 "HTTP2 does not seem to work on Gateways by design"
After skimming the architecture of ThreeFold Gateways I immediately asked myself the following question.

How does it handle HTTP2 (aka QUIC)?

The doc https://library.threefold.me/info/manual/#/technology/threefold__network_wall describes only HTTP(S) which is **request-based** but HTTP2 is **session-based** which totally shuffles the cards. But of course, maybe I'm missing something.

Any insigh

[2022-04-01 10:43] dumblob opened #1641 "ZNIC/ZNET: Benes network finds only one path but we want multipath to leverage all network interfaces"
I noticed ZNIC/ZNET is built around Benes network (unidirectional, optimal path through a directed graph). A traditional Benes network finds only one path. But usually I want to use multiple paths **simultaneously** if I have multiple outgoing and/or ingoing interfaces with some additional politics around it.

E.g. I don't want to use all available interfaces because some are "too expensive" (e.g.

[2022-04-01 10:50] dumblob commented on #1486
@sameh-farouk does this still happen to you?

[2022-04-01 11:38] sameh-farouk commented on #1486
No, this didn't happened for sometime now.

[2022-04-04 12:28] asamirr opened #1642 "Node 8 isn't reachable"
Last time it contacted the chain was on March 28 https://gridproxy.dev.grid.tf/nodes/8

[2022-04-05 09:22] muhamadazmy commented on #1642
Seems this node was rebooted and got a new id (217) this means the node cache was deleted completely.

[2022-04-05 09:22] #1642 closed, assigned to nobody

[2022-04-05 10:31] #1634 closed, assigned to nobody

[2022-04-05 10:32] muhamadazmy commented on #1633
Yes, it's fixed in a new code, but it's not released yet. Eventually this will reach main-net

[2022-04-05 10:48] muhamadazmy opened #1644 "Storaged should persist detected disks seektime on boot"
This should prevent the node from mistakenly change the type of the disk from SSD to HDD if the disk was slowed down by heavy load.

[2022-04-08 13:03] coesensbert opened #1648 "Mainnet VM became unreachable, came back and seems partially reset."
Bellow mainnet deployment VM ( tfchainmaintelemetry ) was running fine but suddenly became unavailable. We could not reach it for a few hours and after where able to login again. It was running 3 docker containers on a separate disk mounted at /var/lib/docker.
After it became available again the bash history seemed to be gone and /var/lib/docker seem to also lost data. No more docker containers, n

[2022-04-11 07:52] xmonader opened #1650 "include zos version in the node reports"
zos version is needed to be shown in explorer for node status (e.g for the farmer to know which zos is running on the node atm and for whoever debugging, and to monitor the upgrades happening on the grid

[2022-04-11 08:39] coesensbert opened #1651 "Testnet: testnet3-11 has full disks"
testnet3-11 = Node ID: 11 = 10.9.0.140

![image](https://user-images.githubusercontent.com/88312671/162697965-dee16239-ff08-4bf5-9153-d64f7524a961.png)

[2022-04-11 08:49] georgeconstantinou opened #1663 "VM with QSFS deployment issue"
When trying to deploy a VM with QSFS I receive the following error:

[code]

Moved from: https://circles.threefold.me/project/test-tfgrid3/issue/110

[2022-04-12 07:55] muhamadazmy commented on #1650
Blocked on https://github.com/threefoldtech/tfchain/issues/260

[2022-04-12 13:00] muhamadazmy commented on #1651
It's not the machine disks that are full it's the root `/` which is full for some reason. I will try to increase the / size as a temp fix

[2022-04-12 13:08] muhamadazmy commented on #1651
This node is also ran ou of funds, and also running a very old zinit version 0.2.1, i will reboot it

[2022-04-12 13:08] #1651 closed, assigned to nobody

[2022-04-12 13:30] sameh-farouk opened #1654 "Devnet: VM became unreachable after rebooting"
deployed test VM using ubuntu 22.04 using the image from [here](https://hub.grid.tf/tf-official-vms) with date Apr 08 2022
trying to reboot using `shutdown -r` then the machine didn't back online.

deployment is done via https://play.dev.grid.tf/ v:<47ca1cd>, on devnet.

things I remember doing before rebooting,
`apt update`, `apt upgrade`, installing Docker, and pulling a few images.

[code]

[2022-04-12 13:44] sameh-farouk opened #1655 "Devnet: VMs are not reachable after deploying using arch image"
Deployed two VMs using Arch image from [here](https://hub.grid.tf/tf-official-vms), neither is reachable after the deployment.

@muhamadazmy found that deploying using lower-spec like 2 CPUs and 1024 memory would make the VM start correctly, I test this as well, and can verify VMs with low specs have no issues to boot, while with specs like 4 CPUs and 8192 Memory it would stuck.

here are the deta

[2022-04-13 13:18] muhamadazmy commented on #1648
I checked the VM `tfchainmaintelemetry` on mainnet node 13 and the process seems to be running fine. It also has been running for over 13 days.

So the Vm was uninterrupted or restarted (the node itself is up for 98 days) so i don't get how is that possible. The network interruption might have been caused by a network glitch on the node network?

What is totally weird is the 'loss' of disk data. I

[2022-04-13 13:20] muhamadazmy commented on #1655
This should be fixed now, please try a new deployment

[2022-04-13 13:34] #1625 closed, assigned to nobody

[2022-04-13 13:37] coesensbert commented on #1648
Yes it's pretty weird, did not touch it while it was running. Only when the telemetry service became unavailable i noticed. I do remember that this was a deployment from before the billing upgrade issue on mainnet. This was one vm that survived the ops wallet being empty.

Also noticed it got a different public ip, and definitely got 'reset' in a weird way. This was my ssh config when things where

[2022-04-14 01:20] sameh-farouk commented on #1655
Verified. Tested with spec 4 CPU and 8GB memory. VM Started just fine.

[2022-04-14 10:11] #1655 closed, assigned to muhamadazmy

[2022-04-14 17:05] archit3kt opened #1657 "Cannot mount /dev/vdd : mount(2) system call failed: File exists."
Hi,

typical terraform deployment (plugin version 0.1.27) with 6 disks, which should all be mounted inside the VM

Mounting disks from vdd to vdf fails with the error mount(2) system call failed: File exists.

There is also a seventh disk vdg which can be mounted read only and contains metadata and config info for the VM. Not a bug but I wonder what it is used for

[2022-04-15 07:33] muhamadazmy commented on #1657
Can you please show me how the terraform deployment for the VM looks like (you can hide keys and such) I only need to know, flist, and mount points as defined in the vm resource.

[2022-04-15 08:08] archit3kt commented on #1657
Sorry @muhamadazmy it was indeed a pebkac, forgot to change some disk names in the deployment mounts ! I should stop working when I'm too tired :D

[2022-04-15 08:09] #1657 closed, assigned to muhamadazmy

[2022-04-15 10:38] muhamadazmy commented on #1654
This might be a hypervisor firmware bug [here](https://github.com/cloud-hypervisor/rust-hypervisor-firmware/issues/140). The only known work around at the moment is to always power off the machine instead of rebooting.

[2022-04-20 10:40] muhamadazmy commented on #1608
The node stores logs locally from all running vms/containers. There are some issues regarding this:
- Fetching a log file can cause a big amount of data to be transferred, hence I think the best is you can ask for chunks of 4k each, so to read the entire file you need multiple calls, if chunk index is -1 then the last 4k chunk of the log file is returned.
- log-rotation is not supported so for a s

[2022-04-21 08:20] Zurga commented on #1718
We added more gateways, but I am still getting these time-outs:
[code]

[2022-04-21 08:29] muhamadazmy commented on #1718
This IP is actually the IP for tfchain.grid.tf. That is the blockchain itself. and seems for some reason the node can not reach it while this is mandatory for healthy ZOS operation.

This can also be duo some grid failure at the time, I would say try again see if you still have the same issue

[2022-04-21 09:36] muhamadazmy commented on #1658
As @LeeSmet said, this is not a "VM" per se. This is running in a `container` mode which hence the entrypoint defined in your deployment becomes PID 1. If PID is systemd this will behave as you are expecting.

It's not clear which flist you are using so I assume it's the base image which uses zinit as PID 1. That is completely different (and primitive/lightweight) compared to systemd and is used t

[2022-04-21 09:36] #1658 closed, assigned to nobody

[2022-04-21 09:45] LeeSmet commented on #1718
Public nodes show no drop in connections since the last 7 days according to the monitoring

[2022-04-21 10:51] muhamadazmy opened #1664 "Add workload to stream VM logs"
We reviving the feature to enable log streaming from VMs/Containers to a remote logs aggregation server. The feature was dropped temporary to implement the unified zmachine feature for vms/containers workloads. It's time now to revive this feature.

## New Requirements
- Log streaming is an opt-in feature, Some users can instead decide to aggregate logs of workloads inside the VM itself for exampl

[2022-04-22 00:55] #1633 closed, assigned to nobody

[2022-04-22 01:10] scottyeager opened #1665 "Nodes don't show network config for a long time - "wait for slaac to give ipv6""
We have several reports of nodes either not populating or taking a very long time to populate their network config. The follow messages and errors are seen:

![image](https://user-images.githubusercontent.com/17682591/164576991-977b70df-b15a-4c27-a546-e926922dc5d1.png)

![image](https://user-images.githubusercontent.com/17682591/164577038-bfd46eba-5348-46dc-aee7-4a1cfb1c88ed.png)

[2022-04-22 09:45] coesensbert commented on #1573
Simple DNS balancing is possible yes but then you quickly run into certificate distribution issues for example, amongst other issues.
We currently resolved the load issue on tfchain.grid.tf by deploying 19 more public nodes (some on and some off grid, 20 in total). They are grouped in groups of 5 and each have a loadbalancer in front.
After we adjusted ZOS and Terraform to use 4 available FQDN (ea

[2022-04-28 06:55] muhamadazmy commented on #1659
This `read-only` file system is alarming because it means cache disk somehow was set to read-only by the kernel which might indicate a disk failure or filesystem corruption

luckily this node has a public IP and was able to login
I see those errors from dmesg about the disk

![image](https://user-images.githubusercontent.com/10920323/165694471-dea5e626-e10c-4827-9993-9c0f591d6b96.png)

trying to r

[2022-04-28 07:12] muhamadazmy commented on #1659
Rebooting fixed the issue BUT. I noticed that the cache disk 'name' has changed after the reboot from `sdb` to `sda` (but it still same disk, same guid and same node id). Is it possible that the farmer switched the disks while the node is running? without proper power cycling the node ?

[2022-04-28 07:12] #1659 closed, assigned to nobody

[2022-04-28 07:15] muhamadazmy commented on #1659
Side note: It's a waste of public IPs to have this node assigned a public ip over dhcp like that. Would be better if the node instead gets a private IP and then use this public ip in public config, then this node can act as a gateway.

[2022-04-28 07:19] muhamadazmy opened #1668 "add gateways network consumption reports back"
During the refactor of metrics reporting for tfchain, the gateway metrics where accidentally dropped, this need to be re-added back with the new system

[2022-04-28 07:21] muhamadazmy opened #1669 "BUG: duplicate services sometimes spawn on the node"
Sometimes (specially after an update) the node ends up running multiple instances of the same service. This will cause issues.

[2022-04-28 14:07] sameh-farouk opened #1672 "Data loss on a Grid VM, probably because of a Node restart."
spot a wired behavior on a gird VM
I had a VM deployed 2 days ago, 26 Apr I recall correctly.
today I noted:
- host key for the VM has changed.
- created epoch timestamp in the deployment JSON refers to 30 minutes ago.
- **data in the VM was wiped.**

seems the VM has restarted.

[code]

[2022-04-28 14:10] coesensbert commented on #1672
I might have experienced something similar here https://github.com/threefoldtech/zos/issues/1648

[2022-05-02 12:31] LeeSmet opened #1673 "Document gateway flow"
Currently the docs have some info about interfaces internally, and the fact that you need to set 3 specific records. It is however not documented _why_ these are needed, nor how the flow works for getting actual certificates etc.

[2022-05-02 13:37] LeeSmet opened #1674 "proxy gateway traffic into private networks (over wireguard)"
Currently the playground seems to deploy in a way such that gateways and workloads are connected over yggdrasil. I assume because there is no (easy?) way to proxy from the gateway into the private network. Since yggdrasil has pretty bad performance, we should see if it is possible to use private networks instead.

[2022-05-02 16:21] xmonader commented on #1674
In V2, gateways used to support the wireguard private network, however, in V3 it was moved to Yggdrasil as per kds's request. Also, are we sure that ygg is having a bad performance, or are we using poor peers list?

[2022-05-03 09:05] skotze opened #1675 "Compatibility update request: Dell: T7600, T7820, T7910, T7920"
- Vendor : Dell
- Model name :  T7600
- Support quality (check one):
   - [X] ✅ fully supported
   - [ ] ⚠️ supported with some tweaking
   - [ ] 🛑 not supported
- Workarounds: -
- Remarks: -

- Vendor : Dell
- Model name :  T7820
- Support quality (check one):
   - [X] ✅ fully supported
   - [ ] ⚠️ supported with some tweaking
   - [ ] 🛑 not supported
- Workarounds: -
- Remarks: -
-
- Vendor : De

[2022-05-04 07:29] muhamadazmy commented on #1674
Currently using wireguard with the gateway is not supported. I didn't give it enough thought, but it shouldn't be impossible to implement. I am think if we made the user network deploy on the gateway node, then the private workload should be reachable, then we need to figure out how to route the traffic from the public namespace where the gateway lives, to the user private network. May be a helper

[2022-05-04 07:33] muhamadazmy commented on #1672
I think i know why, I will try to locate the bug and update this issue

[2022-05-04 07:33] #1669 closed, assigned to muhamadazmy

[2022-05-04 09:53] muhamadazmy commented on #1672
The bug was fixed, and currently deploying on devnet. Please close after verification. You probably need to give it sometime until it's fully deployed before retrying

[2022-05-05 00:41] scottyeager opened #1677 "PCIe Bus Error on Titan"
Titan node (am not sure which model but have inquired to find out) is displaying the following errors on boot:

![image](https://user-images.githubusercontent.com/17682591/166848704-aa4ff4f4-bde6-475e-858d-b39fadb6edf1.png)

[2022-05-05 13:35] coesensbert opened #1680 "New Yggdrasil peer list for ZOS"
Related to: https://github.com/threefoldtech/tf_operations/issues/852

To consolidate Yggdrasil communication, ZOS should also use this new peer list

[code]

[2022-05-05 14:31] delandtj commented on #1677
That error is a real hardware error. I hope rebooting would solve the issue, but I fear there is something wrong on the motherboard itself

[2022-05-05 15:00] #1668 closed, assigned to muhamadazmy

[2022-05-05 15:01] muhamadazmy opened #1681 "Manual upgrade of grid"
To avoid issues, we need to separate upgrade workflows to be triggered manually when needed.

[2022-05-05 15:01] #1681 closed, assigned to muhamadazmy

[2022-05-05 20:55] scottyeager commented on #1677
Thanks @delandtj. Problem cleared after some reboots, and we'll replace the hardware if it persists.

[2022-05-05 20:55] #1677 closed, assigned to nobody

[2022-05-06 05:32] #1608 closed, assigned to muhamadazmy

[2022-05-06 05:32] #1622 closed, assigned to nobody

[2022-05-06 05:33] #1644 closed, assigned to muhamadazmy

[2022-05-06 05:33] #1623 closed, assigned to nobody

[2022-05-06 15:43] Parkers145 commented on #1674
I made a post about this on the forums, its pretty long so i wont move it over but its under yggdrasil nodes. I think if we were to deploy HAproxy within zos we could properly route public traffic to multiple nodes that have a private ip by creating a forwarder that will either choose what node to pass traffic to by port or use sni to address by service name.

[2022-05-07 06:05] weynandkuijpers opened #1682 "Present hardware details on the ZOS-console"
Can we use a small portion of the ZOS console to represent the installed resources?
![image](https://user-images.githubusercontent.com/13766992/167240939-c879a89f-3c8a-4a8f-809e-1be7b8d01caf.png)

I guess this is simple as we do represent percentages of usage of these resources, why not add the quantity asl well

CPU [available/reserved] : 8/1 etc...

[2022-05-09 09:33] xmonader opened #1683 "support signing strategy of polka extension"
I suggest we support [`<Bytes>$data</Bytes>`](https://github.com/polkadot-js/extension/pull/743) for ease of use. I was suggesting we do it implicitly trying to verify against data expecting the polka extension wrapped data and we fail back to the current verification mechanism, @muhamadazmy is suggesting storing that with a flag in the deployment.

[2022-05-09 09:40] muhamadazmy commented on #1683
I like things to be more explicit. `trying` to do something then `trying` to do something else is imho not explicit enough. We instead can add a flag `signature-type` on the the deployment (which also should be included in the signature hash) that then instruct zos to which format of the $data is hashed. if it's just `$data` or `<Bytes>$data</Bytes>`

Can you be explicit also what the `$data` here

[2022-05-09 11:13] muhamadazmy opened #1684 "update documentations"

[2022-05-09 14:01] sameh-farouk commented on #1683
+1

verify in Polkadot done by
- first, detect whether the message is wrapped or not, then try to verify the signature, if it didn't match then
- wrap the message if it wasn't wrapped, or
- unwrap the message if it is already wrapped
- then it tries one more time to verify.

https://github.com/polkadot-js/common/blob/3597a4eb4e0cf9985104568058c5cd23701bbaed/packages/util-crypto/src/signature/verif

[2022-05-09 14:07] sameh-farouk commented on #1683
it is the ChallengeHash

I can see this happens here:
https://github.com/threefoldtech/grid3_client_ts/blob/49f54b36a4267d7dc42fbfbe49084b41dbd13a2e/src/zos/deployment.ts#L94-L99

[2022-05-10 08:54] Vort opened #1686 "Wrong link"
Hello.

"About" section for this repository have link to
https://www.threefold.io/capacity.html

But when I try to open it, web server returns 404 error.
Please put correct link there.

[2022-05-10 10:28] mohamedamer453 opened #1688 "Deployment Failure with error no space left on device"
After i approved a deployment request from the owncloud requests page the status changed to `deploying` and after a while it changed to `Apply_Failure` producing this error.

![image](https://user-images.githubusercontent.com/101194226/167608428-ca5a2741-1016-4f33-82f1-4516813e82e0.png)

![image](https://user-images.githubusercontent.com/101194226/167608371-b7233298-32de-4861-9bd7-558c50800c95.png

[2022-05-10 10:46] sameh-farouk commented on #1688
@OmarElawady can you give us a hint about the cause of this error, it was returned by the new version 0.1.29 of Terraform's grid plugin. from the logs, the deployer tries 10 times until now with the same error.
[code]

[2022-05-10 12:25] muhamadazmy opened #1687 "validation of name contracts on gateway proxy deployment"
https://github.com/threefoldtech/zos/blob/0ebf94ef77768d195f96a25cd0cf31f93dc3a220/pkg/primitives/gatewayname.go#L16

[2022-05-10 13:43] sameh-farouk commented on #1688
still debugging this. can reproduce also in the play.dev (weblets). it is not directly related to the Owncloud-Deployer. @muhamadazmy debugging this from the node side. will update the issue when I have more input.

[2022-05-10 14:05] sameh-farouk commented on #1688
Turn out to be a  ZOS bug. so I'm transferring this issue to the ZOS repo, for tracking and verification. from the Owncloud-Deployer side, the issue will be resolved by itself eventually as soon as the zos fix is pushed to testent.

[2022-05-10 14:16] #1688 closed, assigned to muhamadazmy

[2022-05-11 05:52] Parkers145 commented on #1680
I think it would be beneficial to peer the us nodes with my peers

3nodes
2914, 3049, and 3081

I also have a core node on the net,

it’s info is
TCP://108.242.38.187:1337 or 9943

Can you tell me what domain records I need to see to make these addressable by domain?

[2022-05-11 09:16] coesensbert commented on #1680
Hi @Parkers145

Thanks for your post. We had 2 of your nodes in the first version of this list, ran some tests for a few days and the US ones dropped out at several points so we removed them. Not sure why this was but for us it's important these are reliable peers, preferably also knowing the situation they run in (data center or not, WAN connection latency/bandwidth, ..). These must be as reliabl

[2022-05-11 09:21] Parkers145 commented on #1680
I can explain that, I didn’t plan to dive as deep as I have and I had some trouble with my Yggdrasil public node not playing nicely.

i also had some down time to add 100gb of Ram to one, some drives to another.

Lastly I migrated from a 1gig to to 2.5 gig over the last 24 hours and had to drop some new cables.

All that to say, they are up for good now.

Only been aware of threefold and Yggdrasil

[2022-05-11 09:26] Parkers145 commented on #1680
My structuring is I have a primary gateway with a 2.5 gigabit connection, 3 nodes and a ygg public node have primary drops to the gateway sharing the 2.5. Everything is wide open on that side of my net. I can expand this to 5 gigabit reasonably cheap if it works well.

2 of my nodes have 10gigabit nics but they won’t pull more the a gig

I’ve made a bunch of post about what I’m doing with my publi

[2022-05-11 09:41] Parkers145 commented on #1680
As for where I’m running my gateways, I’m just getting started and I’m a paramedic so it’s no data center but it’s reliable, now that I’m done messing with it.

I have a fiber to the home drop with the neighborhood head conveniently in my backyard, 99% of my drop is protected coiled in my attic. It is overhead for about 12 feet.

The primary gateway is bgw-320 serving a public subnet of 5 addresse

[2022-05-11 09:53] Parkers145 commented on #1680
Last post, sorry the adhd is in full force, that top 1u, i purpose built to function in a “router” capacity. It’s running a e3-1225, 32 gb of ram and an intel qat card, it’s been a side project of mine for awhile it has 6x 10gb nics and the boards are cheap.  The quick assist card is supposed to be able to do vpn offloading at 20 gb/s and I can swap it for a 100gb card, I think it could be used in

[2022-05-11 16:04] coesensbert opened #1693 "ZOS only seems to be using the first SSD for deployments"
When trying to deploy a vm with 2.5TB of SSD storage capacity (BSC full node), we seem to have stumbled upon an issue where it does not seem to be possible to use more then the first physical SSD in a server.

We mostly tested on mainnet node 293, 303 & 306. These have 7.68TB of SSD storage. When I deployed an ubuntu container (where you can see the host root size) it looked like these servers hav

[2022-05-11 16:14] xmonader commented on #1693
CC: @muhamadazmy @OmarElawady

[2022-05-12 04:07] Parkers145 commented on #1680
its late i hope this is right.

![image](https://user-images.githubusercontent.com/44621168/167990151-3f6a4fea-2d64-4a79-9ecf-c8a948ee0d2f.png)

also I’m 12 hops from vienna1 at 134ms and 19 hops from lochrist at 154ms

[2022-05-12 07:11] muhamadazmy commented on #1672
@sameh-farouk can you confirm and close this issue

[2022-05-12 07:47] muhamadazmy commented on #1682
Can you be more specific about the `installed` resources? The idea is that a farmer shouldn't care or worry about what kind of capacity is used by users. But he can still know how many and what contracts are active on his node by checking the block-chain. (get active contracts on a specific node id). But this won't expose the actual workloads (vms, disks, zdbs, etc...) that are actually being used

[2022-05-12 07:49] muhamadazmy commented on #1683
This is already available on devent (by #1685) can you let me know if this works now as expected. Note that you need to set a new flag on the signing requirements as here https://github.com/threefoldtech/zos/pull/1685/files#diff-0a4e4eed3135a62c73cdb0bbf6f8992bf8d797ee12e4c2c9992177e4f5b458d1R245

[2022-05-12 07:52] muhamadazmy commented on #1686
Thank you! Updated :)

[2022-05-12 07:52] #1686 closed, assigned to nobody

[2022-05-12 07:54] #1680 closed, assigned to muhamadazmy

[2022-05-12 09:12] coesensbert opened #1694 "Lost 2 VM's on mainnet while chain contract state is "Created""
Deployed big BSC full node VM on ZOS node 306 (GE), let it sync overnight while it suddenly became unavailable the next night at 3:28 CEST.

Terraform:
[code]

Terrafor show:
[code]

On chain contract is in state enabled: https://graph.grid.tf/graphql

[code]

Loki logs for node 306: https://mon.grid.tf/explore?orgId=1&left=%5B%221652306728790%22,%221652344671490%22,%22Loki%22,%7B%22refId%22:%22A%

[2022-05-12 11:21] sameh-farouk commented on #1672
@muhamadazmy will verify it today isa

[2022-05-12 14:11] OmarElawady opened #1696 "Multiple public nodes causes inconsistent chain state which causes the deployments to regularly fail"
terraform interacts with only one public node. But when the deployment arrives to zos, sometimes it doesn't find the deployment and fails with the error `workload 0 failed within deployment 1414 with error failed to get deployment contract: contract not found: object not found`. This may be caused by the zos node querying a different node which is not in sync with the latest in the node the terraf

[2022-05-12 14:14] muhamadazmy commented on #1694
I am so sorry for your loss. I started an investigation on what can caused this. Unfortunately duo to a bug the `reason` of the deletion was not stored correctly so I am not sure what triggered a full deployment deletion.

Deletion of the entire deployment can happen for one the following reason
- Contract cancel even received from the chain
- API call to delete the contract but this has to be don

[2022-05-12 14:22] coesensbert commented on #1694
No problem, it's just a VM, it's not even 'real' ;)

Redeployed the test vm on node 315

The bscfullnode vm (that was on node 306) is redeployed now on node 313

[2022-05-12 16:36] archit3kt opened #1697 "ro mount of flist failed: exit status 1"
Hi,

I tried three times a typical 1 vCPU 2 GB RAM terraform deployment of the flist tf-official-vms/ubuntu-20.04-lts.flist on my testnet node 95

It is failing with this error

Was working great two days before :(

main.tf file

[code]

[2022-05-12 19:18] muhamadazmy commented on #1697
Can u provide a screenshot of logs view `Alt+f2`

[2022-05-12 19:38] archit3kt commented on #1697
I launched a new deployment to get fresh logs

![Capture](https://user-images.githubusercontent.com/32200831/168155950-d9cb04ef-f54c-4136-936b-1958f71b72a1.PNG)

![Capture2](https://user-images.githubusercontent.com/32200831/168155994-6cd3ba8b-69af-4296-ae16-f020af72bced.PNG)

[2022-05-13 10:32] #1684 closed, assigned to muhamadazmy

[2022-05-15 14:35] sameh-farouk commented on #1697
+1 I started to see this error for the first time on May 12, when deploying Owncloud using terraform.
deployment will succeed eventually after a couple of retries.

[main.tf file](https://github.com/threefoldtech/owncloud_deployer/blob/main/docker/tf_source_module/main.tf)

[2022-05-15 15:31] sameh-farouk commented on #1654
I can confirm that the `shutdown` command works, while by using `shutdown -r` the VM won't back online.

Is there any proper fix yet? there is no guarantee that a user won't try to reboot his VM for any reason. then it will end up with an unreachable machine.

can you check this suggestion https://github.com/cloud-hypervisor/rust-hypervisor-firmware/issues/140#issuecomment-1102716891

[2022-05-15 16:06] sameh-farouk commented on #1672
Hi, how to verify this one without a node restart?

is restarting the VM sufficient?

[2022-05-16 06:55] muhamadazmy commented on #1697
@sameh-farouk can you provide a node id where this fails on one of our farms so I can investigate deeper ?

[2022-05-16 07:00] muhamadazmy commented on #1697
Also @archit3kt i see from your node public logs the node can not use of of the node disks /dev/sdc because it already has a filesystem
![image](https://user-images.githubusercontent.com/10920323/168536823-91e7a167-b4ad-4deb-9495-29077625266d.png)

[2022-05-16 07:04] muhamadazmy commented on #1697
@sameh-farouk the only change I see around this time in storage is regarding virtual-disks allocation. But i can't see how this might affect flist functionality. Anyway, can you tell me when node id has the issue. Better a node on our farms so I can actually lock inside.

[2022-05-16 07:07] muhamadazmy commented on #1696
Which environment is this. On production we found a node that was lagging behind (many days) and caused all kind of problems when zos lands on it by accident.

I am wondering if other public nodes might have the same issue on other networks.

Anyway, there was a fix (13th May) that will make zos only accept nodes that can be max of 2 blocks behind. Can you verify if this is still an issue after th

[2022-05-16 07:10] OmarElawady commented on #1696
It's mainnet, this is the main [issue](https://github.com/threefoldtech/terraform-provider-grid/issues/235) in terraform. Will make a go script to test this.

[2022-05-16 09:26] #1693 closed, assigned to muhamadazmy

[2022-05-16 10:50] #1654 closed, assigned to muhamadazmy

[2022-05-16 11:23] AhmedHanafy725 commented on #1683
I was trying to verify this issue, but I got `failed to verify signature` when signing with polkadot extension

challenge hash: `dc15904c5f84d7b0f7b03732ac65bad2`
address: `5DVBMsUfxwFm36ykq6s6zTQa3Mf1HcpkK3i2zAhystvdbCXR`
keypairType: `ed25519`
signature:
[code]
payload:
[code]

[2022-05-16 13:13] muhamadazmy commented on #1683
Okay, I think the problem is that you didn't include the `signature_style` in the challenge before signing.
Please fix this in the type script code and try again.

For reference
https://github.com/threefoldtech/zos/blob/main/pkg/gridtypes/deployment.go#L260

[2022-05-16 13:20] sameh-farouk commented on #1654
Verified on ef480d329f8f268d9e6ee148bb3e7a2d6aaf292f
[code]

[2022-05-16 13:24] sameh-farouk commented on #1672
**verified** on ef480d329f8f268d9e6ee148bb3e7a2d6aaf292f. tested on Devnet with VM on node 3 . data still exists after rebooting the node.

[2022-05-16 13:24] #1672 closed, assigned to muhamadazmy

[2022-05-17 07:28] #1687 closed, assigned to nobody

[2022-05-17 09:24] LeeSmet opened #1704 "Improve internet connectivity check"
https://github.com/threefoldtech/zos/blob/main/cmds/internet/main.go#L55-L70

2 things:

- if the check fails it immediately logs an error, even though it might take a while for DHCP to hand out an IP. This causes error logs to appear during node boot, which confuses users. It would be better to track the duration since we started checking internet connectivity, and if the time since start of test

[2022-05-17 09:28] AhmedHanafy725 commented on #1683
**Verified**
Polkadot extension works with hex-encoded hash only, so after this PR #1703, it worked well.

![extension](https://user-images.githubusercontent.com/41957921/168776885-f1280345-a9a7-4d34-9b75-4bc7b7c3e3b5.gif)

[2022-05-17 09:28] #1683 closed, assigned to muhamadazmy

[2022-05-17 11:24] #1664 closed, assigned to muhamadazmy

[2022-05-18 10:38] muhamadazmy commented on #1665
Can you provide the following information:
- Network (production, testing, development)
- Node ID that has this issue
- This issue is kinda old, what is the current state of the node? Waiting for ipv6 slaac ip maximum wait is 2 minute. When u say it's waiting too long for Ip how much is how long, and does it eventually resolve ? or the node still stuck
-

[2022-05-19 10:17] muhamadazmy opened #1707 "ssd over allocation only when there is no more free ssds."
Currently ZOS prefer to over allocating the available SSD over start using a new SSD. For example if we have 2x500 GB disk, and we always have overallocation factor of 2. then ZOS will use the first disk up to 1T before trying to use the second disk for new allocations.

It would improve if we instead, used ALL available disks first before we start over allocating

[2022-05-23 07:08] muhamadazmy opened #1709 "support new status `paused` on workloads types that can be paused"
- Not all workloads are pause-able.
- Non pause-able workloads need to stay in created state.
- Pause-able workloads can come into `pause` state when requested by zos.
- Support resume for workloads that are pause-able.
  - Resume should not reset workload state by any means.

[2022-05-23 07:09] muhamadazmy commented on #1709
This can be a good chance to clean up the provisioners code since all provision code now is part of a single Provisioner object which knows how to do everything. This makes it harder to implement specific feature to a single workload type.

[2022-05-23 07:12] muhamadazmy commented on #1709
Related to https://github.com/threefoldtech/home/issues/1243

[2022-05-23 07:37] muhamadazmy opened #1710 "Handle GracePeriod events raised by the grid to the nodes."
On receive of the pause, or resume event for a contract the node need to handle the event and set the contract in the right state

- Depends on #1709
- Related to https://github.com/threefoldtech/home/issues/1243

[2022-05-24 05:12] scottyeager commented on #1665
These nodes were on mainnet. Seems issue is resolved since I'm not seeing any more reports lately. Based on my memory, some nodes were taking two hours or more to get network config. Will close for now and reopen if needed.

[2022-05-24 05:12] #1665 closed, assigned to muhamadazmy

[2022-05-24 11:54] coesensbert commented on #1680
Hi @Parkers145 , thanks for your extensive reply.
For now we would prefer to go with data center operated nodes due to reliability. We added your peers to our monitoring and if they appear stable over time we will add them to the list. Thanks for you enthusiasm and effort!

[2022-05-24 14:11] Parkers145 commented on #1680
Copy that sir, now it’s a mission 😂

[2022-05-25 00:39] scottyeager opened #1712 "Bump virt-what version"
A farmer reported that his Microsoft Surface devices were improperly detected as VMs by Zos. Upon inspecting `virt-what` source code used to determine if a node is virtualized, I found that an update between the current version and latest version of `virt-what` fixes the issue. In short, any device with Microsoft listed as manufacturer is flagged virtual in 1.20, whereas 1.22 also includes a check

[2022-05-25 04:53] scottyeager opened #1713 "Uptime reporting violation created by node"
Farmer did not mint tokens for node 2634 on mainnet for the April period. @LeeSmet checked and noted an uptime violation for this node. The farmer has several other nodes with the same hardware config which minted normally. Opening this issue to track any investigation and discussion of why Zos might produce this behavior.

[2022-05-29 04:03] xmonader opened #1715 "failed to open hypervisor /dev/kvm failed to create vm, no such file or directory"
![image](https://user-images.githubusercontent.com/64129/170851629-4be0bde7-12e5-412c-a924-6af7426311c1.png)

[2022-05-29 11:29] LeeSmet commented on #1715
Missing /dev/kvm would indicate that virtualization is not enabled in the bios. Nothing we can really do about that although zos can easily check if this file exists and return a "nice"error message which could be interpreted by clients.

On another node, we might want a "capabilities" endpoint in zos, where a client can query the available options for the node. Running a VM might be one of those.

[2022-05-30 08:21] xmonader commented on #1715
can we have some sort of protection against this one please @muhamadazmy ?

[2022-05-30 09:43] muhamadazmy commented on #1715
We as @LeeSmet suggests, add a check on /dev/kvm to return a nicer error. I don't think stopping the node from registering is a good idea because the node can still provide `storage` via 0-db but then registering won't be fair because it will be rewarded for cpu and memory while not being usable at all because of lack of virtualization.

This need more discussion

[2022-05-30 09:45] muhamadazmy commented on #1713
@LeeSmet can you explain what kind of uptime violation was detected ?

[2022-05-31 19:10] scottyeager commented on #1713
The minting code compares the timestamp delta to the uptime delta to detect violations. So, if the node reports more accumulated uptime than the elapsed time since the last uptime report, that's a violation.

[2022-05-31 19:50] scottyeager opened #1717 "Zos reports high CPU usage"
Farmer sees the following on the Zos console, indicating high CPU usage but no CRU reserved. Node's power draw as measured with power meter is normal for idle state and not indicating high load either.

![image](https://user-images.githubusercontent.com/17682591/171272806-5bcc06b5-0679-440a-acc6-61663705596c.png)

[2022-06-01 07:45] #1707 closed, assigned to muhamadazmy

[2022-06-01 07:45] #1710 closed, assigned to muhamadazmy

[2022-06-01 07:45] #1673 closed, assigned to OmarElawady

[2022-06-01 09:10] xmonader commented on #1715
After discussion we agreed on stopping zos from registration

[2022-06-01 09:43] ramezsaeed commented on #1718
@OmarElawady @muhamadazmy
please check if we can close this.

[2022-06-02 14:33] ashraffouda commented on #1715
https://github.com/threefoldtech/zos/pull/1719

[2022-06-03 18:08] Nelson361 opened #1721 "SSD capacity spoofing"
I bought a clearly fake1tb SSD just to see how easy it was to fake capacity.  Testing shows it was much smaller than 1tb but the explorer reports it as 1tb. This is done through a fraudulent firmware installed on the SSD. It may be possible to detect the relatively few models of this out there and blacklist them in lieu of an actual utility to measure capacity in the short term. I have disconnecte

[2022-06-07 09:02] #1718 closed, assigned to OmarElawady

[2022-06-07 09:12] muhamadazmy commented on #1721
There is currently a "work in progress" procedure to verify reported capacity. once fully implemented, this won't be possible anymore

@maxux

[2022-06-07 12:04] muhamadazmy opened #1729 "use new `rmb` instead of the current version used in the node"
Crrent the zos node uses the go implementation of rmb [go-rmb](https://github.com/threefoldtech/rmb_go). This was done by embedding this version of rmb directly into the `noded` daemon.

We need to move away from this version and instead run the stand-alone `rust` version directly on the node.
What need to be changed
- create a zos package for `rmb`
- drop go-rmb from code
- start rmb process in p

[2022-06-07 14:28] muhamadazmy opened #1730 "support for booting into QAnet"
This require
- [ ] Different binary releases for all 3 networks (this will probably require refactoring of the github workflows)
- [ ] Bootstrap service need to know about new network to be able to download proper binaries
- [ ] zos upgrade daemon and enveironment need to learn about new network to be able to upgrade properly

[2022-06-08 14:37] Omarabdul3ziz opened #1732 "node 74 on test net failed to mount flist"
tried several times to deploy discourse flist https://hub.grid.tf/rafybenjamin.3bot/threefolddev-discourse-v4.0.flist on node 74 on test net and got this error
![Screenshot from 2022-06-08 13-24-29](https://user-images.githubusercontent.com/32527347/172643910-90f98e8e-cc2c-4fcd-bd00-513e48e45184.png)

the same flist deployed and worked successfully on node 1 at the test net. also, another flist de

[2022-06-09 21:16] scottyeager commented on #1713
Farmer reports that this node did not mint again for May. @LeeSmet can you check if it was an uptime violation again?

[2022-06-09 21:17] scottyeager commented on #1581
Indeed, funding the wallets for these nodes cleared the issue and they were able to register successfully. I have not seen this issue occurring anymore.

[2022-06-09 21:17] #1581 closed, assigned to nobody

[2022-06-12 14:18] AhmedHanafy725 opened #1739 "Can't ssh to the machine deployed on QAnet"
tried to deploy vms on QAnet, but can't ssh to them, it always gives `No route to host`
node_id: 3
contract_id: 7
deployment payload:

[code]

[2022-06-14 09:49] coesensbert commented on #1739
Can't reproduce, tested all 4 nodes with ipv4, 6 and ygg.

Could you deploy and send an ip for us to test?

[2022-06-14 09:53] AhmedHanafy725 commented on #1739
it was solved yesterday on this PR https://github.com/threefoldtech/zos/pull/1742

[2022-06-14 09:54] #1739 closed, assigned to muhamadazmy

[2022-06-14 11:39] LeeSmet commented on #1713
Yeah another violation. To give an example, for the one detected now:

In block 1,817,281, the node reports an uptime of 1,094,689 seconds at block timestamp 1,651,690,050.
In block 1,817,282, the node reports an uptime of 1,094,688 seconds at block timestamp 1,817,282,056.

As you can see, even though the chain advanced 6 seconds, the uptime of the node supposedly decreased by 1 second. This is t

[2022-06-15 10:17] LeeSmet opened #1745 "Nodes stop reporting uptime after an error"
Example: node 415 on production

The node had a failure to report uptime on Tuesday 14th of june, 3:50 AM  CEST. After this, no more uptime reports were send to the chain. There are multiple nodes with active workloads ( so we know the node is up ), which are reported to be down as they don't send uptime events anymore. Note that this node still sends capacity reports.

Since the minting checks fo

[2022-06-16 08:09] dmitri-alleo opened #1763 "Too many authentication failures"
When trying to connect via Ygg IP to the node/VMs, it throws this error,
[code]

Same with the public IP
[code]

Node: 203,
Env: Testnet
Grid: v0.1.32

[2022-06-16 11:24] #1709 closed, assigned to muhamadazmy

[2022-06-16 11:24] #1715 closed, assigned to ashraffouda, muhamadazmy

[2022-06-16 11:24] #1730 closed, assigned to muhamadazmy

[2022-06-17 14:15] muhamadazmy commented on #1745
The node seems to be pushing uptime now. I will close this issue but please reopen if it happens again.

[2022-06-17 14:15] #1745 closed, assigned to nobody

[2022-06-20 13:34] coesensbert commented on #1732
https://github.com/threefoldtech/grid_weblets/issues/753#issuecomment-1154933218

[2022-06-20 15:11] coesensbert opened #1750 "VM workload became unreachable"
The following vm workload is running on node 313 but all services running on it became unreachable on 17 June around 4:40 CEST.

[code]

The public ip still answers to pings, but nothing more:

[code]

Loki's node logs: https://mon.grid.tf/explore?orgId=1&left=%5B%22now-24h%22,%22now%22,%22Loki%22,%7B%22refId%22:%22A%22,%22expr%22:%22%7Bnetwork%3D%5C%22production%5C%22,node%3D%5C%22313%5C%22%7D%22

[2022-06-21 00:12] scottyeager opened #1751 "Zos should not complete boot without virtualization enabled"
Farmers have reported seeing the following errors when attempting to make deployments on their own nodes:

![image](https://user-images.githubusercontent.com/17682591/174691197-2bf59900-f47f-4617-b684-d55961656d57.png)

![image](https://user-images.githubusercontent.com/17682591/174691281-0b4df16c-9648-4f4e-921e-8d80a23f62a8.png)

In both cases, the issue was resolved by changing mainboard setting

[2022-06-21 00:46] Nelson361 commented on #1751
This issue probably is present is a very large percentage of the online 3nodes.  It would appear that by default virtualization or SVM is only on by default in commercial servers and Intel NUCs. In my farm none of the Lenovo mini PC's or my towers can deploy a VM.  If this patch is done abruptly, I would guess a third of the network will go offline.

[2022-06-21 15:18] rkhamis commented on #1763
@dmitri-alleo please send the steps and scripts used so we can debug.

[2022-06-22 09:38] LeeSmet commented on #1750
Issue happened as result of SSD overprovisioning:

VM1 has a 1.7TB disk
VM 2 has a 100GB disk

these disks were allocated on the same 1.75TBish disk on the host, causing both vms to die at the same time when the host became full

[2022-06-22 10:01] LeeSmet opened #1752 "Show if zos is set up in single or dual nic mode"
Currently there is no way to see if zos uses a dual nic network setup (br-pub on second physical nic) or a single nic setup, and what physical interfaces are used for which bridge. Exposing this (e.g. in zui) would be useful to debug network related issues on nodes which are (supposed to be) dual nic

[2022-06-22 10:09] LeeSmet opened #1753 "Dual nic network setup is inconsistent"
Sometimes a node booted with 2 nics attached will have its network setup in a single nic mode. This causes problems with public configs, and possibly public IP's set on workloads, as these environments also tend to have separate VLAN's for each nic in the switch. An example of this is node 320 on mainnet. There are also at least 2 other nodes in this farm which have this issue. Note that this node

[2022-06-22 10:12] LeeSmet commented on #1750
Should be fixed in https://github.com/threefoldtech/zos/releases/tag/v3.0.25

[2022-06-22 10:12] #1750 closed, assigned to nobody

[2022-06-23 08:56] muhamadazmy commented on #1753
I have a theory why this might happen. first time `networkd` starts after booting it will create the `br-pub` bridge (regardless it starts in single nic or dual nic modes) but hence it has to decide how this bridge is going to be wired to either the zos bridge or the 2nd nic.

The detection is based on some criteria as follows:
- it has to be a physical disk
- it has to be "wired"
- and nic must n

[2022-06-23 09:38] LeeSmet commented on #1753
There are 4 physical, wired nics, 3 of which are not attached. There is no IPv6 in the farm, other nodes are in a good setup, so Slaac does not seem to be the problem

[2022-06-23 13:57] sabrinasadik opened #1754 "Look into possible bug which causes some nodes to have a violation of uptime"
Example: see https://github.com/threefoldtech/tf_support/issues/337

Some nodes are showing a higher reported uptime than possible, which causes them not to receive any tokens for the minting. Is this an issue related to zos?

[2022-06-24 08:36] muhamadazmy commented on #1753
Actually after reviewing the code it seems currently we filter ONLY on slaac enabled nics to use as exit for br-pub bridge. The thing is there was another bug in how we process the errors that caused to some "invalid" (according to the current filtering) to be selected.

The bug is now fixed (in code) which means that now ALL nodes in this farm will no longer have dual nic setup (at least the ones

[2022-06-27 09:22] VenyaPanou opened #1762 "TC358. Actual speed is less than expected"
Actual speed :
root@vm:~# fio fiorandomreadlatency.fio
job1: (g=0): rw=randread, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=libaio, iodepth=1
fio-3.16
Starting 1 process
Jobs: 1 (f=1): [r(1)][100.0%][r=10.7MiB/s][r=2742 IOPS][eta 00m:00s]
job1: (groupid=0, jobs=1): err= 0: pid=1227: Mon Jun 27 06:53:37 2022
  read: IOPS=2732, BW=10.7MiB/s (11.2MB/s)(1281MiB/120001msec)
    slat

[2022-06-27 10:00] muhamadazmy commented on #1753
Okay, after discussion with @delandtj here is what we come up with:

## Requirements
- [x] **Some** nodes may contain public config, if exists this node can be used as a wireguard access point. This is a special case, where the generic case is that no public config specified.
- [x] All nodes always has `br-pub` this is bridge that is used by VMs that has public IPs.
  - [x] All nodes in a farm tha

[2022-06-27 10:02] muhamadazmy commented on #1753
This PR fixes the bug with the detection, plus required changes to show state of dual setup on UI

https://github.com/threefoldtech/zos/pull/1756

[2022-06-27 12:37] dmitri-alleo commented on #1763
@rkhamis here is the excerpt from the Terraform script

[code]

after the deployment is done and IPs are generated and you're trying to SSH into any of the VMs, it throws the error mentioned above

[2022-06-27 13:15] xmonader commented on #1762
please attach the fio script

[2022-06-27 13:16] xmonader commented on #1762
could be related to https://github.com/threefoldtech/zos/issues/1467 @muhamadazmy

[2022-06-27 13:35] dmitri-alleo commented on #1762
@xmonader

The configuration
[code]

And then we use it via
[code]

[2022-06-27 21:53] scottyeager commented on #1713
Nodes should only report uptime every two hours, or maybe sooner if they did reboot. But never twice in two subsequent blocks. Assuming that `/proc/uptime` is behaving properly (i.e. returning monotonically increasing values), I suspect something like this is happening:

1. Zos begins writing uptime X to TF Chain
2. For some reason, a second attempt to write uptime is initiated, now with uptime X

[2022-06-28 11:14] coesensbert opened #1759 "Mainnet: lost internal networking (wg) on multi deployment."
We have the following vm's running on mainnet Farm 77. They are all inside an internal subnet 10.42.0.0/16.
https://gist.github.com/coesensbert/669f04271f898b1a4a59ea818cd32dd3

After a few days after deploying the tfchainmainpub040X nodes stopped connecting over the internal subnet. This is needed because one of the nodes is a caddy loadbalancer that exposes the other public tfchain nodes over th

[2022-06-29 11:16] muhamadazmy opened #1760 "use only TF yggdrasil peer list"

[2022-06-29 13:27] #1760 closed, assigned to muhamadazmy

[2022-06-30 11:13] muhamadazmy commented on #1759
Here what I found:
- I choose node 312 to check why 311 can't establish a wire-guard handshake to that node.
- First I was trying to find the listening ports inside the `public` namespace. Since node 312 has public config all wireguard endpoints then must point to this node `public-ip:<wg-port>`
- First thing I noticed was that the endpoint port `6085` was not listening inside the `public` namespa

[2022-06-30 11:15] muhamadazmy commented on #1759
Duo to some intensive intervention to try to find out the issue, I had to reboot the node!

[2022-06-30 11:48] muhamadazmy commented on #1759
After the node is back to normal, and the wg port is listening inside the public namespace. the only problem was the `br-pub` was not wired correctly but there is another new PR to fix that.

[2022-06-30 11:49] LeeSmet commented on #1759
Yeah this is consistent with some things I saw as well.

Public config was created a long time ago, (before node start), so this is for sure not the case.

[2022-06-30 11:50] LeeSmet commented on #1759
Possible race condition in setting up the pub namespace?

[2022-06-30 12:31] muhamadazmy commented on #1759
No, the public namespace is created once the public config is set on the grid. I assume it was setup way before the deployment was created

[2022-06-30 13:54] muhamadazmy commented on #1759
Okay, stating the facts we have so far:
- Node public config (namespace) was created on the 16th of Jun. that's according to logs and time stamps on config files on the node itself.
- The contracts for this deployment seems all to have been created on the 15th of Jun. So it's obvious that those contracts happened before the node had it's public config "applied" to the node state.
- The only way th

[2022-06-30 14:26] muhamadazmy commented on #1759
Seems the answer for the million dollar question is that the deployment was working fine so it's definitely not a missed event. ALTHOUGH it will be a good idea to not depend only on the event, and also check the grid like every 30 min for config changes.

## Importnat
We need to test what happens when a NR is updated with a new wiregurard port. This will properly trigger an undefined behavior. IMH

[2022-07-05 08:03] #1752 closed, assigned to muhamadazmy

[2022-07-05 14:01] coesensbert commented on #1759
Private networking seems to work again, thx!

[2022-07-07 12:30] coesensbert commented on #1759
Another different multi deployment via Terraform with a broken internal network setup. All nodes can reach each other internally but the public gateway node (which hosts the wireguard enpoint to connect your client) can't reach the vm's internally.

Node 422 in Farm 74

[code]

Wireguard client config

[code]

[2022-07-07 13:36] muhamadazmy commented on #1759
@coesensbert that was duo to nodes using the wrong nic for public traffic. this issue was solved in https://github.com/threefoldtech/zos/pull/1756 but not yet available on mainnet

[2022-07-07 13:55] coesensbert commented on #1759
Ok thanks @muhamadazmy !

[2022-07-08 07:51] muhamadazmy commented on #1763
This is not a ZOS issue. Being able to connect means networking part is working. the authentication error might be related to the flist used.

Can u try with one of the official images here https://hub.grid.tf/tf-official-vms

[2022-07-08 07:54] muhamadazmy commented on #1762
Can you please provide information about your workloads:
- Flist used
- Node id, and network id.

It's known that when using `containers` flist performance of the rootfs of the container is degraded. Instead data disk needed to be added to the container (rootfs is only to serve your image files). or instead use a VM image.

[2022-07-08 08:11] muhamadazmy commented on #1754
I checked the issue. and checked current code on mainnet.
- We already have improvement on the uptime reports. (sending the same timestamp already was not possible) but the improved reporting will make sure that the node will always report an uptime.
-  The only possible situation where I think this can happen if there are 2 (noded) daemons are running on the node at the exact same time. That is a

[2022-07-08 08:14] #1751 closed, assigned to nobody

[2022-07-08 08:18] muhamadazmy commented on #1732
@coesensbert what was the state of the node? is this still an issue ?

[2022-07-08 08:19] muhamadazmy commented on #1732
Seems it's working fine now!

[2022-07-08 08:19] #1732 closed, assigned to nobody

[2022-07-08 08:25] coesensbert commented on #1732
all resolved, thanks!

[2022-07-08 15:53] LeeSmet commented on #1754
I don't recall any uptime violations for june. There were mutliple for may and april. I don't have any way to reproduce it, it is just what the minting observes

[2022-07-12 02:54] scottyeager commented on #1754
Issue is a duplicate of #1713, which I'll close in favor of the more recent discussion here. In that case, the same node created violations for April and May. The fact that it didn't happen in June for that node, or any others, is a good sign that this was resolved by the last update.

[2022-07-12 02:55] scottyeager commented on #1713
Seems resolved, since no violations were reported for any nodes in June. Closing this issue, discussion continued in #1754.

[2022-07-12 02:55] #1713 closed, assigned to nobody

[2022-07-12 03:22] scottyeager opened #1765 "No ssd detected after new drive added"
Farmer in farmer's chat reported this sequence of events:

1. Booted node with an ssd installed fresh from the factory, running fine
2. Added another ssd fresh from the factory (same make/model)
3. Node now reports "no ssd found"
4. Wiped both disks and then both were detected, running fine again

Now it's weird that the first disk worked without wiping and the second didn't (but maybe second driv

[2022-07-13 19:27] scottyeager opened #1767 "Clearing public config fails"
On mainnet, attempting to clear the public config from a node fails with the errors seen below.

![A14D25BA-8B9C-4370-B920-63D0AED7A19D](https://user-images.githubusercontent.com/17682591/178815605-01d1ddca-48c3-43f6-a0d4-7f76cff98b5d.png)

[2022-07-14 12:15] mariobassem opened #1768 "Zlogs not working with planetary ip"
I tried to deploy a zlogs workload using a planetary ip, and it didn't stream any logs. I also tried the same configurations but with a public ip instead and the logs were streamed successfully.
I tried to investigate the issue and found that the yggdrasil service runs in ndmz network namespace, while the tailstream service runs in another network namespace (n-87jwedc3tytHS in my case) and this na

[2022-07-14 14:05] LeeSmet commented on #1233
To my knowledge we don't support direct k3s deployments in zos anymore

[2022-07-14 14:05] #1233 closed, assigned to nobody

[2022-07-15 04:56] scottyeager opened #1769 "SSD sometimes changes to HDD while node is running"
Farmers occasionally [report](https://forum.threefold.io/t/ssd-miraculously-moves-from-sru-to-hru/3099) that SSD which was properly detected at boot is later labeled as HDD by Zos. Usually rebooting corrects the issue, but farmers then receive incorrect rewards for the entire period.

I would think this should not be possible due to https://github.com/threefoldtech/zos/issues/1644, but I can't ver

[2022-07-19 08:07] muhamadazmy commented on #1765
This is a weird issue because adding a second disk "shouldn't" make the node suddenly show "no ssd found" because the first disk is still there. if the 2nd disk was not detected you should see that the total size of SSD space was not changed.

Q: I am wondering how the SSD was attached to the node? was the node powered off? ZOS doesn't support hot plugging of extra disks (a full node power recycle

[2022-07-19 08:23] muhamadazmy commented on #1767
Actually clearing public config is not supported. The node can't revert having public config cleanly (at the moment).

@delandtj do you think this is a valid use case that need to be handled?

[2022-07-19 08:28] muhamadazmy commented on #1767
The problem is the `public` setup on the node is not revertible on the fly without breaking user networks on the node (wireguard) so to support this we give the farmer an option to modify user setups.

Anyway, the cleanist solution I can think of to is the node can "clean up" config state then reboot itself. This will force the node to have a "working" networking stack. But still affect user netwo

[2022-07-19 08:30] delandtj commented on #1767
The public config is solely there for giving networking to the private networks. A Farmer can opt out of that and use his public IP's just for VMs. He can also only add an IPv6 public config (you know, IPv6 first, IPv4 as an afterthought).
Either way, it is advisable to have a few (not necessarily for all nodes in the farm ) IPv4 public addrs on nodes for the Private network mesh and the farmer wi

[2022-07-19 08:33] delandtj commented on #1767
Even more, once some WG connections are established, I would make sure we can't delete the public IP addrs any more, as it will break the networks.

[2022-07-19 08:42] muhamadazmy commented on #1768
We can't run tailstream inside ndmz. The reason we run tailstream inside the `user` network namespace is to be able to stream the logs to other user private VMs. Hence running inside ndmz is not possible, otherwise this feature will not work.

In the matter of fact, it was never claimed that using YGG ip is possible with tailstream. Tail stream can only stream logs to:
- real public ips (v4, or v6

[2022-07-19 08:42] #1768 closed, assigned to nobody

[2022-07-19 10:22] muhamadazmy commented on #1769
The persisted seektime is already available on mainnet. Can I have the node ids that had this issues? How do the farmer find out that the ssds are detected as hdd?

[2022-07-19 13:03] muhamadazmy commented on #1767
Yeah, that's the main problem at the moment. Even if we rebooted the node to cleanely rebuild the network. The user still think his network still uses this specific public IP.

The thing is we can't prevent the user from "unsetting" the public config on the chain. and it's gonna be impossible to report back a setup error to the farmer. unless he checks the zos screen maybe.

[2022-07-19 14:34] muhamadazmy commented on #1767
I was thinking if both `rebooting` and/or deleting the public namespace will break user networks anyway. And there is no way we can prevent the farmer from deleting the node public config on the chain then may be it's just better to delete the namespace. user networks will stop working in both cases. it's up to the user to reconfigure his deployments once this happens!

What do u think? @delandtj

[2022-07-20 00:42] scottyeager commented on #1767
Thanks for the discussion guys. Not supporting removing the public config without a reboot makes sense to me, but I saw the errors suggesting that Zos was attempting it.

It's definitely bad news if a farmer does this while workloads are using the gateway. With that in mind, it's probably best that a reboot is required, so the farmer has a chance to "undo" before any workloads are broken if they r

[2022-07-20 10:47] muhamadazmy opened #1770 "sometimes nodes stop updating uptime"
This happened after the chain wasn't reachable for 30min on QA net

[2022-07-20 11:27] #1770 closed, assigned to muhamadazmy

[2022-07-20 12:33] shng4you opened #1772 "The node got stuck after rebooting."
The node is running well(node id 1477), but unfortunately, after rebooting, the node got stuck here.
![image](https://user-images.githubusercontent.com/95933607/179982608-2b446d27-d369-4a2e-801a-04afd21573cb.png)

[2022-07-22 02:00] scottyeager commented on #1765
Yes, I didn't think this matched expected behavior, but I wasn't 100% sure. I'll go ahead and close this as a one off that was resolved by wiping the disk.

[2022-07-22 02:00] #1765 closed, assigned to nobody

[2022-07-22 03:38] scottyeager commented on #1769
That was on node 2098. Farmer noticed coincidentally while checking public ip config in the explorer. Possibly the change happened a while ago before seek time persistence was implemented.

[2022-07-22 08:09] muhamadazmy commented on #1772
Wow, that's a panic. It's not stuck! It's dead!
- How much memory does this node has?
- Was there any changes to the node hardware? (attached new device or replaced something?
- What is the boot method to zos?
- Have you tried restarting the node?

[2022-07-25 09:42] muhamadazmy commented on #1767
@scottyeager the reboot is done automatically once the farmer unset the public config. The node clears the config and immediately take the reboot action.

The node need to destroy the public config immediately once it's unset because it's not granted that the ip is reused by something else or another node then can cause even more harm. Hence after config is removed, the node immediately clean up a

[2022-07-25 09:47] muhamadazmy commented on #1572
Closed in favor of threefoldtech/home#1358

[2022-07-25 09:47] #1572 closed, assigned to nobody

[2022-07-25 12:31] teis-e commented on #1772
Hello @muhamadazmy,

The processor was the issue for this node, but i got another problem.
![download](https://user-images.githubusercontent.com/89307927/180777668-43760421-e2e3-48d2-adf2-1b8726171d3b.png)

This node has 0 error in the manegament log, the other one did (CPU error).

[2022-07-26 05:15] scottyeager commented on #1767
Understood @muhamadazmy. I agree that preventing user error by farmers is better done in the front end. Have opened an issue on the dashboard repo with your recommendation.

[2022-07-26 08:00] muhamadazmy commented on #1580
Just to clarify, we should use tpm mainly to "store" the node key securely not to use it to sign/verify. This operation should then be done without depending on external context files or other files from storage (unless those files can be generated again with the same tpm device).

[2022-08-01 08:01] muhamadazmy commented on #1580
So far i have reached here:

Those are done first time to only
[code]
After that, the object need to be loaded to be unsealed

Note: after a reboot the primary.ctx need to be re-created with `tpm2_createprimary`

[code]

The problem is we still need to persist the `seal.*` files on disk. They are not usable on other machines but we might lose them. I am still looking into a way to store them on th

[2022-08-02 15:29] coesensbert opened #1775 "IPv6: two default IPv6 routes set inside VM's"
During tests of GE farms for IPv6 we noticed the following (using cloud-init VM's: Ubuntu 20.04 & 22.04).

- IPv6 ping works well
- logging in over ssh with the IPv6 did not work.

While tcpdumping we saw the ssh request where coming in to the public interface, but reply's where send via the private interface. For ICMP, those reply packets are routed correctly trough the public interface. Most VM'

[2022-08-02 15:37] LeeSmet commented on #1775
A thing to notice here is that the default route for IPv6 has nexthop for both public and private IP, which is likely what causes the problem. This is probably a result of https://github.com/threefoldtech/zos/blob/8ba3b00df5973f778c9e7d36ae75fbcf7eb047a6/pkg/vm/manager.go#L189-L197, where the default gateway on IPv6 is set for all interfaces unconditionally, unlike for IPv4.

[2022-08-04 09:52] coesensbert opened #1776 "Public DNS requirement for public namespace"
It seems that a DNS server that is used by ZOS is acquired by the DHCP via the dmz interface. The DNS is stored in /etc/resolv.conf and also used by the public namespace.

While fixing [yggdrasil related issues](https://github.com/threefoldtech/tf_operations/issues/1031) we discovered that if a ZOS node has a public config and a private DNS IP is used, the public namespace can't resolve. The reque

[2022-08-04 10:46] delandtj commented on #1776
I would default for a standard public IP like 8.8.8.8 and 9.9.9.9 to make sure we don't overlap with private nets.
But:
it's actually simple : we start ygg with an `ip netns exec` command, so the `ip` command also bindmounts `/etc/netns/public` to `/etc/` in the ns for the exec'd command.
So 'just' creating a file `/etc/netns/public/resolv.conf` with
[code]
will automatically run yggdrasil with th

[2022-08-04 10:52] delandtj commented on #1776
[code]

[2022-08-04 10:55] delandtj commented on #1776
thinking more about it, we can do the same for `ndmz`, where :
[code]

[2022-08-04 12:32] #1775 closed, assigned to muhamadazmy

[2022-08-05 08:21] muhamadazmy commented on #1775
Fixed on devnet/QA.

[2022-08-09 10:08] muhamadazmy commented on #1776
@delandtj yeah, I did already (still in an open PR) for ndmz a long time ago. May be you can review this and see if we should merge it. But I do that via the udhcp script. this way the dns (of dmz) will be set as configured by the dhcp

Check it here
https://github.com/threefoldtech/zos/pull/1708/files#diff-f7a9689b964a814102c9667aa84b410c84337249febfb37b0daa1f08aafbb81f

[2022-08-09 12:38] maxux commented on #1580
Here is a script which uses same PCR and seal data into TPM without the need of local file.
Please try it locally and tell me if it works for you. You maybe need to uncomment the `tpm2_clear` to start from scratch.
Can you try a reboot and ensure you can only unseal it if PCR is the same ? Maybe try adding more PCR which changes. I don't have a machine I can reboot right now to test that.

I use s

[2022-08-10 08:15] muhamadazmy commented on #1580
I use the `swtpm` to emulate a tpm device for a VM. so rebooting is no problem

I tested your code and it works fine after a reboot and also after a complete power off and it works just fine, so thanks. I will see what I can do to change the values of the PCR without wiping the tpm data files (from the emulator)

[2022-08-10 08:17] maxux commented on #1580
I think including more PCR or some PCR which changes across reboot could do it

[2022-08-10 08:38] muhamadazmy commented on #1580
Not sure about this because the policy (as u specify it) include only PCR 0, 1, and 2 so if I added more this won't change the values of 0, 1 or 2.
So only changes to those PCRs would
So a quick test would be doing something like
[code]
which "as expected" fails.
I will see if i can change something to actually affect the PRCs values.

[2022-08-10 08:46] maxux commented on #1580
I mean, start from scratch and include PCR 1 > 7 in the `tpm2_createpolicy` I think some value above 3 will changes across reboot :)
Use same values on unseal, of course

[2022-08-10 09:11] muhamadazmy commented on #1580
Yeah, i understand. That's what i was trying to do.
Anyway, i used pcrextend command to change values of PRCs at other positions (8) and included this in the sealing policy. after rebooting i couldn't unseal until i rexetended the same banks with the same values again.

So this is great. I can work on the implementation now. Thanks @maxux :)

[2022-08-10 09:39] maxux commented on #1580
Awesome :heart:
To implement, this can maybe helps to not runs commands: https://github.com/canonical/go-tpm2

[2022-08-10 14:20] muhamadazmy commented on #1580
Yeah, i landed on this a while back. As if the commands are already not complex enough!

The good side of how to use this is that now we won't have to include the tpm2 binary, hence this will work on machines booted with older images that doesn't include the tpm command. On the other side, i now have to figure out how to basically re-write the command using the tpm2 API.

I will give it another lo

[2022-08-11 08:49] sabrinasadik opened #1780 "ZOS detected one of the disks as hdd instead of ssd"
Node 4127, see https://github.com/threefoldtech/tf_support/issues/356

[2022-08-11 10:48] muhamadazmy commented on #1780
Was the node updated? by the time of writing this comment the node still has ~4T of SSD and ~1T of HDD. Note that zos only detect disk speed on boot onetime. It doesn't rely on what the disk report as a type instead it does speed tests. It's possible that the disk is too slow or of bad quality even if it's an SSD that it will be considered as HDD

[2022-08-12 09:53] sabrinasadik commented on #1780
2nd user with similar issue.

Farm ID 138 - Clubbing bear

Node 2293 had 0HDD and 2.48TB SSD. After reboot he suddenly got a different node id (4296) with 2TB HDD and 480.07 GB SSD.

[2022-08-12 12:59] sabrinasadik commented on #1780
We asked the user of farm 138 to reboot which he did. Now Node 2293 is back online, with the right amount of HDD and SSD. Very strange behavior. Please investigate.

[2022-08-14 18:14] muhamadazmy opened #1781 "Revisit reserved cache and memory size"
Currently zos reserve 100g of the ssd storage, we need to revise this value because it's too much.

Also revise the amount of reserved memory for the system

[2022-08-16 07:17] muhamadazmy commented on #1780
@sabrinasadik i will.

What i think might have happened is that
- nodes was running already before the storage fix (to only detect disks on boot)
- then at some point the bad detection happened
- then the node got the fix, and now it stuck was latest speed tests values.
- after rebooting, the node re-detected the speed correctly, and now it's persisted and should remain.

I will still investigate

[2022-08-16 08:45] muhamadazmy commented on #1781
I had a quick conversation with Kristof about the reserved system resources. Currently we have always 100GB of ssd "reserved" for zos cache . Also a 10% with min value of 2GB of node memory is also reserved for the system.

He thinks that's too much (specially the storage) and we need to revise those values. For storage, the 100G is just a subvolume quota but it's taken into consideration while ca

[2022-08-16 09:05] muhamadazmy commented on #1781
@xmonader I suggest the following to avoid minimum change to the grid
- Right now, the node reports FULL ssd capacity as SRU. while it internally reserve 100G. Only the proxy knows about this value right now (terraform?) and makes sure to take it into account during capacity planning [here](https://github.com/threefoldtech/tfgridclient_proxy/blob/development/internal/explorer/db/postgres.go#L44).

[2022-08-17 16:03] muhamadazmy opened #1783 "substrate-client integration tests"
Changes on the grid types always break the code of the client (specially the get operations) so we need some integration tests that we can run against any environment to do "get" on all types.

[2022-08-17 19:58] xmonader commented on #1783
can this be a good issue for interns to workon?

[2022-08-18 07:42] muhamadazmy commented on #1783
I was rethinking this one actually. The main problem is that sometimes types changes on the grid but because the changes don't reflect in the data structures in this repo it keeps building but fails to decode the structures. So we actually need 2 things here:
- Generation of types from the grid metadata
- Basic integration tests for all the getters functions to make sure Get operations won't fail.

[2022-08-18 08:24] muhamadazmy opened #1784 "tpm flist for zos"
I already did work on the base image 0-initramf to build TPM in the base image of zos. But the problem with this approach is that the tpm binary will only be available for newly booted machine (with that base image)

Instead we prefer to have zos built as a runtime flist to be installed on all zos nodes. So basically what we need to do is rewrite the tpm builder scripts for zos flist

The code in

[2022-08-18 10:18] Omarabdul3ziz opened #1786 "deployments on node 186 testnet can't get ready"
when trying to debug https://github.com/threefoldtech/grid_weblets/issues/755
deployed casperlabs and other weblets with different resources and it seems that only deployments with memory 4GB or higher fail

it keeps calling the node twin 462 for 5 min and then fails
![image](https://user-images.githubusercontent.com/32527347/185370852-e9ea9124-1060-4529-8852-456167e661f0.png)

![image](https://us

[2022-08-19 07:58] muhamadazmy opened #1788 "qsfs decomission clean up"
I noticed that some nodes has qsfs error while doing a decomissions. but they all sound like an avoidable errros. It's not an error If you are deleting something that is already doesn't exist! so the code can be a little nicer during destruction to not fail if what it is trying to destroy is already not there

[code]

[2022-08-24 07:47] mohamedamer453 commented on #1767
Verified in https://github.com/threefoldtech/tfgrid_dashboard/issues/107 clearing a node public config is now possible and it's reflected in the grid_proxy after clearing the config and can be checked from there. however as seen in the dashboard issue there's only one confirmation message before signing the transaction and then clearing the config and it just mentions that your're about to delete

[2022-08-24 07:47] #1767 closed, assigned to nobody

[2022-08-26 13:10] scottyeager opened #1861 "Extra namespaces in QSFS zdb, doesn't decommission on destroy"
I've deployed the latest QSFS example with no changes to the default values, on testnet. I noticed when inspecting the created zdb that there are additional namespaces beyond those used in my deployment. After I destroyed the deployment, the zdb is still available. I've queried contracts associated with my twin and don't see any that could correspond to the zdb deployment. Is it possible that I'm

[2022-08-29 11:58] khaledyoussef24 commented on #1786
I have faced the same problem during deployment on node 47.
it timed out after 5 minutes
![image](https://user-images.githubusercontent.com/110984055/187196063-d1a8b590-17c0-4bfe-933a-51279372b0f9.png)
![Screenshot from 2022-08-29 13-57-24](https://user-images.githubusercontent.com/110984055/187196091-0a175c4a-0059-4546-986e-ed0a1d8ca958.png)

[2022-08-30 13:18] muhamadazmy commented on #1783
The actual issue is here https://github.com/threefoldtech/substrate-client/issues/35

[2022-08-31 14:33] Parkers145 opened #1791 "Nodes don’t recover from network outage"
Had an isp failure that caused my network to be down nearly 20 hours.

of my 6 nodes 4 of them were unable to recover on their own once connection was restored

nodes that didn’t recover

dev
45&49

test
219

main
3049

the non recovered nodes showed this
![EECA5945-C41C-420F-951A-5DDDED9FA14A](https://user-images.githubusercontent.com/44621168/187704025-88e794b4-3160-4797-8442-877d6c6cdcde.jpeg)

[2022-09-02 07:19] muhamadazmy commented on #1783
@xmonader can u assign to Eslam please, i don't know her github user.

[2022-09-02 11:38] sabrinasadik commented on #1780
Any updates?

[2022-09-06 07:10] muhamadazmy commented on #1791
Thank you for reporting this. I will see what i can do.

[2022-09-07 08:28] abom opened #1797 "client times out when deploying without giving any errors"
While testing some scripts on my local zos node, I got the following error:

[code]

After inspecting the node logs, I found some errors:

[code]

I expected these to be returned to the grid client, but don't know for sure if the node itself send the result and if it was dropped at any layer (rmb, proxy or even the client itself).

[2022-09-07 08:42] AhmedHanafy725 commented on #1797
This message is returned when the state of the workload didn't become `ok` within the timeout period, also it's not turned to `error` so there is no error message to be displayed.

[2022-09-07 09:14] muhamadazmy commented on #1791
@Parkers145 one question. When the network was back How long did you leave the nodes running before deciding to reboot? I can see that the nodes renew their dhcp lease every 1 hour anyway.

[2022-09-07 11:38] mohamedamer453 opened #1794 "Fqdn gateway with tls passthrough failed to start"
After creating a fqdn gateway with the `tls_passthrough` option set to `true` and the backend is a vm running a caddy server, the deployment was successful but i was not able to access it from the domain with the following error.

`This site can't provide a secure connection`

and from caddy i got these errors.

[code]

The VM & gateway were deployed on `node 3 qanet` and the created domain was po

[2022-09-07 11:38] mohamedamer453 opened #1795 "Fqdn gateway with tls passthrough failed to start"
After creating a fqdn gateway with the `tls_passthrough` option set to `true` and the backend is a vm running a caddy server, the deployment was successful but i was not able to access it from the domain with the following error.

`This site can't provide a secure connection`

and from caddy i got these errors.

[code]

The VM & gateway were deployed on `node 3 qanet` and the created domain was po

[2022-09-07 11:38] mohamedamer453 opened #1796 "Fqdn gateway with tls passthrough failed to start"
After creating a fqdn gateway with the `tls_passthrough` option set to `true` and the backend is a vm running a caddy server, the deployment was successful but i was not able to access it from the domain with the following error.

`This site can't provide a secure connection`

and from caddy i got these errors.

[code]

The VM & gateway were deployed on `node 3 qanet` and the created domain was po

[2022-09-07 12:26] Parkers145 commented on #1791
About 30 minutes, the one that recovered renewed its. Dhcp lease be
Normally that ones that Did just kept panicking

[2022-09-07 13:31] muhamadazmy opened #1793 "switch to using `dhcpcd` instead of `udhcpc`"
Potential fix for #1791

The switch need to make sure current configured instanced of udhcpc is decently stopped, and replaced by the proper command for dhcpcd.

[2022-09-09 06:35] muhamadazmy commented on #1793
@abom any updates? do you need help. I can guide you on what you need to do.

[2022-09-12 11:40] muhamadazmy opened #1799 "reduce uptime reports to only 40min instead of 2 hours"
Based on a conversation between me, @LeeSmet and @sabrinasadik

[2022-09-12 11:41] #1799 closed, assigned to muhamadazmy

[2022-09-12 12:03] LeeSmet opened #1800 "Node should send an uptime report before rebooting"
This minimizes the calculated downtime to the actual downtime for minting purposes

[2022-09-12 13:54] sabrinasadik commented on #1799
Signed off by @despiegk

[2022-09-15 06:47] muhamadazmy commented on #1794
I think it's either caddy is not the service that is not listening on port 80 and 443 OR it's miss-configured. While the Ip and address can be reached, but this looks wrong

![image](https://user-images.githubusercontent.com/10920323/190333792-a57ea8c5-bd58-4896-9964-5d0c74f34f6f.png)

[2022-09-15 06:51] muhamadazmy commented on #1797
I think it's not "timeout" the node already set the deployment to the correct "error" status. It's up to the client to make sure the deployment state has reached a final state (ok or error).

The client should not try to wait on a deployment that already has went into error state

[2022-09-15 06:53] muhamadazmy commented on #1797
Note that the node does not "return" a state. it basically goes like this
- client send deployment
- client "pull" on deployment object until it reaches a finalized state
- the final state can either be ok or error (for each workload int he deployment individually)
  - A deployment can partially succeed for example (network, and disks are fine, but VM failed because not enough memory)
  - A user c

[2022-09-15 06:57] muhamadazmy commented on #1800
The only place the node actually decide to reboot on purpose is when deleting public config. We can add the logic to send uptime before it reboots

[2022-09-15 07:08] muhamadazmy commented on #1786
Can u actually get the "State" of the deployment on timeout? I feel this related to this issue #1797

Please on "timeout" dump the current deployment state and show me the results here.

[2022-09-15 07:52] abom commented on #1797
I thought that the grid client does check the deployment status. I'll try to dump the deployment in case of a timeout.

[2022-09-15 08:55] abom commented on #1797
After grid client timeout, here's the deployment

[code]

Node logs:

[code]

[2022-09-15 10:29] mohamedamer453 commented on #1794
This is the used configuration

[code]
and it was deployed through grid3_client_ts from the `fqdn_gateway.ts` script which  can be found [here](https://github.com/threefoldtech/grid3_client_ts/blob/development/scripts/fqdn_gateway.ts).

[2022-09-15 10:35] muhamadazmy commented on #1797
It looks like failure to create the vm did not reflect in the deployment status ? or you timed out too soon before the VM status was actually set.

Can u try to do Get again from the same node with the same contract id. See if the status is now "error". If not then that's a bug and you can start looking into code in that specific path and see what happens

[2022-09-15 10:38] abom commented on #1797
Just tried to get deployment again

[code]
The VM workload is still in `init` status.

[2022-09-15 10:47] AhmedHanafy725 commented on #1794
I think it's the same issue as #1591
I'm not sure how the requests coming over port 80 would be forwarded to the vm as the only allow scheme is `https`(when the tls_passthrough = true) for backends.

[2022-09-15 11:35] muhamadazmy commented on #1794
May i ask what is the point of using the gateway when u already have a public ip assigned to your backend? The idea of gateways is to expose hidden workloads that are only available over yggdrasil for example.

In your specific use case i think the best solution (and the most cost efficient) is to directly set your domain to point to your VM public IP directly since there is no need for the gatewa

[2022-09-15 13:51] mohamedamer453 commented on #1794
In my case i was using it with a public ip to verify that the `tls_passthrough` option was working, it might not be a valid setup in a real scenario as you mentioned above nor would it be cost efficient but as i mentioned before i was just using this setup to verify a test case.

[2022-09-18 14:26] rawdaGastan commented on #1508
Tried on node: 13

Deploying a single vm with disk size = 50 GB failed with error :
`Failed to deploy zmount with name wedDisk on node 13 due to: failed to find a candidate to host vdisk of size '53687091200': not enough space left in pools of this type ssd`

![Screenshot from 2022-09-18 16-11-33](https://user-images.githubusercontent.com/47260239/190911887-2a73b6ec-95fe-4c08-97ab-486dc07a0e00.png

[2022-09-19 08:56] muhamadazmy commented on #1508
I checked the node and I realized there are 2 issues. note that there is one contract that is in grace period on the node.

There are 2 issues here:
- Gridproxy is reporting the wrong "reserved" amount from the contracts. I have reported this before that the grid-porxy did not take the contracts that are in grace period into account. I am not sure if this is fixed or not yet bet seems not fully
-

[2022-09-19 09:00] muhamadazmy opened #1802 "cached "used capacity" in provisiond does not reflect actual usage"
Related to #1508

zos caches in memory the "calculated" capacity. On provisiond start to calculate what is the total capacity used on the system then on each deploy/decomission of a contract it either increment or decrement the "known" capacity.

Seems this went out of sync for some reason:
- See how heavy it is to calculate the used capacity from the actual resources everytime.
- See why cached v

[2022-09-19 09:13] muhamadazmy commented on #1508
I just also found that contract 8093 on devnet while it actually using 204G on the node (13) the grid-porxy is only reporting 102. Looks like from the setup that the deployment has 2 VMs each uses 102 G (2G rootfs, and 100G disk) each.

Still checking if this is a node reporting issue or a chain issue

[2022-09-19 09:33] muhamadazmy commented on #1508
some debugging shows this:
[code]
by the moment of writing this comment, you can see the node has 2 active contracts. on provisiond start it reports the used capacity to the grid.

For some reason contract 8903 while it reports 219043332096 bytes of SRU (204 G) in graphql it shows ONLY 102 G
![image](https://user-images.githubusercontent.com/10920323/190989381-60c7f4f2-d28e-491c-bca0-f9780d99e017.

[2022-09-19 09:38] muhamadazmy commented on #1508
If you add this 102 G missing from the proxy reported sru it will add up to the correct node used capacity. so I guess the grace period issue is actually fixed in the proxy but we have another issue (the missing 102G from contract 8903)

[2022-09-19 09:46] muhamadazmy commented on #1797
I think this one relates also to #1786

[2022-09-19 10:01] muhamadazmy commented on #1797
I pushed a fix to the issue to devnet. Give it couple of hours before retesting

[2022-09-19 10:01] muhamadazmy commented on #1786
I pushed a fix to the issue to devnet. Give it couple of hours before retesting

[2022-09-20 09:33] DylanVerstraete commented on #1508
Fixed in graphql `2.5.14`, waiting on https://github.com/threefoldtech/tf_operations/issues/1164

[2022-09-21 02:33] scottyeager opened #1803 "Node stopped sending uptime reports, "has panicked""
My node 3995 on mainnet stopped sending uptime reports a few days ago. Everything looks normal on the main console screen, but I see the errors below on the log screen:

![image](https://user-images.githubusercontent.com/17682591/191401146-8b6d7472-35f1-4fcd-81a6-038b5512c78b.png)

[2022-09-21 16:25] coesensbert opened #1804 "Newest Ubuntu could images have a networking issue"
Recent LTS cloud image builds for Ubuntu seem to fail setting up networking on the grid. None of the provided IP's (wg, ygg or pub) respond to any request or ping.

https://hub.grid.tf/linkmark.3bot/ubuntu-22.04-LTS-amd64-20220902.flist

[code]

https://hub.grid.tf/linkmark.3bot/ubuntu-20.04-LTS-amd64-20220920.flist

[code]

These older images have the same issue:
- https://hub.grid.tf/linkmark.3b

[2022-09-21 21:13] scottyeager commented on #1804
Looks like an instance of this: https://bugs.launchpad.net/cloud-init/+bug/1979877

There's a fix included in cloud-init 22.3, but these Ubuntu images still ship with 22.2. Author of the issue above mentions a workaround:

Based on my read, our specific issue is that Zos is [creating](https://github.com/threefoldtech/zos/blob/495bf966448a6a0a6b05a2e5dba722d55530a724/pkg/vm/manager.go#L175) a cloud

[2022-09-22 01:14] scottyeager commented on #1804
The release status for cloud-init in Ubuntu can be seen [here](https://launchpad.net/ubuntu/+source/cloud-init). Kinetic (22.10) is the only release to ship with cloud-init 22.3 currently. I tested the latest cloud image of 22.10 and it deploys without issue.

Another workaround for the earlier releases in the meantime is to [activate the proposed ](https://wiki.ubuntu.com/Testing/EnableProposed)

[2022-09-22 12:13] DylanVerstraete commented on #1508
Verified fix on devnet

[2022-09-22 12:13] #1508 closed, assigned to muhamadazmy

[2022-09-23 23:43] scottyeager opened #1805 "Support cloud-init config in workload data"
Since we're using `cloud-init`, we can give grid users the ability to pass cloud config in the workload data. This is already proposed as a [TODO](https://github.com/threefoldtech/zos/blob/495bf966448a6a0a6b05a2e5dba722d55530a724/pkg/vm/manager.go#L345) for user config, but I think we should support accepting a full `user-data` file with the workload data.

This would give users the ability to def

[2022-09-26 07:38] coesensbert commented on #1805
Agree, already have a few use cases for this.

[2022-09-26 17:39] scottyeager commented on #1803
Another report here: https://github.com/threefoldtech/test_feedback/issues/296

[2022-09-27 12:44] muhamadazmy commented on #1805
It shouldn't be hard to be implemented, the only reason it wasn't is to avoid supporting different config types for both VMs and Containers workloads.

[2022-09-28 19:19] scottyeager commented on #1780
Anecdotally, I see reports of this from time to time. They always clear with a reboot and don't seem to recur. I'll document further cases here if I see them.

[2022-09-28 23:17] scottyeager commented on #1805
Unifying around cloud-init configs is one option. Looks like some work was already done to support this in [cloud-container](https://github.com/threefoldtech/cloud-container). Specifying environment variables and entry point for containers isn't so clean in this case though, since cloud-init doesn't natively support these fields.

I guess the simplest approach is accepting user-data file contents

[2022-10-03 13:38] muhamadazmy opened #1807 "handle power events from the grid"
On receive of events on the chain for power the following need to be done:
- If a power down event for "self" is received the node need to send one last uptime update then power off
- If a power up event is received for "farm id" the node then must send a wake up on lan event to the node with that specific node id on the zos interface mac address.

[2022-10-03 13:51] muhamadazmy opened #1808 "capacity planner"
related to this issue here https://github.com/threefoldtech/home/issues/1303

The capacity planner handle all NodeContracts creation events as follows:
- It gets contract information
- If collect all active farm contracts
- we node that all those contracts must be on an "up" nodes so those ones are checked first (by aggregating all contracts on each node) to find if we can find a node that still h

[2022-10-03 14:00] muhamadazmy commented on #1808
The planner need to take extra attention if the contract has a cluster contract id set. It means the contract need to fetch the rest of the contracts in the cluster and apply the policy.

May be the cluster contract is not the best solution for this

[2022-10-04 11:56] muhamadazmy commented on #1808
Deprecated, capacity planning will happen on the grid

[2022-10-04 11:56] #1808 closed, assigned to nobody

[2022-10-05 10:02] AhmedHanafy725 commented on #1861
every node has one zdb instance only and when you create a zdb workload, it will just add a namespace for you on this zdb instance, and deletion will remove this namespace

[2022-10-07 18:33] scottyeager opened #1809 "storaged fails test with iLO virtual media attached"
I have an HPE server with iLO 4, on which I tried booting Zos via a "virtual media" network attached USB image. It gets stuck at the storaged/test step:

![image](https://user-images.githubusercontent.com/17682591/194624916-99b56c3c-5118-4971-985c-3e3b7302c1ff.png)

As soon as I eject the virtual drive, the node continues booting normally. No problem, of course, there are other ways to boot a node

[2022-10-13 12:43] muhamadazmy commented on #1803
This error actually means that uptime reported failed to collect some data from other internal services on time. So the problem actually resides somewhere else. (mostly identityd)
I will see if i can find any useful logs to figure out why this is happening

[2022-10-13 13:01] muhamadazmy commented on #1803
I am just wondering if you tried restarting the node.

[2022-10-13 14:40] muhamadazmy commented on #1803
Should be fixed in release `v3.2.1`

[2022-10-15 00:51] scottyeager commented on #1780
Here's a new case, node id 3755 on mainnet. This one is not clearing with reboot. We can see the the farmer minted for last month with the properly detected specs:

![image](https://user-images.githubusercontent.com/17682591/195939193-83ba4407-bbc9-4c07-b1cc-4a7b1cc2c932.png)

But now part of the SSD is showing as HDD in the explorer (verified this against grid proxy too):

![image](https://user-i

[2022-10-16 21:00] Parkers145 opened #1823 "workload fails on node reboot"
![image](https://user-images.githubusercontent.com/44621168/196057993-f40a4a6f-72d9-4c57-973d-036013b5f370.png)
![image](https://user-images.githubusercontent.com/44621168/196058019-f3f63c51-c007-4f08-aef9-e7fd1d2db1c0.png)

was on node 219, cockpit rc2 image with the switch to network manager preformed whitch is why suspect this happened. its still up but this appears to be unrecoverable. really

[2022-10-17 07:31] #1784 closed, assigned to mariobassem

[2022-10-17 07:32] #1769 closed, assigned to nobody

[2022-10-17 07:40] muhamadazmy commented on #1805
@scottyeager I need to clarify few things first:
- Full cloud-init support is done by the VM image used. ZOS only pass some config to the VM and it's up to the cloud-init instance pre-installed in the VM image to actually use those config. Hence only the official VM images are granted to work with the config that ZOS set for the VM.
- cloud-container on the other hand is a thin wrapper that suppor

[2022-10-17 12:27] xmonader commented on #1823
can you please let us know which env this is running on?

[2022-10-17 12:29] Parkers145 commented on #1823
The deployment was on 22.1 kinetic kudu, with notable changes of an nginx install and migration from networkd-> network manager. And cockpit.

https://forum.threefold.io/t/cockpit-managed-vm-flist-release/3398

[2022-10-17 12:43] muhamadazmy commented on #1823
May I ask why do you need to switch to NetworkManager on this workload ? ZOS passes static network config to the node over cloud-init hence switching to NetworkManager is not supported from our side. There is nothing we can do for this. I suggest we close the issue.

If you have the same issue with a standard VM image you can reopen

[2022-10-17 13:10] Parkers145 commented on #1823
It's nessecary to make the cockpit image work, that means the entire cockpit project has been pointless from the start if there's no way for that to be compatible. Would of been nice to shut that too have been mentioned somewhere in any of the posts I've made about this on the forums.

[2022-10-17 14:42] muhamadazmy opened #1811 "implement an improved events subsystem to avoid losing grid events"
- The new system need to make sure all blocked are processed instead of listening for events, blocks are retrieved one by one.
- When node start it gets "latest" block then try to get the next block, and so on.
- The block height is stored under /tmp so on node reboot the latest block is fetched again. The node should not care for events that are raised when the node is powered-off.
  - This means

[2022-10-18 13:31] muhamadazmy opened #1813 "nodes that are not reachable able yggdrasil need to be penalized"
If farmers sets public-config for example that is wrong, then the node ygg is also un-reachable and while  the node can still report uptime it can't be used by the grid.

A mechanism is needed to make sure nodes in this bad setup need to be penalized or not minted to force farmers to fix their setup

[2022-10-19 01:06] scottyeager commented on #1805
@muhamadazmy, we already have a similar situation with divergence between the configuration of full vms and micro vms. That is, environment variables and entry point are already not supported by full vms. The solution is simply to hide these options from the user in the frontend, or clearly document the behavior for users of the libraries and Terraform.

Allowing users to construct their own user-

[2022-10-19 17:51] scottyeager commented on #1823
Reopening this, since I couldn't reproduce simply by switching a deployment to use Network Manager. To clarify, all VMs in question were booted successfully with networkd the first time, then the configuration was migrated to Network Manager. Such VMs survived reboots of the VM and the node in my tests, with fully functional networks.

The issue that remains here is why these VMs ended up in a sta

[2022-10-20 15:12] muhamadazmy opened #1814 "monitor and report bytes counter of the public interface of a network resource"
In all network resources, all traffic traveling over the `public` interface (this is the natted traffic to the internet from the user workloads) need to be monitored and reported.

[2022-10-20 18:09] TullysInc commented on #1780
Yes @scottyeager  - it appears to have occurred while the node was online.

Quoting the user:
"Yes it happened when it was powered on because that's when I restarted it thinking that would fix the issue, I hope it's not because of the 2.5 SSDs because all my other node have m.2 NVMe and those don't have any issue"

[2022-10-21 14:00] muhamadazmy opened #1816 "re-implement power manager as per new specs"
Based on the discussion here: https://github.com/threefoldtech/home/issues/1303#issuecomment-1283716997 we need to implement the zos part to do this

## Specs
[here](https://github.com/threefoldtech/zos/blob/power-management/docs/internals/power/readme.md)

## Tasks
- [x] elections manager according to specs
- [x] http api according to specs.

[2022-10-24 08:48] #1793 closed, assigned to abom

[2022-10-24 08:48] #1814 closed, assigned to muhamadazmy

[2022-10-24 18:35] Parkers145 opened #1817 "Offline nic chosen as pub interface"
Coesens Bert reached out to me to let me know node 45 on dev net public config had gone down and in investigating I found the issue to be report worthy.

I upgraded the network card to a dual sfp+ Pcie card but, I left the pcie 4 port 1gb card in the machine that had been in use. I booted with only the two sfp+ slots online And all seemed well, it reported public ips deployed, but the gateway addr

[2022-10-25 22:19] scottyeager opened #1818 "Rootfs sizing message and actual minimum inconsistent"
I tried deploying some VMs through Terraform where the user is free to set rootfs sizing, and noticed the following outcomes:

**1.**
[code]
Zos returns an error:

`Error: invalid deployment: disk size can't be less that 524288000. Set to 0 for minimum`

**2.**
[code]

This time Zos fails to allocate the space (I think there should be enough, but that's a separate issue):

`error: failed to find a

[2022-10-25 22:25] scottyeager commented on #1818
Closing, as I confused the failure to allocated a disk attached to the workload with failing to allocate the rootfs.

[2022-10-25 22:25] #1818 closed, assigned to nobody

[2022-10-26 00:01] scottyeager opened #1819 "Reserved SSD figures inconsistent (testnet)"
I tried to deploy a full VM on testnet node 198 with a 200gb disk. From the playground, this looks okay:

![image](https://user-images.githubusercontent.com/17682591/197902082-796e1cc8-6839-48e6-8396-9b18932ecbbb.png)

But deployment fails with this error:

[code]

I checked the dashboard and grid proxy:

[code]

Then I queried the node directly over RMB:

[code]

Then I tried finding all contract

[2022-10-26 16:25] mohamedamer453 commented on #1794
I tested the same case again on devnet and it didn't work and i got the following errors from caddy.
[code]

- Used Config
[code]
- Followed Steps
   - Deployed VM and installed caddy on it.
   - Created a domain that points at the IP of `Node 14` on devnet.
   - Ran python3 http server on the VM and Caddy reverse-proxy using this command `caddy reverse-proxy --from https://tls.fqdn.test.gridtesti

[2022-10-27 04:49] scottyeager commented on #1861
Thanks for the explanation @AhmedHanafy725. Feels to me like this should be more isolated, but that's an issue for Zos.

[2022-10-29 02:20] scottyeager opened #1821 "Grub install fails in Ubuntu 20.04 full VM"
I've deployed some full VMs from `tf-official-vms/ubuntu-20.04-lts.flist`. Then tried a full system update:

[code]
It brings up a prompt:

![image](https://user-images.githubusercontent.com/17682591/198772546-0057ae6d-a6f6-49b8-bf65-c249127095c5.png)

I can continue with `Yes` and this doesn't seem to cause any problems. However, it does interrupt the operation of Ansible playbooks that attempt a

[2022-10-29 16:15] Parkers145 opened #1822 "Unknown error on test net node"
![CD44422E-93EA-4906-B431-3D391E0CB0DB](https://user-images.githubusercontent.com/44621168/198842015-01e3ed34-b9f9-4317-8031-cd6ca59572d7.jpeg)

Node 219 on test net

[2022-10-31 09:12] abom commented on #1729
- [ ] Update `rmb` package to use the latest release (which contains a fix related to substrate connection).

[2022-11-03 17:52] scottyeager opened #1824 "Scaling up VMs and disks"
Currently, deployments have a static amount of capacity until they are destroyed. Some cloud providers offer the ability to scale up (but usually not down) the cpu and memory allocated to a VM, as well as the size of disks. In response to a query from the community, I'm opening this issue to track the feasibility and level of interest for adding this feature to the grid.

Many use cases for scalin

[2022-11-07 15:56] sabrinasadik opened #1827 "Less SSD capacity measured for same HW"
User reports to have received 726.6TFT less for both of his nodes. They were both online 100% of the time last month as well as this month. Looks like there has been 1TB of SSD capacity measured less than previous month while the HW specs did not change. A couple moments later another user reported to have received 10% less tokens as well, so might be an overall zos problem?

Node 4401:

Last mont

[2022-11-07 16:21] LeeSmet commented on #1827
Also, both nodes reported above had 100% uptime last month (so no reboot). Minting considers the lowest amount of resources during the period. These 2 items combined means the only time this issue could occur is during a mainnet release.

[2022-11-08 08:29] muhamadazmy commented on #1822
Does this happen during installing a deployment ? This error does not make any sense because this log message should never come out from the `noded` daemon!

Can you explain to me the circumstances around this error? did it just appear out of no where ? where you deploying a workload? and if yes how did you deploy it?

In general this means whatever is signing the deployment is not using the corre

[2022-11-08 08:56] muhamadazmy commented on #1824
- Moving disks from one machine o another is already supported. ZOS nodes supports update deployments operations. This can go like this:
  - You create a Disk, and a VM (vm1) and attach the disk to the vm.
  - After some time, you can simply drop the vm (make an update and remove the vm from the deployment)
  - This does not affect the disk, the disk remains
  - Create a new VM with different spec

[2022-11-08 09:25] muhamadazmy commented on #1827
@LeeSmet I don't get what you mean ? also I am not sure why this is considered a ZOS issue if the total amount or resources reported to the chain did not change? for example resources for node 4401 as shown here https://gridproxy.grid.tf/nodes/4401 shows it has 2TB SSD same for node 4337.

[2022-11-08 09:27] #1819 closed, assigned to muhamadazmy

[2022-11-08 10:39] LeeSmet commented on #1827
To clarify, the reduction in resources comes from ZOS updating the resoures on the node (both reported about 3TB SSD then changed to around 1.9TB SSD). Now, there was no reboot of these nodes last month, and updating the capacity on the nodes only seems to happen when noded starts. So to my understanding that means it happened when noded was restarted after an update of zos (not sure if that is re

[2022-11-08 11:29] muhamadazmy commented on #1827
We investigated the node(s) and both of them has hard word problems. the 2 nodes has low level disk errors and the disks are just vanished from the system.
![image](https://user-images.githubusercontent.com/10920323/200552448-b092f11f-da93-4520-b353-575cd575e469.png)

the kernel is reporting some hardware errors. Since i don't have physical access to the node I can not be sure if the disks has bee

[2022-11-08 12:01] muhamadazmy commented on #1804
I tried the latest build of ubuntu 22.04 LTS and works fine. I have linked it in the official-vms. seems the older version had a broken cloud-init built

[2022-11-08 12:01] #1804 closed, assigned to nobody

[2022-11-08 14:07] Parkers145 commented on #1822
I was actually just hanging out in the office and noticed it started doing this, but I believe based on the time stamp of the post, this would of been when @scott testing on my farm.

[2022-11-08 15:03] #1811 closed, assigned to muhamadazmy

[2022-11-09 13:57] muhamadazmy commented on #1824
I tested the disk resize operation and here are the list of limitations that has to be taking into account:
- You can only resize a disk if it's not attached to a VM
- You can only increase the size of a disk, you can't shrink it.

The operation goes as follows (also explained above)
- Delete the VM. deleting a VM does not delete attached disks
- Resize the disk
- Create a new VM on the same disk.

[2022-11-09 13:57] #1824 closed, assigned to muhamadazmy

[2022-11-09 14:08] #1822 closed, assigned to nobody

[2022-11-09 15:04] s-areal opened #1836 "Full nodes (reserved) - real node disk capacity displays as not available do deploy (testnet)"
Unfortunately I could not create a VM with all the resources. I tried to add a disk (please confirm that when you add a disk on the disks tab it will utilize HDD space instead of SSD) but every time i chose a disk of 500GB or even 200GB out of 2TB available, the system wouldn’t let me do it “saying” that the resources were not available.

[2022-11-09 16:29] AhmedHanafy725 commented on #1836
The disk added from disks tab is SSD disk, so if the node doesn't have enough SSD storage, it won't deploy the vm on this node.

[2022-11-10 02:35] scottyeager commented on #1824
Thanks @muhamadazmy.

[2022-11-10 11:05] muhamadazmy commented on #1821
Here is what I think is going on:
- in zos to boot a vm from an image we use a hypervisor firmware instead of a linux kernel. this firmaware basically acts as a bios and loads the real kernel from the image
- The firmware we are using has a minimum implementation of UEFI only enough to support the booting. But does not implement the full specs.
- While the system boots from efi, something like efi

[2022-11-10 11:06] muhamadazmy opened #1828 "update cloud-hypervisor to latest version"
Version: 27

[2022-11-10 13:30] xmonader commented on #1821
Let's have it documented as a known issue and close it as a won't fix

[2022-11-11 05:20] scottyeager opened #1830 "Better handling of the fact that nodes have individual disks"
Currently, 3Nodes don't make any information available about the size of the individual disks they contain. Storage appears instead as a single quantity of SSD and, when applicable, HDD that are available for reservations, out of a single total quantity. This can create the appearance that a node can support a reservation of disk up to the available quantity, when in fact they can only support a r

[2022-11-12 12:20] s-areal commented on #1836
Thanks for your reply but I am not sure if I was clear enough.
It is not possible to add the available HDD resource from the disk tab (now that you confirm it). When you try to add the disk, (any capacity) I get the error message that "Node(191) might be down or doesn't have enough resources."
After adding HDD capacity, its impossible to deploy anymore the VM.
Several other issues as you will see,